<script id="boolean-frame" type="text/x-jquery-tmpl">
        <div class="boolean-container ui-control-container" {{if tooltip}} title="${tooltip}" {{/if}}>
        	<label>${caption}</label>
	        <div class="boolean-group-container ui-control-editor" tabindex="0""></div>
	    </div>
</script>

<script id="boolean-default-action" type="text/x-jquery-tmpl">
	<i class="biz-ico biz-ico-default" title="%{formmodeler-component-editor-all-set-default}"></i>
</script>
