<div class="ui-bizagi-error-message ui-widget-header ui-state-error">
    <p>
        <span class="ui-icon ui-icon-close ui-widget-content"></span>
        <span class="ui-bizagi-error-message-text">#= data.message #</span>
    </p>
</div>