﻿<script id="ui-bizagi-render-form" type="text/x-kendo-template">
    <div class="ui-bizagi-form" style="width: 100%;" data-unique-id="#= data.uniqueId #" >
        #if(data.displayName != ""){#
        <div class="bz-wp-caseNameForm">
            #= data.displayName #
        </div>
        #}#
        <div class="ui-bizagi-container-children-form">
            {{children}}
        </div>
        <div id="container-items-edit"></div>

        <div class="ui-bizagi-button-container">
            # for(var i=0, len = data.buttons.length; i < len; i++){ #
                <button type="button" ordinal="#= i #" id="formButton#= i #" class="ui-bizagi-form-button">#= data.buttons[i].caption #</button>
            #}#
        </div>
    </div>
    #if(data.transitions){#
    #= $.cacheTemplate("complexgateway", data)#
    #}#
</script>

<script id="ui-bizagi-render-complexGateway" type="text/x-kendo-template">
    <div class="ui-bizagi-container-complexgateway">
        <div class="bz-rn-cg-headercontainer">
            <span class="bz-rn-cg-headertitle">%{render-widget-complexgateway-title}</span>
        </div>
        <div class="">
            #for(var i=0, len = data.transitions.length; i < len; i++){#
            <div class="bz-rn-cg-row ">
            <span  class="bz-rn-cg-row-element">
                <label>#= data.transitions[i].displayName #</label>
            </span>
                <div class="bz-rn-cg-row-element" >
                    <div class="">
                        <div class="">
                            <div class="ui-checkbox bz-rn-cg-checkbox">
                                # if(data.transitions[i].isDefault === 'true'){ #
                                <label class="ui-checkbox-state-checked" for="check_complexgateway_#= data.transitions[i].id #" data-checked="true" data-value="#= data.transitions[i].id #"></label>
                                #}else{#
                                <label for="check_complexgateway_#= data.transitions[i].id #" data-checked="false"  data-value="#= data.transitions[i].id #"></label>
                                #}#
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            #}#
        </div>
    </div>
</script>