﻿<div class="ui-bizagi-form-panel" data-unique-id="#= data.uniqueId #">
    # if (data.displayName !== ''){ #
    <div class="headertitle"><span class="bz-rn-hd-title">#= data.displayName #</span></div>
    #}#
    {{children}}
</div>