﻿<div class="ui-bizagi-container ui-bizagi-container-tab #= data.cssclass #
    # if (data.tabOrientation === 'rtl'){#
    bz-container-rtl
    #}#"
     data-unique-id="#= data.uniqueId #">
    <div class="isTab">
        # for (var i=0, len = data.tabs.length; i < len; i++){ #
        <div class="cell bz-container-items-tabs " data-reference-tab="\\#ui-bizagi-tab-#= data.tabs[i].id #">
            <span class="bz-tabs-display-name">#= data.tabs[i].displayName #</span>
        </div>
        #}#
    </div>
    {{children}}
</div>
