<script id="rule-frame-empty" type="text/x-jquery-tmpl">
    <div class="rule-container ui-control-container">
        <label class="rule-name">${caption}</label>
        <div class="rule-internal-container">
            <div class="biz-complex-btn biz-action-btn ui-corner-left defaultvalue-button-value" title="${title}"></div>
            <div class="biz-complex-btn biz-complex-dropdown ui-corner-right biz-complex-btn-container">
                <div class="biz-action-btn"><i class="biz-ico biz-ico-default-value rule-external" title="%{formmodeler-component-editor-all-create-rule}"></i></div>
            </div>
        </div>
    </div>
</script>

<script id="rule-frame-rule" type="text/x-jquery-tmpl">
    <div class="rule-container ui-control-container">
        <label class="rule-name">${caption}</label>
        <div class="rule-internal-container ">
            <div class="biz-complex-btn biz-action-btn ui-corner-left defaultvalue-button-value" title="${title}"><span class="rule-value-caption">${nameRule}</span></div>
            <div class="biz-complex-btn biz-complex-dropdown ui-corner-right biz-complex-btn-container">
                <div class="biz-action-btn"><i class="biz-ico rule-image-delete" title="%{formmodeler-component-editor-all-delete-value}"></i></div>
                <div class="biz-action-btn"><i class="biz-ico biz-ico-default-value rule-external" title="%{formmodeler-component-editor-all-edit-rule}"></i></div>
            </div>
        </div>
    </div>
</script>