<script id="ui-bz-wp-widget-inbox-mail" type="text/x-jquery-tmpl">
     <span class="bz-wp-header-title-inbox {{if overdue.length ==0}}disable{{/if}} overdue">Overdue</span>
     {{if overdue.length >0}}
        {{each(index, value) overdue}}
          {{tmpl({value:value,classItem:'overdue'}) "#ui-bz-wp-widget-inbox-mail-item"}}
        {{/each}}
     {{/if}}

     <span  class="bz-wp-header-title-inbox {{if  today.length == 0}}disable{{/if}} today">Today</span>
     {{if  today.length >0}}
        {{each(index, value) today}}
          {{tmpl({value:value,classItem:'today'}) "#ui-bz-wp-widget-inbox-mail-item"}}
        {{/each}}
     {{/if}}

    <span  class="bz-wp-header-title-inbox  {{if  tomorrow.length == 0}}disable{{/if}} tomorrow">Tomorrow</span>
    {{if  tomorrow.length >0}}
        {{each(index, value) tomorrow}}
         {{tmpl({value:value,classItem:'tomorrow'}) "#ui-bz-wp-widget-inbox-mail-item"}}
        {{/each}}
     {{/if}}

    <span  class="bz-wp-header-title-inbox {{if  upcoming.length == 0}}disable{{/if}} upcoming">Upcoming</span>
    {{if  upcoming.length >0}}
        {{each(index, value) upcoming}}
          {{tmpl({value:value,classItem:'upcoming'}) "#ui-bz-wp-widget-inbox-mail-item"}}
        {{/each}}
    {{/if}}

    <div class="bz-wp-loadmore"  >
      <span class="bz-wp-loadmore-noview"></span>
        <div class="bz-wp-loadmore-inview">
          <div class="ui-bizagi-loading-icon bz-util-loading">
          
          <div class="km-loader" style="display: block;"><span class="km-loading km-spin"></span><span class="km-loading-left"></span><span class="km-loading-right"></span></div>
          
          </div>

        </div>
    </div>
</script>

<script id="ui-bz-wp-widget-inbox-mail-item-loadmore" type="text/x-jquery-tmpl">
   {{each(index, value) element}}
          {{tmpl({value:this,classItem:classItem}) "#ui-bz-wp-widget-inbox-mail-item"}}
    {{/each}}
</script>



<script id="ui-bz-wp-widget-inbox-mail-item" type="text/x-jquery-tmpl">
<div class="bz-wp-item ${classItem}"   data-case="${value[0]}" data-workitem="${value[1]}" data-task="${value[2]}" data-fieldsummary="${value[6]}">
    <div class="bz-wp-space">
            <div class="bz-wp-item-date">
             <div class="bz-wp-date-box">
             ${value[3]}
            </div>
            </div>
            <div class="bz-wp-item-contianer-values">
                <div class="bz-wp-item-element activity">${value[5]}</div>
                <div class="bz-wp-item-element processname">${value[4]}</div> 
                <div class="bz-wp-item-element pfield">${value[6][0][1]}</div>
            </div>
    </div>
  </div>
</script>



<script id="ui-bz-wp-widget-inbox-mail-summary" type="text/x-jquery-tmpl">
<div class="bz-cases-content-popup" data-case="${idCase}" data-workitem="${idWorkitem}" data-task="${idTask}">
    <ul class="bz-cases-popup-list" >
    {{each(i, element) list}}
     <li>
     <div class="bz-popup-title">${element.title}</div>
     <div class="bz-popup-value">${element.value}</div>
     </li>
    {{/each}}
    </ul>
    <div class="bz-cases-popup-buttons">
       <div class="bz-cases-close">%{render-form-dialog-box-close}</div>
       <div class="bz-cases-work">%{workportal-widget-inboxcommon-work-on-it}</div>
    </div>
</div>
</script>


