﻿<div id="#= data.id #" class="bz-rn-combo-list-edit">
    # for(var i = 0, len = data.items.length; i < len; i++){ #
    <div id="#= data.items[i].id #"
    # if(typeof data.items[i].hidden !== 'undefined' && data.items[i].hidden){ #
    class="bz-rn-hidden"
    #}#>
        <div class="bz-rn-combo-text">
            <span>#= data.items[i].value #</span>
        </div>
        <span class="bz-cm-icon bz-rn-combo-check bz-rn-cm-icons-list"></span>
    </div>
    #}#
</div>