﻿<script id="bz-rn-date" type="text/x-kendo-template">
    <div class="bz-rn-container-date">
        <input type="text" class="bz-rn-text ui-bizagi-render-edit-date #if(data.showTime){#ui-bz-render-iosDate#}#" />
        #if(data.showTime){#
            <input type="time" class="bz-rn-text ui-bizagi-render-edit-date-time #if(data.showTime){#ui-bz-render-iosDate#}#" />
        #}#
    </div>
</script>
<script id="bz-rn-time" type="text/x-kendo-template">
    <input type="time" class="ui-bizagi-render-edit-date-time" />
</script>
