﻿ <div id="#=data.id#" class="bz-rn-combo-list-edit">
  #for(var i = 0; i < data.items.length; i += 1){#
    <div id="#=data.items[i].id#" #if(data.items[i].hidden){#class="bz-rn-hidden"#}#>
      <div class="bz-rn-combo-text">
       <span>"#=data.items[i].value#</span>
      </div>
      <span class="bz-cm-icon bz-rn-combo-check bz-rn-cm-icons-list"></span> 
    </div>
  #}#
</div>