<div class="ui-bizagi-container-input-editable">
    <input class="ui-bizagi-input-editable ui-control-input" type="text" value="${value}" />
    <div class="ui-bizagi-render-confirmation">
      <i class="biz-ico ui-bizagi-input-icon ui-bizagi-input-icon-ok"></i>
      <i class="biz-ico ui-bizagi-input-icon ui-bizagi-input-icon-cancel"></i>
    </div>      
</div>