<script id="ui-bizagi-workportal-menu-content" type="text/x-jquery-tmpl">

        <ul data-role="listview" data-type="group" id="menu-items-container">
            <li>Search
                <ul  class="menu-search">
                 <li  data-icon="search">
                     <input type="text" class="bz-wp-mu-input-search-menu">
                     <div class="bz-wp-mu-button-search"> Cancel</div>
                 </li>
                <li style="display:none">
                    <div class="ui-bizagi-workportal-search-rs"  data-bizagi-component="menu-search" data-role="content"></div>
                </li>
                </ul>
            </li>
        </ul>

        <ul data-role="listview" data-type="group" id="menu-items-container">
            <li>Menu
                <ul  data-bizagi-component="menu-items" class="menu-items">
                </ul>
            </li>
        </ul>

        {{if environment == "debug"}}<span class="build">${build}</span>{{/if}}
</script>


<script id="ui-bizagi-workportal-widget-menu-items" type="text/x-jquery-tmpl">
 {{if authNewCase}}
        <li class="new-case" data-icon="new-case" data-role="listview-link">
            <span>%{workportal-menu-new}</span>
        </li>
    {{/if}}            
       <li class="inbox-shortcut" data-icon="inbox" data-role="listview-link">
            <span class="bz-wp-inbox-label-text">%{workportal-menu-inbox-msg}</span>
       </li>
    {{if authAnalysisReports}}
      <li data-icon="analitics" data-role="listview-link">
           <span>%{workportal-menu-reports}</span>
      </li>
    {{/if}}            
       
    {{if authAdmin}}
      <li data-icon="admin" data-role="listview-link">
          <span>%{workportal-menu-admin}</span>
      </li> 
    {{/if}}            
    {{if authCurrentUserAdministration}}
    <li data-icon="preferences" data-role="listview-link">
         <span>%{workportal-menu-preferences}</span>
     </li>
    {{/if}}
    {{if enableLogOut}}
    <li class="logout" data-icon="logout" data-role="listview-link">
         <span>%{workportal-menu-logout}</span>
    </li>
    {{/if}}
</script>