﻿<li class="ui-bizagi-render-upload-item"  data-url='${url}'>
 {{if typeof (cordova) === "undefined" }}
    <label>${filename}</label>
{{else}}
 <a href="${url}" {{if mode == "execution"}} target="_blank" {{/if}} title="${filename}" href="javascript:void(0)">${filename}</a>
{{/if}}
</li>
