@font-face {
	font-family: 'bizagiflat2';
	src: url('fonts/bizagiflat2.eot');
}

@font-face {
	font-family: 'bizagiflat2';
	src:url('fonts/bizagiflat2.eot?g60b1e');
	src:url('fonts/bizagiflat2.eot?#iefixg60b1e') format('embedded-opentype'),
		url('fonts/bizagiflat2.woff?g60b1e') format('woff'),
		url('fonts/bizagiflat2.ttf?g60b1e') format('truetype'),
		url('fonts/bizagiflat2.svg?g60b1e#bizagiflat2') format('svg');
	font-weight: normal;
	font-style: normal;
}

.km-plusicon {
	font-family: 'bizagiflat2';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

   .km-plusicon:after,
    .km-plusicon:before
    {
        font: 1em/1em "bizagiflat2";
    }

.km-add-full:before {
	content: "\e600";
}
.km-add:before {
	content: "\e601";
}
.km-cloud:before {
	content: "\e602";
}
.km-edit2-full:before {
	content: "\e603";
}
.km-edit2:before {
	content: "\e604";
}
.km-eye-full:before {
	content: "\e605";
}
.km-eye:before {
	content: "\e606";
}
.km-info:before {
	content: "\e607";
}
.km-minus-full:before {
	content: "\e608";
}
.km-minus:before {
	content: "\e609";
}
.km-send:before {
	content: "\e60a";
}
.km-trash:before {
	content: "\e60b";
}
.km-user:before {
	content: "\e60c";
}
.km-camera:before {
	content: "\e60d";
}
.km-file:before {
	content: "\e60e";
}
.km-copy:before {
	content: "\e60f";
}
.km-copy2:before {
	content: "\e610";
}
.km-stack:before {
	content: "\e611";
}
.km-folder:before {
	content: "\e612";
}
.km-folder-open:before {
	content: "\e613";
}
.km-tag:before {
	content: "\e614";
}
.km-tags:before {
	content: "\e615";
}
.km-location:before {
	content: "\e616";
}
.km-location2:before {
	content: "\e617";
}
.km-alarm:before {
	content: "\e618";
}
.km-drawer:before {
	content: "\e619";
}
.km-download:before {
	content: "\e61a";
}
.km-upload:before {
	content: "\e61b";
}
.km-undo:before {
	content: "\e61c";
}
.km-redo:before {
	content: "\e61d";
}
.km-undo2:before {
	content: "\e61e";
}
.km-redo2:before {
	content: "\e61f";
}
.km-forward:before {
	content: "\e620";
}
.km-reply:before {
	content: "\e621";
}
.km-bubble:before {
	content: "\e622";
}
.km-bubble2:before {
	content: "\e623";
}
.km-bubbles:before {
	content: "\e624";
}
.km-user2:before {
	content: "\e625";
}
.km-users:before {
	content: "\e626";
}
.km-pie:before {
	content: "\e627";
}
.km-stats:before {
	content: "\e628";
}
.km-bars:before {
	content: "\e629";
}
.km-link:before {
	content: "\e62a";
}
.km-attachment:before {
	content: "\e62b";
}
.km-search:before {
	content: "\e62c";
}
.km-add2:before {
	content: "\e62d";
}
.km-subtract:before {
	content: "\e62e";
}
.km-close:before {
	content: "\e62f";
}
.km-forbid:before {
	content: "\e630";
}
.km-book:before {
	content: "\e631";
}
.km-trash2:before {
	content: "\e632";
}
.km-grid:before {
	content: "\e633";
}
.km-grid-alt:before {
	content: "\e634";
}
.km-gallery:before {
	content: "\e635";
}
.km-attachment2:before {
	content: "\e636";
}
.km-pin:before {
	content: "\e637";
}
.km-pin-alt:before {
	content: "\e638";
}
.km-cloud2:before {
	content: "\e639";
}
.km-popup:before {
	content: "\e63a";
}
.km-uniE63B:before {
	content: "\e63b";
}
.km-lock:before {
	content: "\e63c";
}
.km-lock-open:before {
	content: "\e63d";
}
.km-logout:before {
	content: "\e63e";
}
.km-cycle:before {
	content: "\e63f";
}
.km-cw:before {
	content: "\e640";
}
.km-ccw:before {
	content: "\e641";
}
.km-history:before {
	content: "\e642";
}
.km-text:before {
	content: "\e643";
}
.km-text2:before {
	content: "\e644";
}
.km-docs:before {
	content: "\e645";
}
.km-pictures:before {
	content: "\e646";
}
.km-arrow-left:before {
	content: "\e647";
}
.km-arrow-down:before {
	content: "\e648";
}
.km-arrow-up:before {
	content: "\e649";
}
.km-arrow-right:before {
	content: "\e64a";
}
.km-arrow-left2:before {
	content: "\e64b";
}
.km-arrow-down2:before {
	content: "\e64c";
}
.km-arrow-up2:before {
	content: "\e64d";
}
.km-arrow-right2:before {
	content: "\e64e";
}
.km-arrow-left3:before {
	content: "\e64f";
}
.km-arrow-down3:before {
	content: "\e650";
}
.km-arrow-up3:before {
	content: "\e651";
}
.km-uniE652:before {
	content: "\e652";
}
