<script id="ui-bizagi-render-image" type="text/x-jquery-tmpl" >
	<div class="ui-bizagi-render-upload-wrapper image-wrapper">
	
		<div class='ui-bizagi-render-image-wrapper' >
		{{tmpl "#ui-bizagi-render-image-item"}}	
		</div>
	</div>
</script>

<script id="ui-bizagi-render-image-item" type="text/x-jquery-tmpl" >
	{{if url}}
	<img src="${url}">
	{{else}}
	<div class="bz-cm-icon image-file"></div>
	{{/if}}

    <div class="bz_rn_upload_container_upload_items">
     <ul class="bz-rn-upload-options">
       <li>  <button type="button"  class="bz-cm-icon bz-upload-button image " ></button> </li>
       <li>  <button type="button"  class="bz-cm-icon bz-upload-button cimage" ></button> </li>
     </ul>
    </div>
</script>