﻿<ul class="ui-bizagi-render-upload-container">
   {{if editable}}
        <li class="ui-bizagi-render-upload-wrapper">
           
        </li>
    {{/if}}
    {{if noFiles}}
        <li class="ui-bizagi-render-upload-item-no-upload">%{render-upload-no-files}</li>
    {{/if}}
    <ul class="files">
    {{files}}
     <li class="bz-rn-upload-show-menu"><span class="bz-cm-icon"></span></li>
    </ul>
    

</ul>

<div class="bz_rn_upload_container_upload_items">
    <ul class="bz-rn-upload-options">
       <li>  <button type="button"  class="bz-cm-icon bz-upload-button image " ></button> </li>
       <li>  <button type="button"  class="bz-cm-icon bz-upload-button cimage" ></button> </li>
       <li> <button type="button"  class="bz-cm-icon bz-upload-button caudio"  ></button> </li>
       <li> <button type="button"  class="bz-cm-icon bz-upload-button cvideo"  ></button> </li>
       <li> <button type="button"  class="bz-cm-icon bz-upload-button file"    ></button> </li>
    </ul>
</div>