<div data-role="view" id="initKendo"></div>

<div data-role="drawer" id="menu-drawer" data-title="left">
    <div id="content-menu-drawer" data-role="content"></div>
</div>



<div data-role="drawer" data-position="right" id="bz-right-drawer" class="bz-right-drawer" data-views="['taskFeed']">
    <div id="content-right-drawer"></div>
</div>

<div data-role="drawer" id="bz-render-drawer" data-position="right" class="bz-render-drawer">
    <div id="content-render-drawer" data-role="content"></div>
</div>
