<div class="bz-wp-render-association">
    <div class="association-label">
        # if (data.flipped){ #
            <label>#= data.leftLabel # / #= data.rightLabel #</label>
        #} else{ #
            <label>#= data.rightLabel # / #= data.leftLabel #</label>
        #}#
        <div class="bz-cm-icon association-flip-button">
        </div>
    </div>    
    <div class="association-container">
        # $.each (data.getColumnData(data), function (i, item) { #         
        <h3 class="bz-rn-association-header">
            <a href="javascript:void(0)"><span class="bz-rn-association-header-title">#= item.value #</span></a>
        </h3>        
        <div class="bz-rn-association-items">            
            <ul class="ui-bz-rn-check-list" data-parent-id="#= item.id #">                
                # $.each (data.getRightAssociation(data, item.id), function (j, item2) { # 
                <li class="ui-bz-rn-check-item">                    
                    <label for="check#= item2.id #">
                        <input class="bz-cm-icon ui-bz-rn-boolean-check" type="checkbox" data-id="#= item2.id #" # if(item2.checked) { # checked #}# />
                        <span class="bz-rn-checkbox-label">#= item2.name #</span>
                    </label>
                </li>
                #});#
            </ul>
        </div>
        #});#
    </div>
</div>
