﻿<div class="bz-rn-combo-cn-select-div" >
    <span class="bz-rn-combo-select" >
    <input class="bz-rn-cm-text-label bz-rn-text" readonly="readonly"/>
    <span class="bz-rn-cm-icons-list bz-rn-combo-icon-arrow" >&nbsp;</span>
    </span>
    <select class="bz-rn-combo-list" id="#= data.id#" >
    # for (var i=0, len= data.items.length ; i < len; i++){ #
    <option  value="#= data.items[i].id #"
    # if(data.hidden){ #
    class="bz-rn-hidden"
    #}#
    > #= data.items[i].value # </option>
    #}#
</select>
</div>
