﻿<div class="ui-geolocation">
    <span class="ui-geolocation-cordinate"></span>
    # if (data.allowUpdate){ #
         <div class="ui-bizagi-render-geolocation" >
            <span class="bz-cm-icon"></span>
        </div>
    #}#
</div>
