﻿<script id="ui-bizagi-render-image" type="text/x-kendo-template">
	<div class="ui-bizagi-render-upload-wrapper image-wrapper">
		<div class='ui-bizagi-render-image-wrapper' >
            #= $.cacheTemplate("image-item", data)#
		</div>
	</div>
</script>

<script id="ui-bizagi-render-image-item" type="text/x-kendo-template">
    #if (typeof data.url !== 'undefined' && data.url !== '' ){#
    <img src="#= data.url #">
    
    #}else{#
    <div class="bz-cm-icon image-file"></div>
    #}#
    <div class="bz_rn_upload_container_upload_items_inline">
        <ul class="bz-rn-upload-options">
            <li>  <button type="button"  class="bz-cm-icon bz-upload-button options " ></button> </li>
        </ul>
    </div>
</script>



<script id="bz-rd-upload-render-edition" type="text/x-kendo-template">
    <img class="ui-bizagi-render-preview" src="#=data.url#">
</script>