﻿<script id="bz-rn-upload-container" type="text/x-kendo-template">
    <ul class="ui-bizagi-render-upload-container" style="-webkit-padding-start: 8px; ">
        # if (typeof data.noFiles !== 'undefined' &&  data.noFiles == true  ){#
        <li class="noFiles">%{render-upload-no-files}</li>
        #}else{#
        <ul class="files">
            {{files}}
        </ul>
        #}#
        <li class="bz-rn-upload-show-menu"><span class="bz-cm-icon"></span></li>
    </ul>

    <div class="bz_rn_upload_container_upload_items">
        <ul class="bz-rn-upload-options">
            <li>  <button type="button"  class="bz-cm-icon bz-upload-button image " ></button> </li>
            <li>  <button type="button"  class="bz-cm-icon bz-upload-button cimage" ></button> </li>
            <li> <button type="button"  class="bz-cm-icon bz-upload-button caudio"  ></button> </li>
            <li> <button type="button"  class="bz-cm-icon bz-upload-button cvideo"  ></button> </li>
            <li> <button type="button"  class="bz-cm-icon bz-upload-button file"    ></button> </li>
        </ul>
    </div>

</script>

<script id="bz-rn-upload-item" type="text/x-kendo-template">
    <li class="ui-bizagi-render-upload-item">
        #if(data.image){#
            <a 
            href="\#" data-fileId="#=data.id#" data-upload-type="image"
            title="#= data.filename #"
            >
                #= data.filename #
            </a>
        #}else{#
            <a 
            href="#= data.url #"
            # if (data.mode === 'execution'){# target="_blank"  #}#
            title="#= data.filename #"
            >
                #= data.filename #
            </a>
        #}#
    </li>
</script>