.ui-bizagi-grid {
	position: relative;
	border-radius: 3px;
	border: solid 1px #C5C8C0;
}
.ui-bizagi-grid .ui-bizagi-waiting {
	background-image: url('images/waiting.gif');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 100% !important;
	min-height: 64px;
}
.ui-bizagi-grid .ui-bizagi-grid-buttons {
	position: relative;
}
.ui-bizagi-grid-cell .ui-bizagi-render-upload-wrapper
{
    width: auto !important;
    display: inline-block !important; 
}
.ui-bizagi-grid .ui-bizagi-grid-buttons ul{
	list-style: none;
	height: 18px;
	margin: 0px;
	position: relative;
	padding-left: 5px;
}
.ui-bizagi-grid .ui-bizagi-grid-buttons ul li{
	display: inline-block;
    margin-left: 1px;
    margin-right: 4px;
    cursor: pointer;
    height: 17px;
    min-width: 20px;
    position: relative;
    width: auto;
    float: left;
}
.ui-bizagi-grid .ui-bizagi-grid-buttons ul li.ui-helper-hidden
{
	display: none;
}
.ui-bizagi-grid .ui-bizagi-grid-buttons ul li .ui-icon
{
	position: relative;
	float: left;
    display: inline-block;
}

.ui-bizagi-grid .ui-bizagi-grid-buttons ul .grid-button-grid-export-options {
	position: absolute;
	right: 0px;
}

.ui-bizagi-grid .ui-bizagi-grid-buttons ul li label
{
    cursor: pointer;
}
.ui-bizagi-grid .ui-bizagi-grid-table{
	width: 100%;
	border-spacing: 0px;
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-header{
	/*background: #ADB1B6;*/
	border: none;
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-header th{

	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.11) inset;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.11) inset;

}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-header tr{
	height: 28px;
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-header tr th{
	cursor: pointer;
	padding: 0px;
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-header .ui-bizagi-grid-column
{
	position: relative;
	text-align: center;
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-header th.ui-bizagi-grid-key
{
	display: none;
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-header th.ui-bizagi-column-hidden
{
	display: none;
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-header .ui-bizagi-grid-column label
{
	display: inline-block;
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-header .ui-bizagi-grid-column .ui-bizagi-grid-column-sort
{
	display: none;
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-header .ui-bizagi-grid-column .ui-bizagi-grid-column-sort.ui-bizagi-active
{
	display: inline-block;
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-header .ui-bizagi-grid-column .ui-bizagi-grid-column-sort .ui-icon
{
	height: 12px;
	filter: Alpha(Opacity=35);
	opacity:0.35;
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-header .ui-bizagi-grid-column .ui-bizagi-grid-column-sort .ui-icon.ui-bizagi-active
{
	height: 12px;
	filter: Alpha(Opacity=100);
	opacity: 1;
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-header .ui-bizagi-grid-column .ui-bizagi-grid-column-sort .ui-icon-triangle-1-s
{
	margin-top: -6px;
	margin-left: -1px;
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-body{
	
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-body tr{
	min-height: 22px;
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-body tr.ui-bizagi-grid-row-selected
{
	
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-body tr td{
	padding: 0px 2px 0px 2px;
	border-bottom: 1px solid #dadada;
}

.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-body tr:hover {
	background-color: #DFDFE0;
	color:#444;
}

.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-body tr.ui-bizagi-state-selected:hover{
	background-color: #7B828A;
	color:#fff;
}

.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-body tr:last-child
{
	border-bottom:none;
}

.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-body td.ui-bizagi-grid-key
{
	display: none;
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-body td.ui-bizagi-column-hidden
{
	display: none;
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-summary td.ui-bizagi-column-hidden
{
	display: none;
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-summary .ui-bizagi-grid-summary-readonly {
	text-align: center;
	font-weight: bold;
}

.ui-bizagi-grid .ui-bizagi-grid-pager ul    {
	/*list-style: none;
	height: 20px;
	margin: 0;
	position: relative;
	top: 5px;
	left: 25%;
	width: 200px;
	text-align: left;
	padding: 0;*/

	list-style: none;
	margin: 0px;
	position: relative;
	padding-left: 5px;
	min-width: 160px;
}

.ui-bizagi-grid .ui-bizagi-grid-pager  .ui-bizagi-grid-pager-tooltip-wrapper
{
    position: relative;
}
.ui-bizagi-grid .ui-bizagi-grid-pager #tooltipPagination
{
    position: absolute;
    top: -55px;
    left: 50%;
    margin-left: -41px;
    padding: 4px;
    border-radius: 6px 6px 0 0;
    height: 30px;   
    visibility:hidden;
    background-color: #F4F4F4;
    text-align: center;
    width: auto;
    overflow: hidden;
}

.ui-bizagi-grid .ui-bizagi-grid-pager ul li{
    display: inline-block;
    padding: 0 6px;
    cursor: pointer;
}
.ui-bizagi-grid .ui-bizagi-grid-pager ul li.active{
    color: #f5f5f5;
    background-color: #949494;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.3) inset;
}
.ui-bizagi-grid .ui-bizagi-grid-pager ul li.ui-state-active{
	border-radius: 3px;
}

.bz-rn-grid-pager{
	padding: 4px 8px 4px 8px;
}

.ui-bizagi-grid table tbody tr.ui-bizagi-state-selected 
{
	/*background:#859aa9;/*IE*
	background-image: -webkit-linear-gradient(top, #859aa9 0%, #77858f 100%);*/
	background: #999EA4; /* Old browsers */
	color: #f5f5f5;
	border-top: solid 1px #999EA4;
	border-bottom: solid 1px #999EA4;
}

/*
oscaro
*/
.bz-rn-grid-header-title
{
	font-family: 'Segoe UI','NeoSansStdRegular', arial, sans-serif;
	min-height: 18px;
	text-align: left;
	display: block;
	padding: .3em .5em .2em 1.2em;
	font-weight: normal;
	color: #444444!important;
	text-shadow: 1px 1px 1px #fff;
	font-size: 1.2em !important;
	line-height: 1.5em;
	
}

.bz-rn-grid-cn-header::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.bz-rn-grid-cn-header
{
	color: #283238;
	font-weight: bold;

	background: rgb(206,206,206); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(206,206,206,1) 0%, rgba(216,216,216,1) 93%, rgba(228,228,228,1) 96%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,206,206,1)), color-stop(93%,rgba(216,216,216,1)), color-stop(96%,rgba(228,228,228,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(216,216,216,1) 93%,rgba(228,228,228,1) 96%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(216,216,216,1) 93%,rgba(228,228,228,1) 96%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(216,216,216,1) 93%,rgba(228,228,228,1) 96%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(206,206,206,1) 0%,rgba(216,216,216,1) 93%,rgba(228,228,228,1) 96%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    border: none;
    border-bottom: solid 1px #C5C8C0;
}

.ui-bizagi-grid-table thead th:hover{
	background: #cbd0d1; /* Old browsers */
	background: -moz-linear-gradient(top, #d8dbdc 0%, #c6cbcd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8dbdc), color-stop(100%,#c6cbcd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d8dbdc 0%,#c6cbcd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d8dbdc 0%,#c6cbcd 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #d8dbdc 0%,#c6cbcd 100%); /* IE10+ */
	background: linear-gradient(top, #d8dbdc 0%,#c6cbcd 100%); /* W3C */
}

.bz-rn-grid-container-foother
{
	min-height: 27px;
	height: auto;
    position: relative;
    border-radius: 0 0 3px 3px;
    background: #CECECE;
}

.bz-rn-grid-container-foother .ui-state-default,
.bz-rn-grid-container-foother .ui-widget-content .ui-state-default,
.bz-rn-grid-container-foother .ui-widget-header .ui-state-default{
	background-color: transparent;
	border:solid 1px transparent; 
}

.bz-rn-grid-container-foother >table
{
	width: 100%;
	height:100%;
	border-radius: 0 0 3px 3px;
}

.bz-rn-grid-container-foother >table >tr{}

.ui-bizagi-grid-table .ui-bizagi-grid-cell .ui-bizagi-cell.ui-bizagi-render-display-value > .ui-bizagi-cell-icon
{
	display:none;
}

.ui-bizagi-render-grid-container div[data-bizagi-component=emptyTable]
{
	background : #dadada;
	padding: 15px;
	text-align: center;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
}


.bz-rn-grid-container-foother > table tr.bz-rn-grid-foother-row {
	position:relative;
}

.bz-rn-grid-container-foother > table th.bz-rn-grid-foother-pagination
{
	text-align: center;
	margin: 0 auto;
	width: 50%;
}

.bz-rn-grid-container-foother > table th
{
	width:25%;
}

.ui-bizagi-container-search-results .bz-rn-grid-container-foother > table th
{
    width: 5% !important;
}

.ui-bizagi-container-search-results .bz-rn-grid-container-foother > table th.bz-rn-grid-foother-pagination
{
    width: 90% !important;
}

/*
*    ALign Grids Left
*
*/
.ui-bizagi-grid-align-left .ui-bizagi-grid-cell *
{
    text-align:left;        
}
.ui-bizagi-grid-align-left .ui-bizagi-render
{
    text-align: left;
} 

/*
*    ALign Grids Right
*
*/
.ui-bizagi-grid-align-right .ui-bizagi-grid-cell *
{
    text-align:right;  
}

.ui-bizagi-grid-align-right .ui-bizagi-render
{
    text-align:right; 
}

.ui-bizagi-grid-align-right .ui-bizagi-render-image-wrapper
{
    margin-right: 23px;
}


/*
*    ALign Grids Center
*
*/
.ui-bizagi-grid-align-center .ui-bizagi-grid-cell *
{
    text-align:center;        
}
.ui-bizagi-grid-align-center .ui-bizagi-render 
{
    text-align:center;       
}


/*
*    ALign Grids Justify
*
*/
.ui-bizagi-grid-align-justify .ui-bizagi-grid-cell *
{
    text-align:justify;        
}


/*
*	Grouped Grid
*/
.ui-bizagi-grid-ignore {
	width: 20px;	
}

.ui-bizagi-grid-grouped-header {
	font-weight: bold;
	cursor: pointer;	
}

.ui-bizagi-grid-grouped-header .ui-icon{
	font-weight: bold;
	cursor: pointer;
	float: left;
}

/*
*    ALign Titles Grids Left
*/
.ui-bizagi-grid-title-align-left
{
    text-align:left !important;    
    padding-left: 10px;    
}

/*
*    ALign Titles Grids Right
*/
.ui-bizagi-grid-title-align-right
{
    text-align:right !important;    
    padding-right: 5px;   
}

/*
*    ALign Titles Grids Center
*/
.ui-bizagi-grid-title-align-center
{
    text-align:center;        
}

/*
*    ALign Titles Grids Justify
*/
.ui-bizagi-grid-title-align-justify
{
    text-align:justify !important;  
    padding-left: 10px;        
}