.ui-bizagi-grid{
    position: relative;
    border-radius: 6px;
    /*padding: 10px 25px;
    border-top: 1px solid white;*/
    background-color: #e6e6e6;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2)
}
.ui-bizagi-grid .ui-bizagi-waiting {
	background-image: url('images/waiting.gif');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 100% !important;
	min-height: 64px;
}

.ui-bizagi-grid > div:last-child{
	-webkit-border-radius:0px 0px 6px 6px;
	border-radius:0px 0px 6px 6px;
}
.ui-bizagi-grid h3{
	font-size:14px;
	text-shadow:0px 1px 0px rgba(255,255,255,0.5);
	color:#283238;
}
.ui-bizagi-grid .ui-bizagi-grid-pager{
	-webkit-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 6px 6px;
    border-top:1px solid rgba(255,255,255,0.3);
    /*box-shadow:0px -1px 0px #ccc;*/
    background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4), to(#CCCCCC), color-stop(.4, #DCDCDC));
    padding:2px 0px;
}
.ui-bizagi-grid .ui-bizagi-grid-pager ul,.ui-bizagi-grid-buttons ul{
	list-style-type:none;
	margin:-1px 0 -1px 10px;
	padding:0px;
	position:relative;
}
.ui-bizagi-grid .ui-bizagi-grid-pager ul{
    position:relative;
	overflow-x: scroll;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	list-style-type: none;
}
.ui-bizagi-grid .ui-bizagi-grid-pager ul li{
    color: hsl(0, 0%, 75%);
    background-color: transparent;
    font-size: 14.5px;
    /*border: 1px solid hsl(0, 0%, 90%);
    text-shadow: 0 1px #FFF;*/
	display:inline-block;
	padding: 6px 15px 6px 15px;
	border-left:1px solid #f4f4f4;
	border-right:1px solid #dcdcdc;
}
.ui-bizagi-grid .ui-bizagi-grid-pager ul li.ui-bizagi-active {
	/*background: rgba(0, 0, 0, .1);*/
	color: hsl(0, 0%, 35%);
	/*border: 1px solid hsl(0, 0%, 50%);*/
	text-shadow: 0 1px #FFF;
	box-shadow:inset 0 0 8px -4px #888;
}

.ui-bizagi-grid [data-bizagi-component="table"] {
    overflow: scroll;
}

.ui-bizagi-grid .ui-bizagi-grid-header [data-bizagi-component="columns"] {
    word-break: break-word;
}

[data-bizagi-component="buttons"] {
    position: absolute;
    right: 0;
    top: 0;    
}

.ui-bizagi-grid-buttons ul{
	/*
        margin-top:8px; 
        height:20px;
    */
	text-align: right;
    height: auto;
    margin: 0;
}
.ui-bizagi-grid-buttons ul li{
	/*
	    margin:-3px 0 0 0;	    	    
	    -webkit-border-radius:6px;
	    border-radius:6px;
	    border: 1px solid transparent;	    
    */
	display: inline-block;
    width: 40px;
    height: 40px;
    
    background:transparent !important;
}

.ui-bizagi-grid-buttons ul li div{
	width:24px;
	height:24px;
	position:relative;
	top: 6px;
	left: 6px;
}
.ui-bizagi-grid-buttons ul li div.ui-icon-plus{
	background-position:-337px -241px;
}

/* Begin Grid Offline */

.ui-bizagi-grid-buttons ul li div.ui-icon-save{
	background-position: -428px -241px;  	  
}

.ui-bizagi-grid-buttons ul li div.ui-icon-cancel{
	background-position: -399px -4px;
}

.ui-bizagi-grid-buttons ul li div.ui-icon-trash{
	background-position: -298px -242px;
}
.ui-grid-buttons-hidden {
    display: none !important;
}


/* End Grid Offline */

.ui-bizagi-grid-row-buttons {
	position: absolute;
	display: none;	
}
.ui-bizagi-grid-row-buttons ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
	position:relative;
	/*background-color: #f5f5f5;
	border: solid #cccccc 2px;
	padding:1px;*/
	-webkit-border-radius:7px;
	border-radius:7px;
	overflow:hidden;
	box-shadow:0px 0px 7px 0px rgba(0,0,0,0.5);
}
.ui-bizagi-grid-row-buttons ul li{
	margin:0px;
	float:left;
	padding:1px;
	/*-webkit-border-radius:6px;
	border-radius:6px;*/
	border: 2px solid #2e4161;
	background:-webkit-linear-gradient(top, #cacaca 0%,#f0f0f0 100%);
	margin:0px;
	width:36px;
	height:36px;
	position: relative;
}
.ui-bizagi-grid-row-buttons ul li:first-child{
	-webkit-border-radius:6px 0px 0px 6px;
	border-radius:6px 0px 0px 6px;
}
.ui-bizagi-grid-row-buttons ul li:first-child div{
	-webkit-border-radius:4px 0px 0px 4px;
	border-radius:4px 0px 0px 4px;
}
.ui-bizagi-grid-row-buttons ul li:last-child{
	border-left:none;
	-webkit-border-radius:0px 6px 6px 0px;
	border-radius:0px 6px 6px 0px;
}
.ui-bizagi-grid-row-buttons ul li:last-child div{
	-webkit-border-radius:0px 4px 4px 0px;
	border-radius:0px 4px 4px 0px;
}
.ui-bizagi-grid-row-buttons ul li div{
	width:24px;
	height:24px;
	top: 7px;
	left: 7px;
	position: absolute;
}
.ui-bizagi-grid-row-buttons ul li div.ui-icon-pencil{
	background-position: -398px -171px !important;
}
.ui-bizagi-grid-row-buttons ul li div.ui-icon-trash{
	background-position: -298px -242px !important;
}
.ui-bizagi-grid table{
	width:100%;
	border-spacing: 0;
}
.ui-bizagi-grid table thead tr th{
	background:-webkit-gradient(linear, center top, center bottom, from(#F0F0F0), to(#CACACA));
	border-bottom:1px solid #ADADAD;
	position:relative;
	border-left:1px solid #ADADAD;
	padding: 0;
}
.ui-bizagi-grid table thead tr th:last-child{
	-webkit-border-radius:0px 4px 0px 0px;
	border-radius:0px 4px 0px 0px;
}
.ui-bizagi-grid table thead tr th:first-child+th{
	-webkit-border-radius:4px 0px 0px 0px;
	border-radius:4px 0px 0px 0px;
	border-left:1px solid transparent
}
.ui-bizagi-grid table thead tr th.ui-bizagi-grid-column-hidden{
	display:none;
}
.ui-bizagi-grid table td, .ui-bizagi-grid table th{
	padding:10px 8px;
	text-align:center;
}
.ui-bizagi-grid table tbody tr:nth-child(odd){
	background:#ECECEC;
}
.ui-bizagi-grid table tbody tr.ui-bizagi-state-selected{
		background-image: -webkit-linear-gradient(top, #859aa9 0%, #77858f 100%);
		/*background:#11527f;*/
		color:#f5f5f5;
}
.ui-bizagi-grid table tbody tr td{
	border-top:1px solid #f5f5f5;
}
.ui-bizagi-grid table tr td:first-child, .ui-bizagi-grid table tr th:first-child{
	display:none;
	padding:0px;
	margin:0px;
}
.ui-bizagi-grid table .ui-bizagi-grid-cell-special {
	padding: 0px;
}
.ui-bizagi-grid table .ui-bizagi-grid-cell-special .ui-bizagi-grid-cell{
	height: 35px;
	width: 40px;
	position: relative;
	display: inline-block;	
}
.ui-bizagi-grid table .ui-bizagi-cell-more{
	height:22px;
	width:22px;
	background:url('images/sprite_inbox.png') 0 0 no-repeat transparent;
	text-indent:-9999px;
	background-position:-280px -55px;
	position: absolute;
	top: 6px;
	left: 0px;
}
.ui-bizagi-grid  .ui-bizagi-grid-column-special {
	width: 32px;
}
.ui-bizagi-grid .ui-bizagi-grid-column-sort{
	display:none;
}
.ui-bizagi-grid .ui-bizagi-grid-column-sort.ui-bizagi-active{
	cursor: pointer;
	display:inline-block;
	margin-left:10px;
}
.ui-bizagi-grid .ui-bizagi-grid-column-sort.ui-bizagi-active > div:first-child{
	border-top:0px solid transparent;  
    border-left:4px solid transparent;
    border-right:4px solid transparent;
 	border-bottom:5px solid rgba(0,0,0,.1); 
}
.ui-bizagi-grid .ui-bizagi-grid-column-sort.ui-bizagi-active > div:last-child{
    border-top:5px solid rgba(0,0,0,.1);   
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-bottom:0px solid transparent;

}
.ui-bizagi-grid .ui-bizagi-grid-column-sort.ui-bizagi-active > div:last-child.ui-bizagi-active{
	border-top-color:rgba(0,0,0,.4); 
}
.ui-bizagi-grid .ui-bizagi-grid-column-sort.ui-bizagi-active > div:first-child.ui-bizagi-active{
	border-bottom-color:rgba(0,0,0,.4); 
}
.ui-bizagi-grid .ui-bizagi-grid-column-sort.ui-bizagi-active > div:first-child{
    margin-bottom:3px;
}

.ui-bizagi-grid .ui-bizagi-grid-noRecords {
	padding: 15px;
	text-align: center;
	width: 100%;
}

.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-body .ui-bizagi-grid-cell {
    text-align: center;
}

.ui-bizagi-cell-readonly {
	text-align: center;
    width: 100%;	
    word-break:break-word;
}


.ui-bizagi-grid-dynamic-pager
{
	margin: 0 auto;
	left: 50%;
	margin-left: -60px;
}


/* JULIAN CHANGES (which are not really "changes" per se, more like... proper usage of blank classes) */

.bz-rn-grid-cn-header
{
    color: #525252;
    font-weight: normal;
    padding: 10px 0 25px 15px;
    margin-bottom: 0;
    -webkit-box-shadow: 0 1px 0 0 hsla(0, 0% ,100% , .3);
    background:-webkit-gradient(linear, left top, left bottom, from(#D6D8DC), to(#C3C6CB));
    border-radius: 6px 6px 0 0;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .5);
    border-bottom: 1px solid #B8B9BB;
    height:0;
}

.ui-bizagi-grid-header

{
    background:-webkit-gradient(linear, left top, left bottom, from(#D6D8DC), to(#C3C6CB));
}

.ui-bizagi-grid-key {display:none;}
.ui-bizagi-column-hidden
{
	display: none;
}