<script id="ui-bizagi-login-error-message" type="text/x-jquery-tmpl">
    <div class="login-message">
        {{each messages}}
        <p class="secondary-data">{{html $value}}</b></p>
        {{/each}}
    </div>
</script>
<script id="ui-bizagi-login-wrapper" type="text/x-jquery-tmpl">
    <div class="login-wrapper">
        <h1 class="logo"><img src="jquery/login/css/desktop/images/bizagi-logo.png" alt="" /></h1>
        <form id="loginForm">
            <div class="login-icon">
                <img src="jquery/login/css/desktop/images/login-users.png" class="icon-users" width="64" height="64" alt="Users Icon" />
            </div>
            <div id="form-content"></div>
        </form>
    </div>
</script>

<script id="ui-bizagi-login-normal-login" type="text/x-jquery-tmpl">

    <div class="login-data">
        <fieldset>
            <legend>%{login-legend}</legend>
            <div class="login-field">
                <label for="user">%{login-user}</label>
                <input id="user" class="login-input" type="text" tabindex="1" autocomplete = "off"/>                        
            </div>
            <div class="login-field">
                <label for="password">%{login-password}</label>
                <input id="password" class="login-input" type="password" tabindex="2" autocomplete = "off"/>                        
            </div>
            {{if domains.length > 1}}
            <div class="login-field">
                <label for="domain">%{login-domain}</label>
                <select id="domain" class="login-select" tabindex="3">
                    {{each domains}}
                    <option value="${$value.name}">${$value.name}</option>
                    {{/each}}
                </select>                       
            </div>   
            {{else}}
            {{each domains}}
            <input id="domain"  type="hidden" value="${$value.name}" autocomplete = "off"/>
            {{/each}}
            {{/if}}
            <div class="login-field">
                <input id="btn-login" class="login-button" type="button" name="btn-login" value="%{login-action}" tabindex="3" autocomplete = "off"/>
            </div>
            <ul class="login-options">
                <li class="login-option"><input id="changePassword" type="button" title="%{login-change-password}" tabindex="4" autocomplete = "off"/></li>
                {{if isBizagiAuthentication}}
                <li class="login-option"><input id="forgotPassword" type="button" title="%{login-forgot-password}" tabindex="5" autocomplete = "off"/></li>
                <li class="login-option"><input id="unlockPassword" type="button" title="%{login-unlock-account}" tabindex="6" autocomplete = "off"/></li>
                {{/if}}
            </ul>
        </fieldset>
        <fieldset>
            <ul class="login-account-options secondary-data">
                <li class="login-radio">
                    <input id="rbSaveAccountPassword" type="radio" name="rbRemember" tabindex="7" autocomplete = "off"/><label for="rbSaveAccountPassword">%{login-save-user-password}</label>
                </li>
                <li class="login-radio">
                    <input id="rbSaveAccount" type="radio" name="rbRemember" tabindex="8" autocomplete = "off"/><label for="rbSaveAccount">%{login-save-user}</label>
                </li>                                           
                <li class="login-radio">
                    <input id="rbAskAlways" type="radio" name="rbRemember" checked="checked" tabindex="9" autocomplete = "off"/><label for="rbAskAlways">%{login-ask-always}</label>
                </li>
            </ul>
        </fieldset>
        {{if isAdminLoginRequired}}
        <div class="login-admin">
            <a class="login-admin-button secondary-data" id="btn-adminLogin" href="#"  tabindex="10">%{login-admin-action}</a>
        </div>
        {{/if}}

        <!-- reserved label for login message controller -->
        <div id="login-message-wrapper"></div>
    </div>      

</script>

<!-- Template for Admin Login -->

<script id="ui-bizagi-login-admin-login" type="text/x-jquery-tmpl">

    <div class="login-data">
        <fieldset>
            <legend>%{login-legend}</legend>
            <div class="login-field">
                <label for="user">%{login-user}</label>
                <input id="user" class="login-input" value="${admin}" type="text"  readonly="readonly" tabindex="1" autocomplete = "off"/>                      
            </div>
            <div class="login-field">
                <label for="password">%{login-password}</label>
                <input id="password" class="login-input" type="password" tabindex="2" autocomplete = "off"/>                        
            </div>
            <div class="login-field">
                <input id="btn-login" class="login-button" type="button" name="btn-login" value="%{login-action}" tabindex="3" autocomplete = "off"/>
            </div>
            <ul class="login-options">
                <li class="login-option"><input id="lnkBackToLogin" type="button" title="%{login-back-to-login}" value="%{login-back-to-login}" tabindex="7" /></li>
            </ul>
        </fieldset>
        <!-- reserved label for login message controller -->
        <div id="login-message-wrapper"></div>
    </div>      

</script>

<!-- Template for Quick Login -->

<script id="ui-bizagi-login-quick-login" type="text/x-jquery-tmpl">

    <div class="login-data">
        <fieldset>
            <legend>%{login-legend}</legend>
            <div class="login-field">
                <label for="username">%{login-user}</label>
                 {{if $item.item <100 }}
                <select id="username" class="login-select" tabindex="2">

                    {{each users}}
                    <option value="${$value.name}">${$value.name}</option>
                    {{/each}}
                </select> 
                {{else}}
                <input id="username" class="login-input" type="text"  tabindex="1" value="%{login-domain}\%{login-user}" autocomplete = "off"/> 

                {{/if}}                    
            </div>
            <div class="login-field">
                <input id="btn-login" class="login-button" type="submit" name="btn-login" value="%{login-action}" tabindex="3" autocomplete = "off"/>
            </div>
        </fieldset>

        <!-- reserved label for login message controller -->
        <div id="login-message-wrapper"></div>
    </div>

</script>


<script id="ui-bizagi-login-change-password" type="text/x-jquery-tmpl">
    <div class="login-data">
        <form id="change-password" method="PUT">

        <fieldset>
            <div class="login-field">
                <label for="user">%{login-user}</label>
                <input id="user" class="login-input" type="text" tabindex="1" autocomplete = "off"/>
            </div>
            {{if domains.length > 1}}
            <div class="login-field">
                <label for="domain">%{login-domain}</label>
                <select id="domain" class="login-select" tabindex="3">
                    {{each domains}}
                    <option value="${$value.name}">${$value.name}</option>
                    {{/each}}
                </select>                       
            </div>   
            {{else}}
            {{each domains}}
            <input id="domain"  type="hidden" value="${$value.name}" autocomplete = "off"/>
            {{/each}}
            {{/if}}
            <div class="login-field">
                <label for="password">%{login-old-password}</label>
                <input id="password" class="login-input" type="password" tabindex="3" autocomplete = "off"/> 
            </div>
            <div class="login-field">
                <label for="newPassword">%{login-new-password}</label>
                <input id="new-password" class="login-input" type="password" tabindex="4" maxlength="${loginConfig.passwordMaxLength}" autocomplete = "off"/>                     
            </div>
            <div class="login-field">
                <label for="passwordConfirmation">%{login-password-confirmation}</label>
                <input id="password-confirmation" class="login-input" type="password" tabindex="5" maxlength="${loginConfig.passwordMaxLength}" autocomplete = "off"/> 
            </div>
            {{if loginConfig.isSecretQuestionEnabled== true }}
            <div class="login-field">
                <label for="secretQuestion">%{login-secret-question}</label>
                <input id="secret-question" class="login-input" tabindex="6" autocomplete = "off"/>
                                   
            </div>
            <div class="login-field">
                <label for="secretAnswer">%{login-secret-answer}</label>
                <input id="secret-answer" class="login-input" tabindex="7" autocomplete = "off"/> 
            </div>             
            {{/if}}
            <div class="login-field">
                <input id="btn-change-password" class="login-button" type="button" name="login" value="%{login-change-password}" tabindex="8" autocomplete = "off"/>
            </div>
            <ul class="login-options">
                <li class="login-option"><input id="lnkBackToLogin" type="button" title="%{login-back-to-login}" value="%{login-back-to-login}" tabindex="9" /></li>
            </ul>
        </fieldset>

        </form>

        <!-- reserved label for login message controller -->
        <div id="login-message-wrapper"></div>
    </div>
</script>

<script id="ui-bizagi-login-forgot-password" type="text/x-jquery-tmpl">
    <div class="login-data">
        <fieldset>
            <div class="login-field">
                <label for="user">%{login-user}</label>
                <input id="user" class="login-input" type="text" tabindex="1" autocomplete = "off"/>
            </div>
            <div class="login-field">
                <label for="domain">%{login-domain}</label>
                <select id="domain" class="login-select" tabindex="2">
                    {{each domains}}
                    <option value="${$value.name}">${$value.name}</option>
                    {{/each}}
                </select>    
            </div>
            <div class="login-field">
                <label for="secret-question">%{login-secret-question}</label>
                <input id="secret-question" class="login-input" type="text" tabindex="3" disabled autocomplete = "off"/>
            </div>
            <div class="login-field">
                <label for="secret-answer">%{login-secret-answer}</label>
                <input id="secret-answer" class="login-input" type="text" tabindex="4" autocomplete = "off"/>
            </div>
            <div class="login-field">
                <input id="btn-search-user" class="login-button" type="button" name="login" value="%{login-search-user-action}" tabindex="5" autocomplete = "off"/>
            </div>
            <div class="login-field">
                <input id="btn-recover-password" class="login-button" type="button" name="login" value="%{login-recover-password-action}" tabindex="6" autocomplete = "off"/>
            </div>
            <div class="login-field">
                <div class="sendingPassword">%{workportal-login-sending-password}</div>
            </div>
            <ul class="login-options">
                <li class="login-option"><input id="lnkBackToLogin" type="button" title="%{login-back-to-login}" value="%{login-back-to-login}" tabindex="7" /></li>
            </ul>
        </fieldset>

        <!-- reserved label for login message controller -->
        <div id="login-message-wrapper"></div>
    </div>  
</script>

<script id="ui-bizagi-login-unlock-account" type="text/x-jquery-tmpl">
    <div class="login-data">
        <fieldset>
            <div class="login-field">
                <label for="user">%{login-user}</label>
                <input id="user" class="login-input" type="text" tabindex="1" autocomplete = "off"/>                        
            </div>
            <div class="login-field">
                <label for="password">%{login-password}</label>
                <input id="password" class="login-input" type="password" tabindex="2" autocomplete = "off"/>                        
            </div>
            {{if domains.length > 1}}
            <div class="login-field">
                <label for="domain">%{login-domain}</label>
                <select id="domain" class="login-select" tabindex="3">
                    {{each domains}}
                    <option value="${$value.name}">${$value.name}</option>
                    {{/each}}
                </select>                       
            </div>   
            {{else}}
            {{each domains}}
            <input id="domain"  type="hidden" value="${$value.name}" autocomplete = "off"/>
            {{/each}}
            {{/if}}                 
            <div class="login-field">
                <label for="observation">%{login-observation}</label>
                <textarea rows="4" cols="39" id="observation" class="login-textarea" tabindex="4"></textarea>                                           
            </div>                                                              
            <div class="login-field">
                <input id="btn-unlock-account" class="login-button" type="button" name="login" value="%{login-unlock-account}" tabindex="5" autocomplete = "off"/>
            </div>
             <div class="login-field">
                <div class="sendingPassword">%{workportal-login-sending-password}</div>
            </div>
            <ul class="login-options">
                <li class="login-option"><input id="lnkBackToLogin" type="button" title="%{login-back-to-login}" value="%{login-back-to-login}" tabindex="6" /></li>
            </ul>
        </fieldset>  
        <!-- reserved label for login message controller -->
        <div id="login-message-wrapper"></div>                                  
    </div>  
</script>


