/*
    Document   : default.less.css
    Created on : Sep 21, 2012
    Author     : Jair Tellez Jair.Tellez@bizagi.com
    Description: A theme based in the UX guides of Windows 8 
*/


/*----------------------*/
/* COLORS DEFINITION    */
/*----------------------*/
@general-background-color:  #dedede;        /* Background color*/
@general-color:             #444;           /* Text color */

@link:                      #1f74b2;        /* Color of links elements <a> */

@bare:                      #bbb;
@pale:                      #999;
@neutral:                   #666;
@opaque:                    #333;
@sharp:                     #000;
@contrast:                  #ffffff;
@firm:                      #fc6c06;
@positive:                  #73ab00;
@negative:                  #c20000;

/*-----------------------------*/
/* IMAGES DEFINITION (SPRITES) */
/*-----------------------------*/
@sprite: "../../images/desktop-sprite.png";
@bg-inputs: "../../images/desktop-bg-inputs.png";
@bg-dots-header: "../../images/desktop-dots-header.png";
@bg-dots-columns: "../../images/desktop-dots-columns.png";
@bg-dots-lines: "../../images/desktop-dots-lines.png";
@bg-noise: "../../images/desktop-noise.png";
@arrow-up: "../../images/desktop-arrow-up.png";
@arrow-up-ie8: "../../images/desktop-arrow-up-ie8.png";



/*---------------*/
/* ERROR MESSAGE */
/*---------------*/
.ui-bizagi-wp-notCompatibleIE-error
{
    background:#dadada;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}

.ui-bizagi-wp-notCompatibleIE-goToOldApplication
{
    color: #2f526c;
}

.ui-dialog {
	box-shadow: 0 0 30px 2px rgba(0, 114, 198, .2);
	border: 0;
	font-family: "Segoe UI Semilight", sans-serif !important;
	color: rgb(19, 77, 116);
}

.ui-dialog * { border-color: rgba(19, 77, 116, .2) !important; }

.ui-dialog .ui-dialog-title {
	margin: 0;
	padding-left: 24px;
	background: rgb(19, 77, 116);
	font-family: "Segoe UI Semilight", sans-serif !important;
}

.ui-dialog .ui-dialog-title,
.ui-dialog button {
	border-radius: 0;
	font-family: "Segoe UI Semilight", sans-serif !important;
	box-shadow: none;
}

.categories-dropdownmenu {
    left: 10px  !important;
}

.ui-widget-overlay { background: rgba(19, 77, 116, .5); }

/*       BEGIN CASE SUMMARY SECTION       */


.ui-bizagi-wp-app-inbox-activity-description .ui-bizagi-wp-app-inbox-cases-description-ico-state
{
    border-right:1px solid #b8b8b8;
}
.ui-bizagi-wp-app-inbox-activity-description #ui-bizagi-wp-app-inbox-cases-ico-state-Red
{
    background: rgb(235,44,44); /* Old browsers */
    background-image: linear-gradient(top, rgba(235,44,44,1) 0%,rgba(159,20,20,1) 100%); /* W3C */
}
.ui-bizagi-wp-app-inbox-activity-description #ui-bizagi-wp-app-inbox-cases-ico-state-Green
{
    background: rgb(16,114,28); /* Old browsers */
    background-image: linear-gradient(top, rgba(55,156,68,1) 0%,rgba(16,114,28,1) 100%); /* W3C */
}
.ui-bizagi-wp-app-inbox-activity-description #ui-bizagi-wp-app-inbox-cases-ico-state-Yellow
{
    background: #d4bd09; /* Old browsers */
    background-image: linear-gradient(top, rgba(241,224,4,1) 0%,rgba(180,150,15,1) 100%); /* W3C */
}

#ui-bizagi-details-tabs dd, .box-description dd { background: rgb(243, 243, 243); }


.ui-tabs-panel a
{
    color: #1F74B2;
}
.ui-widget-content,
.ui-bizagi-container-form { background: none; }

.ui-bizagi-container-form { margin-top: 65px; }

#contentFramework .ui-bizagi-adjustable { overflow: auto !important; }

/*------------------------------*/
/*   ASYNC WIDGET DEFINICION    */
/*------------------------------*/
.ui-bizagi-wp-async-case-number {
    font-family: "Segoe UI Semilight", sans-serif !important;
    font-size: 22.5px;
    color: #2f526c;
}

.ui-bizagi-wp-async-description dd
{
    background:#dadada;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}

.ui-bizagi-wp-async-error
{
    font-family: "Segoe UI Semilight", sans-serif !important;
    background:#dadada;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}

.ui-bizagi-wp-async-goToInbox
{
    font-family: "Segoe UI Semilight", sans-serif !important;
    color: #2f526c;
}

/* ==========================================================================
   _Base
   ========================================================================== */
   
#contentFramework *
{
	box-shadow: none !important;
	border-radius: 0 !important;
    border-color: rgba(19, 77, 116, .2) !important;
	text-shadow: none !important;
    font: 300 11pt "Segoe UI", sans-serif !important;
}

.ui-widget-content a { color: rgb(19, 77, 116) !important; }

html, 
body
{
    background-color: rgb(255, 255, 255) !important;
    overflow: hidden;
    /* Styles scrollbar for Interner Explorer */
    scrollbar-face-color: #d4d4d4;
    scrollbar-base-color: #EBF5FF;
    scrollbar-arrow-color: #546376;
    scrollbar-track-color: #DfDBDf;
    scrollbar-shadow-color: #A5A5A5;
    scrollbar-highlight-color: #A5A5A5;
    scrollbar-3dlight-color: #E5E5E5;
    scrollbar-darkshadow-color: #E5E5E5;
    color: rgb(19, 77, 116) !important;
}

#ui-bizagi-wp-menu,
#contentInbox,
#footer
{
	display: none !important;
	height: 0 !important;	
}

/* ==========================================================================
   __Components
   ========================================================================== */

/* _Modal
   ========================================================================== */

/*

.modal
{
	border-width: 0 2px 2px;
	border-color: rgb(19, 77, 116);
}

.modal > .selectarrow { display: none; }

.modal > .content 
{
	padding: 0;
	background: rgb(255, 255, 255);
}

.modal #modalMenuBtList,
.modal #modalMenuBtList > div ul { background: none; }

*/

/* ==========================================================================
   _Menu pattern
   ========================================================================== */

/* __General modifiers
   ========================================================================== */

.vertical_division { display: none; }

.ui-bizagi-wp-mini-arrow
{
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
}

#main_menu li .ui-bizagi-wp-mini-arrow { border-top-color: rgb(255, 255, 255); }

/* __Menu container
   ========================================================================== */

#ui-bizagi-wp-menu
{
	height: 40px;
	background: rgb(19, 77, 116);
	font-family: "Segoe UI Semilight", sans-serif !important;
	color: rgb(255, 255, 255);
}

#ui-bizagi-wp-app-menu-container
{
	height: 40px;
    background: none;
}

/* __Logo
   ========================================================================== */

#ui-bizagi-wp-app-menu-container #ui-bizagi-wp-app-menu-logo-container
{
	position: static;
    width: 110px;
    height: 40px;	
	margin: 0;
}

#ui-bizagi-wp-app-menu-logo-client
{
    position: relative;
    top: 0;    
    width: 110px;
    height: 40px;
    background: url("../../images/desktop-logo.png") 0 0 no-repeat;
}

/* __Search
   ========================================================================== */

#ui-bizagi-wp-app-search { margin: 0 10px; }

#ui-bizagi-wp-app-search input
{
	border: rgb(186, 186, 186) 1px solid;
	background: rgb(255, 255, 255);
	white-space: nowrap;
	font-size: 14px;
    color: rgb(102, 102, 102);
}

#ui-bizagi-wp-app-search:hover input,
#ui-bizagi-wp-app-search input:focus,
#ui-bizagi-wp-app-search input:hover
{
	outline-color: rgb(19, 77, 116);
	background: rgb(255, 255, 255);
	color: rgba(102, 102, 102, .8);
}

#ui-bizagi-wp-app-bt-search { background: url("../../images/desktop-sprite.png") -7px -148px no-repeat; }

/* __Menu items
   ========================================================================== */

#ui-bizagi-wp-app-menu-bt-container #main_menu,
#main_menu li a
{
	height: 40px;
	font-size: 14px;
}

#main_menu li
{
	float: left;
	padding: 0 10px;
}

#main_menu li:hover { background-color: rgba(0, 0, 0, .12); }

#main_menu li.active,
#main_menu li.active:hover { background: rgba(0, 0, 0, .24); }

#main_menu li .ui-bizagi-wp-mini-arrow { right: 10px; }

#main_menu li a { padding: 0 10px 0 0; }

#main_menu #menuListInbox a,
#main_menu #menuListPreferences a { padding: 0; }

#main_menu li a .text
{
	line-height: 40px;
	color: rgb(255, 255, 255);
}

#main_menu li .icon
{
	width: 24px;
	height: 24px;
	margin-top: 7px;
	background: url("../../images/desktop-sprite-metro.png");
}

#main_menu li .widgets { background-position: 0 0; }

#main_menu li .new,
#main_menu li a:hover .new { background-position: 0 0; }

#main_menu li .favorites,
#main_menu li a:hover .favorites { background-position: -141px -3px; }

#main_menu li .inbox,
#main_menu li a:hover .inbox { background-position: -24px 0; }

#main_menu li .preferences,
#main_menu li a:hover .preferences { background-position: -120px 0; }

#main_menu li .queries,
#main_menu li a:hover .queries { background-position: -72px 0; }

#main_menu li .admin,
#main_menu li a:hover .admin { background-position: -96px 0; }

#main_menu li .reports,
#main_menu li a:hover .reports { background-position: -48px 0; }

/* __User profile
   ========================================================================== */

#ui-bizagi-wp-app-menu-container #userprofile
{
	height: 40px;
	font-size: 12px;
}

#ui-bizagi-wp-app-menu-container #userprofile > *
{
	top: 0;
	height: 40px;
	margin: 0;
	line-height: 40px;
}

.ui-bizagi-wp-bt-font
{
	padding: 0 10px;
	color: rgb(255, 255, 255);
}

.ui-bizagi-wp-bt-font.active,
.ui-bizagi-wp-bt-font.active:hover { background: rgba(0, 0, 0, .24); }

.ui-bizagi-wp-bt-font:hover
{
	background: rgba(0, 0, 0, .12);
	color: rgb(255, 255, 255);
}

#ui-bizagi-wp-menu-username,
#userprofile > button span
{
	padding: 0 10px 0 28px;
	background: none;
    color: rgb(255, 255, 255);
    text-align: right;
}

#ui-bizagi-wp-menu-username::before,
#userprofile > button span::before
{
	content: '';
	position: absolute;
	top: 12px;
	left: 9px;
	width: 16px;
	height: 16px;
    background: url("../../images/desktop-sprite-metro.png") 0 -24px no-repeat;
}

#userprofile > button span::before { background-position: -16px -24px; }

#userprofile > button:hover span
{
	background: rgba(0, 0, 0, .12);
	color: rgb(255, 255, 255);
}

#ui-bizagi-wp-app-menu-container #build
{
	height: 40px;
	line-height: 40px;
	color: rgba(255, 255, 255, 0.6);
}

/* ==========================================================================
   _Workarea pattern
   ========================================================================== */

/* __Content inbox
   ========================================================================== */

#contentInbox
{
	height: 30px;
	border: none;
	border-bottom: 1px solid rgb(204, 204, 204);
	background: rgb(255, 255, 255);
}

#contentInbox h2
{
	line-height: 30px;
	color: rgb(102, 102, 102);
}

#contentInbox h2:hover { color: rgba(102, 102, 102, .8) }

#innerContentInbox
{
	height: 30px;
	border: none;
	background: none;
}

#ui-bizagi-workportal-widget-view-options
{
	height: auto;
	margin-top: 2px;
	padding: 0;
	border: none;
	background: none;
}

#ui-bizagi-workportal-widget-view-options li
{
	display: block;
	padding: 5px 7px;	
}

#ui-bizagi-workportal-widget-view-options li:hover { background-color: rgba(0, 0, 0, .12); }

#ui-bizagi-workportal-widget-view-options li.active,
#ui-bizagi-workportal-widget-view-options li.active:hover { background: rgba(0, 0, 0, .24); }

#ui-bizagi-workportal-widget-view-options #ui-bizagi-wp-app-inbox-bt-eye
{
	width: 16px;
	height: 16px;
    background: url("../../images/desktop-sprite-metro.png") -32px -24px no-repeat;
}

/* __Content framework
   ========================================================================== */

/* Content Process */
#contentProc
{
	border: none;
    background: rgb(243, 243, 243);
    color: rgb(102, 102, 102);
}

#contentproc .scrollprocess > div:first-child { margin: 0; }

#contentFramework .ui-bizagi-wp-app-inbox-processes-title
{
	border: none;
    font: 200 20pt "Segoe UI", sans-serif !important;
    color: rgb(19, 77, 116);
}

#contentFramework .ui-bizagi-wp-app-inbox-activity-description h2
{
    border-bottom: 1px solid #ccc;
    font: 600 11pt "Segoe UI", sans-serif !important;
    color: rgb(19, 77, 116);
}

#contentproc #ui-bizagi-wp-app-inbox-processes-container .arrow
{
	top: 55%;
	left: 10px;
}

#ui-bizagi-wp-app-inbox-processes-container { padding: 10px 0 15px; }

#ui-bizagi-wp-app-inbox-processes-container .nodisplay
{
	padding: 0;
	border: none;
	background: none;
	font-size: 14px;	
}

#ui-bizagi-wp-app-inbox-processes-container .nodisplay li 
{
	padding-left: 40px;
	border: none;
}

#ui-bizagi-wp-app-inbox-processes-container li:hover,
#ui-bizagi-wp-app-inbox-processes-container li:nth-child(2n):hover { background: rgb(231, 231, 231); }

#ui-bizagi-wp-app-inbox-processes-container li:nth-child(2n)
{
	border: none;
	background: none;
}

#ui-bizagi-wp-app-inbox-processes-container .selected,
#ui-bizagi-wp-app-inbox-processes-container li.selected:hover { background: rgb(212, 212, 212); }

.ui-bizagi-wp-app-inbox-processes-start,
#ui-bizagi-wp-app-inbox-processes-ico-paper { left: 20px; }

.ui-bizagi-wp-app-inbox-processes-name
{
	font-size: 22px;
	color: rgba(0, 0, 0, 1.0);
}

.ui-bizagi-wp-app-inbox-processes-ncase
{
	top: 45%;
	right: 20px;
	color: rgb(102, 102, 102);
}

#ui-bizagi-wp-app-inbox-processes-container .ui-bizagi-wp-app-inbox-processes-ncase { background: none; }

#ui-bizagi-wp-app-inbox-processes-container .selected .ui-bizagi-wp-app-inbox-processes-ncase, 
#ui-bizagi-wp-app-inbox-processes-container li .ui-bizagi-wp-app-inbox-processes-ncase { background: rgb(243, 243, 243); }

/* Content Cases */

#contentCases
{
	overflow-x: hidden !important;
	overflow-y: auto !important;
	width: 280px;
	border: none;
	background: white;
}

#ui-bizagi-wp-app-inbox-cases-container { padding-left: 20px; }

#ui-bizagi-wp-app-inbox-cases-container ul
{
	padding: 0;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
}

#ui-bizagi-wp-app-inbox-cases-container li { padding: 8px; }

#ui-bizagi-wp-app-inbox-cases-container li:hover { background: rgb(231, 231, 231); }

#ui-bizagi-wp-app-inbox-cases-container .selected,
#ui-bizagi-wp-app-inbox-cases-container li.selected:hover { background: rgb(212, 212, 212); }

#ui-bizagi-wp-app-inbox-cases-container #caseId .ui-bizagi-wp-app-inbox-cases-case,
#ui-bizagi-wp-app-inbox-cases-container li dl dt,
#ui-bizagi-wp-app-inbox-cases-container li dl dd { color: rgb(102, 102, 102); }

#ui-bizagi-wp-app-inbox-cases-container #caseActivity { border: none; }

#ui-bizagi-wp-app-inbox-cases-container #caseActivity span { color: rgb(19, 77, 116) }

/* Grid */

#contentCases.casesGrid { background: rgb(255, 255, 255); }

#ui-bizagi-wp-app-inbox-grid-cases
{
	border-color: rgb(204, 204, 204);
	background: rgb(255, 255, 255);
}

.ui-bizagi-wp-app-inbox-grid-cases-container thead td,
.personalizedColumnsContainer table thead td
{
    border: none;
	background: rgb(19, 77, 116);
    font-size: 115%;
    color: rgb(255, 255, 255);
}

#ui-bizagi-wp-app-inbox-grid-cases tbody .event,
.personalizedColumnsContainer table tbody .event { background: rgb(243, 243, 243); }

.ui-bizagi-wp-app-inbox-grid-cases-container table td, 
.personalizedColumnsContainer table td
{
	height: 24px;
	border: none;
	line-height: 24px;
}

.ui-bizagi-wp-app-inbox-grid-cases-container tbody tr:hover td,
.personalizedColumnsContainer table tbody tr:hover td { background: rgb(231, 231, 231); }

/* Details */

.ui-bizagi-wp-app-inbox-activity-description {
	padding: 0;
	background: rgb(255, 255, 255);
}

.ui-bizagi-wp-app-inbox-activity-description > div { background: none; }

#contentFramework .box-description dt {
    font: 400 9pt "Segoe UI", sans-serif !important;
    color: rgb(19, 77, 116);
}

.box-description dd {
    background: rgb(243, 243, 243);
    color: rgb(19, 77, 116);
}





/* _Footer
   ========================================================================== */

#footer
{
	height: 30px;
	border: none;
	border-top: 1px solid rgb(204, 204, 204);
	background: rgb(255, 255, 255);
}

/* Inbox Tab */

#ui-bizagi-wp-app-inbox-tab-container
{
    width: auto;
	border: none;
}

#ui-bizagi-wp-app-inbox-tab-container ul
{
	position: static;
	float: left;	
}

#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab
{
	border: none;
    /*border-right: 1px solid rgb(204, 204, 204);*/
}

#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab.active,
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab.active:hover
{
	box-shadow: none;
	background: rgb(212, 212, 212);
}

#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab:hover { background: rgb(231, 231, 231); }

#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab#favourites{ width: 35px; }

#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab#red,
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab#yellow,
#ui-bizagi-wp-app-inbox-tab-container ul li.ui-bizagi-wp-app-inbox-tab#green{ width: 55px; }

#ui-bizagi-wp-app-inbox-tab-container .toolTip
{
	height: 16px;
	background: rgb(243, 243, 243);
	line-height: 16px;    
    text-align: center;
    color: rgb(102, 102, 102);
}

/* Page Pagination */

#casesPagination{ border: none; }

#casespagination.gridcasepagination ul { padding-top: 5px; }

#casesPagination ul li
{
    width: 12px;
    height: 12px;
    margin-left: -3px;
    padding: 4px;	
    text-align: center;
    color: rgb(102, 102, 102);
}

#casesPagination ul li:hover { background: rgb(231, 231, 231) }

#casesPagination ul li:hover span { color: rgba(102, 102, 102, 0.8); }


#casesPagination ul li.active, 
#casesPagination ul li.active:hover,
#casespagination ul li.active:hover span
{
    background: rgb(212, 212, 212);
	color: rgb(102, 102, 102);
}

/* _jQuery UI
   ========================================================================== */

.ui-tabs .ui-tabs-nav li { border: none; }

#contentFramework .ui-tabs .ui-tabs-nav li a 
{
    font: 400 9pt "Segoe UI", sans-serif !important;
    color: rgba(19, 77, 116, .8);
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected,
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a
{
	width: auto;
	background: rgb(255, 255, 255);
    color: rgb(19, 77, 116);
}

.ui-tabs .ui-tabs-panel { background: rgb(255, 255, 255); }

#ui-bizagi-wp-app-render-form-content .ui-tabs .ui-tabs-panel,
#ui-bizagi-wp-app-render-form-content .ui-tabs .ui-tabs-nav li.ui-tabs-selected { background: rgb(255, 255, 255); }

#gotooldview
{
	top: 3px;
	font-size: 10.5px;
}

#searchNotFound{
    color: #ffffff;
    text-align: center;
    margin-top: 3px;
    text-shadow: 0px 0px 5px #f66f66;
}


/*-----------------------------*/
/*   MODAL MENUS DEFINICION    */
/*-----------------------------*/
.modalMenuBtWidget #modalTitle{
    color: #f5f5f5;
}
#modalContentDisplayWidgets
{
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    background-color: #F5F5F5;
}
#modalContentDisplayWidgets li a
{
    color: #ffffff;
}
#modalContentDisplayWidgets .widgetsListDisplay li{
    border-bottom-color: #000000;
    color:#333333;
}
#modalContentDisplayWidgets .widgetsListDisplay li:hover{
    background: linear-gradient(top, #939cad 0%,#546376 100%); /* W3C */
    background-color: #939cad; /*old browsers*/
    color:#f5f5f5;
}

/*-------------------------------*/
/*  NEW CASE WIDGET DEFINICION   */
/*-------------------------------*/


#modalMenuBtList > div ul li
{
    color:#444444;
}
#modalMenuBtList > div li:hover
{
    background: #b1b8bc; /* Old browsers */
    background-image: url("@{bg-dots-lines}"), linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* W3C */
}
#modalMenuBtList > div li h3
{
    font-family: "Segoe UI Semilight", sans-serif !important;
    font-size: 125%;
    color: #283238;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}
#modalMenuBtList > div li p
{
    color:#666;
}
#modalMenuBtList > div li:hover p
{
    color:#444444;
}
#modalMenuBtList > div li #arrow
{
    background: url("@{sprite}") -187px -145px no-repeat;
}
#modalMenuBtList > div li .processIco,
#modalMenuBtList > div li .categoryIco,
#modalMenuBtList > div li .categoryLinkIco
{
    background-image: url("@{sprite}");
}
.categoryTree
{
    border-bottom: 1px solid #acacac;
    box-shadow:0 1px 0 0 rgba(255,255,255,0.2);
}
.categoryTree  li
{
    color:#1f74b2;
}
#modalMenuBtList > div li .deleteButton,#modalMenuBtList > div li .editButton,#modalMenuBtList > div li .addButton{
    background: url("@{sprite}") 0 0 no-repeat;
}


/*-------------------------------*/
/*  POPUP WIDGET DEFINICION      */
/*-------------------------------*/

.modal #modalTitle
{
	color:#f5f5f5;
	font-size:135%;
	float:left;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.35);
}


/*--------------------------------*/
/*  RENDER WIDGET DEFINICION      */
/*--------------------------------*/
#ui-bizagi-wp-app-render-desc-panel { background: none/*rgb(243, 243, 243)*/; }

#panelArrowContainer
{
    background: #eeeeee;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #b7b7b7;
    display: none;
}
#panelArrowContainer:hover
{
    background-color: #eaeaea;
}
#panelArrowContainer:hover #panelArrow.panelArrowLeft
{
    border-right:5px solid  #8A95A7;
}

#panelArrowContainer:hover #panelArrow.panelArrowRight
{
    border-left: 5px solid #8A95A7;
}

#ui-bizagi-wp-app-render-form { background: none/*rgb(255, 255, 255)*/; }

.ui-widget-content,
.ui-bizagi-container-form { background: rgb(255, 255, 255); }

.ui-bizagi-wp-app-render-actions .tooltip
{
    background: #29343b;
    border:1px solid #51616A;
    color: #ffffff;
}

.ui-bizagi-wp-app-render-actions .tooltip:before
{
    background: url("@{arrow-up}") 0 0 no-repeat;
}

.ui-bizagi-wp-app-render-actions ul 
{
    display: none;
    }
    
#subprocess
{
    background:#e6e6e6;
}
.personalizedColumnsContainer table tbody tr:nth-child(2n+1) td
{
    background-color: #dadada;
}

