{
  "base_workportal_smartphone": "<div data-role=\"view\" id=\"initKendo\"></div>\r\n\r\n<div data-role=\"drawer\" id=\"left-drawer\" data-title=\"left\" data-views=\"['taskFeed']\">\r\n    <div id=\"content-left-drawer\" data-role=\"content\"></div>\r\n</div>\r\n\r\n<div data-role=\"drawer\" data-position=\"right\" id=\"bz-right-drawer\" class=\"bz-right-drawer\" data-views=\"['taskFeed']\">\r\n    <div id=\"content-right-drawer\"></div>\r\n</div>\r\n\r\n<div data-role=\"drawer\" id=\"bz-render-drawer\" data-position=\"right\" class=\"bz-render-drawer\">\r\n    <div id=\"content-render-drawer\" data-role=\"content\"></div>\r\n</div>\r\n"
}