/***********************
_________ tabs edition
*************************/
.biz-work-panel .ui-bizagi-container-tab .ui-tabs-nav li .ui-bizagi-container-input-editable { padding-right: 45px; }

.biz-work-panel .ui-tabs-selected .ui-bizagi-container-input-editable { margin: 0; }

.biz-work-panel .ui-tabs-selected .ui-bizagi-container-input-editable .ui-bizagi-render-confirmation
{
    position: absolute;
    top: -3px;
    right: -3px;
    padding: 5px 5px 5px;
}

.biz-work-panel .ui-tabs-selected .ui-bizagi-container-input-editable .ui-bizagi-input-editable { height: 17px; }

/***********************
_________ render
*************************/
.ui-bizagi-container-input-editable {
    position: relative;
    width: 100%;
    margin-left: 4px;
}
.ui-bizagi-container-tab .ui-tabs-nav li .ui-bizagi-container-input-editable 
{
    height: 18px;
}
.ui-bizagi-input-editable 
{
    position: absolute;
    right: 40px;
    left: 0px;
    top: 5px;
    vertical-align: middle;
	display: inline-block;
}
.ui-bizagi-container-input-editable .ui-bizagi-render-confirmation 
{
    position: absolute;
    right: 0px;
	vertical-align: middle;
	display: inline-block;
}
