<script id="bz-rendering-getUser" type="text/x-jquery-tmpl">
    <!-- Put here all html content of your new render control -->
    <div class="bz-render-getUser-container">
        <input class="ui-bizagi-render-text" type="text" value="" readonly="readonly"/>
        <div class="ui-bizagi-render-getUser-wrapper-buttons">
            <button id="btn-get-user" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" role="button" aria-disabled="false" title="%{workportal-widget-admin-defaults-assignation-user-title-get}">
                <i class="bz-wp-icon bz-render-getUser-icon ui-bizagi-render-icon-getUser-search"></i>
            </button>
            <button id="btn-clear-user" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" role="button" aria-disabled="false" title="%{workportal-widget-admin-user-profiles-button-label-clearProfiles}">
                <i class="bz-wp-icon bz-render-getUser-icon ui-bizagi-render-icon-getUser-clear"></i>
            </button>
        </div>
    </div>
</script>