/* FORM
========================================*/

.ui-bizagi-form {
    color: #6b7e87;
    font-size: 15px;
    padding: 0 0 1% 0;
    background:#f2f2f2;
    margin:2%;
    margin: 30px 5px 0 5px;
}

.ui-bizagi-form-warnings, .ui-bizagi-form-errors {
    list-style: none;
    text-align: center;
    width: 90%;
    border: solid #FFF 3px;
    position: relative;
    margin: 26px auto;
    font-weight: bold;
    color: #555;
}

.ui-bizagi-container-search-criteria{
    
}

.ui-bizagi-form-warnings {
    background-image: -webkit-gradient( linear, left top, left bottom, from(hsl(50,100%,70%)), to(hsl(50,100%,60%)) );
}

.ui-bizagi-form-errors {
    background-image: -webkit-gradient( linear, left top, left bottom, from(hsla(0,80%,50%, .9)), to(hsla(0,60%,30%, .9)) );
}

.ui-bizagi-form-warnings li, .ui-bizagi-form-errors li {
    margin: 16px 0;
}

.ui-bizagi-form-warnings button, .ui-bizagi-form-errors button {
    -webkit-appearance: none;
    color: #FFF;
    text-transform: uppercase;
    border: transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(.5, hsla(0, 0%, 80%, .6)), color-stop(.5, hsla(0, 0%, 80%, .4)));
    position: absolute;
    width: 24px;
    height: 24px;
    right: 10px;
    top: 14px;
    font-size: 10px;
    color: #444;
}

/* RENDERS
========================================*/

.ui-bizagi-render
{
    padding: 15px 10px;
    border-bottom: 1px solid #c0c6cb;
    display: -webkit-box;
    position: relative;
}

.ui-bizagi-render-block:first-child
{
    padding: 15px 10px;
    border-bottom: 1px solid #c0c6cb;
    display: block;
    position: relative;
    border-radius: 0 0 8px 8px;
    background-color: #ececec;
}

.ui-bizagi-render-block
{
    padding: 15px 10px;
    border-bottom: 1px solid #c0c6cb;
    display: block;
    position: relative;
    border-radius: 8px;
    background-color: #ececec;
}

.ui-bizagi-render.ui-bizagi-state-loading > .ui-bizagi-label,
.ui-bizagi-render.ui-bizagi-state-loading > .ui-bizagi-render-control,
.ui-bizagi-render.ui-bizagi-state-loading > .ui-bizagi-helptext {
    opacity: 0.3;
}

.ui-bizagi-render-loading.ui-bizagi-loading 
{
    position: absolute;	
    background-image: url('images/waiting.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 98% !important;
    min-height: 32px;
    top: 8px;
    bottom: 8px;
    float: left;
}

/*.ui-bizagi-render:last-child { border-bottom: none; }*/

.ui-bizagi-render-error:before
{
    background: -webkit-gradient( linear, left top, left bottom, from(hsl(0,65%,50%)), to(hsl(0,75%,50%)));
    color: #FFF;
    font: 12px Helvetica, Arial, Georgia, sans-serif;
    padding: 5px 10px;
    content: attr(data-error);
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    right:18px;
    top:-17px;  
    z-index:101;
}
.ui-bizagi-render-error-firstControl:before {
    background: -webkit-gradient( linear, left top, left bottom, from(hsl(0,65%,50%)), to(hsl(0,75%,50%)));
    color: #FFF;
    font: 12px Helvetica, Arial, Georgia, sans-serif;
    padding: 5px 10px;
    content: attr(data-error);
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    right:18px;
    top:0px;  
    z-index:101;
}
.ui-bizagi-render-grid-container.ui-bizagi-render-error:before {
    top: auto;
    bottom: 39px;
    right: 65px;
}
.ui-bizagi-render-grid-container.ui-bizagi-render-error:after {
    border-color: transparent transparent #DF2020 transparent;
    top: auto;
    right: 78px;
    bottom: 64px;
}

/* Triangle */
.ui-bizagi-render-error:after {
    border-width: 8px;
    border-style: solid;
    border-color: hsl(0,75%, 50%) transparent transparent transparent;
    display: block;
    content: "";
    height: 1px;
    width: 1px;
    position: absolute;
    top: 8px;
    right: 35px;
    z-index: 102;
}

.ui-bizagi-render-error-firstControl:after {
    border-width: 8px;
    border-style: solid;
    border-color: hsl(0,75%, 50%) transparent transparent transparent;
    display: block;
    content: "";
    height: 1px;
    width: 1px;
    position: absolute;
    top: 23px;
    right: 35px;
    z-index: 102;
}


.ui-bizagi-render .ui-bizagi-render-control-required
{
    width: 13px;
    background-color: rgb(230, 230, 230);
    position: absolute;
    top: 0;
    bottom: 0px;
    padding: 0;
    padding-left: 0px;
    left: 0;
}

.ui-bizagi-render-control-required:before {
    content: "*";
    position: absolute;
    top: 50%;
    left: 2px;
    color: #B20000;
    font-size: 22px;
    margin-top: -9px;
}

/* HELP TEXT
========================================*/
.ui-bizagi-helptext {
    -webkit-box-pack: center;
    margin: 0 0 0 4px;
}

.ui-bizagi-helptext-msg:before {
    background: -webkit-gradient( linear, left top, left bottom, from(hsl(200,30%,40%)), to(hsl(200,30%,40%)));
    color: #FFF;
    font: 12px Helvetica, Arial, Georgia, sans-serif;
    padding: 5px 10px;
    content: attr(data-helptext);
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    right: 0px;
    top: -16px;
    z-index: 101;
}

/* Triangle */
.ui-bizagi-helptext-msg:after {
    border-width: 8px;
    border-style: solid;
    border-color: hsl(200,30%,40%) transparent transparent transparent;
    display: block;
    content: "";
    position: absolute;
    top: 8px;
    right: 24px;
    z-index: 102;
}


.ui-bizagi-helptext-msg-down:before {
    background: -webkit-gradient( linear, left top, left bottom, from(hsl(200,30%,40%)), to(hsl(200,30%,40%)));
    color: #FFF;
    font: 12px Helvetica, Arial, Georgia, sans-serif;
    padding: 6px 10px;
    content: attr(data-helptext);
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    right: 0px;
    top: 43px;
    z-index: 101;
}


.ui-bizagi-helptext-msg-down:after {
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent hsl(200,30%,40%) transparent;
    display: block;
    content: "";
    position: absolute;
    top: 28px;
    right: 23px;
    z-index: 102;
}

/* RENDER RADIO
========================================*/
.ui-bizagi-render-boolean-yesno
{
    height: auto;
	min-width: 49px;
	margin: 0 0 0 10px;
}

.ui-bizagi-render-boolean-radio
{
    background:url('../../../../common/jquery.ui/css/tablet/images/ui-radiobutton.png') no-repeat !important;
    background-position:-10px -18px !important;
    width: 23px;
    height: 23px;
    display: inline;
    padding: 1px 10px 11px 25px;    
}

.ui-bizagi-render-boolean-radio.ui-radio-state-hover,
.ui-bizagi-render-boolean-radio.ui-radio-state-highlight {
	background-position: -10px -114px !important;
}
.ui-bizagi-render-boolean-radio.ui-radio-state-checked {
	background-position: -10px -218px !important;
}

/* RENDER CHECKBOX
========================================*/
.ui-checkbox {
    background-color: #D6D6D6;
    border: 1px solid #BDBDBD;
    border-radius: 4px;    
}

.ui-checkbox label{
    
    display: block;
    width: 20px;
    height: 20px;
}

.ui-checkbox .ui-checkbox-state-checked
{        
    background:url('../../../../common/base/css/tablet/android/images/bizagi-tablet-sprite-s.png') no-repeat;
    background-position: -366px -138px !important;
    background-color: #185891;
}

.ui-checkbox-align-right {
    margin: 0 0 0 90%;
}

/* RENDER DISPLAY TYPES
========================================*/

.ui-bizagi-render-display-normal {
    -webkit-box-orient: horizontal;
}

.ui-bizagi-render.ui-bizagi-render-display-normal > .ui-bizagi-render-boolean-yesno
{
    /*margin: 0 0 0 40%;*/
}

.ui-bizagi-render-display-normal > div {
    display: -webkit-box;
    box-sizing: border-box;
    -webkit-box-align: center;
}

.ui-bizagi-render-display-normal > div:nth-child(1) {
    -webkit-box-ordinal-group: 1;
    width: 45%;
    padding: 0 8px;
}
/*.ui-bizagi-label*/
.ui-bizagi-render-display-normal > div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
    width: 50%;
    padding: 0 5px;
}
/*.ui-bizagi-render-control*/
.ui-bizagi-render-display-normal > div:nth-child(3) {
    -webkit-box-ordinal-group: 3;
    width: 5%;
}
/*.ui-bizagi-helptext*/

.ui-bizagi-render-display-reversed {
    -webkit-box-orient: horizontal;
}

.ui-bizagi-render-display-reversed > div {
    display: -webkit-box;
    box-sizing: border-box;
    -webkit-box-align: center;
}

.ui-bizagi-render-display-reversed > div:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    width: 50%;
    padding: 0 5px;
}
/*.ui-bizagi-label*/
.ui-bizagi-render-display-reversed > div:nth-child(2) {
    -webkit-box-ordinal-group: 1;
    width: 45%;
    padding: 0 5px;
}
/*.ui-bizagi-render-control*/
.ui-bizagi-render-display-reversed > div:nth-child(3) {
    -webkit-box-ordinal-group: 3;
    width: 5%;
}
/*.ui-bizagi-helptext*/

.ui-bizagi-render-display-label {
    -webkit-box-orient: horizontal;
}

.ui-bizagi-render-display-label > div {
    display: -webkit-box;
    box-sizing: border-box;
    -webkit-box-align: center;
}

.ui-bizagi-render-display-label > div:nth-child(1) {
    -webkit-box-ordinal-group: 1;
    width: 95%;
    padding: 0 5px;
    overflow: hidden;
}
/*.ui-bizagi-label*/
.ui-bizagi-render-display-label > div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
    display: none;
}
/*.ui-bizagi-render-control*/
.ui-bizagi-render-display-label > div:nth-child(3) {
    -webkit-box-ordinal-group: 3;
    width: 5%;
}
/*.ui-bizagi-helptext*/

.ui-bizagi-render-display-value {
    -webkit-box-orient: horizontal;
}

.ui-bizagi-render-display-value > div {
    display: -webkit-box;
    box-sizing: border-box;
    -webkit-box-align: center;
}

.ui-bizagi-render-display-value > div:nth-child(1) {
    -webkit-box-ordinal-group: 1;
    display: none;
    padding: 0 5px;
}
/*.ui-bizagi-label*/
.ui-bizagi-render-display-value > div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
    width: 95%;
}
/*.ui-bizagi-render-control*/
.ui-bizagi-render-display-value > div:nth-child(3) {
    -webkit-box-ordinal-group: 3;
    width: 5%;
}
/*.ui-bizagi-helptext*/

.ui-bizagi-render-display-vertical {
    -webkit-box-orient: vertical;
}

.ui-bizagi-render-display-vertical > div {
    display: -webkit-box;
    box-sizing: border-box;
    -webkit-box-align: center;
}

.ui-bizagi-render-display-vertical > div:nth-child(1) {
    -webkit-box-ordinal-group: 1;
    width: 100%;
    padding: 0 5px;
}
/*.ui-bizagi-label*/
.ui-bizagi-render-display-vertical > div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
    width: 100%;
    padding: 0 5px;
}
/*.ui-bizagi-render-control*/
.ui-bizagi-render-display-vertical > div:nth-child(3) {
    -webkit-box-ordinal-group: 2;
    width: 5%;
}
/*.ui-bizagi-helptext*/

.ui-bizagi-render-align-left {
    -webkit-box-pack: start;
    -webkit-box-align: left;
}

.ui-bizagi-render-align-center {
    -webkit-box-pack: center;
}

.ui-bizagi-render-align-right {
    -webkit-box-pack: end;
}

/* BUTTONS
========================================*/
.ui-bizagi-button-container, .ui-slide-button-container {
    display: block;
    text-align: center;
    margin: 26px 0;
}

 .ui-slide-button-container {
 	height: 150px;
 }

.ui-bizagi-button-container .ui-button {
}

.ui-bizagi-button-container input[type="button"], .ui-bizagi-button-container button, .ui-slide-button-container input[type="button"], .ui-slide-button-container button {
    margin: 5px 24px !important;
    padding: 8px 17px;
    color: hsl(0, 0%, 87%);
    border: 1px solid #155073;
    background-color: #0f3558;
    font-size:14px;
}

.ui-bizagi-button-container button:disabled {
    opacity: 0.3;
    color: lightgray;
}

/* CONTAINERS
========================================*/
.ui-bizagi-form-group {
    margin: 10px 5px 0 5px;
    position: relative;
}

.ui-bizagi-form-group > h1 {
    color: #31414C;
    padding: 10px 45px 10px;
    font-size: 13px;
    border-bottom: 1px solid #185891;
    text-transform: uppercase;
    min-height:16px;
}

.ui-bizagi-form-group .arrow {
    position: absolute;
}

.ui-bizagi-form-group .arrow.up {
    top: 9px;
    background-color: #185891;
    background-position: -90px -95px;
    padding:0 0 9px 6px;
    margin:-7px 5px 10px 0;
    height:25px;
    width:29px;
}

.ui-bizagi-form-group .arrow.down {
    top: 9px;
    background-color: #185891;
    background-position: -42px -95px;
    padding:0 0 9px 6px;
    margin:-7px 5px 10px 0;
    height:25px;
    width:29px; 
}

.childrenContainer {
    height: auto;
    margin-top:-8px;
    border-bottom:none;
}

.childrenContainer:last-child
{
    border-bottom:none;
}

.childrenContainer.hideGroup {
    height: 0px;
}

/* GRID RENDERS
========================================*/
.ui-bizagi-grid-cell .ui-bizagi-render {
    padding: 0px;
    border-bottom: 0px solid transparent;
}

/*  WIDGET SLIDER STYLES */
.slide-container{
    width: 100%;
    background: hsl(0,0%,85%);
    padding-bottom: 5px;
    overflow: auto;
    /*position: absolute;*/
     position: relative;        
    top:0;
    left:0;
   /* padding-top:40px;*/
    min-height: 60%;
    height: auto;
}


.slide-container .ui-bizagi-form {
    overflow-y: scroll;
    -webkit-overflow-scroll: auto !important;
    padding-bottom: 0px !important; 
    display:block;
}

@-webkit-keyframes slideFormEntrance
{
    0% { -webkit-transform: translate3d(0,-4000px,0); }
100% { -webkit-transform: translate3d(0,0,0); }
}

@-webkit-keyframes slideFormExit
{
    0% { -webkit-transform: translate3d(0,0,0); }
100% { -webkit-transform: translate3d(0,-4000px,0); }
}

.slide-container .slide-bt-container{
    display: block;
    text-align: center;
    margin-bottom: 40px;
}



/* Scrolling Attachments */

#scroll-wrap {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: scroll;
}

@media only screen and (orientation:landscape) {
    #scroll-wrap {
        position: relative;
        width: 100%;
        height: 500px;
        overflow: scroll;
    }
}

@media only screen and (orientation:portrait) {
    #scroll-wrap {
        position: relative;
        width: 100%;
        height: 800px;
        overflow: scroll;
    }
}


#scroll-overlay 
{
    position: absolute;/*
    /* set the width and height equal to the iframe’s */
    width: 100%;
    height: 94000px;
    overflow:visible;
}
iframe 
{
    height: 94000px;
    overflow:visible;
    /*background:red;*/
    /*height:20000px !important;	*/
}


/*TABS*/

.ui-bizagi-form .ui-bizagi-container .ui-tabs .ui-tabs-nav li.ui-tabs-active
{
    margin-bottom: 0;
    padding-bottom: 1px;
    background: #C3C7CB;
    border-top: 1px solid white;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin-left:7px;
    margin-left:5px;
    width:auto;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active
{
    margin-bottom: 0;
    padding-bottom: 1px;
    background: #f2f2f2;
    border-top: 1px solid white;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin-left:7px;
    margin-left:5px;
    width:24%;
    box-shadow:none;
}



.ui-bizagi-form .ui-tabs.ui-widget-content
{
    background: #e6e6e6;
    border-top:1px solid white;
}

.ui-tabs .ui-tabs-nav
{
    background:transparent !important;
    border:none !important;    
}


.ui-bizagi-container.ui-bizagi-container-tabItem .childrenContainer
{
	background:transparent;
}



.ui-bizagi-container-contentpanel
{
margin: 10px 5px 0 5px;
position: relative; 

}

.ui-bizagi-container-contentpanel .ui-bizagi-container-contentpanel-header
{
   color: #31414C;
padding: 10px 45px 10px;
font-size: 13px;
border-bottom: 1px solid #185891;
text-transform: uppercase;
}

/* OTHERS
============================*/

.ui-bizagi-fix-title {
    display: inline-block;
    padding-left: 3px;
    padding: 4px 0px 4px 10px;
}