﻿<script id="bz-rp-analytics-process-cycletime-main" type="text/x-jquery-tmpl">
<div class="row">
    <div class="large-4 columns">
        <div class="bz-rp-report">
            {{component analytics-process-cycletime-caseduration}}
        </div>
    </div>
    <div class="large-4 columns">
        <div class="bz-rp-report">
            {{component analytics-process-cycletime-casestatus}}
        </div>
    </div>
    <div class="large-4 columns">
        <div class="bz-rp-report">
            {{component analytics-process-cycletime-summary}}
        </div>
    </div>
</div>
</script>

<script id="bz-rp-analytics-process-cycletime-summary" type="text/x-jquery-tmpl">
    <table class="bz-rp-summary">
        <thead>
            <tr>
                <th colspan="2">
                    <span class="bz-rp-summary-head">%{analytics-process-cycletime-summary-title}</span>
                    <i class="bz-rp-icon bz-rp-icon-24 bz-rp-icon-export-excel-dark bz-rp-export-excel"></i>
                    <i class="bz-rp-icon bz-rp-icon-24 bz-rp-icon-toggle-summary bz-rp-toggle-summary"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>%{analytics-process-cycletime-closed}</th>
                <td>${closedCases}</td>
            </tr>
            <tr>
                <th>%{analytics-process-cycletime-avgduration}</th>
                <td>${averageDuration}</td>
            </tr>
            <tr>
                <th>%{analytics-process-cycletime-expduration}</th>
                <td>${expectedDuration}</td>
            </tr>
            <tr>
                <th>%{analytics-process-cycletime-stddevitation}</th>
                <td>${stardardDeviation}</td>
            </tr>
            <tr>
                <th>%{analytics-process-cycletime-ontimecases}</th>
                <td>${totalAccomplishedCases}</td>            
            </tr>
        </tbody>
    </table>
</script>

<script id="bz-rp-analytics-process-cycletime-caseduration" type="text/x-jquery-tmpl">
    <div class="bz-rp-chart">
        <div class="custom-overlay"><p class="message">%{bz-rp-nodata}</p></div>
    </div>
    <div class="bz-rp-info">
        <h6 class="bz-rp-info-breadcrumb">%{analytics-title} / %{analytics-process-cycletime-title} / %{analytics-process-cycletime-caseduration-title}</h6>
        <h3 class="bz-rp-info-title">%{analytics-process-cycletime-caseduration-title}</h3>
        <p class="bz-rp-info-description">%{analytics-process-cycletime-caseduration-description}</p>
    </div> 
    </script>

    <script id="bz-rp-analytics-process-cycletime-casestatus" type="text/x-jquery-tmpl">
    <div class="bz-rp-chart">
        <div class="custom-overlay"><p class="message">%{bz-rp-nodata}</p></div>
    </div>
    <div class="bz-rp-info">
        <p class="bz-rp-info-breadcrumb">%{analytics-title} / %{analytics-process-cycletime-title} / %{analytics-process-cycletime-casestatus-title}</p>
        <h3 class="bz-rp-info-title">%{analytics-process-cycletime-casestatus-title}</h3>
        <p class="bz-rp-info-description">%{analytics-process-cycletime-casestatus-description}</p>
    </div>
</script>