/**
 * Theme for jQRangeSlider
 * Inspired by http://cssdeck.com/item/381/itunes-10-storage-bar
 *        and http://cssdeck.com/item/276/pure-css-arrow-with-border-tooltip
 */

.ui-rangeSlider,
.ui-rangeSlider-container,
.ui-rangeSlider-arrow {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

    height: 30px;
}

.ui-rangeSlider-withArrows .ui-rangeSlider-container {
    box-shadow: inset 0 1px 6px 0 rgba(50, 50, 50, .2);
    margin: 0 24px;
}

.ui-rangeSlider-noArrow .ui-rangeSlider-container {
    border-radius: 4px;
    border-left: 1px solid #515862;
    border-right: 1px solid #515862;
}

.ui-rangeSlider-disabled.ui-rangeSlider-noArrow .ui-rangeSlider-container {
    border-color: #8490a3;
}

.ui-rangeSlider-container,
.ui-rangeSlider-arrow {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #e2e2e2;
}

.ui-rangeSlider-disabled .ui-rangeSlider-container,
.ui-rangeSlider-disabled .ui-rangeSlider-arrow {
    border-top-color: #49576b;
    border-bottom-color: #9ca7b3;
}

.ui-rangeSlider-container,
.ui-rangeSlider-arrow,
.ui-rangeSlider-label {
    background: #fff;
}

.ui-rangeSlider-disabled .ui-rangeSlider-container,
.ui-rangeSlider-disabled .ui-rangeSlider-arrow,
.ui-rangeSlider-disabled .ui-rangeSlider-label {
    background: #95a4bd;
    background: -moz-linear-gradient(top, #95a4bd 0%, #b2bbd8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95a4bd), color-stop(100%,#b2bbd8));
}

.ui-rangeSlider-arrow {
    width: 24px;
    cursor: pointer;
}

.ui-rangeSlider-leftArrow {
    border-radius: 4px 0 0 4px;
    border-left: 1px solid #ddd;
}

.ui-rangeSlider-disabled .ui-rangeSlider-leftArrow {
    border-left-color: #8792a2; 
}

.ui-rangeSlider-rightArrow {
    border-radius: 0 4px 4px 0;
    border-right: 1px solid #ddd;
}

.ui-rangeSlider-disabled .ui-rangeSlider-rightArrow {
    border-right-color: #8792a2; 
}

.ui-rangeSlider-arrow-inner {
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    margin-top: -5px;
}

.ui-rangeSlider-leftArrow .ui-rangeSlider-arrow-inner {
    left: 0;
    border-right: 6px solid #bbb;
    margin-left: 3px;
}

.ui-rangeSlider-leftArrow:hover .ui-rangeSlider-arrow-inner {
    border-right: 6px solid #ccc;
}

.ui-rangeSlider-disabled .ui-rangeSlider-leftArrow .ui-rangeSlider-arrow-inner,
.ui-rangeSlider-disabled .ui-rangeSlider-leftArrow:hover .ui-rangeSlider-arrow-inner {
    border-right-color: #bbc0cf;
}

.ui-rangeSlider-rightArrow .ui-rangeSlider-arrow-inner {
    right: 0;
    border-left: 6px solid #bbb;
    margin-right: 3px;
}

.ui-rangeSlider-rightArrow:hover .ui-rangeSlider-arrow-inner {
    border-left: 6px solid #ccc;
}

.ui-rangeSlider-disabled .ui-rangeSlider-rightArrow .ui-rangeSlider-arrow-inner,
.ui-rangeSlider-disabled .ui-rangeSlider-rightArrow:hover .ui-rangeSlider-arrow-inner {
    border-left-color: #bbc0cf;
}

.ui-rangeSlider-innerBar {
    width: 110%;
    height: 100%;
    left: -10px;
    overflow: hidden;
}

.ui-rangeSlider-bar {
    bottom: 0;
    margin: 0;
    background: #293f55;
    cursor: grab;
    cursor: -moz-grab;
    cursor: move;
}

.ui-rangeSlider-disabled .ui-rangeSlider-bar {
    -webkit-box-shadow: inset 0 2px 6px rgba(0, 0, 0, .3);
     -moz-box-shadow: inset 0 2px 6px rgba(0, 0, 0, .3);
          box-shadow: inset 0 2px 6px rgba(0, 0, 0, .3);
    background: #93aeca;
}

.ui-rangeSlider-handle {
    top: -4px !important;
    bottom: 0;
    width: 24px;
    height: auto;
    background: url(../../../common/css/images/biz-rp-icons-sprite.png) no-repeat -96px 0;
    cursor: col-resize;
}

@media  only screen and (-webkit-min-device-pixel-ratio: 2 ), only screen and (min-device-pixel-ratio: 2) {
    .ui-rangeSlider-handle {
        background: url(../../../common/css/images/biz-rp-icons-sprite-2x.png) -96px 0;
        background-size: 120px 144px;
    } 
}

.ui-rangeSlider-label {
    box-shadow: 0px 1px 0px #ddd;
    bottom: 32px;
    padding: .5em 1em;
    border-radius: 4px;
    color: #444;
    font-size: 1em;
    cursor: col-resize;
}

.ui-rangeSlider-label-inner {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 99;
    border-top: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    margin-left: -10px;
}

.ui-rangeSlider-disabled .ui-rangeSlider-label-inner {
    border-top-color: #b2bbd8; 
}

.ui-rangeSlider-label-value { font-weight: normal; }

.ui-editRangeSlider-inputValue {
    width: 2em;
    text-align: center;
    font-size: 15px;
}

.ui-rangeSlider .ui-ruler-scale {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ui-rangeSlider .ui-ruler-tick { 
    float: left; 
}

.ui-rangeSlider .ui-ruler-scale0 .ui-ruler-tick-inner {
    position: relative;
    height: 29px;
    padding-left: 2px;
    border-left: 1px solid white;
    margin-top: 1px;
    color: #fff;
}

.ui-rangeSlider .ui-ruler-scale0 .ui-ruler-tick-label {
    position: absolute;
    bottom: 6px;
}

.ui-rangeSlider .ui-ruler-scale1 .ui-ruler-tick-inner {
    height: 5px;
    border-left: 1px solid #fff;
    margin-top: 25px;
}