<script id="interface-frame-empty" type="text/x-jquery-tmpl">
    <div class="interface-container ui-control-container">
        <label class="interface-name">${caption}</label>
        <div class="interface-rule-value">
                <div class="biz-complex-btn biz-action-btn ui-corner-left defaultvalue-button-value" title="${title}">
                </div>
                <div class="biz-complex-btn biz-complex-dropdown ui-corner-right biz-complex-btn-container">
                    <div class="biz-action-btn"><i class="biz-ico interface-image-external" title="%{formmodeler-component-editor-interface-create}"></i></div>
                </div>
        </div>
    </div>
</script>

<script id="interface-frame-rule" type="text/x-jquery-tmpl">
    <div class="interface-container ui-control-container">
        <label class="interface-name">${caption}</label>
        <div class="interface-rule-value">
                <div class="biz-complex-btn biz-action-btn ui-corner-left defaultvalue-button-value" title="${title}">
                    <span class="interface-rule-value-caption">${nameRule}</span>
                </div>
                <div class="biz-complex-btn biz-complex-dropdown ui-corner-right biz-complex-btn-container">
                    <div class="biz-action-btn"><i class="biz-ico interface-image-rule-delete" title="%{formmodeler-component-editor-all-delete-value}"></i></div>
                    <div class="biz-action-btn"><i class="biz-ico interface-image-external" title="%{formmodeler-component-editor-interface-edit}"></i></div>
                </div>
        </div>
    </div>
</script>