html {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 0;
    margin: 0;
}
body {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

html,
body,
.biz-theme-builder {
    overflow: auto!important;
    background-color: #29343A!important;
    color: #444!important;
    min-width: 1362px;
}

img {
    border:0!important;
}

div[class^="biz-layout-panel"] {
    float:left;
    vertical-align:top;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body .ui-tooltip {
    box-shadow: none;
    border: 0;
    border-radius: 4px;
    background: rgb(70, 81, 88); /* IE8 Fallback*/
    background: rgba(70, 81, 88, 0.95);
    color: #fff;
    font-size: 12px;
    line-height: 1.25;
}


.biz-theme-ellipsis {
    overflow: hidden;
    display: inline-block;
    width: 75%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h4.biz-theme-ellipsis { width: 60%; }

.biz-layout-panel-container {
    width:100%;
    float: none;
}

.biz-layout-panel-left {
    background: #29343A !important;
    width: 350px;    
}

div.biz-layout-panel-right {
    margin-left: 350px;
    float: none;
}

div.biz-layout-panel-right > div {
    border-radius: 0;
    border: none;
}

.biz-ui-actions-bar,
.biz-ui-control-list {
    padding:0;
    padding-bottom: 30px;
}

.biz-theme-control {
    padding:10px 8px;
    display: inline-block;
}

.biz-theme-control input,
.biz-theme-control label {
    display: block;
}

.biz-theme-control label {
    margin-bottom: 3px;
    font-size: .75rem;
}

.biz-ui-hide {
    display: none!important;
}

.biz-theme-radio{
    position:relative;
    height:20px;
    width:20px;
    margin-top: 14px;
    cursor:pointer;
}

.biz-theme-radio-control {
    background-image: url(img/sprite-radios.png);
    background-position: 0 0;
    height: 20px;
    width: 20px;
}

.biz-theme-separator-ltr {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 .25em;
    background: url(img/sprite-icons.png) no-repeat;
    text-indent: -999em;
    line-height: 14px;
}

.biz-theme-radio-off .biz-theme-radio-control{
    background-position: -20px 0;
}


.biz-theme-switch-control{
    position:absolute;
    display:block;
    width:25px;
    height:25px;
    background-color:black;
    border-radius: 20px;
}

.biz-theme-switch {
    position: relative;
    height: 25px;
    width: 50px;
    background-color: #161c1f;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 25px;
    font-size: .75em;
    line-height: 25px;
}


.biz-theme-switch-on .biz-theme-switch-control {
    background-color: #40658c;
    left: 100%;
    margin-left: -25px;
}

.biz-theme-switch:after,
.biz-theme-switch:before {
    width: 25px;
    color: rgba(255, 255, 255, .5);
}

.biz-theme-switch-off:before,
.biz-theme-switch-on:after {
    color: #fff;

}

.biz-theme-switch:after {
    content: '';
    position: absolute;
    right: 0;
    font-weight: bold;
    text-align:center;
}

.biz-theme-switch:before {
    content:'';
    position: absolute;
    left: 0px;
    z-index: 2;
    text-align: center;
}

.biz-theme-switch-off .biz-theme-switch-control {
    left: 0;
    background-color: #bb2f35;
}

.biz-layout-panel-preview{
    width: 100%;
}

.biz-ui-theme-panel-device{
    width: 100%;
    border: none;
}

#panelControls{
    background: url(img/bg_go.png) 0 0 repeat #fff;
    font-family: 'Helvetica Neue', Helvetica Neue, Arial, Sans-Serif;
    font-style: normal;
    color:White;
}

header{
    background: #254567;
    font-family: 'Helvetica Neue', Helvetica Neue, Arial, Sans-Serif;
    font-style: normal;
    color:White;
    height:88px;
    font-weight:100;
}

pre{
    background-color: #f5f5f5;
    display: block;
    padding: 8.5px;
    margin: 0 0 18px;
    line-height: 18px;
    font-size: 12px;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}


ol.linenums{
    margin:0!important;
}

div.clearfix[class^="biz-layout-panel"]{
    float:none;
}

div.clearfix[class^="biz-layout-panel"]:before,
div.clearfix[class^="biz-layout-panel"]:after,
.clearfix:before,
.clearfix:after{
    display: table;
    line-height: 0;
    content: "";
    float: none;
}

.biz-theme-category:last-child .biz-theme-controls-item:last-child h3 { margin-bottom: 0; }

.biz-theme-category h3 {
    position: relative;
    background-color: #252F35;
    border-radius: 0;
    margin: 0 0 5px 0;
    padding: 10px 10px 10px 20px;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 100;
    font-size: .95rem;
    height: 24px;
    text-indent: 11px;
    line-height: 24px;
}

.biz-theme-category h3:hover,
h3.biz-active {
    background-color: #161c1f;
}

.biz-ui-icon {
    background-image: url(jquery/images/ui-icons_888888_256x240.png);
}

.biz-ui-theme-part .biz-ui-button.biz-theme-publish.biz-ui-active {
    background: #40658c;
}

.biz-ui-theme-part .biz-ui-button.biz-theme-publish.biz-ui-active .biz-ui-icon {
    background-image: url(jquery/images/ui-icons_ffffff_256x240.png);
}

.biz-ui-theme-part .biz-theme-publish:hover {
    background: #40658c;
}

.biz-ui-theme-part .biz-theme-delete:hover {
    background: #bb2f35;
}

.biz-ui-theme-part .biz-theme-publish:hover .biz-ui-icon,
.biz-ui-theme-part .biz-theme-delete:hover .biz-ui-icon {
    background-image: url(jquery/images/ui-icons_ffffff_256x240.png);
}

.biz-ui-theme-part.biz-ui-active {
    background: #161c1f !important;
}


.biz-ui-link{
    color: #FFF;
    font-family: 'Helvetica Neue', 'Helvetica Neue', Arial, sans-serif;
    margin:2rem 0 0 3rem;
    line-height: 35px;
}

.biz-theme-options-counter{
    background-color: #B91E1E;
    border-radius: 3px;
    border: solid 1px #AA1C1C;
    color:#fff;
    font-size: 9px;
    padding: 0 2px;
    position: absolute;
    top: 6px;
    margin-left: 10px;
    font-weight: normal;
}

.biz-theme-controls{
    margin: 0 0 4px 0;
    background-color: #1F282C;
    border:solid 1px transparent;
}

.biz-ui-thumbs-theme{
    margin: 0 4px 2px 28px;
    position:absolute;
    left: 0;
    top: 0;
    height:100%;
    width:7px;
}

.biz-ui-thumbs-theme span{
    display: inline-block;
    width: 10px;
    height: 10px;
    float: left;
    /*border:solid 1px #29343A;*/
}

.biz-ui-thumbs-theme span:first-child{
    display: inline-block;
}

.biz-ui-theme-control .biz-ui-thumbs-theme span{
    display: inline-block;
}

.biz-ui-theme-part .biz-ui-thumbs-theme {
    height: auto;
    width: 26px;
    margin-left: 6px;
    margin-top: 10px;
    display: inline-block;
}

.biz-ui-selected-theme .biz-ui-thumbs-theme{
    margin: 0;
    position: absolute;
    right: 2px;
    left: auto;
    bottom: 5.5%;
    height: 93%;
    width: auto;
}

.biz-ui-selected-theme .biz-ui-thumbs-theme span{
    margin-right: 1px;
    height: 100%;
}

.biz-theme-controls .biz-ui-theme-part
{
    height:40px;
    background:transparent;
    position:relative;
    margin:5px 0 5px 0;
}

.biz-theme-controls .biz-ui-theme-part:hover,
.biz-theme-controls .biz-ui-theme-part.active {
    background:#161c1f;
}

.biz-theme-button-side-bar .biz-theme-publish,
.biz-theme-button-side-bar .biz-theme-delete {
    background: #161c1f;
    border-radius: 4px;
    color: #fff;
    border: none;
    padding: 4px 10px;
    margin: 2px;
}

.biz-ui-button-spacer{
    width:40px;
    display: inline-block;
}



.biz-theme-button-side-bar {
    position: absolute;
    top: 5px;
    right: 3px;
}



.biz-ui-theme-part h4 {
    margin: 2px 0;
    padding: 10px 0 0 36px;
    font-weight: 100;
    font-size: 14px;
    display: inline-block;
}
.biz-theme-options-shortcut{
    position: absolute;
    right: 4px;
    top: -1px;
    height: 100%;
    margin: 0 0 5px 0;
}
.biz-theme-options-shortcut span{
    display: inline-block;
    width:20px;
    height: 43px;
    border:solid 1px transparent;
}

.biz-theme-options-shortcut span.noColor{
    min-width: 150px;

    line-height: 40px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    text-align: right;
    padding-right: 10px;

}

.biz-theme-options-shortcut span:hover{
    border:solid 1px #666;
}

.biz-theme-options-shortcut .font-dropdown:hover{
    background-color: #0A0E0F;
    border:1px solid transparent;
}

.biz-theme-options-shortcut span.font-dropdown{
    padding-right: 40px;
    position: relative;
}

.biz-theme-options-shortcut span.font-dropdown:after{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 6px 3px 0 3px;
    border-color: #ffffff transparent transparent transparent;
    content: " ";
    pointer-events: none;
    display: inline-block;
    vertical-align: middle;
    right: 10px;
    top: 40%;
    position: absolute;
}

.biz-theme-select .select{
    opacity: 0;
    transition: opacity 1s;
}


ul.select{
    list-style: none;
    padding: 0;
    margin: 0;
    height: auto;
    overflow-y: auto;
    border:solid 1px #161c1f;
}

.select li{
    padding: 4px 8px;
    cursor:pointer;
    line-height: 32px;
    font-size: 18px;
}

.select li:hover{
    background-color: #0E1214;
    color:#fff;
}



.biz-theme-select .select.isOpen{
    opacity: 1;
}

.biz-theme-select .select.isClose{
    opacity: 0;
    height: 0;
    width: 0;
}

.biz-theme-controls.isClose{
    display: none;
}

.biz-theme-controls.isOpen{
    display: block;
}




/*here's where the magic begins*/

#logo
{
	float: left;
	background: #18314F;
	width: 278px;
	height: 69px;
	padding: 10px 0 9px 72px;
}
#panelControls{
    position: relative;
}

#panelControls header {
    background: #161c1f;
    height: 20px;
    margin: 0 0 0 0;
    padding: 5px 0 20px 18px;
    font-weight:lighter;
}

.biz-ui-theme-button-bar {
    height: 47px;
    padding: 12px 0 0 0;
}

.sp-container button.sp-choose,
.ui-widget button,
.biz-ui-button,
.biz-ui-button.biz-theme-save {
    background: #40658c;
    color: #fff;
    border: none;
    padding: 7px 20px 7px 20px;
    border-radius: 4px;
    text-shadow: none;
    font-size: .75rem;
}

.sp-container button.sp-choose:hover,
.biz-ui-button:hover,
.biz-ui-button.biz-theme-save:hover { background: #507eaf; }


.biz-ui-actions-bar .biz-ui-theme-button-bar {
    background: #161c1f;
    border-bottom: 7px solid #1F282C;
    padding-left: 10px;
}

.sp-button-container{
    float: none;
}

.sp-input,
.sp-choose{
    width: 100%!important;
}

.sp-input-container {
    float: none;
    margin-top: 4px;
    margin-bottom: 8px;
}

.sp-container,
.sp-picker-container {
    overflow: visible;
}

.sp-picker-container,
.sp-picker-container, .sp-palette-container {
    padding-bottom: 10px;
    margin-bottom: 0;
}


.sp-button-container .sp-cancel {
    position: absolute;
    top: -10px;
    left: -10px;
    padding: 3px 7px;
    border-radius: 10px;
    background-color: #161c1f;
    color: #fff !important;
}

.sp-cancel:hover {
    background-color: #40658c;
    text-decoration: none;
}

.biz-ui-actions-bar .biz-ui-theme-button-bar .biz-ui-button.biz-theme-reset {
    padding: 7px;
    border: none;
    border-radius: 4px;
    background: #161c1f;
    color: #888888;
}

.biz-ui-actions-bar .biz-ui-theme-button-bar .biz-ui-button.biz-theme-reset:hover {
    background: #40658c;
    color: #fff;
}

.biz-ui-actions-bar .biz-ui-theme-control .biz-ui-button.biz-theme-auto-preview {
    visibility: hidden;
}

.biz-ui-theme-control label {
    display: block;
    font-size: .75rem;
    line-height: 22px;
}

.biz-ui-actions-bar {
    padding:0;
}

.biz-theme-controls-items .biz-theme-controls{
    background: transparent;
    position: absolute;
    top: 0;
    right: 4px;
}
.biz-theme-controls-item{
    position: relative;
    
}

.biz-theme-controls-item input{
    display: none;
}

.ui-tabs-nav.ui-widget-header {
    background: #fff;
    border: none;
    font-weight: 100;
    height: 64px;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.ui-tabs .ui-tabs-nav { padding: 0; }

.ui-tabs .ui-tabs-nav li {
    width: 165px;
    background: transparent;
    height: 64px;
    text-align: center;
    border: none;
    border-color: #ccc !important;
    border-right: 1px solid #ccc;
    border-radius:0;
    border-bottom: 0;
    margin: 0;

}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background: white !important;
    border-bottom: none !important;
    border-radius: 0;
    margin: 0;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a { border-bottom: 7px solid #40658c !important; }

.ui-tabs .ui-tabs-nav li a {
    display: block;
    width: 100%;
    height: 58px;
    padding: 0 2px 0 0;
    border-bottom: 7px solid transparent;
    margin-left: -1px;
    line-height: 56px;
    font-size: 16px!important;
}


.biz-theme-title-name {
    float: left;
    padding: 0;
    margin: 2rem 0 0 3rem;
    font-size: 1.4rem;
    font-weight: 100;
}

h2.biz-ui-up-category {
    position: relative;
    font-weight: 200;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 12px;
    margin-left: 0px;
}

h2.biz-ui-up-category:before {
    content:'';
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    border-top: 1px solid #3b3d3f;
    border-bottom: 1px solid #161c1f;
}

h2 {
    font-weight: 100;
    font-size: 18px;
    margin-left: 20px;
}

header h2 {
    margin-left:-5px;
}

.biz-theme-arrow-button {
    background: #161c1f;
    width: 25px;
    height: 45px;
    position: absolute;
    left: 0px;
    top: 0px;

}

.biz-theme-arrow {
    position: relative;
}


.biz-theme-arrow:after {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3px 0 3px 6px;
    border-color: transparent transparent transparent #ffffff;
    content: " ";
    pointer-events: none;
    display: inline-block;
    vertical-align: middle;
    margin-top: 50%;
    margin-left: -2px;
    margin-bottom: -4px;
}

.biz-active .biz-theme-arrow:after {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 6px 3px 0 3px;
    border-color: #ffffff transparent transparent transparent;
    content: " ";
    pointer-events: none;
    display: inline-block;
    vertical-align: middle;
    margin-top: 50%;
    margin-left: -2px;
    margin-bottom: -4px;
}



.sp-replacer
{
    background:#161c1f;
    border:none;
    margin-top: 3px;
}

.sp-preview
{
    width:50px;
    height:34px;
    border:none;
    margin:-5px 5px -5px -5px;
}


.upLevel{
    position: absolute;
    z-index: 400;
}

.biz-theme-controls-item .biz-theme-controls{
    border:none; 
}

.biz-theme-select .select{
    background: #161c1f !important;
}

.biz-theme-preloader{
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}

body > .biz-theme-preloader{
    z-index: 9000;
    background-color:rgba(255,255,255,0.9);
}

.biz-theme-preloader span{
    display: inline-block;
    width: 30%;
    text-align: center;
    top: 45%;
    left: 35%;
    position: absolute;
    font-size: 0.85em;
    z-index: 400;
    font-family: 'Helvetica Neue', Helvetica Neue, Arial, Sans-Serif;
}
.biz-ui-control-panel .biz-theme-preloader span{
    margin-top: 30px;
    color:#fff;
}

body > .biz-theme-preloader span{
    font-size: 1em;
}

.biz-theme-preloader span:before{
    content:'';
    position: absolute;
    width: 100%;
    top: -30px;
    left: 0;
    height: 30px;
    background: url(img/ajax-loader.gif) no-repeat center;
}
#panelControls .biz-theme-preloader,
.biz-ui-control-panel .biz-theme-preloader{
    opacity: 0.3;
    background-color: #161c1f;
}
#panelControls .biz-theme-preloader span:before,
.biz-ui-control-panel .biz-theme-preloader span:before{
    background: url(img/ajax-loader-blue.gif) no-repeat center;
}

.biz-ui-theme-preview{
    position: relative;
}

.biz-ui-control-panel{
    height: 800px;
    overflow-y: auto;
}


.biz-layout-tabs a {
    font-family: 'Helvetica Neue', Helvetica Neue, Arial, Sans-Serif!important;
    color: #594F77!important;
}

.biz-ui-button,
.biz-ui-theme-part { cursor: pointer; }

.biz-ui-button i,
.biz-ui-button span {
    display: inline-block;
    vertical-align: middle;
}

.biz-ui-button i + span {
    margin-left: 4px;
    margin-right: 6px;
}

.biz-theme-button-side-bar .biz-ui-button span {
    display: none;
}

.biz-theme-color-base h3 {
    padding-left: 20px;
}

.biz-theme-color-base .biz-theme-options-shortcut > span {
    width: 20px;
}

/**
    SEPECTRUM OVERRIDES
**/

.sp-dd {
    margin-top: 4px;
    color: #4E4E4E;
}

.sp-input,
.sp-container,
.sp-picker-container {
    background: #1F272C !important;
    border: 1px solid #161c1f !important;
}

.sp-hue {
    border: 1px solid #161c1f !important;
}

.sp-color,
.sp-sat {
    border: 1px solid #161c1f !important;
}

.sp-val {
    border: none;
}

.sp-input {
    color: #fff!important;
    border: 2px solid #111517 !important;
}

.sp-container button:active { box-shadow: none; }

.ui-dialog-titlebar,
.ui-dialog.ui-widget{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ui-dialog.ui-widget {
    background: none;
    background-color: #29343A !important;
    border: 1px solid #111517 !important;
    z-index: 999;
}

.ui-dialog .ui-dialog-title,
.ui-dialog-content {
    color: #fff!important;
}

.ui-dialog .ui-dialog-title {
    font-size: .95rem;
}
.ui-dialog-titlebar {
    background: #465158 !important;
    border: none;
}
.ui-dialog .ui-dialog-title {
    padding-left: 0px !important;
}

textarea,
input[type="text"] {
    padding: 6px;
    background: transparent!important;
    border:1px solid #697379!important;
    width: 97%;
    color:#fff!important;
}

hr.darkLine {
    border:none;
    border-top:1px solid #161c1f;
    border-bottom: 1px solid #697379;
}

.biz-ui-themes-list {
    position: relative;
    min-height: 50px;
}

.biz-ui-horizontal-align-tooltip {
    margin-left: 30px;
}

.biz-theme-thumbnail:before,
.biz-theme-thumbnail:after,
.biz-theme-thumbnail {
    background: none;
    background-color: transparent;
    box-shadow: none;
    border:none;
    max-width: 800px;
}

.biz-theme-thumbnail img {
    border-radius: 4px;
    border:solid 2px #fff;
}



/* Scrollbars para body */
::-webkit-scrollbar { width: 14px; }

::-webkit-scrollbar-track { background-color: #2B3033; }

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid #2B3033;
    background-color: #465158;
}

/* not authenticated and not allowed form*/

.biz-form-body {
    background: url('img/forms/dots_header.png'), -webkit-radial-gradient(center, ellipse cover, #384d63 0%,#1b2937 99%);
    background: url('img/forms/dots_header.png'), -moz-radial-gradient(center, ellipse cover, #384d63 0%, #1b2937 100%);
    background: url('img/forms/dots_header.png'), -ms-radial-gradient(center, ellipse cover, #384d63 0%,#1b2937 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#384d63', endColorstr='#1b2937',GradientType=1 );
    width: 100%;
}

#content-wrapper {
    width: 100%;
    margin: 0 auto;
    padding-top: 150px;
}

#content-wrapper .message-container {
    color: #f2f2f2;
    font-size: 20pt;
    font-family: "OriyaSangamMN","Thonburi","Roboto" "Droid Sans", Geneva, Arial,sans-serif;
    outline: 0;
    text-align: center;
}

#content-wrapper #header,
#content-wrapper #content {
    width: 540px;
    margin: 0 auto;
}

#biz-logo {
    background: url(img/forms/logobizagi-1-5x.png) 0 0 no-repeat;
    width: 375px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;   
}

.ui-tabs,
.ui-tabs .ui-tabs-panel { padding: 0; }

.ui-tabs-panel{
    overflow: hidden;
}

.ui-tabs, .ui-tabs .ui-tabs-panel{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


.biz-ui-control-panel:after{
    content:'';
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;

    background: -moz-linear-gradient(top,  rgba(22,28,31,0) 0%, rgba(22,28,31,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(22,28,31,0)), color-stop(100%,rgba(22,28,31,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(22,28,31,0) 0%,rgba(22,28,31,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(22,28,31,0) 0%,rgba(22,28,31,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(22,28,31,0) 0%,rgba(22,28,31,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(22,28,31,0) 0%,rgba(22,28,31,1) 100%); /* W3C */
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: none;
    background: #161c1f;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover {
    background: #40658c;
}


.ui-button-icon-only .ui-icon {
    left: 10px;
}

.ui-state-hover .ui-icon { background-image: url(jquery/images/ui-icons_ffffff_256x240.png); }


.invalid-theme:before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;

    background-color: #bb2f35;
    border-radius: 100%;

    left: 12px;
    top: 15px;
}

.invalid-theme .biz-ui-button.biz-theme-publish{
    display:none;
}

.invalid-theme.biz-ui-theme-part .biz-theme-delete {
    background: #bb2f35;
    color:#fff;
}

.invalid-theme.biz-ui-theme-part .biz-theme-delete .biz-ui-icon {
    background-image: url(jquery/images/ui-icons_ffffff_256x240.png);
}