.bz-wp-rn-main-container
{
    margin: 57px 7px 20px 7px;
    min-width: 280px;
}

/*.ui-bizagi-container-children-form
{
    border-radius:6px;
}*/

.ui-bizagi-container-children-form > div:last-child
{
    border-radius: 6px;
    margin-top: 5px;
}

/*.ui-bizagi-form > .ui-bizagi-container-children-form >.ui-bizagi-form-group > .headertitle .bz-rn-hd-title
{
    color: #31414C;
    position: relative;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 0 #D5D8DB;
}*/

.ui-bizagi-form > .ui-bizagi-container-children-form > .ui-bizagi-form-group:first-child > .headertitle
{
}


.bz-rn-expand.bz-rn-expand-active:after
{
 content: "\e626";
font: 1em/1em "bizagiflat";
color: #195891;
font-size: 20px;
padding: 0 0 0 7px;
top: -2px;
position: relative;    
}

.bz-rn-expand.bz-rn-expand-inactive:after
{
  content: "\e626";
    font: 1em/1em "bizagiflat";
    color: #195891;
    font-size: 20px;
    padding: 0 0 0 8px;
    top: 2px;
    position: relative;    
}


.bz-cm-icon.bz-rn-expand.bz-rn-expand-inactive
{
    transform:rotate(0deg);
}

.bz-container-rtl .bz-rn-expand-active
{
    background-position: -93px -96px;
}

.bz-container-rtl .bz-rn-expand-inactive
{
    background-position: -48px -95px;
}

.ui-bizagi-form-panel
{
}

/*

.ui-bizagi-render
{
    width: 100%;
    min-height: 55px;
    position: relative;
    max-height: 74px;
    border-bottom: 1px solid #c0c6cb;
    display: table;
}*/

.bz-command-edit-inline [data-bizagi-component="cellContent"] .ui-bizagi-render:last-child
{
    border-bottom: 1px solid #c0c6cb;
}

.ui-bizagi-render:last-child
{
    border-bottom: none;
}

.ui-bizagi-form-group > .childrenContainer > .ui-bizagi-render:last-child
{
    border-bottom: none;
    border-radius: 6px;
}

.bz-container-render-item
{
    display: block;
}

.ui-bizagi-form ui-bizagi-rendering-mode-execution > .ui-bizagi-container-children-form > .ui-bizagi-render
{
    border-radius: 0 0 6px 6px;
}

.childrenContainer > .ui-bizagi-render:last-child > .bz-container-render-item:first-child
{
    border-radius: 0 0 6px 6px;
}

/*
.ui-bizagi-container-children-form > .ui-bizagi-render > .bz-container-render-item:first-child,
.ui-bizagi-form-group > .childrenContainer .bz-container-render-item:first-child
{
    border-radius:6px;
    margin-top:5px;
    background:#f2f2f2;
    border-bottom:none;
    box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.2);
}*/



.ui-bizagi-form-group > .childrenContainer .bz-container-render-item:first-child
{
    margin-top: 0;
}

.ui-bizagi-form-group > .childrenContainer > div:last-child
{
    padding-bottom: 5px;
}

/*.bz-container-render-cell1
{
    display: inline-table;
    width: 100%;
    position: relative;
    letter-spacing: normal;
    word-spacing: normal;
}*/



.ui-bizagi-label
{
    /*overflow: hidden; color: #B0B2B2; font-size: 55%; vertical-align: middle; height: 60px; display: table-cell;*/
    padding: 5px 1px 5px 10px;
    word-break: normal;
}

.bz-rn-ecm-header .bz-rn-required
{
    margin: 0 0 0 0;
    position: absolute;
    top: -3px;
    border-radius: 0;
}

.childrenContainer > .ui-bizagi-render:last-child > .bz-container-render-item .ui-bizagi-label > .bz-rn-required:last-child
{
    border-radius: 0 0 0 6px;
}

.ui-bizagi-label:last-child
{
    border-radius: 0 0 0 6px;
}

.ui-bizagi-render-control
{
    padding: 0 10px 0 10px;
}

.ui-bizagi-form-group .childrenContainer .ui-bizagi-render-control
{
    padding: 0;
}

.ui-bizagi-render-upload-container
{
    list-style: none;
    color: transparent;
}

.ui-bizagi-render-upload-container ul
{
    list-style: none;
}

.ui-bizagi-render-upload-container .noFiles
{
    display: none;
}

.bz-rn-upload-show-menu
{
    width: 100%;
    display: inline-block;
}

.ui-bizagi-render-edition-arrow
{
    height: 20px;
    width: 20px;
    vertical-align: middle;
    display: table-cell;
    float: right;
    position: absolute;
    right: 35px;
    top: 34px;
}

.bz-command-edit-inline .ui-bizagi-render-edition-arrow > .bz-cm-icon, .bz-command-not-edit .ui-bizagi-render-edition-arrow > .bz-cm-icon
{
}

.bz-command-edit-inline > .bz-container-render-item > .bz-container-render-cell1 > .ui-bizagi-render-edition-arrow, .bz-command-not-edit > .bz-container-render-item > .bz-container-render-cell1 > .ui-bizagi-render-edition-arrow,
.bz-rn-input-icon-list
{
    visibility: hidden;
}

.bz-command-not-edit .ui-bizagi-render-control .bz-rn-text
{
}

.bz-render-reversed .bz-command-not-edit .bz-rn-text
{
    text-align: left;
}

.ui-bizagi-render-edition-arrow > .bz-cm-icon
{
    background-position: -330px -95px;
    width: 30px;
}

.ui-bizagi-render-edition-arrow > .bz-cm-icon.edit-point-icon
{
    background-position: -287px -271px;
}




.bz-container-rn-helptext > .bz-rn-icon-heltext
{
    background-position: -246px -269px;
    left: 6px;
    position: relative;
}


.bz-rn-messages.display
{
    display: inline-block !important;
}

.bz-rn-text, .ui-bizagi-render-edit-date, .ui-bizagi-render-edit-date-time
{
    display: block;
    cursor: default;
    border: none;
    padding: 0;
    font-size: 16px;
    width: 100%;
}

.bz-rn-text[disabled]
{
}

/*
.ui-bizagi-render-control > .ui-bizagi-render-edit-date
{ 
    width: 100%;
    min-height: 30px;
}*/

.ui-bizagi-render-control > input.ui-bizagi-render-edit-date, .ui-bizagi-render-control > input.ui-bizagi-render-edit-date-time
{
    -webkit-appearance: none;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    padding: 5px 0 0 5px;
    color: #3E515A;
    width: 100%;
    min-height: 30px;
}

.ui-bizagi-render-control > input.ui-bizagi-render-edit-date.ui-bz-render-iosDate, .ui-bizagi-render-control > .ui-bizagi-render-edit-date-time.ui-bz-render-iosDate
{
    width: 48%;
}

.ui-bizagi-render-control > input.ui-bizagi-render-edit-date.ui-bz-render-iosDate
{
    float: left;
}

.ui-bizagi-render-control > .ui-bizagi-render-edit-date-time.ui-bz-render-iosDate
{
    float: right;
}

#container-items-edit
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 57px 7px 20px 7px;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, .2);
    border-radius: 6px 6px 6px 6px;
    min-width: 280px;
    z-index: 5;
    background-color: #f2f2f2;
    display: none;
}

#container-items-edit.slide.in
{
    display: block;
}

#container-items-edit .ui-bizagi-container-children-form #container-items-edit
{
    margin: 0;
}

.bz-cn-label > label
{
    color: #31414c;
    position: relative;
    left: 10px;
    margin-left: 4px;
    font-weight: bold;
    text-shadow: 0 1px 0 #D5D8DB;
    font-size: 13px;
    top: 5px;
}

.input-edit
{
    width: 90%;
    margin: 5%;
    border-radius: 6px;
}

.bz-wp-tabs-arrow
{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-position: 297px -191px;
    height: 40px;
}

.bz-wp-tabs-arrow-down
{
    width: 32px;
    height: 30px;
    border-left: 1px solid #ccc;
    border-radius: 0px 5px 5px 0px;
    margin: -87% 0 0 -700%;
}

.ui-bizagi-container-inputs
{
    width: 100%;
    position: relative;
}

.bz-wp-tabs-arrow-up
{
    width: 32px;
    height: 30px;
    border-left: 1px solid #ccc;
    background-image: url('images/pattern4.png'),-webkit-linear-gradient(top, white, #e4e4e4);
    border-radius: 0px 5px 5px 0px;
    margin: -87% 0 0 -700%;
}

.ui-bizagi-container-button-edit
{
    text-align: center;
    display: none;
}

.ui-bizagi-render-button[disabled]
{
    background: #B5B5B5;
    -webkit-box-shadow: none;
}

/*
.ui-bizagi-render-edit-text,
.ui-bizagi-render-edit-number,
.ui-bizagi-render-edit-date,
.ui-bizagi-render-edit-link,
.ui-bizagi-render-edit-date-time
{
    border-radius: 5px;
    width: 90%;
    position: relative;
    height: 35px;
    padding: 3px 5px;
    outline: 0;
    margin: 6px;
    background-color: #d6d6d6;
    border:none;
    box-shadow: inset 0 2px 3px 0 #999999;
    border-bottom: 1px solid #f7f7f7;
}*/


#iPhone, .ui-bizagi-container-tab
{
    background: transparent;
}

.ui-bizagi-container
{
    position: relative;
}

.ui-bizagi-container-children-form .ui-bizagi-form-group
{
    position: relative;
}

.bz-rn-cm-icons-list
{
    -webkit-appearance: none;
}

.ui-bizagi-container-tabItem
{
    display: none;
}

.ui-bizagi-container-tabItem
{
    width: 100%;
}

.ui-bizagi-form-container-horizontal
{
}

.ui-bizagi-form-container-horizontal > .ui-bizagi-form-panel > .headertitle
{
}

.childrenActive
{
    display: inline-block;
}

.ui-bizagi-button-container
{
    text-align: center;
    padding: 0 4px 15px 4px;
    border-radius: 3px;
    margin-top: 30px;
}

.cell
{
    -webkit-border-radius: 6px 6px 0 0;
    border: thin solid #efeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from( white ), to( #F1F1F1 ));
    background: #eee;
}

.bz-container-items-tabs:first-child
{
    margin: 0;
}

.bz-container-items-tabs:active
{
    background: none;
    color: #31414c;
}

.bz-tabs-display-name
{
    text-decoration: none;
}

.bz-tabs-narrow
{
    position: relative;
    float: right;
    right: 50px;
}

.ui-bizagi-render-edit-text-search
{
    overflow: hidden;
    margin: 10px 0 0 0;
    display: block;
    border-radius: 20px;
    width: 100%;
    position: absolute;
    height: 35px;
    box-shadow: 2px 2px 3px #666;
    padding: 4px 7px;
    outline: 0;
}

.ui-bizagi-render-edit-date, .ui-bizagi-render-edit-date-time
{
    display: block;
    -webkit-appearance: textfield;
}

.bz-command-not-edit .ui-bizagi-render-edition-arrow
{
}

.ui-geolocation-cordinate
{
    background: rgba(62,81,90,0.05);
    padding: 5px 12px;
    border: none;
    border-radius: 0px;
    min-height: 30px;
    -webkit-appearance: none;
    color: rgba(62,81,90,0.85);
    box-shadow: none;
    width: 100%;
}

.bz-rn-combo-list-edit > .bz-rn-combo-selected
{
}

.bz-rn-combo-text
{
    text-align: left;
    position: relative;
    text-shadow: 0 1px 1px white;
    width: 75%;
    padding-left: 15px;
}

.bz-rn-combo-list-edit > .bz-rn-combo-selected > span.bz-rn-combo-check
{
    display: inline;
}

.bz-rn-combo-list
{
    cursor: pointer;
    left: 0;
    top: 5px;
    position: absolute;
    height: 5em;
    max-height: 100%;
    width: 100%;
    min-height: 100%;
    opacity: 0;
}

.bz-rn-combo-cn-select-div
{
    text-align: right;
}

.bz-rn-combo-select.disabled > span.bz-rn-combo-icon-arrow
{
    display: none;
}

.bz-rn-combo-cn-select-div.disabled
{
    background: none;
    box-shadow: none;
}

.bz-rn-combo-select
{
    padding: .5em 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    color: #6B7E87;
    min-height: 15px;
}

.bz-rn-cm-text-label
{
    overflow: hidden;
}

.bz-rn-combo-icon-arrow
{
    display: none;
}
/*
.ui-bizagi-render-search-item, .ui-menu .ui-menu-item
{
    width: 100%;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #9C9EA5;
    text-shadow: white 0 1px 0;
    padding: 5px 0px 5px 0px;
    background: white;
}*/

/*.ui-bizagi-render-search
{
    width:80%; 
    margin: 10px 0 10px 10px;
    display:inline;
    float:left;
}*/

.bz-rn-link-icons
{
    background-position: -52px -98px;
    display: block;
    float: left;
}

.ui-bizagi-render-link
{
    left: 5px;
    position: relative;
}

.bz-rn-letter
{
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(100%, #E2DEDE));
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #9C9EA5;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
    overflow: hidden;
}

.ui-bizagi-render
{
}

.bz-command-edit-inline > .ui-bizagi-render-edition-arrow
{
    display: none;
}

.bz-container-render-cell
{
    width: 95%;
    min-height: 55px;
    position: relative;
    display: block;
}

.ui-bizagi-render-edition-arrow
{
}

.arrow
{
    position: absolute;
    border-style: solid;
    border-width: 7px;
}

.arrow.up
{
    border-color: hsl(0, 0%, 95%) transparent transparent transparent;
    top: 13px;
    right: 15px;
}

.arrow.down
{
    border-color: transparent hsl(0, 0%, 95%) transparent transparent;
    top: 9px;
    right: 18px;
}

/*.ui-bizagi-label >label
{
   font-size:13px;
   color:#535B61;
   text-shadow:0 1px 0 #F2F2F2;
}*/

.bz-label-reversed > label
{
    float: right;
}

.bz-check-control
{
    top: 10px;
    position: absolute;
}

.bz-check-label
{
    float: left;
    top: 10px;
    position: absolute;
    left: 35px;
}

.ui-bizagi-render-image-image
{
    position: relative;
    height: auto;
    width: auto;
}

.ui-bizagi-render-image-image:hover .ui-bizagi-render-upload-item-delete
{
    visibility: visible;
}

.ui-bizagi-render-image-image .ui-bizagi-render-upload-item-delete
{
    background-color: #F4F4F4;
    border: 1px solid #555555;
    border-radius: 5px 5px 5px 5px;
    left: 0;
    position: absolute;
    visibility: hidden;
}
/*
.ui-bizagi-render-upload-wrapper .image-file
{
    width: 32px !important;
    height: 32px !important;
    display: block;
    background-position: -7px -143px;
    float: right;
}*/

.ui-bizagi-render-image-item
{
    border: 0 !important;
    padding: 3px 30px 3px 3px;
    position: relative;
    height: auto;
    width: auto;
    overflow: hidden;
    background: transparent !important;
    margin-bottom: 2px;
}

.ui-bizagi-render-upload-wrapper.image-wrapper > a
{
    display: inline;
    position: relative;
}

/*
.ui-bizagi-render-upload-wrapper.image-wrapper
{
    margin: 8px;
    padding: 5px;
}
*/

.ui-bizagi-render-upload-wrapper.image-wrapper img
{
    border: 1px solid white;
    background: transparent;
    padding: 10px 10px 0 10px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.ui-bizagi-render-align-right .image-wrapper
{
    float: right !important;
}

.ui-bizagi-render-align-left .image-wrapper
{
    float: left !important;
}

.ui-bizagi-render-align-center .image-wrapper
{
    margin-left: 30% !important;
}

.ui-bizagi-render-upload-queue.image-queue .uploadifyQueueItem
{
    width: 128px;
}

.ui-bizagi-render-upload-queue.image-queue .uploadifyQueueItem .cancel, .ui-bizagi-render-upload-queue.image-queue .uploadifyQueueItem .percentage
{
    display: none;
}

.ui-bizagi-render-documentgenerator
{
    display: block;
}

.ui-bizagi-document-upload-item
{
    padding-right: 5px;
}

.ui-bizagi-document-extension
{
    background-image: url("images/file_extensions_sprite_32.png");
    background-position: 0 -520px;
    margin: 0.5em -0.5em -0.5em 0.5em;
}

.ui-bizagi-document-type
{
    width: 16px;
    height: 16px;
    display: inline-block;
}

.ui-bizagi-document-upload-item-doc
{
    background-position: -20px -482px;
}

.ui-bizagi-document-upload-item-xls
{
    background-position: -20px -500px;
}

.ui-bizagi-document-upload-item-pdf
{
    background-position: -4px -482px;
}

.ui-bizagi-document-upload-item-generic-file
{
    background-position: -4px -500px;
}

.ui-bizagi-document-preview
{
    height: 24px;
    width: 24px;
    top: 7px;
    position: relative;
    border: 0px solid transparent;
    cursor: pointer;
}

.ui-bizagi-button-documentgenerator
{
}

.ui-bizagi-button-documentgenerator:hover
{
}

.ui-bizagi-div-button-documentgenerator
{
    float: left;
    width: 100%;
}

.ui-bizagi-div-documentgenerator
{
    width: 100%;
    display: block;
    margin-left: 8px;
}

.ui-bizagi-container-documents
{
    list-style: none;
    padding: 0;
    margin-top: 10px;
    overflow-y: auto;
    max-height: 250px;
}

.ui-bizagi-container-documents a
{
    position: relative;
    display: inline-block;
    padding: 0.2em;
    margin: 0.1em 0 0.1em 0.1em;
    text-decoration: none;
    padding-left: 8px;
}

.ui-bizagi-div-error-container .ui-bizagi-error-message
{
    width: 100%;
    left: 2px;
    padding: 0 15px;
    font-size: 9px;
    margin: 3px 0;
}

.ui-bizagi-render-documentgenerator
{
    display: block;
}

.ui-bizagi-document-extension
{
    background-image: url("images/file_extensions_sprite_32.png");
    min-height: 19px;
    min-width: 19px;
    margin: 0 auto;
    border: none;
    -webkit-appearance: none;
    background-position: 0 -520px;
    margin: 0.5em -0.5em -0.5em 0.5em;
}

.ui-bizagi-document-type
{
    width: 16px;
    height: 16px;
    display: inline-block !important;
}

.ui-bizagi-document-upload-item-doc
{
    background-position: -163px -1000px;
}

.ui-bizagi-document-upload-item-pdf
{
    background-position: -144px -1000px;
}

.ui-bizagi-document-upload-item-xls
{
    background-position: -163px -1018px;
}

.ui-bizagi-document-upload-item-generic-file
{
    background-position: -144px -1018px;
}

.ui-bizagi-document-preview
{
    height: 24px;
    width: 24px;
    top: 7px;
    position: relative;
    border: 0px solid transparent;
    cursor: pointer;
}

.ui-bizagi-button-documentgenerator
{
}

.ui-bizagi-button-documentgenerator:hover
{
    color: white;
}

.ui-bizagi-div-button-documentgenerator
{
    float: left;
    width: 100%;
}

.ui-bizagi-div-documentgenerator
{
    width: 100%;
    display: block;
}

.ui-bizagi-container-documents
{
    list-style: none;
    padding: 0;
    margin-top: 10px;
    overflow-y: auto;
    max-height: 250px;
}

.ui-bizagi-container-documents a
{
    position: relative;
    display: inline-block;
    padding: 0.2em;
    margin: 0.1em 0 0.1em 0.1em;
    text-decoration: none;
    padding-left: 8px;
    transition: all .3s ease-out;
}

.ui-bizagi-container-documents a:hover
{
}

.ui-bizagi-container-documents a:before
{
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #447799;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.ui-bizagi-container-documents a:after
{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.ui-bizagi-container-documents a:hover:after
{
    left: 1px;
    border-left-color: #447799;
}

.bz-rn-text.bz-render-reversed
{
    text-align: left;
}

.bz-render-reversed.bz-cn-grid
{
    padding-right: 0;
}
/*
.bz-rn-display-value
{
    padding: 10px 0px 3px 2px;
    text-align: justify;
}*/

/* ASSOCIATION RENDER
=========================================================*/

.bz-wp-render-association .association-label
{
    position: relative;
    overflow: hidden;
    font-size: 13px;
    color: #F4FAFA;
    display: block;
    text-align: left;
    background: rgba(15,53,88,0.5);
    padding: 7px 0 7px 7px;
    margin: 0 0 4px 0;
}

.bz-wp-render-association .association-label > label, .bz-wp-render-association .association-flip-button
{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.bz-wp-render-association .association-label > label
{
    word-break: normal;
}

.association-container h3
{
    margin: 0;
    padding: 0;
    border: 0;    
}

.bz-wp-render-association .association-flip-button
{
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(15,53,88,0.2);
    width: 40px;
    height: 30px;
    padding: 6px 0 0 10px;
}

div.bz-cm-icon.association-flip-button:after
{
    content: "\e60e";
    font: 1em/1em "bizagiflat";
    font-size: 20px;
}

.bz-wp-render-association
{
    width: 100%;
    border: 1px solid rgba(15,53,88,0.5);
}

.bz-wp-render-association .ui-state-hover
{
    color: #31414C;
}

.bz-wp-render-association .association-container
{
    position: relative;
    border: none;
    margin-top: -4px;
    margin-bottom: 0;
    background: rgba(62,81,90,0.05);
    border: 1px solid rgba(62,81,90,0.1);
    border-radius: 0;
}

.bz-wp-render-association .bz-rn-association-header
{
    padding: 5px 0 5px 15px;
    position: relative;
    display: table;
    width: 100%;
    color: #3E515A;
    font-weight: 100;
    border-radius: 0;
    border-top: 1px solid rgba(15,53,88,0.1);
    background: rgba(15,53,88,0.1);
}


.bz-wp-render-association .ui-accordion-header-active
{
    background: rgba(15,53,88,0.3);
    color: #3E515A;
}

.bz-wp-render-association .bz-rn-association-header-title
{
    text-shadow: none;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid rgba(62,81,90,0.1);
    width: 100%;
}

.bz-wp-render-association .ui-bz-rn-check-list
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bz-wp-render-association .ui-bz-rn-check-item
{
    text-align: left;
    border-bottom: 1px solid #CAD3D5;
    padding: 0 0 0 0;
    vertical-align: middle;
    height: 35px;
}

.bz-wp-render-association .ui-bz-rn-check-item:nth-child(even)
{
    background: rgba(62,81,90,0.05);
}

.bz-wp-render-association span.bz-rn-checkbox-label
{
    left: 25px;
}

.bz-wp-render-association .ui-accordion-content ul li label
{
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
}

.bz-wp-render-association .bz-rn-association-header a
{
    margin-left: 10px;
    text-align: left;
    color: inherit;
    text-decoration: none;
}

.bz-wp-render-association label .ui-bz-rn-boolean-check
{
    top: 4px;
}

.bz-wp-render-association label .ui-bz-rn-boolean-check:checked:after
{
    font-size: 22px;
    left: -2px;
    position: relative;
    top: -1px;
}

/* ECM RENDER
=========================================================*/
/*
.biz-render-ecm-delete-confirmation {
    display: none;
}

.biz-render-ecm-view-default, .biz-render-ecm-view-default ul {
    list-style: none;
}

.biz-render-ecm-view-default > li:first-child {
    display: none;
}

.biz-render-ecm-view-default > li:nth-child(2n) {
}

.ecm-file-name {
}
/*
.ecm-file-name .modal-ecm, 
.ecm-file-name .selectarrow, 
.ecm-file-name .content, 
.ecm-file-name .emc-options {
    display: none;
}

.ecm-file-name {
}


.biz-render-ecm-view-default table {
    display: none;
}

.ui-bizagi-grid-smartphone .bz-rn-ecm-container {
    background-color: #f2f2f2;
    padding: 2px;
    border-radius: 0;
}

.ui-bizagi-grid-smartphone .bz-rn-ecm-container .bz-rn-ecm-metadata {
    background-color: #e6e6e6;
    padding: 5px;
    border-radius: 0 0 6px 6px
    margin-top: -3px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .15);
}

.bz-rn-ecm-header {
    background: -webkit-gradient(linear, left top, left bottom, from(#5D676D), to(#464E52));
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #393e41;
    text-align: left;
    color: white;
    box-shadow: inset 0 2px 0 0 #6b757c;
    min-height: 46px;
    border-radius: 6px 6px 0 0;
}

.bz-rn-ecm-header span {
    display: table-cell;
    padding: 15px 0 15px 15px;
    text-shadow: 0 1px 0 rgba(255,255,255,.3);
    text-align: left;
}

.bz-rn-ecm-menu-container ul {
    overflow: hidden;
    list-style: none;
    position: relative;
    width: 100%;
}

.bz-rn-ecm-menu-container ul li {
    float: left;
    display: none;
}

.bz-ecm-delete, 
.bz-ecm-edit, 
.bz-ecm-lock, 
.bz-ecm-unlock, 
.bz-ecm-upgrade {
    font-size: 10px;
    width: 40px;
    text-align: center;
}

.bz-ecm-delete span {
    background-position: -289px -241px;
}

.bz-ecm-edit span {
    background-position: -361px -241px;
}

.bz-ecm-lock span {
    background-position: -359px -269px;
}

.bz-ecm-unlock span {
    background-position: -389px -269px;
}

.bz-ecm-upgrade span {
    background-position: -418px -269px;
}

.bz-rn-ecm-extension span {
    width: 40px;
    text-align: center;
}

.bz-ecm-checkout-true {
    background-position: -389px -269px;
    display: none !important;
}

.bz-ecm-checkout-false {
    background-position: -359px -269px;
    display: none !important;
}

.bz-rn-ecm-menu-container ul li.bz-ecm-item-menu-enable {
    display: inline-block;
    border-left: 1px solid #155376;
    margin: 0 5px -8px -2px;
    padding: 0 5px 3px 5px;
}

.bz-rn-ecm-container .bz-rn-ecm-metadata {
    border-bottom: 1px solid #8D8E92;
    padding: 5px;
}

.bz-rn-ecm-container .bz-rn-ecm-metadata > span {
    margin: 5px 20px 0px 0;
}

.bz-rn-ecm-container .bz-rn-ecm-metadata:last-child {
    border-bottom: none;
}

.bz-rn-ecm-metadata-item {
    display: table;
    text-align: left;
    width: 100%;
    position: relative;
}

.bz-rn-ecm-title-item {
    display: table-cell;
    padding: 5px 1px 5px 10px;
    text-align: left;
    word-break: break-all;
    overflow: hidden;
    color: #B0B2B2;
    vertical-align: middle;
}

.bz-rn-ecm-title-item label {
    text-shadow: 0 1px 0 #DDDDDD;
    color: #31414C;
}

.bz-rn-ecm-required {
    color: red;
}

.bz-rn-ecm-metadata-value {
    display: table-cell;
    padding: 5px 1px 5px 10px;
    text-align: left;
    word-break: break-all;
    overflow: hidden;
    vertical-align: middle;
}

.bz-rn-ecm-file-container ul {
    list-style: none;
    overflow: hidden;
}

.bz-rn-ecm-file-container ul li {
    float: left;
}

.bz-rn-ecm-metadata-items {
    display: none;
}

.bz-rn-ecm-menu-container {
    display: none;
    position: absolute;
    z-index: 99999999;
    border: 2px solid #155376;
    border-radius: 0;
    background-color: #e6e6e6;
    height: auto;
    display: none;
    -webkit-box-shadow: 0 0 5px 3px rgba(0,0,0,0.2);
    padding: 4px 5px 1px 5px;
    margin: 0 0 0 -17px;
    height: 45px;
}

.bz-rn-ecm-menu-container:after, .bz-rn-ecm-menu-container:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.bz-rn-ecm-menu-container:after {
    border-color: rgba(230, 230, 230, 0);
    border-left-color: #e6e6e6;
    border-width: 5px;
    top: 50%;
    margin-top: -5px;
}

.bz-rn-ecm-menu-container:before {
    border-color: rgba(21, 83, 118, 0);
    border-left-color: #155376;
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}

.bz-rn-ecm-file-container {
    display: inline-table;
    width: 100%;
}

.bz-rn-ecm-extension {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 1px 5px 10px;
    text-align: left;
    word-break: break-all;
}

.bz-rn-ecm-url {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 10px;
    color: #6b7e87;
    font-size: 13px;
    text-shadow: 0 1px 0 #f7f7f7;
    text-align: right;
}

.bz-rn-ecm-url a:link {
    color: #52595F;
    text-decoration: none;
}

.bz-rn-ecm-activate-menu {
    display: table-cell;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.bz-rn-ecm-activate-menu span {
    background-position: -142px -100px;
}

.bz-rn-ecm-metadata-container {
    display: none;
    margin: 10px 20px 10px 20px;
    border-radius: 6px;
    background: #d6dadc;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    border-top: 1px solid #eeeeee;
    font-size: 11px;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-title-item {
    background-color: #C3C7CB;
    min-width: 85px;
    border-bottom: 1px solid #B5B9BD;
    border-top: 1px solid #D4D5D7;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-item:first-child .bz-rn-ecm-title-item {
    border-radius: 0;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-item:last-child .bz-rn-ecm-title-item {
    border-radius: 0;
    border-bottom: none;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-value {
    width: 100%;
    border-top: 1px solid #eeeeee;
    text-shadow: 0 1px 0 #eeeeee;
    border-bottom: 1px solid #CACDCF;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-item:first-child .bz-rn-ecm-metadata-value {
    border-radius: 0;
    border-top: none;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-item:last-child .bz-rn-ecm-metadata-value {
    border-radius: 0;
    border-bottom: none;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-value > input[type="date"] {
    background: #D2D6D9;
    border: none;
    width: 95%;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-value > input[type="radio"] {
    border: none;
    display: inline-block;
    background-position: -234px -237px;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-value > input[type="radio"]:checked {
    background-position: -126px -237px;
    border: none;
}

.bz-rn-ecm-upload > span {
    height: 20px;
    width: 20px;
    background-position: -300px -142px;
    display: inline-block;
    margin-top: 5px;
}

.bz-rn-ecm-menu-container.active {
    display: inline;
    border: 2px solid;
    border-radius: 1em;
    width: auto;
    position: absolute;
    display: inline-block;
    z-index: 4;
    background: whitesmoke;
    top: 43px;
    right: 20px;
}

.bz-rn-ecm-metadata-item input[type="text"], .bz-rn-ecm-metadata-item input[type="number"], .bz-rn-ecm-metadata-item input[type="datetime"] {
    background: #D2D6D9;
    border: none;
    padding: 3px 0 3px 5px;
    width: 95%;
    border-radius: 6px;
}

.bz-rn-ecm-buttons-container {
    position: relative;
    margin: 0 auto;
    right: 7px;
    text-align: right;
    padding: 5px 0 5px 0;
}

.bz-rn-ecm-buttons-container button {
    -webkit-appearance: none;
    font-size: 100%;
    border-radius: 6px;
    background: #155073;
    padding: 6px 15px;
    color: hsl(0, 0%, 87%);
    position: relative;
    border: 1px solid #2b323b;
    box-shadow: inset 0 1px 0 0 #2b6181;
    background: -webkit-gradient(linear, left top, left bottom, from(#155376), to(#103D56));
    text-shadow: 0px -1px 0 #1D252C;
}

.ui-bizagi-grid-smartphone .ui-bizagi-render .ui-bizagi-render-image-wrapper img {
    width: 100%;
}
*/
/* GEOLOCATION RENDER
=========================================================*/

.ui-geolocation > *
{
    display: inline-block;
}

.ui-geolocation{
    position: relative;
}

.ui-bizagi-render-geolocation > .bz-rn-icon-geolocation
{
    background-position: -322px 2px;
    height: 24px;
    min-width: 19px;
    width: 19px;
    margin-left: 15px;
}

.ui-bizagi-render-geolocation
{
    position: absolute;
    right: 3px;
    top: 3px;
}

.bz-rn-cg-checkbox label
{
    display: inline-block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #eb2c2c;
}

.bz-rn-cg-checkbox label.ui-checkbox-state-checked
{
    background-color: #2C9C2C;
}

.bz-rn-cg-headertitle
{
    height: 25px;
    margin: 15px 0 10px 0;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-shadow: 0 1px 0 white;
    color: #31414c;
    position: relative;
    top: 15px;
}

.ui-bizagi-container-complexgateway
{
    position: relative;
    z-index: 10;
    width: auto;
    margin: 10px 10px 10px 10px;
    border: 2px solid #2e4161;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#CACACA));
    text-align: center;
    vertical-align: middle;
}

.bz-rn-cg-row
{
    display: table;
    width: 100%;
    margin: 10px 0 10px 0;
}

.bz-rn-cg-row-element
{
    display: table-cell;
    width: 50%;
}

.bz-rn-cg-headercontainer
{
    position: relative;
    margin: 0px 0 15px 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#D6D8DC), to(#C3C6CB));
    height: 40px;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #adadad;
}



/* - - - - - - --  */

.bz-wp-caseNumberForm
{
    width: 100%;
    min-height: 33px;
    background: rgba(25,88,145,0.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
    font-size: 12px;
    padding-top: 9px;
    padding-left: 10px;
    color: rgb(65,89,104);
}

.bz-wp-caseNameForm
{
    font-size: 17.5px;
    font-weight: 100;
    margin: 15px 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CAD3D5;
    text-transform: capitalize;
    color: #3E515A;
    padding: 0 10px 10px 10px;
}

.inputEditionContent .bz-wp-caseNameForm
{
    display: none;
}




/* - - - - - FLAT STYLES - - - - -  */

.bz-wp-rn-main-container
{
    margin: 57px 0px 20px 0px;
    min-width: 280px;
}

.ui-bizagi-container-children-form > div:last-child
{
    border-radius: 3px;
}

/*
.ui-bizagi-container-children-form > div:first-child
{
    border-radius: 6px;
    background-color: transparent;
    margin-top: 5px;
}
*/


/*

__headergroups 

**************/

.childrenContainer
{
    padding: 0 10px 0 10px;
}

.ui-bizagi-form-group .headertitle
{
    min-height: 35px;
    height: 25px;
    position: relative;
    display: inline-table;
    width: 100%;
    color: #195891;
    font-size: 13px;
    background-color: rgba(55,186,236,0.1);
    text-transform: uppercase;
}

.ui-bizagi-form-group .headertitle .container-left
{
    display: table-cell;
    vertical-align: middle;
}

.bz-container-rtl.ui-bizagi-form-group .headertitle .container-left
{
    text-align: right;
    float: right;
    margin: 10px 25px 0 0;
    border-right: none;
}

.ui-bizagi-form-group .headertitle .container-right
{
    display: table-cell;
    vertical-align: middle;
    width: 45px;
    background: rgba(55,186,236,0.1);
   
}

/*.ui-bizagi-form-group .headertitle .container-right:after
{
    content: "\e626";
    font: 1em/1em "bizagiflat";
    color: #195891;
    font-size: 20px;
    padding: 0 0 0 12px;
    top: 1px;
    position: relative;
}*/

.bz-container-rtl.ui-bizagi-form-group .headertitle .container-right
{
    float: left;
    margin-top: 1px;
    height: 35px;
}

.ui-bizagi-form > .ui-bizagi-container-children-form > .ui-bizagi-form-group > .headertitle .bz-rn-hd-title, .ui-bizagi-container-tab .bz-rn-hd-title
{
    color: #195891;
    position: relative;
    left: 15px;
    font-size: 13px;
    font-weight: bold;
    padding-left: 1px;
}

.bz-rn-expand
{
    position: relative;
    display: block;
    width: 35px;
    height: 20px;
    left: 4px;
     transform:rotate(180deg);
}

.bz-container-rtl .bz-rn-expand-active, .bz-container-rtl .bz-rn-expand-inactive
{
    position: relative;
    padding: 5px 0 0 0;
}



/*
__renderscontainer
**************/

.ui-bizagi-form-panel
{
}

.bz-command-edit-inline [data-bizagi-component="cellContent"] .ui-bizagi-render:last-child
{
    border-bottom: none;
}

.ui-bizagi-render:last-child
{
    border-bottom: none;
}

.ui-bizagi-form-group > .childrenContainer > .ui-bizagi-render:last-child
{
    border-bottom: none;
}

.bz-container-render-item
{
    display: block;
}

.ui-bizagi-render-control label.bz-rn-yesno
{
    background: white;
    border-radius: 20px;
    padding: 5px 10px 5px 5px;
    margin: 10px 10px 5px 5px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    color: rgb(65,89,104);
    font-size: 15px;
}

.ui-bizagi-render-upload-container
{
    list-style: none;
    color: transparent;
}

.ui-bizagi-render-upload-container ul
{
    list-style: none;
}

.ui-bizagi-render-upload-container .noFiles
{
    display: none;
}

.bz-rn-upload-show-menu
{
    width: 100%;
    display: inline-block;
}

.bz-rn-upload-show-menu .bz-cm-icon
{
    font: 1em/1em "bizagiflat";
    top: 18px;
}

li.bz-rn-upload-show-menu > span:after
{
    content: "\e62e";
    color: rgb(65,89,104);
    font-size: 16px;
}

li.bz-rn-upload-show-menu
{
    text-align: center;
}

.bz-command-edit-inline .ui-bizagi-render-control .bz-rn-text, input[readonly].bz-rn-text
{
    height: 30px;
    border-radius: 6px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    -webkit-appearance: none;
    color: #3E515A;
    padding: 0 30px 0 10px;
}

.bz-command-edit-inline .ui-bizagi-render-control .bz-rn-text.scientific
{
    display: none;
}

.bz-command-edit-inline .ui-bizagi-render-control .bz-rn-text.display-only.scientific
{
    display: block;
}

.bz-command-not-edit .ui-bizagi-render-control .bz-rn-text
{
    background: rgba(62,81,90,0.05);
    padding: 5px 12px;
    border: none;
    border-radius: 0px;
    min-height: 30px;
    -webkit-appearance: none;
    color: rgba(62,81,90,0.85);
    box-shadow: none;
}

.bz-render-reversed .bz-command-not-edit .bz-rn-text
{
    text-align: left;
}

.bz-container-rn-helptext
{
	height: 13px;
	width: 18px;
	position: absolute;
	right: 5px;
	top: 4px;
	background: #CBCBCB;
	border-radius: 2px;
	padding-top: 3px;
    padding-left: 1px;
}

.bz-container-rn-helptext:after
{
	content: "?";
	color: white;
	font-size: 10px;
	font-weight: bold;
	top: -3px;
	position: relative;
	left: 5px;
}

.bz-container-rn-helptext > .bz-rn-icon-heltext
{
    background-position: -246px -269px;
    left: 6px;
    position: relative;
}

.bz-rn-helptext {
	background-color: #37BAEC;
	width: 100%;
	display: inline-block;
	position: relative;
	font-size: 13px;
	text-align: center;
	color: white;
	border-radius: 4px;
	margin-top: 5px;
	padding: 10px 0 10px 0;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
}

.bz-rn-helptext:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(55, 186, 236, 0);
	border-bottom-color: #37BAEC;
	border-width: 6px;
	margin-left: -6px;
}

.bz-rn-messages.display
{
    display: inline-block !important;
}

/*
.bz-rn-text{ 
    display: block;
    left: 8px;
    position: relative;
    cursor: default;
    float: right;
    text-align: right !important;
    background: none;
    color: #252C32;
    border: none;
    padding: 0;
    font-size: 16px;
    padding-right: 4px;
    width: 100%;
}

.bz-rn-text[disabled]
{
    color:#525a60 !important;
}
*/


/************

__editItems  Edit Items

*****/

#container-items-edit
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 57px 0px 20px 0px;
    min-width: 280px;
    z-index: 5;
    display: none;
}

#container-items-edit.slide.in
{
    display: block;
}

#container-items-edit .ui-bizagi-container-children-form #container-items-edit
{
    margin: 0;
}

.bz-cn-label
{
    min-height: 35px;
    height: 35px;
    position: relative;
    border-bottom: 1px solid #37BAEC;
    display: inline-table;
    width: 100%;
    background: rgba(62,81,90,0.1);
}

.bz-cn-label > label
{
    color: #195891;
    position: relative;
    left: 10px;
    margin-left: 4px;
    font-weight: bold;
    font-size: 13px;
    top: 10px;
    text-transform: uppercase;
}

.input-edit
{
    width: 90%;
    margin: 5%;
    border-radius: 6px;
}

.bz-wp-tabs-arrow-container .bz-wp-tabs-arrow, .bz-wp-tabs-arrow
{
    display: inline-block;
    background-position: 55px -195px;
    height: 30px;
    float: right;
    width: 30px;
}

.bz-wp-tabs-arrow-container.show-pluss .bz-cm-icon.bz-wp-tabs-arrow:after
{
    content: "\e613";
    font: 1em/1em "bizagiflat";
    color: #37B9EB;
    font-size: 18px;
    top: 8px;
    position: relative;
    right: -8px;
}

.bz-wp-tabs-arrow-container
{
    padding: 0 1px 0 0;
    position: absolute;
    display: none;
    right: 0px;
    top: 16px;
    width: 30px;
    height: 33px;
    float: right;
}

.bz-wp-tabs-arrow-container.show-pluss
{
    display: block;
}

.bz-wp-tabs-arrow-down
{
    width: 32px;
    height: 30px;
    border-left: 1px solid #ccc;
    border-radius: 0px 5px 5px 0px;
    margin: -87% 0 0 -700%;
}

.ui-bizagi-container-inputs
{
    width: 100%;
    position: relative;
    padding: 0 5px 0 5px;
}

.bz-wp-tabs-arrow-up
{
    width: 32px;
    height: 30px;
    border-left: 1px solid #ccc;
    background-image: url('images/pattern4.png'),-webkit-linear-gradient(top, white, #e4e4e4);
    border-radius: 0px 5px 5px 0px;
    margin: -87% 0 0 -700%;
}

.ui-bizagi-container-button-edit
{
    text-align: center;
    margin: 0 10px 10px 10px;
    border: 1px solid rgba(180,180,180,0.5);
    border-radius: 3px;
    display: none;
}
.ui-bizagi-render-button
{
    padding: 7px 10px;
    background: #3E515A;
    color: #E4E8E9;
    border: 1px solid transparent;
    margin: 10px;
    font-size: 11px;
    max-width: 250px;
    position: relative;
    word-wrap: break-word;
    min-width: 40%;
    margin-top: 30px;
    border-bottom: 4px solid #798A92;
}

.ui-bizagi-form-button
{
    background: whitesmoke;
    color: #195891;
    word-wrap: break-word;
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    line-height: 2.5em;
    border: 1px solid rgba(180,180,180,0.5);
    text-transform: uppercase;
    margin-bottom: 3px;
}


.ui-bizagi-form-button:last-child {
    margin-bottom: 0px;
}

.ui-bizagi-form-button:hover {
    background-color: #37BAEC;
    color: white;
}


.ui-bizagi-render-button
{
    margin-top: 5px;
    background: #2F3B45;
}


.ui-bizagi-render-button[disabled]
{
    background: #B5B5B5;
    -webkit-box-shadow: none;
    color: rgba(62,81,90,0.85);
}


/**

end $__editItems

**/

/********

__commonItems

***************/

/*.ui-bizagi-render-edit-text, .ui-bizagi-render-edit-number, .ui-bizagi-render-edit-date, .ui-bizagi-render-search, .ui-bizagi-render-edit-link, .ui-bizagi-render-edit-date-time
{
    border-radius: 5px;
    width: 90%;
    position: relative;
    height: 35px;
    padding: 3px 5px;
    outline: 0;
    margin: 6px;
    background-color: #d6d6d6;
    border: none;
    border-bottom: 1px solid #f7f7f7;
}*/

/****

end $__commonItems

******/

.ui-bizagi-form > .ui-bizagi-container-children-form > .ui-bizagi-form-group:last-child
{
}



/****

__generalLayout

******/

#iPhone, .ui-bizagi-container-tab
{
    background: transparent;
}

.ui-bizagi-container
{
    position: relative;
    margin-bottom: 5px;
}

.ui-bizagi-container.ui-bizagi-container-tab
{
    padding: 15px 0 0 0;
}

.ui-bizagi-container.ui-bizagi-container-tab .ui-bizagi-container-tabItem > .ui-bizagi-container-children-form .ui-bizagi-form-group
{
    padding: 0 !important;
}

.ui-bizagi-form-group
{
    border-bottom: 1px dashed rgba(55,186,236,0.5);
    margin: 15px 0 0 0;
}

.ui-bizagi-container-children-form .ui-bizagi-form-group
{
    position: relative;
    margin: 15px 0 5px 0;
}

.bz-rn-cm-icons-list
{
    -webkit-appearance: none;
}

.ui-bizagi-container-tabItem
{
    display: none;
}


/****************

__render

**********/


.ui-bizagi-container-tabItem
{
    width: 100%;
}

.ui-bizagi-form-container-horizontal
{
}

.ui-bizagi-form-container-horizontal > .ui-bizagi-form-panel > .headertitle
{
}

.childrenActive
{
    display: inline-block;
}


/**********

plugin tabs for smartphones

*****/

.bz-header_select
{
    display: inline-block;
    box-sizing: border-box;
    min-height: 35px;
    max-height: 35px;
    width: 100%;
    position: relative;
    color: black;
    margin: 0;
    border-top: 1px solid #37BAEC;
    background-color: transparent;
    border-bottom: 1px solid #37BAEC;
    overflow: hidden;
    float: left;
}

.bz-header_select.show-pluss
{
    padding-right: 30px;
}

.bz-header_select .bz-wp-tabs-ui > span
{
    color: #37B9EB;
    text-decoration: none;
    padding: 9px 10px 0px 10px;
    font-size: 13px;
    float: left;
    white-space: nowrap;
    font-weight: 500;
    text-transform: capitalize;
    border-right: 1px solid #37B9EB;
    height: 33px;
    max-width: 33%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bz-header_select .bz-wp-tabs-ui:nth-child(even) > span
{
    min-width: 34%;
}

.bz-header_select .bz-wp-tabs-ui:nth-child(odd) > span
{
    min-width: 33%;
}

.bz-header_select .bz-wp-tabs-ui-active
{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    height: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bz-header_select .bz-wp-tabs-ui-active > span
{
    color: #37B9EB;
    text-decoration: none;
    padding: 7px 11px 5px 10px;
    font-size: 13px;
    float: left;
    white-space: nowrap;
    font-weight: 500;
    text-transform: capitalize;
    border-right: 1px solid #37B9EB;
    background: #37B9EB;
    height: 29px;
    min-width: 57px;
    border-radius: 4px 0 0 4px;
}

.isTab
{
    position: absolute;
    z-index: 1144;
    right: 5px;
    top: 60px;
    border: none;
    background-color: rgba(255,255,255,0.95);
    box-sizing: border-box;
    min-width: 43%;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    padding: 5px 10px 10px 10px;
    border-radius: 6px;
}

.isTab::before
{
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: 5px;
    content: "";
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(255,255,255,0.95);
    margin-left: -10px;
    z-index: 2;
}

.isTab::after
{
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    right: 9px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 12px solid transparent;
    margin-left: -10px;
}

.bz-wp-tabs-ui
{
    display: inline;
    width: 100%;
    height: 35px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cell.bz-container-items-tabs.show
{
    display: block;
}

.bz-container-items-tabs
{
    border: none;
    display: none;
    font-size: 13px;
    font-weight: bold;
    padding: 12px 15px;
    background: none;
    color: #3E515A;
    border-bottom: 1px solid #E4E8E9;
}

.bz-container-items-tabs.tabSelected
{
    min-height: 35px;
    max-height: 35px;
    padding: 9px 0 0 10px;
    border-bottom: 1px solid #CCCCCC;
    border-radius: 0;
    color: #1A2126;
}

.bz-wp-tabs-ui.tabSelected > span
{
    color: #FFF;
    background-color: #37B9EB;
}

.bz-container-items-tabs:active
{
    background: none;
    color: #31414c;
}

.bz-tabs-display-name
{
    text-decoration: none;
}

.bz-tabs-narrow
{
    position: relative;
    float: right;
    right: 50px;
}


/* end tab.tmpl*/

.bz-rn-text-extended
{
    text-align: left;
    vertical-align: middle;
    min-height: 88px;
    padding: 2px 0 0 10px;
    font-size: 14px;
    color: #3E515A;
    overflow: hidden;
    position: relative;
    display: block;
    border: none;
    margin-top: 5px;
    background: white;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    -webkit-appearance: none;
}

.ui-bizagi-error-message.ui-widget-header.ui-state-error
{
    border: 1px solid #EF3648;
    margin: 5px;
    color: rgba(255,255,255,0.8);
    background: #EF3648;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #888;
}

.ui-bizagi-error-message span.ui-icon.ui-icon-close.ui-widget-content
{
    display: inline;
    width: 20px;
    height: 20px;
    position: relative;
}

.ui-bizagi-error-message span.ui-icon.ui-icon-close.ui-widget-content:after
{
    font-family: "bizagiflat";
    content: "\e629";
    color: white;
    font-size: 25px;
}

span.ui-bizagi-error-message-text
{
    display: inline;
    position: relative;
    top: 5px;
}

.ui-bizagi-render-edit-text-search
{
    overflow: hidden;
    margin: 10px 0 0 0;
    display: block;
    border-radius: 20px;
    width: 100%;
    position: absolute;
    height: 35px;
    padding: 4px 7px;
    outline: 0;
}

.ui-bizagi-render-edit-text-extended
{
    width: 100%;
    position: relative;
    border-radius: 6px;
    border: none;
    background-color: white;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    margin: 10px 0 0 0;
    vertical-align: middle;
    text-align: left;
    padding: 7px 0 0 15px;
    min-height: 88px;
}

.ui-bizagi-render-edit-date, .ui-bizagi-render-edit-date-time
{
    display: block;
    -webkit-appearance: textfield;
}

.bz-command-not-edit .ui-bizagi-render-edition-arrow
{
}

label .bz-rn-boolean-radio, label .ui-bz-rn-boolean-check
{
    display: inline-block;
    font-size: 15px;
    line-height: 1em;
    margin:0 0.25em 0 0;
    padding: 0;
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
}

label .ui-bz-rn-boolean-check:checked:after
{
    content: "\e628";
    font: 1em/1em "bizagiflat";
    color: #195891;
    font-size: 20px;
    top: -1px;
    left: -1px;
    position: relative;
}

label .ui-bz-rn-boolean-check
{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    position: relative;
    left: 10px;
    background: white;
}

.bz-rn-boolean-radio:after
{
    content: "\e605";
    font: 1em/1em "bizagiflat";
    color: #CBCBCB;
    font-size: 20px;

    position: relative;

}

.bz-rn-boolean-radio:checked:after
{
    content: "\e628";
    font: 1em/1em "bizagiflat";
    color: #195891;
    font-size: 20px;
}

.bz-rn-combo-list-edit > div
{
    display: block;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CAD3D5;
    padding: 10px 0px 0px 0px;
    min-height: 40px;
    font-size: 13px;
}

.bz-rn-combo-list-edit > .bz-rn-combo-selected
{
}

.bz-rn-combo-text
{
    text-align: left;
    position: relative;
    width: 75%;
    padding-left: 15px;
}

.bz-rn-combo-list-edit > div > span.bz-rn-combo-check
{
    position: absolute;
    top: 10px; /* margin-top: -9px; */
    padding: 0;
    right: 20px;
    width: 18px;
    height: 18px;
    text-align: left; /* background-position: -371px 50%; */
    -webkit-border-radius: 9px;
    background: white;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.bz-rn-combo-list-edit > .bz-rn-combo-selected > span.bz-rn-combo-check
{
    display: inline;
}

.bz-rn-combo-list-edit > .bz-rn-combo-selected > span.bz-rn-combo-check:after
{
    content: "\e628";
    font: 1em/1em "bizagiflat";
    color: #195891;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

/*
.bz-rn-combo-cn-select-div
{
    float:right;
    text-align:right;
}
*/

.bz-rn-combo-select.disabled > span.bz-rn-combo-icon-arrow
{
    display: none;
}

.bz-rn-combo-cn-select-div.disabled
{
    background: none;
    box-shadow: none;
}

.ui-bizagi-render-control span
{
    /*right: 30px;*/
    position: relative;
}

span.bz-rn-combo-select
{
    padding: .5em 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    color: #6B7E87;
    min-height: 15px;
    right: 0;
}

.bz-rn-cm-text-label
{
    overflow: hidden;
}

.bz-rn-combo-icon-arrow
{
    display: none;
}


/*

__autocomplete

*/

.ui-bizagi-render-search-container
{
    position: relative;
    width: 100%;
    padding: 0;
}

.ui-bizagi-render-search-item, .ui-menu > .ui-menu-item
{
    width: 100%;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #9C9EA5;
    padding: 5px 0px 5px 0px;
    background: white;
}

.ui-bizagi-render-search
{
    width: 100%;
    display: inline;
    float: left;
    background: white;
    min-height: 30px;
    height: 30px;
    border-radius: 6px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3) !important;
    position: relative;
    margin: 10px 0 0 0;
    border: none;
    -webkit-appearance: none;
    padding: 0 0 0 10px;
}

.bz-rn-search-button
{
}

.bz-rn-search-button:after
{
    content: "\e60b";
    font: 1em/1em "bizagiflat";
    color: #3E515A;
    font-size: 20px;
    padding: 5px 0 0 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgba(26,33,38,0.2);
    width: 25px;
    height: 25px;
    border-radius: 6px;
}


/********

__radios

*********/

.ui-bz-render-radio
{
    position: relative;
    width: 100%;
}

.ui-bz-render-radio fieldset
{
    /*padding: 0; margin: 0; border: none; left: -100px; position: relative;*/
    position: relative;
    text-align: left;
    border: none;
}

.ui-bz-rn-radio-item
{
    position: relative;
    margin: 5px 0 0 0;
    line-height: 20px;
}

.ui-bz-rn-radio-item > label
{
    cursor: pointer;
    position: relative;
    background: transparent;
    box-shadow: none;
    display: inline;
    vertical-align: top;
    line-height: 28px;
    color: rgb(65,89,104);
}

.ui-bz-rn-radio-item > input
{
    display: inline-block;
    border: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px; /* background-position: -176px -237px; */
    background: white;
    border-radius: 20px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.ui-bz-rn-radio-item.checked > input.bz-cm-icon:after
{
    content: "\e628";
    font: 1em/1em "bizagiflat";
    color: #195891;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

/*.ui-bz-rn-radio-item > input.bz-cm-icon:after
{
    content: "\e628";
    font: 1em/1em "bizagiflat";
    color:#195891;
    font-size: 20px;
    padding: 0;
    margin:0 17px 7px -3px;
}

*/

/* link */

/* link icon */

.bz-rn-link-icons
{
    background-position: -52px -98px;
    display: block;
    float: left;
}

.ui-bizagi-render-link
{
    left: 5px;
    position: relative;
}


/* letter */

.bz-rn-letter
{
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(100%, #E2DEDE));
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #9C9EA5;
    overflow: hidden;
}


/* RENDER CONTROLS */

/*basic controls text, radio, etc*/


.ui-bizagi-render
{
}

.bz-command-edit-inline > .ui-bizagi-render-edition-arrow
{
    background-position: -287px -263px;
}

.bz-command-edit-inline > .ui-bizagi-render-edition-arrow > .bz-cm-icon
{
    background-position: -287px -263px;
    min-height: 33px;
    margin: 10px 0 0 0;
}

.bz-container-render-cell
{
    width: 95%;
    min-height: 55px;
    position: relative;
    display: block;
}

.ui-bizagi-form-group
{
}

.arrow
{
    position: absolute;
    border-style: solid;
    border-width: 7px;
}

.arrow.up
{
    border-color: hsl(0, 0%, 95%) transparent transparent transparent;
    top: 13px;
    right: 15px;
}

.arrow.down
{
    border-color: transparent hsl(0, 0%, 95%) transparent transparent;
    top: 9px;
    right: 18px;
}

.bz-label-reversed > label
{
    float: right;
    right: 0;
    text-align: right;
}

/**
    peronalize check display
****/

.bz-check-control
{
    top: 10px;
    position: absolute;
}

.bz-check-label
{
    float: left;
    top: 10px;
    position: absolute;
    left: 35px;
}


/*__upload*/

.ui-bizagi-render-upload-container li, .ui-bizagi-render-upload-container a
{
}

.ui-bizagi-render-upload-item a
{
    border: none;
    min-height: 30px;
    color: rgba(62,81,90,0.85);
    box-shadow: none;
    position: relative;
    display: inline-block;
    -webkit-appearance: none;
}

.ui-bizagi-render-upload-container
{
}


/* upArrow */

.bz_rn_upload_container_upload_items.upArrow:after, .bz_rn_upload_container_upload_items.upArrow:before
{
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.bz_rn_upload_container_upload_items.upArrow:after
{
    border-color: rgba(212, 214, 216, 0);
    border-bottom-color: #e6e6e6;
    border-width: 13px;
    left: 50%;
    margin-left: -15px;
}

.bz_rn_upload_container_upload_items.upArrow:before
{
    border-color: rgba(252, 245, 255, 0);
    border-bottom-color: #155376;
    border-width: 16px;
    left: 50%;
    margin-left: -18px;
}


/* bottomArrow */

.bz_rn_upload_container_upload_items.bottomArrow:after, .bz_rn_upload_container_upload_items.bottomArrow:before
{
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.bz_rn_upload_container_upload_items.bottomArrow:after
{
    border-color: rgba(212, 214, 216, 0);
    border-top-color: white;
    border-width: 13px;
    left: 40%;
}

.bz_rn_upload_container_upload_items.bottomArrow:before
{
    border-color: rgba(252, 245, 255, 0);
    border-top-color: rgba(0,0,0,0.3);
    border-width: 14px;
    left: 40%;
}

.bz_rn_upload_container_upload_items.bottomArrow
{
    top: -186px;
}

/* container item upload inline*/
.bz_rn_upload_container_upload_items_inline
{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: white;
    padding: 0 5px;
    border-top: 1px solid #CAD3D5;
}


/* container item upload */

.bz_rn_upload_container_upload_items_inline .bz-rn-upload-options {
    margin: 0;
    display: block;
    text-align: right;
}

.bz_rn_upload_container_upload_items
{
    position: absolute;
    z-index: 99999999; /* border: 2px solid #155376; */
    display: inline-block;
    border-radius: 6px;
    background-color: white;
    height: auto;
    display: none;
    padding: 4px 5px 1px 5px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.bz_rn_upload_container_upload_items > span
{
    text-align: center;
    display: block;
    margin: 0 0 5px 0;
    padding: 5px 0 0 0;
    font-weight: bold;
}

.bz-rn-upload-options
{
    position: relative;
    -webkit-padding-start: 0px;
    -webkit-margin-after: 5px;
    -webkit-margin-before: 5px;
    display: inline-block;
}

.bz-rn-upload-options > li
{
    display: inline-block;
    position: relative;
}

.bz-upload-button
{
    width: 59px;
    height: 60px;
    color: black;
    font: 1em/1em "bizagiflat";
    font-size: 20px;
    background: transparent;
    border: none;
    -webkit-appearance: none;
}

.bz_rn_upload_container_upload_items_inline button.bz-cm-icon.bz-upload-button.options {
    height: 42px;
}

.bz-upload-button.options:after
{
    color: #798A93;
    top: 0px;
    position: relative;
}

.bz-upload-button.options:after
{
    content: "\e613";
}

.bz-upload-button.file
{
    display: none;
}

li.bz-rn-upload-show-menu
{
    background: white;
    height: 50px;
    width: 50px;
    border-radius: 6px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    left: 50%;
    position: relative;
}


/*__image control*/

.ui-bizagi-render-image-image
{
    position: relative;
    height: auto;
    width: auto;
}

.ui-bizagi-render-image-image:hover .ui-bizagi-render-upload-item-delete
{
    visibility: visible;
}

.ui-bizagi-render-image-image .ui-bizagi-render-upload-item-delete
{
    background-color: #F4F4F4;
    border: 1px solid #555555;
    border-radius: 5px 5px 5px 5px;
    left: 0;
    position: absolute;
    visibility: hidden;
}

.ui-bizagi-render-upload-wrapper .image-file
{
    height: 32px;
    display: block;
    width: 100%;
}

.ui-bizagi-render-image-item
{
    border: 0 !important;
    padding: 3px 30px 3px 3px;
    position: relative;
    height: auto;
    width: auto;
    overflow: hidden;
    background: transparent !important;
    margin-bottom: 2px;
}

.ui-bizagi-render-align-right .image-wrapper
{
    float: right !important;
}

.ui-bizagi-render-align-left .image-wrapper
{
    float: left !important;
}

.ui-bizagi-render-align-center .image-wrapper
{
    margin-left: 30% !important;
}

.ui-bizagi-render-upload-queue.image-queue .uploadifyQueueItem
{
    width: 128px;
}

.ui-bizagi-render-upload-queue.image-queue .uploadifyQueueItem .cancel, .ui-bizagi-render-upload-queue.image-queue .uploadifyQueueItem .percentage
{
    display: none;
}


/*__DocumentTemplates */

.ui-bizagi-render-documentgenerator
{
    display: block;
}

.ui-bizagi-document-upload-item
{
}

.ui-bizagi-document-extension
{
    background-image: url("images/file_extensions_sprite_32.png");
    background-position: 0 -520px;
    margin: 0.5em -0.5em -0.5em 0.5em;
}

.ui-bizagi-document-type
{
    width: 16px;
    height: 16px;
    display: inline-block;
}

.ui-bizagi-document-upload-item-doc
{
    background-position: -20px -482px;
}

.ui-bizagi-document-upload-item-xls
{
    background-position: -20px -500px;
}

.ui-bizagi-document-upload-item-pdf
{
    background-position: -4px -482px;
}

.ui-bizagi-document-upload-item-generic-file
{
    background-position: -4px -500px;
}

.ui-bizagi-document-preview
{
    height: 24px;
    width: 24px;
    top: 7px;
    position: relative;
    border: 0px solid transparent;
    cursor: pointer;
}

.ui-bizagi-button-documentgenerator
{
}

.ui-bizagi-button-documentgenerator:hover
{
}

.ui-bizagi-div-button-documentgenerator
{
    float: left;
    width: 100%;
}

.ui-bizagi-div-documentgenerator
{
    width: 100%;
    display: block;
    margin-left: 8px;
}

.ui-bizagi-container-documents
{
    list-style: none;
    padding: 0;
    margin-top: 10px;
    overflow-y: auto;
    max-height: 250px;
}

.ui-bizagi-container-documents a
{
    position: relative;
    display: inline-block;
    padding: 0.2em;
    margin: 0.1em 0 0.1em 0.1em;
    text-decoration: none;
    padding-left: 8px;
}

.ui-bizagi-div-error-container .ui-bizagi-error-message
{
    width: 100%;
    left: 2px;
    padding: 0 15px;
    font-size: 9px;
    margin: 3px 0;
}


/* __DocumentTemplates */

.ui-bizagi-render-documentgenerator
{
    display: block;
}

.ui-bizagi-document-extension
{
    background-image: url("images/file_extensions_sprite_32.png");
    background-position: 0 -520px;
    margin: 0.5em -0.5em -0.5em 0.5em;
}

.ui-bizagi-document-type
{
    width: 16px;
    height: 16px;
    display: inline-block;
}

.ui-bizagi-document-upload-item-doc
{
    background-position: -20px -482px;
}

.ui-bizagi-document-upload-item-pdf
{
    background-position: -118px -571px;
    display: inline-block !important;
}

.ui-bizagi-document-upload-item-xls
{
    background-position: -20px -500px;
}

.ui-bizagi-document-upload-item-generic-file
{
    background-position: -4px -500px;
}

.ui-bizagi-document-preview
{
    height: 24px;
    width: 24px;
    top: 7px;
    position: relative;
    border: 0px solid transparent;
    cursor: pointer;
}

.ui-bizagi-button-documentgenerator
{
}

.ui-bizagi-button-documentgenerator:hover
{
    color: white;
}

.ui-bizagi-div-button-documentgenerator
{
    float: left;
    width: 100%;
}

.ui-bizagi-div-documentgenerator
{
    width: 100%;
    display: block;
}

.ui-bizagi-container-documents
{
    list-style: none;
    padding: 0;
    margin-top: 10px;
    overflow-y: auto;
    max-height: 250px;
}

.ui-bizagi-container-documents a
{
    position: relative;
    display: inline-block;
    padding: 0.2em;
    margin: 0.1em 0 0.1em 0.1em;
    text-decoration: none;
    padding-left: 8px;
    transition: all .3s ease-out;
}

.ui-bizagi-container-documents a:hover
{
}

.ui-bizagi-container-documents a:before
{
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #447799;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.ui-bizagi-container-documents a:after
{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.ui-bizagi-container-documents a:hover:after
{
    left: 1px;
    border-left-color: #447799;
}

.bz-rn-text.bz-render-reversed
{
    text-align: left;
}

.bz-render-reversed.bz-cn-grid
{
    padding-right: 0;
}

.bz-rn-display-value
{
    text-align: justify;
}


/* ECM RENDER
=========================================================*/

/*
div.ui-bizagi-render-control.bz-command-edit-inline {
    padding: 0 10px 0 10px;
}*/

.biz-render-ecm-delete-confirmation
{
    display: none;
}

.biz-render-ecm-view-default, .biz-render-ecm-view-default ul
{
    list-style: none;
}

.biz-render-ecm-view-default > li:first-child
{
    display: none;
}

.biz-render-ecm-view-default > li:nth-child(2n)
{
}

.ecm-file-name
{
}

.ecm-file-name .modal-ecm, .ecm-file-name .selectarrow, .ecm-file-name .content, .ecm-file-name .emc-options
{
    display: none;
}


.biz-render-ecm-view-default table
{
    display: none;
}

.bz-rn-ecm-container
{
    margin: 10px;
    background-color: rgba(62,81,90,0.05);
    border: 1px solid rgba(62,81,90,0.1); /*     margin-top: -4px;     margin-bottom: -30px;     border-radius: 3px; */
}


.bz-rn-ecm-menu-container .bz-common-webkit-reset-ul
{
    -webkit-padding-start: 0;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    margin: 0;
    display: inline-block;
}

.ui-bizagi-grid-smartphone .bz-rn-ecm-container
{
    background-color: #f2f2f2;
    padding: 6px;
    border-radius: 0;
}


.ui-bizagi-grid-smartphone .bz-rn-ecm-container .bz-rn-ecm-metadata
{
    background-color: #e6e6e6;
    padding: 5px;
    border-radius: 0 0 6px 6px;
    margin-top: -3px;
}

.bz-rn-ecm-header
{
    background: rgba(10,36,61,0.2);
    display: inline-block;
    width: 100%;
    color: #31414C;
    border-radius: 0;
    text-align: left;
    min-height: 30px;
}

.bz-rn-ecm-header span
{
    display: table-cell;
    padding: 5px 0 5px 15px;
    text-align: left;
}

.bz-rn-ecm-menu-container ul
{
    overflow: hidden;
    list-style: none;
    position: relative;
    width: 100%;
}

.bz-rn-ecm-menu-container ul li
{
    float: left;
    display: none;
}

.bz-ecm-delete, .bz-ecm-edit, .bz-ecm-lock, .bz-ecm-unlock, .bz-ecm-upgrade
{
    font-size: 10px;
    width: 40px;
    text-align: center;
}

.bz-ecm-delete span.bz-cm-icon, .bz-ecm-edit span.bz-cm-icon, .bz-ecm-lock span.bz-cm-icon, .bz-ecm-unlock span.bz-cm-icon, .bz-ecm-upgrade span.bz-cm-icon
{
    height: 20px;
    width: 20px;
    display: inline-block;
}

.bz-ecm-delete span
{
    background-position: -236px 0;
}

.bz-ecm-edit span
{
    background-position: -164px 0;
}

.bz-ecm-lock span
{
    background-position: -200px 0;
}

.bz-ecm-unlock span
{
    background-position: -217px 0;
}

.bz-ecm-upgrade span
{
    background-position: -184px 0;
}

.bz-rn-ecm-extension span
{
    width: 40px;
    text-align: center;
}

.bz-ecm-checkout-true
{
    background-position: -389px -269px;
    display: none !important;
}

.bz-ecm-checkout-false
{
    background-position: -359px -269px;
    display: none !important;
}

span.bz-cm-icon.bz-rn-ecm-btn-attach-file:after, .bz-rn-ecm-btn-activate-menu:after
{
    font: 1em/1em "bizagiflat";
    color: #CBCBCB;
    font-size: 20px;
}

.bz-rn-ecm-upload > span
{
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-top: 5px;
}

span.bz-cm-icon.bz-rn-ecm-btn-attach-file:after
{
    content: "\e62e";
}

.bz-rn-ecm-activate-menu
{
    display: table-cell;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}
/*
.bz-rn-ecm-activate-menu span
{
    background-position: -142px -100px;
}*/

.bz-rn-ecm-btn-activate-menu:after
{
    content: "\e60c";
}

.bz-rn-ecm-menu-container ul li.bz-ecm-item-menu-enable
{
    display: inline-block;
    border-left: 1px solid #3E515A;
    margin: 0 5px -5px -2px;
    padding: 0 5px 3px 5px;
}

.bz-rn-ecm-container .bz-rn-ecm-metadata
{
    border-bottom: 1px solid rgba(62,81,90,0.1);
    padding: 5px;
}

.bz-rn-ecm-container .bz-rn-ecm-metadata > span
{
    margin: 5px 20px 0 0;
}

.bz-rn-ecm-container .bz-rn-ecm-metadata:last-child
{
    border-bottom: none;
}

.bz-rn-ecm-metadata-item
{
    display: table;
    text-align: left;
    width: 100%;
    position: relative;
}

.bz-rn-ecm-title-item
{
    display: table-cell;
    padding: 5px 1px 5px 10px;
    text-align: left;
    word-break: break-all;
    overflow: hidden;
    color: #B0B2B2;
    vertical-align: middle;
}

.bz-rn-ecm-title-item label
{
    color: #31414C;
}

.bz-rn-ecm-header .bz-rn-required
{
    margin: 0 0 0 0px;
    position: absolute;
    top: -3px;
    border-radius: 0;
}


.bz-rn-ecm-required
{
    color: red;
}

.bz-rn-ecm-metadata-value
{
    display: table-cell;
    padding: 5px 1px 5px 10px;
    text-align: left;
    word-break: break-all;
    overflow: hidden;
    vertical-align: middle;
}

.bz-rn-ecm-file-container ul
{
    list-style: none;
    overflow: hidden;
}

.bz-rn-ecm-file-container ul li
{
    float: left;
}

.bz-rn-ecm-metadata-items
{
    display: none;
}

.bz-rn-ecm-menu-container
{
    display: none;
    position: absolute;
    z-index: 99999999;
    border: 2px solid #155376; /*  display: inline-block; */
    background-color: rgba(255,255,255,0.95);
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    height: auto;
    display: none;
    padding: 4px 5px 1px 5px;
    margin: 0 0 0 -17px;
    height: 50px;
}

.bz-rn-ecm-menu-container:after, .bz-rn-ecm-menu-container:before
{
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.bz-rn-ecm-menu-container:after
{
    border-color: rgba(230, 230, 230, 0);
    border-left-color: #e6e6e6;
    border-width: 5px;
    top: 50%;
    margin-top: -5px;
}


.bz-rn-ecm-menu-container:before
{
    border-color: rgba(21, 83, 118, 0);
    border-left-color: #3E515A;
    border-width: 8px;
    top: 50%;
    margin-top: -8px;
}


.bz-rn-ecm-file-container
{
    display: inline-table;
    width: 100%;
}

.bz-rn-ecm-extension
{
    display: table-cell;
    vertical-align: middle; /*height: 60px;*/
    padding: 5px 1px 5px 10px;
    text-align: left;
    word-break: break-all;
}

.bz-rn-ecm-url
{
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 10px;
    color: #6b7e87;
    font-size: 13px;
    text-align: right;
}

.bz-rn-ecm-url a:link
{
    color: #52595F;
    text-decoration: none;
}

.bz-rn-ecm-activate-menu
{
    display: table-cell;
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.bz-rn-ecm-activate-menu span
{
    background-position: -142px -100px;
}

.bz-rn-ecm-metadata-container
{
    display: none;
    margin: 10px 20px 10px 20px;
    border-radius: 0;
    color: #4c5356;
    background: #EBEDF1;
    border-top: 1px solid #eeeeee;
    font-size: 11px;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-title-item
{
    background-color: rgba(10,36,61,0.2);
    min-width: 85px;
    border-bottom: 1px solid #B5B9BD;
    border-top: 1px solid #D4D5D7;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-item:first-child .bz-rn-ecm-title-item
{
    border-radius: 0;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-item:last-child .bz-rn-ecm-title-item
{
    border-radius: 0;
    border-bottom: none;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-value
{
    width: 100%;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #CACDCF;
}


.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-item:first-child .bz-rn-ecm-metadata-value
{
    border-radius: 0;
    border-top: none;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-item:last-child .bz-rn-ecm-metadata-value
{
    border-radius: 0;
    border-bottom: none;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-value > input[type="date"]
{
    background: rgba(255,255,255,0.95);
    border: none;
    width: 95%;
}


input.bz-cm-icon.bz-rn-ecm-boolean
{
    -webkit-appearance: none;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-value > input[type="radio"]:after
{
    border: none;
    display: inline-block;
    content: "\e605";
    font: 1em/1em "bizagiflat";
    color: #CBCBCB;
    font-size: 20px;
    padding: 0 0 0 2px;
    position: relative;
}

.bz-rn-ecm-metadata-container .bz-rn-ecm-metadata-value > input[type="radio"]:checked:after
{
    content: "\e628";
    font: 1em/1em "bizagiflat";
    color: #195891;
    font-size: 20px;
    border: none;
}

.bz-rn-ecm-upload > span
{
    height: 20px;
    width: 20px;
    background-position: -300px -142px;
    display: inline-block;
    margin-top: 5px;
}

.bz-rn-ecm-menu-container.active
{
    display: inline;
    border: 2px solid;
    border-radius: 1em;
    width: auto;
    position: absolute;
    display: inline-block;
    z-index: 4;
    background: rgba(15,53,88,0.1);
    top: 43px;
    right: 20px;
}

.bz-rn-ecm-metadata-item input[type="text"], .bz-rn-ecm-metadata-item input[type="number"], .bz-rn-ecm-metadata-item input[type="datetime"]
{
    background: rgba(255,255,255,0.95);
    border: none;
    padding: 3px 0 3px 5px;
    width: 95%;
    border-radius: 6px;
}

.bz-rn-ecm-buttons-container
{
    position: relative;
    margin: 0 auto;
    right: 7px;
    text-align: right;
    padding: 5px 0 5px 0;
}

.bz-rn-ecm-buttons-container button
{
    -webkit-appearance: none;
    font-size: 11px;
    border-radius: 6px;
    background: #3E515A;
    color: #E4E8E9;
    padding: 7px 10px;
    position: relative;
    border: 1px solid transparent;
    margin: 10px;
    max-width: 250px;
    word-wrap: break-word;
    min-width: 100px;
    margin-top: 30px;
}

/* grid image bug fixing*/

.ui-bizagi-grid-smartphone .ui-bizagi-render .ui-bizagi-render-image-wrapper img
{
    width: 100%;
}

.ui-bizagi-render-image-wrapper
{
    /*background:white;     height:30px;     width:98%;     border-radius:5px;     box-shadow:0px 1px 1px 0px rgba(0, 0, 0, 0.3);     left: -23px; position: relative;*/
    background: white;
    min-height: 30px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    position: relative;
}

.ui-bizagi-render-image-wrapper:after
{
    content: "\e620";
    font: 1em/1em "bizagiflat";
    color: #AAAAAA;
    font-size: 25px;
    position: absolute;
    top: 5px;
    left: 9px;
}

.ui-bizagi-render-image-wrapper.no-after-image:after
{
    content: "";
}

/****
concepto 
***/

/*
.ui-bizagi-container-children-form
{
    padding-bottom: 25px;
}
*/

.ui-bizagi-render
{
    border-bottom: none;
}

.ui-bizagi-label
{
    margin-bottom: 6px;
    margin-left: 10px;
    padding: 0 0 0 5px;
    word-break: normal;
}

.ui-bizagi-label > label
{
    color: #195891;
    text-transform: capitalize;
    font-weight: bold;
    width: 100%;
    position: relative;
    font-size: 15px;
    background: transparent;
    box-shadow: none;
}

.ui-bizagi-grid .ui-bizagi-grid-smartphone .ui-bizagi-label > label
{
    margin-left: 10px;
}

/*
.bz-command-not-edit .ui-bizagi-label label:after {
    content: "Read only";
    padding: 0 0 0 10px;
    font-size: 10px;
    font-style: italic;
    color: #798A92;
    font-weight: 100;
}
*/

.ui-bizagi-form-group .childrenContainer .ui-bizagi-label
{
    margin-left: 0;
}

.bz-rn-cm-text-label.bz-rn-text
{
    position: relative;
    border: none;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 5px 12px;
    box-sizing: border-box;
    color: #A4A4A4;
    background: white;
    -webkit-appearance: none;
}

input.bz-rn-text.bz-render-reversed
{
    top: 0;
    text-align: right;
    padding: 0 25px 0 0;
}

.ui-bizagi-grid-smartphone .bz-command-not-edit .ui-bizagi-render-control
{
    background: none;
    box-shadow: none;
}

.ui-bizagi-grid .ui-bizagi-grid-smartphone .ui-bizagi-render-control
{
    padding: 0 10px 0 10px;
}

.ui-bizagi-render-control.bz-control-reversed .bz-rn-text.bz-render-reversed
{
    padding: 0 35px 0 0;
}


/*
.ui-bizagi-render
{
    margin-left: 5%;
    margin-right: 5%;
}
*/

.ui-bizagi-grid-smartphone .ui-bizagi-render
{
    margin-top: 10px; /* margin-bottom: 0px;*/
    margin-left: 0;
    margin-right: 0;
}

.ui-bizagi-render
{
    margin-top: 8px;
    position: relative;
}

.ui-bizagi-render-edition-arrow > .bz-cm-icon
{
    top: -4px;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    left: 30px;
    bottom: 0;
}

.ui-bizagi-render-edition-arrow > .bz-cm-icon:after
{
    content: "\e61e";
    font: 1em/1em "bizagiflat";
    color: #CAD3D5;
    font-size: 12px;
    visibility: visible;
}

.bz-command-edit-inline .ui-bizagi-render-edition-arrow > .bz-cm-icon:after
{
    content: "\e600";
    font: 1em/1em "bizagiflat";
    color: #CAD3D5;
    font-size: 13px;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 2px;
}

.bz-command-not-edit .ui-bizagi-render-edition-arrow > .bz-cm-icon:after
{
    display: none;
}

/*
.ui-bizagi-render-edition-arrow >.bz-cm-icon.edit-point-icon
{
    background-position: -287px -271px;
}
*/

.ui-bizagi-render-edition-arrow > .bz-cm-icon.edit-combo-arrow
{
    background-position: -369px -129px;
    height: 35px;
}

.ui-bizagi-render-edition-arrow > .bz-cm-icon.edit-combo-arrow:after
{
     content: "\e61e";
    font: 1em/1em "bizagiflat";
    color: #CAD3D5;
    font-size: 12px;
}

.bz-rn-required
{
    /*background: -webkit-gradient(linear, left top, left bottom, from(#ea2c2c), to(#9d1313));*/
    float: left;
    width: 4px;
    margin: 0 0 0 -10px;
    position: relative;
    top: 0;
    height: 11px;
}

.bz-rn-required:before
{
    content: '*';
    color: #ED3333;
    font-weight: bold;
}

.bz-rn-ecm-header .bz-rn-required
{
    margin: 0 0 0 0;
    position: absolute;
    top: -3px;
    border-radius: 0;
}

div.ui-bizagi-render-control.bz-control-reversed
{
    padding: 0 5px 0 5px;
    top: 2px;
    position: relative;
}

div.ui-bizagi-label.bz-label-reversed
{
    right: 35px;
    position: relative;
    padding-bottom: 17px;
}

.bz-label-reversed .bz-rn-required
{
    right: 0;
    border-radius: 0;
    top: 0;
    left: 10px;
    float: right;
}

.bz-control-reversed .ui-bizagi-render-upload-item{
	text-align:right;
}
/******
    Prueba validaciones ios
***/

.bz-rn-err:after
{
    border-radius: 0;
}

.bz-cm-tbl-row.bz-rn-messages
{
    display: inline-block;
    width: 100%;
}

/* ICONS */

/*
.bz-cm-icon.bz-rn-boolean-radio:after
{
    content: "\e628";
    font: 1em/1em "bizagiflat";
    color:#195891;
    font-size: 20px;
    padding: 0 0 0 5px;
}
*/

.bz-rn-renderedition .km-navbar
{
    background: linear-gradient(to bottom, #ffffff 0%,#f1f2f4 100%);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-bottom: 1px solid white;
    height: 55px;
    color: #61819E;
    font-weight: 100;
}

/*.bz-command-not-edit .bz-container-render-item
{
    height: 60px;
}*/

.ui-bizagi-render-link
{
    background: rgba(62,81,90,0.05);
    padding: 5px 12px;
    border: none;
    border-radius: 0px;
    min-height: 30px;
    color: rgba(62,81,90,0.85);
    box-shadow: none;
    position: relative;
    width: 50%;
    display: inline-block;
}


.ui-bizagi-render-edition-arrow .bz-cm-icon,
.bz-rn-ecm-menu-container .bz-cm-icon,
.bz-wp-render .bz-cm-icon,
.ui-bizagi-render-geolocation .bz-cm-icon
{
    background-image: url('images/ios7-render-sprite-1x.png');
    -webkit-appearance: none;
    border: none;
    min-height: 20px;
    min-width: 20px;
    margin: 0 auto;
    display: block;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
{
    .bz-rn-ecm-menu-container .bz-cm-icon,
    .bz-wp-render .bz-cm-icon,
    .ui-bizagi-render-geolocation .bz-cm-icon,
    .ui-bizagi-render-edition-arrow .bz-cm-icon
    {
        background-image: url('images/ios7-render-sprite-2x.png');
        background-size: 256px 100px;
        visibility: hidden;
    }

}

.bz-cm-icon.bz-rn-input-icon-date, .bz-command-edit-inline .bz-cm-icon.bz-rn-input-icon-coin, .bz-command-edit-inline .bz-cm-icon.bz-rn-input-icon-numeric, .bz-command-edit-inline  .bz-cm-icon.bz-rn-input-icon-numeric-scientific, .bz-command-edit-inline .bz-cm-icon.bz-rn-input-icon-search, .bz-command-edit-inline .bz-cm-icon.bz-rn-input-icon-geo, .bz-command-edit-inline .bz-cm-icon.bz-rn-input-icon-time
{
    top: -5px;
    position: absolute;
    left: 16px;
    width: 9px;
    visibility: visible;
}

.bz-command-not-edit .bz-cm-icon.bz-rn-input-icon-date, .bz-command-not-edit .bz-cm-icon.bz-rn-input-icon-coin, .bz-command-not-edit .bz-cm-icon.bz-rn-input-icon-numeric
{
    visibility: hidden;
}

.bz-cm-icon.bz-rn-input-icon-date
{
    background-position: 4px -5px;
}

.bz-cm-icon.bz-rn-input-icon-coin
{
    background-position: -17px -3px;
}

.bz-cm-icon.bz-rn-input-icon-numeric
{
    background-position: -33px -3px;
}

.bz-cm-icon.bz-rn-input-icon-numeric-scientific
{
    background-position: -68px -25px;
}

.bz-cm-icon.bz-rn-input-icon-search
{
    background-position: -50px -3px;
    min-width: 15px;
    margin-right: -25px;
}

.bz-cm-icon.bz-rn-input-icon-geo
{
    background-position: -68px -3px;
}

.bz-cm-icon.bz-rn-input-icon-time
{
    background-position: -90px -3px;
}

.ui-bizagi-render-edition-arrow > .bz-cm-icon.bz-rn-input-icon-date:after,
.ui-bizagi-render-edition-arrow > .bz-cm-icon.bz-rn-input-icon-coin:after,
.ui-bizagi-render-edition-arrow > .bz-cm-icon.bz-rn-input-icon-numeric:after,
.ui-bizagi-render-edition-arrow > .bz-cm-icon.bz-rn-input-icon-numeric-scientific:after,
.ui-bizagi-render-edition-arrow > .bz-cm-icon.bz-rn-input-icon-search:after
{
    visibility: hidden;
}


.ui-bizagi-form-group > .childrenContainer > .ui-bizagi-form-group
{
    margin: 5px -10px 5px -10px;
}

.bz-rn-container-date > input.ui-bizagi-render-edit-date
{
    height: 30px;
    border-radius: 6px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    -webkit-appearance: none;
    color: #3E515A;
    padding: 5px 0 0 10px;
    position: relative;
    margin-top: 10px;
    font-size: 16px;
}



.bz-rn-container-date > input.ui-bizagi-render-edit-date-time
{
    height: 30px;
    border-radius: 6px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    -webkit-appearance: none;
    color: #3E515A;
    padding: 5px 0 0 10px;
    width: 100%;
    border: none;
    position: relative;
    margin-top: 10px;
    font-size: 16px;
}



.ui-bizagi-render.ui-bz-rn-label-only .bz-container-render-item
{
    height: 25px;
}


.ui-autocomplete
{
    z-index: 10;
    position: absolute;
    cursor: default;
    max-height: 100px;
    overflow-y: scroll;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-menu
{
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    float: left;
}
