﻿<div class="ui-bizagi-render">
    <div class="bz-container-render-item">
        <div  class=" bz-container-render-cell1 ">
            <div class=" ui-bizagi-label "  style="headerStyles"><label style="headerLabelStyles">#= data.label #</label></div>
            <div class="ui-bizagi-render-control " >{{control}}</div>
            <div class="ui-bizagi-render-edition-arrow " ><span class="bz-cm-icon "></span></div>
        </div>
    </div>
    <div class="bz-cm-tbl-row bz-rn-messages">  </div>
</div>
