<script id="bizagi-render-drag-helper" type="text/x-jquery-tmpl">
      <div id="mtool-container-helper" class="mtool-helper">
         <i class="biz-ico mtool-item-image-${id}"></i>
         <label>${caption}</label>
      </div>
</script>