<div class="${css}" {{adjustable}}>
    <div class="ui-bizagi-info-container">
        <div class="ui-bizagi-info" >
            <div class="ui-state-info">
                <span class="ui-icon ui-icon-info"></span>
                <div class="ui-bizagi-info-message-text">{{html message}}</div>
            </div>
        </div>  
    </div>
</div>