﻿#content-left-drawer, #content-left-drawer .km-listview-wrapper li
{
    background-color: #0C1C2B;
    color: white;
}

#content-left-drawer .km-listview-wrapper li.bz-menu-li
{
    border: 1px solid white;
    border-width: 0 0 1px 0;
}

.bz-menu-title
{
    color: #195891;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px solid #3C4955;
    height: 22px;
    display: inline-block;
    padding: 0 0 0 15px;
}

#content-left-drawer .km-listview-wrapper li.bz-menu-li
{
    border-bottom: 1px solid #3C4955;
    padding-bottom: 14px;
    padding-top: 14px;
    margin-left: 15px;
}

#content-left-drawer .km-listview-wrapper li.bz-menu-li:last-child
{
    margin: 10px 0 36px 0;
    padding: 0 0 0 29px;
    height: 36px;
}

/**
Debug Panel
**/

#debug-panel
{
    visibility: visible;
    z-index: 2147483647;
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
    height: 300px;
    background-color: #0A1621;
    color: #f1f2f4;
    display: none;
}

#debug-panel .content
{
    background-color: #0C1B29;
    position: relative;
    top: 25px;
    height: 100%;
    padding: 5px;
    overflow-y: scroll;
    max-height: 255px;
    border-top: 1px solid rgba(255,255,255,0.2);
}

#debug-panel .content > div
{
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding: 10px 0 10px 0;
}

#debug-panel .panel .close-debug
{
    position: absolute;
    white-space: nowrap;
    right: 0;
    top: 0;
    height: 17px;
    width: 48px;
    padding: 5px;
}
