<script id="node" type="text/x-jquery-tmpl">  
<ul class = "bizagi_editor_xpathnavigator_list">
    <li id="${id}" data-id="${id}" class="bizagi_editor_xpathnavigator_node">
        <div class="${dragabbleClass} bizagi_editor_xpathnavigator_data biz-btn-horizontal">
            <div class="biz-btn">
                {{if (canHaveChildren == "true") }} 
                    <i class="biz-ico xpathnavigator_expand_icon xpathnavigator_image_padding"/>
                {{/if}}
                <i class="biz-ico ${style} xpathnavigator_image_padding"></i>
                <label class="bizagi_editor_xpathnavigator_hover_cursor ui-ellipsis">
                  ${displayName}
                </label>
            </div>
        </div>
        <ul class = "bizagi_editor_xpathnavigator_list bizagi_editor_xpathnavigator_node-childs">
        </ul>	     
    </li>
</ul>
</script>

<script id="xpathnavigator-close" type="text/x-jquery-tmpl">
    <div class="xpathnavigator-close ui-properties-close biz-btn-close"><i class="biz-icon ui-close-btn bizagi_editor_xpathnavigator_container-close-image"></i></div>
</script>


<script id="xpathnavigator-helper" type="text/x-jquery-tmpl">
      <div id="bizagi_editor_xpathnavigator-helper" class="bizagi_editor_xpathnavigator-helper">
         <i class="biz-ico xpathnavigator-item-image ${style}"></i>
         <label>${displayName}</label>
         <i class="biz-ico mtool-image-plus"></i>
      </div>
</script>

<script id="xpathnavigator-node-container" type="text/x-jquery-tmpl">
    <div class="xpathnavigator-node-container"></div>
</script>


<script id="xpathnavigator-node-version" type="text/x-jquery-tmpl">
      <span class="bizagi_editor_xpathnavigator-form-version ui-badge ui-arrow-right biz-third-font">${version}</span>
</script>
