vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|06 Mar 2009 21:50:34 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|02 Sep 2009 12:50:31 -0000
vti_filesize:IR|11075
vti_cachedtitle:SR|BizAgi
vti_cachedbodystyle:SR|<body class="BAMnColor" onLoad="doInitDragAndDropPage()">
vti_cachedlinkinfo:VX|H|favicon.ico Q|css/WorkPortal/WPMenu.css Q|css/WorkPortal/WPContextMenu.css Q|css/WorkPortal/WPCustomStyles.css Q|css/estilos.css S|Localization/LocalizationEN.js S|js/WorkPortal/WPToolBarMenu.js S|js/scripts.js S|js/BizAgiAjax.js S|img/WorkPortal/DragBg.gif S|img/img/barra/Logo.gif S|img/WorkPortal/Menu/leftmenu.jpg S|img/WorkPortal/Menu/BizAgiLogo.jpg S|img/WorkPortal/Menu/rightmenu.jpg H|<%=\\ Request.ApplicationPath\\ %>/App/Inicio/LogOff.aspx S|img/WorkPortal/Menu/icon_search.jpg K|default.aspx S|img/WorkPortal/Menu/RedLittleArrow.gif S|WorkPortal/WPMainPanel.htm S|img/lista/BombilloAmarillot.gif
vti_cachedsvcrellinks:VX|FHUS|favicon.ico FQUS|css/WorkPortal/WPMenu.css FQUS|css/WorkPortal/WPContextMenu.css FQUS|css/WorkPortal/WPCustomStyles.css FQUS|css/estilos.css FSUS|Localization/LocalizationEN.js FSUS|js/WorkPortal/WPToolBarMenu.js FSUS|js/scripts.js FSUS|js/BizAgiAjax.js FSUS|img/WorkPortal/DragBg.gif FSUS|img/img/barra/Logo.gif FSUS|img/WorkPortal/Menu/leftmenu.jpg FSUS|img/WorkPortal/Menu/BizAgiLogo.jpg FSUS|img/WorkPortal/Menu/rightmenu.jpg UHUS|<%=\\ Request.ApplicationPath\\ %>/App/Inicio/LogOff.aspx FSUS|img/WorkPortal/Menu/icon_search.jpg FKUS|default.aspx FSUS|img/WorkPortal/Menu/RedLittleArrow.gif FSUS|WorkPortal/WPMainPanel.htm FSUS|img/lista/BombilloAmarillot.gif
vti_cachedneedsrewrite:BR|true
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_charset:SR|windows-1252
vti_title:SR|BizAgi
vti_lineageid:SR|{FBD1AD02-B96A-4255-B346-ED515B2E72F6}
vti_backlinkinfo:VX|default.aspx default.htm
