﻿body
{
    background-color: Gray;
    }
    
    
/* Task feed overdue lists */

.bz-list-item-date.overdue   
{    
    background: #FDEBEB;
    width: 50px;
    height: 30px;
    position: relative;
    display: inline-block;
    float: left;
    border-radius: 4px;
    margin-right: 10px;
}

.bz-list-item-maindata
{
    min-height: 35px;
    display: inline-block;
    min-width: 50%;
    padding: 5px;
}


.bz-list-subitem.activity
{
    margin: 0;
    font-size: 15px;
}

.bz-list-subitem.process
{
    margin: 0;
    font-size: 10px;
    background: #E5E5E5;
    border-radius: 3px;
    padding: 2px 5px 2px 5px;
    display:inline;
}

.bz-list-subitem.user
{
    margin:0;
    display:inline;
}