

 <script id="bz-workportal" type="text/x-jquery-tmpl">
  

  <div data-role="drawer" id="menu" data-views="['menu-bizagi', 'widget-search','workarea','render']" >
  <div  data-role="content" >
  {{component menu}}
  </div>
  </div>


  <div data-role="view" id="workarea" data-title="Bizagi"  > 
   <header data-role="header">
    <div data-role="navbar">
      <a class="bz-header-left-btn" data-align="left" data-icon="drawer-button" data-role="button"  href="#menu" data-rel="drawer"></a>
      <span class="bz-header-title" data-role="view-title">Title</span>
      <a class="bz-header-rigth-btn" id="bz-workarea-newcase" data-align="right" data-icon="mostrecent" data-role="button"></a>
    </div>
   </header>
   <div data-role="scrollerContent" data-bizagi-widget="inbox">
   <div id="webpart-process"></div>
   <div  id="webpart-cases"> </div>
   </div>
  </div>

  <div data-role="view" id="render" data-title="Form-Render" > 
   <header data-role="header">
    <div data-role="navbar">
      <a class="bz-header-left-btn" data-align="left" data-icon="rewind" data-role="button" id="bz-render-back"  ></a>
      <span class="bz-header-title" data-role="view-title">Form</span>
      <a class="bz-header-rigth-btn" id="bz-render-next" data-align="right" data-icon="fastforward" data-role="button"></a>
    </div>
   </header>
   <div data-role="scrollerContent" id="bz-container-render"  data-bizagi-widget="activityform"></div>
  </div>


  <div data-role="view" id="newcase" data-title="New Case" > 
   <header data-role="header">
    <div data-role="navbar">
      <a class="bz-header-left-btn" data-align="left" data-icon="rewind" data-role="button" id="bz-nc-back"  ></a>
      <span class="bz-header-title" data-role="view-title">Form</span>
    </div>
   </header>
   <div data-role="scrollerContent" id="bz-container-nc" ></div>
  </div>

</script>

<script id="bz-workportal-popup" type="text/x-jquery-tmpl">
   <div data-role="modalview" id="modalview-bizagi-${id}">
    <div data-role="scrollcontent" class="modalview-scrollercontent"></div>
   </div>
</script>


<script  id="bz-wp-widget-renderedition" type="text/x-jquery-tmpl">

  <div data-role="view" id="render-edition-${id}" data-title="Edition-Field" data-bizagi-widget="render-edition"> 
   <header data-role="header">
    <div data-role="navbar">
      <a class="bz-header-left-btn bz-renderedition-back" data-align="left" data-icon="rewind" data-role="backbutton"   ></a>  <!--href="#render"-->
      <span class="bz-header-title" data-role="view-title">Render Edition</span>
      <a class="bz-header-rigth-btn bz-renderedition-next"  data-align="right" data-icon="fastforward" data-role="button"></a>
    </div>
   </header>
    <div data-role="scrollerContent" class="bz-container-render-edition"  data-bizagi-widget="activityform"></div>
  </div>

 

</script>

<script id="ui-bizagi-workportal-menu-content" type="text/x-jquery-tmpl">

        <ul data-role="listview" data-type="group" id="menu-items-container">
            <li>Search
                <ul  class="menu-search">
                 <li  data-icon="search">
                     <input type="text" class="bz-wp-mu-input-search-menu">
                 </li>
                <li style="display:none">
                    <div class="ui-bizagi-workportal-search-rs"  data-bizagi-component="menu-search" data-role="content"></div>
                </li>
                </ul>
            </li>
        </ul>

        <ul data-role="listview" data-type="group" id="menu-items-container">
            <li>Menu
                <ul  data-bizagi-component="menu-items" class="menu-items">
                </ul>
            </li>
        </ul>

        {{if environment == "debug"}}<span class="build">${build}</span>{{/if}}
</script>
