﻿.admin-entities-leftframe
{
    width: 18%;
    height: 100%;
    position: relative;   
    display: inline-block;
    vertical-align: top;
    padding-right:2%;
}

.admin-entities-leftframe select
{
    width: 100%;
    padding: 2% 4%;
    height:363px;
    border: 1px solid #C6CACC;
}

.admin-entities-leftframe .biz-wp-window-title{
    margin:0px;
}

.admin-entities-leftframe input{
    height:20px;
}

.admin-entities-leftframe .ui-bizagi-control{
    width:100%;
}

.admin-entities-leftframe .ui-bizagi-render-control {
    padding:0 6px 0 0;
}

.admin-entities-leftframe .ui-bizagi-control-wrapper
{
    padding:0;
}

.admin-entities-rightframe
{
    margin:0 auto;
    border: 1px solid #C3C3C3;
    background: #EDEDED;
    padding: 0 20px;
    -webkit-box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, .1);
    box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, .1);
    width: 74%;
    min-height: 385px;
    position: relative;    
    display: inline-block;
    overflow-x: auto;
    padding-bottom: 40px;
}

.admin-entities-rightframe .ui-bizagi-label{
    float:left;
}

.admin-entities-rightframe #detailEntity{
    margin-top:28px;
    width:100%;
}



.admin-entities-rightframe #detailEntity th a {
    color: rgb(85, 85, 85);
    padding-right: 20px;
    display: block;
    padding-left: 20px;
}

.admin-entities-rightframe #detailEntity th a:hover {
    text-decoration: none;
}



.admin-entities-rightframe #biz-wp-table-summary-wrapper
{
    margin: 10px 0;
}

.admin-entities-rightframe .ui-dialog-buttonset-add
{
    float:right;
    margin: 0 10px 10px 0;
}

.admin-entities-rightframe .ui-bizagi-button-container , .admin-entities-rightframe .ui-bizagi-button-container-back
{
    width: 102%;
    margin-left: -6px;
}

.admin-entities-rightframe .back-entities{
    display:none;
}


.admin-entities-rightframe .btn-vew-data-entity{
    width: 16px;
    height: 16px;
    background-image: url(images/sprite.png);
    position: relative;
    margin: 0 auto;
    border: 0;
    background-color: transparent;
    background-position: -8px -150px;
    margin: 7px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}


.admin-entities-rightframe .btn-vew-data-entity:hover{
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

.admin-entities-rightframe .sortColumnsDataDownIcon, .admin-entities-rightframe .sortColumnsDataUpIcon,.admin-entities-rightframe .sortColumnsDataIcon {
    position: absolute;
    height: 12px;
    width: 8px;
    cursor: pointer;
    right: 5px;
}

.admin-entities-rightframe a .arrowUpIcon, .ui-bizagi-component-grid-entity a .arrowUpIcon{
    border-top: 0 solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid rgba(85, 85, 85,.2);
}


.admin-entities-rightframe a .arrowDownIcon, .ui-bizagi-component-grid-entity a .arrowDownIcon{
    border-top: 5px solid rgba(85, 85, 85,.2);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
}


.admin-entities-rightframe  a:hover  .arrowUpIcon, .admin-entities-rightframe a .active,
.ui-bizagi-component-grid-entity a:hover  .arrowUpIcon, .ui-bizagi-component-grid-entity a .active {
    border-bottom-color: rgb(85, 85, 85);
}


.admin-entities-rightframe  a:hover  .arrowDownIcon, .admin-entities-rightframe a .active,
.ui-bizagi-component-grid-entity a:hover  .arrowDownIcon, .ui-bizagi-component-grid-entity a .active{
    border-top-color: rgb(85, 85, 85);
}


.admin-entities-rightframe .ui-bizagi-grid .ui-bizagi-grid-pager ul{
    padding:0;
}

.admin-entities-rightframe .ui-bizagi-grid .ui-bizagi-grid-pager ul li{
    padding:5px 4px;
}

.ui-bizagi-component-grid-entity .ui-icon{
    margin: 5px auto;
    cursor: pointer;
}


.ui-bizagi-component-grid-entity .sortColumnsDataDownIcon{
    right: 10px;
}

.loading-admin-entities{
    background:  url("images/loader2.gif") no-repeat center;
    min-height: 150px;
}

.admin-entities-rightframe  #entityFormIFrame{
    min-height:440px;
}

.admin-entities-rightframe .error-message-migrate-form{
    text-align: center;
    color: red;
    padding: 15px 0 5px 0;
    font-weight: bold;
}