/* 
    Document   : bizagi.workportal.routing
    Created on : Jul 18, 2011, 8:10:17 PM
    Author     : Edward Morales edward.morales{_at_}bizagi.com
    Description:
        Styles for router window
*/

#ui-bizagi-wp-app-inbox-activities-routing.border{
}

.ui-bizagi-wp-app-routing-container{
    overflow: hidden;   
}

.ui-bizagi-wp-app-routing-container table{
    width:100%;
    border:none;
    padding: 0px;
    margin: 0px;
    background:#e6e6e6;
    border:1px solid #98a1a8;
    padding:1px;
    -moz-border-radius: 6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}

.ui-bizagi-wp-app-routing-container table td{
	padding:4px;
    border-top: 1px solid #b8b8b8;
    text-align: center;
}
.ui-bizagi-wp-app-routing-container table button{
	font-family: 'NeoSansStdMedium';
    font-weight: normal;
}
.ui-bizagi-wp-app-routing-container table tbody tr:first-child td{
    border-top:none;
}
.ui-bizagi-wp-app-routing-container table tbody tr:last-child td:first-child{
    border-radius:0px 0px 0px 4px;
}
.ui-bizagi-wp-app-routing-container table tbody tr:last-child td:last-child{
    border-radius:0px 0px 4px 0px;
}
.ui-bizagi-wp-app-routing-container thead td{    
	padding:8px;
    color: #f5f5f5;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-size:115%;
    font-family: 'NeoSansStdRegular';
    background: #5d6771; /* Old browsers */
    background: -moz-linear-gradient(top, #7b8b9a 0%, #4a4f56 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7b8b9a), color-stop(100%,#4a4f56)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7b8b9a 0%,#4a4f56 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7b8b9a 0%,#4a4f56 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #7b8b9a 0%,#4a4f56 100%); /* IE10+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b8b9a', endColorstr='#4a4f56',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #7b8b9a 0%,#4a4f56 100%); /* W3C */
    border-bottom:1px solid #3c4046;
    border-top:none;
    position:relative; 
}

.ui-bizagi-wp-app-routing-container thead tr td:first-child{
    border-radius:4px 0px 0px 0px;
}
.ui-bizagi-wp-app-routing-container thead tr td:last-child{
    border-radius:0px 4px 0px 0px;
}
.ui-bizagi-wp-app-routing-container tbody .event{
    background-color: #DADADA;	
}

.ui-bizagi-wp-app-routing-container .selected td, .ui-bizagi-wp-app-routing-container tbody tr:hover td {
    
    background: rgb(191,197,200); /* Old browsers */
    background-image:url("images/lines.png");
    background-image: url("images/lines.png"), -moz-linear-gradient(top, rgba(191,197,200,1) 0%, rgba(155,164,168,1) 100%); /* FF3.6+ */
    background-image: url("images/lines.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,197,200,1)), color-stop(100%,rgba(155,164,168,1))); /* Chrome,Safari4+ */
    background-image: url("images/lines.png"), -webkit-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: url("images/lines.png"), -o-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* Opera11.10+ */
    background-image: url("images/lines.png"), -ms-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* IE10+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfc5c8', endColorstr='#9ba4a8',GradientType=0 ); /* IE6-9 */
    background-image: url("images/lines.png"), linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* W3C */	   
}

#ui-bizagi-wp-app-inbox-activities-routing .text-description-title{
	font-family: 'NeoSansStdRegular'; 
    border-bottom: 1px solid #717578;
    color: #525252;
    font-size: 125%;
    font-weight:normal;
    padding: 5px;
    border-bottom:1px solid #acacac;
    margin-bottom:20px;
    box-shadow:0px 1px 0px 0px rgba(255,255,255,0.2); 
    position:relative;
}

/*.ui-bizagi-wp-app-routing-container .alignLeft{
    text-align: left;
    padding-left: 15px;
}

.ui-bizagi-wp-app-routing-container .alignCenter{
    text-align: center;
}*/

.ui-bizagi-wp-app-routing-container .alignRight {
    text-align: right;
	padding-right:20px;
}
