/* 
    Document   : bizagi.workportal.folders
    Created on : Dec 13, 2011, 4:55:22 PM
    Author     : Edward Morales edward.morales{_at_}bizagi.com
    Description:
        Purpose of the stylesheet follows.
*/

.ui-bizagi-inbox-folder{
    background-image: url(images/sprite.png);
    background-position: -75px -173px;
    height:16px;
    width:16px;    
}

.ui-bizagi-inbox-folder.inboxdetails{
    float: left;
    margin: 5px 8px 0 -7px;
    background-position: -147px -421px;
    width: 20px;
    height: 20px;
}
.ui-bizagi-inbox-folder.inboxdetails:hover{
    background-position: -76px -421px;
    cursor:pointer;
}

.modalFoldersPopup {
    background: url("images/dots_columns.png") repeat scroll 0 0 #EBEAE2 !important;
    border-radius: 4px 4px 4px 4px;
    padding: 4px;
}
.modalFoldersPopup ul{
    background: none repeat scroll 0 0 #E6E6E6;
    border: 1px solid #98A1A8;
    border-radius: 6px 6px 6px 6px;
    margin: 0;
    padding: 1px;
    position: relative;
    min-width: 100px;
}

.modalFoldersPopup li{
    overflow:hidden;
    list-style: none outside none;
    padding:5px 5px 5px 27px;
    position: relative;
    color:#444444;
    border-top: 1px solid #B8B8B8;
    text-align: left;
}
.modalFoldersPopup li:hover{
    cursor: pointer;
    background: #b1b8bc; /* Old browsers */
    background-image:url("images/lines.png");
    background-image: -moz-linear-gradient(top, rgba(191,197,200,1) 0%, rgba(155,164,168,1) 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,197,200,1)), color-stop(100%,rgba(155,164,168,1))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* Opera11.10+ */
    background-image: -ms-linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* IE10+ */    
    background-image: linear-gradient(top, rgba(191,197,200,1) 0%,rgba(155,164,168,1) 100%); /* W3C */	
}
.modalFoldersPopup li > #arrow{
    background: url("images/sprite.png") no-repeat scroll -187px -145px transparent;
    height: 20px;
    margin-top: -10px;
    position: absolute;
    right: 5px;
    text-indent: -9999px;
    top: 50%;
    width: 20px;
}
.modalFoldersPopup li > .categoryIco{   
    background: url("images/sprite.png") no-repeat scroll 0 0 transparent;
    background-position: -75px -173px;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;

}
.modalFoldersPopup li:first-child{
    border: medium none;
    border-radius: 4px 4px 0 0;
}
.modalFoldersPopup li:last-child{
    border-radius: 0 0 4px 4px;
}
.modalFoldersPopup li:nth-child(2n) {
    background-color: #DADADA;
}


.modal.folders{
    font-size: 120%;
}
.modal.folders .selectarrow {
    left:  35px;
}
.modal.folders .modalMenuBt {
    width: 243px;
}
.modal.folders #modalMenuBtList {
    padding: 3px;   
}
.modal.folders #modalMenuBtList > div ul li{
    min-height: 15px;
    padding: 1px 30px 0px 32px;
	border-radius: 0px;
}
.modal.folders #modalMenuBtList > div ul li:first-child{
	border-radius: 5px 5px 0 0px;
}
.modal.folders #modalMenuBtList > div ul li:last-child{
	border-radius: 0 0 5px 5px ;
}
.modal.folders #modalMenuBtList > div li .categoryIco{
    background-position: -43px -421px;
    margin: 0px;
    left: 5px;
    top: 3px;
    width: 19px;
    height: 19px;
}
.modal.folders #modalMenuBtList > div li .categoryIco.openFolder{
    background-position: -77px -421px;

}
.modal.folders #modalMenuBtList > div li .categoryIco div{
    color: #FFFFFF;
    font-size: 86%;
    left: 2px;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 1px #283238;
    top: 5px;
    width: 17px;
}
.modal.folders #modalMenuBtList > div li.newSubFolder .categoryIco{
    background-image: url("images/ui-tree-structure-states.gif");
    background-position: -4px 0px;
    height: 16px;
    width: 16px;
}

.modal.folders #modalMenuBtList > div li .processIco{
    margin: 0px;
    left: 5px;
    top: 3px;
    width: 16px;
    height: 16px;
}
.modal.folders #modalMenuBtList > div li .categoryLinkIco{
    background-position: -40px -172px;
    height: 18px;
    left: 5px;
    margin: 0;
    top: 3px;
    width: 16px;
}

.modal.folders #modalMenuBtList > div li .categoryLinkIco:hover {
    margin: 0px;
    left: 5px;
    top: 3px;
    width: 16px;
    height: 12px;
    background-position: -220px -215px;
}

.modal.folders #modalMenuBtList > div li .newFolderIco{
    background: url("images/sprite.png") no-repeat scroll 0 0 transparent;
    margin: 0px;
    left: 5px;
    top: 4px;
    width: 16px;
    height: 16px;
    background-position: -344px -89px;
    position: absolute;
}

.modal.folders .categoryTree{
    margin-bottom: 4px !important;
}
.modal.folders #modalMenuBtList > div li h3{
    font-size: 100%;
}
.modal.folders #modalMenuBtList > div li .deleteButton, .modal.folders #modalMenuBtList > div li .editButton{
    margin-top: 2px;
}
.modal.folders #modalMenuBtList > div li .editButton{
    right: 22px;
}

.modal.folders #modalMenuBtList > div ul li:nth-child(2n){
    background-color: #DADADA;
}
.modal.folders #modalMenuBtList > div li .newInput{
    background-color: transparent;
    border:0px;
    height: 22px;
    width: 170px;
    color: #1F74B2;
}
.modal.folders #modalMenuBtList > div li .checkico{
    position: absolute;
    right: 5px;
}
.modal.folders #modalMenuBtList > div li .addIco{
    background: url("images/sprite.png") no-repeat scroll -328px -89px transparent;
    height: 16px;
    width: 16px;    
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}
.modal.folders #modalMenuBtList > div li .addIco:hover{
    background-position: -344px -89px;
}
.modal.folders #modalMenuBtList > div li .addIco.wait{
    background-image: url(images/loading_cube_mini.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.modal.folders #modalMenuBtList > div li.noSubFolder:hover{
    cursor: auto;
    background: transparent; /* Old browsers */
    background-image: none;
}
.modal.folders #modalMenuBtList > div li.noSubFolder:nth-child(2n):hover{
    background-color: #DADADA;
}

.modal.folders .modalMenuBt > label{
    font-size: 115%;
	color: rgba(255,255,255,0.72);
	margin-left: 10px;
	font-family: NeoSansStdMedium;
}

.errorMessage{
    font-size: 80%;
    color: #990000;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4)
}
