#ui-bizagi-render-activity-log .ui-dialog-buttonset {
    text-align: center;
    margin: 5px 0;
}


#activity-log-data-detail-wrapper,
#activity-log-data-general-wrapper,
#activity-log-no-results {
    padding: 0 30px;
}

#ui-bizagi-render-activity-log .case-detail .title {
    color: #666;
    display: block;
    padding: 3px 0px; 
}

#ui-bizagi-render-activity-log .main-menu {
    background: white;
    border: 1px solid rgb(231, 231, 226);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;

    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 4px 0px;
    text-align: center;
}

#activity-log-data-wrapper {
    padding: 0 30px;
}

#ui-bizagi-render-activity-log .main-menu li {
    display: inline;
}

#ui-bizagi-render-activity-log a {
    color: #2f526c;
    text-decoration: none;
}

#ui-bizagi-render-activity-log a:hover {
    color: #437499;
}

#ui-bizagi-render-activity-log .main-menu li a {
    padding: 0 5px;
}

#ui-bizagi-render-activity-log .main-menu li a.active {
    font-weight: bold;
}

#ui-bizagi-render-activity-log .header {
    background-image: url(../desktop/images/tabs_bg.png);
    background-color: rgb(204, 204, 204) ;
    background-position: initial initial ;
    background-repeat: repeat no-repeat ;

    border-color: rgb(179, 179, 179);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

    color: rgb(47, 82, 108);

    font-weight: bold;

    padding: 6px;
    text-shadow: rgba(255, 255, 255, 0.4) 0px 1px 0px;
    
}

#ui-bizagi-render-activity-log .activity-log-table .listHeaderLinks { 
    background: #dadada;
    padding: 5px;
    vertical-align: middle;
}

#ui-bizagi-render-activity-log .activity-log-table .listHeaderLinks:hover { background-color: #b3b3b3}

#ui-bizagi-render-activity-log .activity-log-table .listHeaderLinks a {
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

#ui-bizagi-render-activity-log .activity-log-table tr[style="height:8px;"],
#ui-bizagi-render-activity-log .activity-log-table .tdshadow { 
    display: none;
}

#ui-bizagi-render-activity-log .activity-log-table tr[class^="gridline"] > td {
    padding-top: 4px;
    padding-bottom: 4px;
}

#ui-bizagi-render-activity-log .activity-log-table tr[class^="gridline"] > td span {
    color: #666;
    display: block;
}

#ui-bizagi-render-activity-log .activity-log-table .icon {
   width: 16px; 
   height: 16px;
}

#ui-bizagi-render-activity-log .activity-log-table .icon.reassigned-icon {
   background: url('images/Reasign.gif') no-repeat;
}

#ui-bizagi-render-activity-log .activity-log-table .icon.annulated-icon {
   background: url('../desktop/images/lista/BombilloAnulado.gif') no-repeat;
}



#ui-bizagi-render-activity-log .activity-log-table .gridline1 { background-color: #e6e6e6; }

#ui-bizagi-render-activity-log .activity-log-table .gridline2 { background-color: #ececec; }

#activity-log-data-detail-header-wrapper {
    overflow: hidden;
    margin: 10px 0;
}

#activity-log-data-detail-header-wrapper #case-detail-wrapper {
    float: left;
}

#activity-log-data-detail-header-wrapper #log-filter-wrapper {
    float: right;
    min-width: 275px;
    margin-bottom: 5px;
}

#activity-log-data-detail-header-wrapper #log-filter-wrapper .ui-dialog-buttonset {
    text-align: right;
}

#activity-log-data-detail-header-wrapper .filter-field {
    overflow: hidden;
}

#activity-log-data-detail-header-wrapper .filter-field > input[type="text"] {
    float: right;
    width: 40%;
    height: 24px;
}

#activity-log-data-detail-header-wrapper .filter-field > label {
    float: left;
    color: rgb(68, 68, 68);
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    text-align: left;
}