#admin-processes-map {
    height: 360px;
}

#processes-header-wrapper {
    overflow: visible;
    height: 62px;
}

#processes-header-wrapper .ui-selectmenu-menu {
    top: 71px;
    width: 268px;
}

#processes-header-wrapper .ui-selectmenu-menu li:hover {
    background: #b1b8bc;
}

#processes-header-wrapper .process-icon-class {
    background-image: url(../desktop/images/analysis/WFClasses.png);
}


#admin-processes-map-wrapper{
    background: #ffffff;
    height: 400px;
    margin: 18px 0 0 0;
}
#admin-processes-edit-wrapper {
    overflow: hidden;
    height: 128px;
}


#admin-processes-edit-wrapper .biz-wp-form {
    padding: 0 0 15px 10px;
}

#admin-processes-edit-wrapper .ui-bizagi-container-group-header a {
    padding-left:12px;
}

#process-edit-wrapper,
#task-edit-wrapper {
    width: 50%;
    overflow: hidden;
}

#process-edit-wrapper {
    float: left;
}

#task-edit-wrapper {
    float: right;
}


#process-view-fields-wrapper .button-wrapper {
    min-width: 0;
    width: auto;
}

#admin-processes-edit-wrapper .biz-wp-form .biz-wp-form-row {
    overflow: hidden;
    /*
    height: 29px;
    /**/
}

#admin-processes-edit-wrapper input {
    width: 25px;
}

#admin-processes-edit-wrapper .small-field {
    min-width: 25px;
}

#admin-processes-edit-wrapper .biz-wp-form-cell {
    display: table;
    height: 22px;
}

#admin-processes-edit-wrapper .biz-wp-form-cell.description {
    width: 49%;
}

#admin-processes-edit-wrapper .biz-wp-form-cell.label {
    min-width: 0;
    width: 25%;
}

#admin-processes-edit-wrapper .biz-wp-form-cell span {
    display: table-cell;
    vertical-align: middle;
}

#admin-processes-edit-wrapper .duration-field-container {
    /** min-width: 0; **/
}

#admin-processes-edit-wrapper .duration-field-container ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    
}

#admin-processes-edit-wrapper .duration-field-container li {
    display: inline-block;
}

#admin-processes-edit-wrapper .button-column {
    width: auto;
    min-width: 0;
}