#contentFamework.allWidth > ul > li{ width: 100%; }
.ui-bizagi-wp-app-inbox-activity-name:hover{ text-decoration:underline; }

.ui-bizagi-wp-app-inbox-activity-name
{
	color: #1F74B2;
	cursor: pointer;
	text-decoration: underline;
}

/* Folders */

.folders-case-ungroup
{
	margin: 6px 0 0 0;
	background: url('images/sprite.png') -296px -89px;
	height: 16px;
	width: 16px;
	display: inline-block;
        cursor: pointer;
}

.folders-case-ungroup:hover { background: url('images/sprite.png') -312px -89px; }

#searchDetails{
    width: 100%;
}

.workonitRow.showDesc.ui-button.bizagi-ui-icon-show-summary-grid {
    background-image: url(images/lupa-off.png);  
    width: 16px;
    height: 16px; 
    filter: none;
}

.ui-bizagi-wp-app-inbox-grid-cases-container table tr:hover .workonitRow.ui-button,
.ui-bizagi-wp-app-inbox-grid-cases-container table tr:hover .workonitRow.ui-button:hover { background: url(images/lupa-on.png) !important; }

.workonitRow.showDesc.ui-button.bizagi-ui-icon-show-summary-grid span {
    display: none;
}

#ui-bizagi-wp-app-inbox-grid-cases-container.adjustable {
    overflow-y: auto;
}
