.modalMenuBt #modalMenuBtList > div{
    overflow: hidden;
    max-height: 290px;
}


/*modal*/

.ui-bizagi-dialog-queries
{
    width: 100%;
    height: 97%;
}

/* STYLES FOR QUERYFORM
   ============================================ */
#modalMenuBtList > div li .deleteGAButton{
    position:absolute;
    background: url(images/sprite.png) 0 0 no-repeat;
    width: 13px;
    height: 13px;
}

#modalMenuBtList > div li .deleteGAButton{
    visibility: hidden;
    display:inline-block;
    width:16px;
    height: 16px;
    margin-top: 5px;
}

#modalMenuBtList > div li:hover .deleteGAButton{
    visibility: visible;
}

#modalMenuBtList > div li:hover .deleteGAButton {
    background-position: -296px -89px;
    right:5px;
}
#modalMenuBtList > div li .deleteGAButton:hover{
    background-position: -312px -89px;
}

.biz-wp-queryform{
    width:100%;
    height:100%;
    border:0;
}

.biz-wp-move{
    width: 70px;
    text-align:center;
    padding:70px 0 0 0;
}

.biz-wp-form-listBoxSelects{
    -webkit-appearance: none;
    width: 160px;
    margin:13px 0 0 0;
}

.biz-wp-form-queryForm {
    width: 100%;
    padding-top: 25px;
}

.biz-wp-form-queryForm#shareSelectionPanel > div {
    display: inline-block;
}

.biz-wp-form-queryForm #userShare {
    width: 300px;
    margin-right: 4px;
}

.biz-wp-form-queryForm #select_user_to_share {
    width: 392px;
    padding-left: 8px;
}

#userShare .biz-wp-form-row {
    margin-bottom: 7px;
}

#userShare .biz-wp-form-row:last-child {
    margin-bottom: 0;
}

#userShare .biz-wp-form-cell-table-queryForm {
    min-width: 0;
    padding: 0;
}

#userShare .biz-wp-form-cell-table-queryForm:first-child {
    width: 80px;
    text-align: left;
}

#userShare .biz-wp-form-cell-table-queryForm:last-child {
    width: 188px;
}

#userShare .biz-wp-form-cell-table-queryForm:last-child > input {
    width: 178px;
}

#userShare .biz-wp-form-alignUserButton {
    width: 100% !important;
    text-align: center !important;
    margin-top: 5px;
}

.biz-wp-form-cell-table-queryForm{
    min-width: 200px;
    float: left;
    min-height: 8px;
    padding: 2px 27px;
    font-weight: bold;
}

.biz-wp-form-centerContent{
    text-align: center;
}


.biz-wp-form-alignContent{
    display: inline-block;
    width: 100px;
}

.biz-wp-form-alignUserButton{
    width: 90%;
    padding-top: 10px;
}

.biz-wp-form-queryForm-searchUsers{
    border: 1px solid #C3C3C3;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .1);
    border-radius: 5px;
    padding: 15px;
}

#query-form-wrapper{
    padding-top: 15px;
}

#query-form-wrapper .ui-bizagi-form-icons.ui-widget-content.ui-corner-all
{
    background-color: transparent;
}

#query-form-admin-result .ui-tabs-panel,
#query-form-admin-result .ui-tabs .ui-tabs-nav li {
    border-color: #C3C3C3;
}

#query-form-admin-result .ui-tabs .ui-tabs-nav li.ui-state-active {
    background: #EDEDED;
}

#query-form-admin-result .ui-tabs-panel {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .1);
    background: #EDEDED;
}

#query-form-admin-result .ui-tabs {
    margin: 12px 5px;
}

#stored_queryform_definition .biz-wp-form-cell-table-queryForm {
    min-width: 0;
    padding: 2px 15px;
}

#stored_queryform_definition .biz-wp-form-cell-table-queryForm:last-child {
    padding-right: 0;
}

#stored_queryform_definition .biz-wp-form-cell-table-queryForm input,
#stored_queryform_definition .biz-wp-form-cell-table-queryForm textarea {
    width: 230px;
}

#stored_queryform_definition .biz-wp-form-cell-table-queryForm textarea#queryFormDescription{
     width: 214px;
}
#queryFormDescription{
     min-width: 214px;
}

.biz-wp-form-queryForm-listBox{
    margin: 0 auto;
    width: 392px;
}

.biz-wp-form-queryForm-titles{
    width: 715px;
    margin: 0 auto;
}

.bz-wp-generic-icons.exportExcel{
    height: 24px;
    width: 24px;
    background-position: 0 -480px;
    float: left;
}

.bz-wp-generic-icons.graphicalAnalysis{
    height: 24px;
    width: 24px;
    float: left;
    background-position: -24px -480px;
    margin-left: 10px;
}

#iframeGraphicalAnalysis{
    width: 100%;
    height: 100%;
    min-height: 400px;
}

.biz-wp-form-queryForm.ui-dialog-content {
    overflow: hidden;
    padding: 0;
}

.biz-wp-form-queryForm.ui-dialog-content input#queryFormNameSaveAs,
.biz-wp-form-queryForm.ui-dialog-content textarea#queryFormDescriptionSaveAs {
    width: 210px;
}

#query-form-main-container .ui-bizagi-label label {
    text-indent: 0;
    -webkit-text-stroke: 0;
    padding-left: 26px;
}


/* workportal state/status icons
   ============================================ */
#query-form-main-container .biz-wp-state-icon-red {
    background-image: url(images/sprite.png);
    background-position: -237px -115px;
    width: 13px;
    height: 13px;
    float: left;
}

#query-form-main-container .biz-wp-state-icon-yellow {
    background-image: url(images/sprite.png);
    background-position: -237px -132px;
    width: 13px;
    height: 13px;
    float: left;
}

#query-form-main-container .biz-wp-state-icon-green {
    background-image: url(images/sprite.png);
    background-position: -237px -147px;
    width: 13px;
    height: 13px;
    float: left;
}

#query-form-main-container .biz-wp-taskName{
    color: #1F74B2;
    cursor: pointer;
}
#query-form-main-container .biz-wp-taskName:hover{
    text-decoration: underline;
 }
#queries-shortcut > ul > li.storedQuery{
    min-height: inherit;
    padding:3px 35px 3px 40px !important;
}

#result-set-queryForm > table > thead > tr > th > div{
    position: relative;
}
.ui-bizagi-workportal-queryform-save .ui-bizagi-input-required,
#query-form-wrapper .ui-bizagi-input-required{
    background-color: red;
    line-height: normal;
    -webkit-border-radius: 2px 0px 0px 2px;
    border-radius: 2px 0px 0px 2px;
    z-index: 1;
    display: inline-block;
    height: 26px;
    vertical-align: top;
    width: 3px;
    position: relative;
    left: 2px;
}

.ui-bizagi-workportal-queryform-save .ui-bizagi-input-icon-error,
#query-form-wrapper  .ui-bizagi-input-icon-error{
    background-image: url("images/sprite-field-icons.png");
    background-position: -17px -1px;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
    left: 4px;
}

#query-form-wrapper  .ui-bizagi-input-icon-error:hover{
    background-position: -17px -18px;
}

.biz-wp-queryform .error-message-migrate-form, #query-form-wrapper .error-message-migrate-form{
    text-align: center;
    color: red;
    padding: 15px 0 5px 0;
    font-weight: bold;
    font-size: 14px;
}

.shortcut-error-message-migrate-form{
    text-align: center;
    color: red;
    padding: 15px 0 5px 0;
    font-weight: bold;
    font-size: 12px;
}

