﻿/*routing*/

/*
#ui-bizagi-wp-app-inbox-activities-routing-wrapper
{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: hsla(0, 0%, 0%, .4);
}

#ui-bizagi-wp-app-routing-activity-container
{
	margin-bottom: 15px;
	
}



#ui-bizagi-wp-app-inbox-activities-routing
{
	z-index: 10000;
	text-align: center;
	width: 100%;
	background:#ffffff;
	border-radius: 4px;
	vertical-align: middle;
	position: relative;
	margin: 50px 0 10px 0;
	box-shadow:0 4px 7px -4px rgba(0, 0, 0, 0.7);
	
}
*/


#ui-bizagi-wp-app-inbox-activities-routing .text-description-title
{
    margin: 15px 0 0 0;
    font-size: 15px;
    float: left;
    font-weight: 600;
    color: #195891;
    border-bottom: 1px solid #37BAEC;
    width: 100%;
    height: 25px;
    float: left;
    text-align: left;
    padding:0 0 0 15px;
}
#ui-bizagi-wp-app-inbox-activities-routing td
{
	padding: 10px 5px;
	border-bottom: 1px solid #CBCBCB;
	border-right: 1px solid #CBCBCB;
	font-size:13px;
	color:#A4A4A4;
}

#ui-bizagi-wp-app-inbox-activities-routing thead td
{
    color:#195891;
    text-transform:uppercase;
    font-size:13px;
}

#ui-bizagi-wp-app-inbox-activities-routing td:last-child
{
	border-right:none;
}

#ui-bizagi-wp-app-inbox-activities-routing td button ,
.wp-routing-container-fother button
{
	-webkit-appearance: none;
	font-size: 13px;
	border-radius: 2px;
	background: #37B9EB;
	padding: 6px 20px;
	margin: 4px 10px 0px 0px;
	color: white;
	float: right;
	position: relative;
	border: 1px solid transparent;
	box-shadow:0 1px 1px #888888;
}

.wp-routing-container-fother button
{
	float: none;
	margin-bottom: 10px;
}


#ui-bizagi-wp-app-routing-activity-wf,
#ui-bizagi-wp-app-routing-process-wf
{
	width: 100%;
	position: relative;
	border-radius: 0;
	left: 0%;

}

#ui-bizagi-wp-app-routing-process-wf thead tr
{
    background-image:-webkit-gradient(linear, left top, left bottom, from(#D6D8DC), to(#C3C6CB));
 }
    
 #ui-bizagi-wp-app-routing-process-wf tbody tr
{
    background-color:#f2f2f2;
}
    

#ui-bizagi-wp-app-routing-activity-container thead tr
{
    background:rgba(55,186,236,0.2);
}

.wp-routing-container-fother
{
    text-align: center;
}