<script id="bz-wp-webpart-render" type="text/x-jquery-tmpl" > 
<div class="bz-wp-rn-main-container">
{{component render}}
</div>
</script>


<script id="bz-wp-webpart-render-routing" type="text/x-jquery-tmpl" >
<div id="ui-bizagi-wp-app-inbox-activities-routing-wrapper">
    <div id="ui-bizagi-wp-app-inbox-activities-routing" class="ui-bizagi-wp-app-inbox-activities-routing">
        {{if checkProcess}}
        <div class="text-description-title">
            %{workportal-widget-routing-process-selector}
        </div>
        <div id="ui-bizagi-wp-app-routing-process-container" class="ui-bizagi-wp-app-routing-container">
            <table id="ui-bizagi-wp-app-routing-process-wf" cellspacing="0" border="0" cellpading="0">
                <thead>
                    <tr>
                        <td>%{workportal-widget-routing-id}</td>
                        <td>%{workportal-widget-routing-name}</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody>                    
                    {{each subProcessPersonalized}}
                    <tr>
                        <td class="alignLeft">${radNumber} </td>
                        <td class="alignLeft">${displayName}</td>
                        <td class="alignRight"> 
                            <button    data-idCase="${idCase}">%{workportal-widget-routing-work-on-it}</button>
                        </td>
                    </tr>                    
                    {{/each}}
                </tbody>
            </table>
        </div>
        <br/>
        {{/if}}

        {{if checkWorkItems}}
        <div class="text-description-title">
            %{workportal-widget-routing-activity-selector}
        </div>
        <div id="ui-bizagi-wp-app-routing-activity-container" class="ui-bizagi-wp-app-routing-container">
            <table id="ui-bizagi-wp-app-routing-activity-wf" cellspacing="0" border="0" cellpading="0">
                <thead>
                    <tr>
                        <td>%{workportal-widget-routing-name}</td>
                        <td>%{workportal-widget-routing-due-date}</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody>                    
                    {{each workItems}}
                    <tr>
                        <td class="alignLeft"> ${displayName}</td>
                        <td class="alignCenter">${estimatedSolutionDate}</td>
                        <td class="alignRight"> 
                            <button data-idWorkItem="${idWorkItem}" data-idtask="${idTask}"  data-isAsynch="${isAsynch}" data-idCase="${idCase}">%{workportal-widget-routing-work-on-it}</button> 
                        </td>
                    </tr>                    
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{/if}}
        <div class="wp-routing-container-fother">
          <button class="wp-routing-close">%{workportal-widget-dialog-box-close}</button>
        </div>
    </div>
</div>
</script>