/********
* Filename: bizagi.editor.component.editor.renderlayout.css
* Create Date: 2012-05-31
* Author: Rhony Pedraza Rhony.Pedraza@bizagi.com
*
* $__renderlayout
*
********/

/* __renderlayout
--------*/

.bizagi_editor_component_editor_renderlayout{
    position: relative;
}

.bizagi_editor_component_editor_renderlayout .renderlayout-image-small-popup
{
    position: absolute;
    right: -20px;
    top: 10px;
    cursor: pointer;
}

.ui-modal-layout .renderlayout-splitter {
    width: 90%;
    /*border: solid 1px black;
    border-radius: 4px;*/
    line-height: 30px;
    margin: 4px auto 4px auto;
    text-align: center;
}

.ui-modal-layout .renderlayout-names {
    display: block;
    vertical-align: middle;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.ui-modal-layout .renderlayout-splitter > .renderlayout-names > div {
    display: inline-block;
    width: 49%;
    text-align:center;
}

.ui-modal-layout .renderlayout-splitter > .renderlayout-container-box1 {
    left: 60px;
}

.ui-modal-layout .renderlayout-splitter > .renderlayout-container-box2 {
    right: 60px;
}

.ui-modal .renderlayout-separator {
    position:relative;
    width: 90%;
    margin-left:auto;
    margin-right: auto;
    height: 40px;
    max-width: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    border:1px solid #BFC4CE;

    -webkit-box-shadow:  1px 1px 0px 0px rgba(255, 255, 255, .8);
     box-shadow:  1px 1px 0px 0px rgba(255, 255, 255, .8);
}

.bizagi_editor_component_editor_renderlayout .renderlayout-splitter > .renderlayout-separator > div.renderlayout-split {
    display: inline-block;
    width: 2px;
    height: 40px;
    background-color: #BFC4CE;
    z-index: 100;
    position:relative;
    
    border: none;
    border-radius: 0px;
    margin: 0;
    padding: 0;
    -webkit-box-shadow:  1px 1px 0px 0px rgba(255, 255, 255, .8);
     box-shadow:  1px 1px 0px 0px rgba(255, 255, 255, .8);
}

.bizagi_editor_component_editor_renderlayout .renderlayout-splitter > .renderlayout-separator > div.renderlayout-split:hover {
    cursor: col-resize;
}

.renderlayout-container-box1{    
    -webkit-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
}

.ui-modal .renderlayout-box1,
.ui-modal .renderlayout-box2{
   display: block;
   line-height: 22px;
}
.ui-modal .renderlayout-split{
    width:0px;
    height: 100%;
}

.renderlayout-container-box2,
.renderlayout-container-box1{
    float:left;
}

.renderlayout-splitter{
    color:#5D7389;
}

.bizagi_editor_component_editor_renderlayout .renderlayout-data label{
    padding-right: 8px;
}
.bizagi_editor_component_editor_renderlayout .renderlayout-data label,
.bizagi_editor_component_editor_renderlayout .renderlayout-data span.renderlayout-value{
    display: inline-block!important;
    width:auto!important;
    vertical-align:middle;
    -webkit-box-shadow: inset 0px 1px 2px 0 rgba(194, 197, 200, .32);
    box-shadow: inset 0px 1px 2px 0 rgba(194, 197, 200, .32);
}

.rendelayout-container{
    padding: 8px 0px 8px 0px;
}

.renderlayout-value{

    padding: 2px 5px 2px 5px;
    float: right;

    cursor:pointer;
    vertical-align:middle;
}

.ui-modal-layout .ui-vertical-line{
    position: absolute;
    top:0;
}