<!-- Main Template -->
<script id="ui-bz-wp-summaryCase-main" type="text/x-kendo-template">
  
        <span class="bz-item-case"><h3>#= data.idCase #</h3></span>
        <div class="bz-wp-item-container" data-case="#= data.caseNumber #">
            <span class="bz-item-date #= data.group.type #">#= data.group.date #</span>
            <span class="bz-item-maindata">
                # if(data.currentState.length > 0 && data.currentState[0].state !== '') {#
                    <h3 class="bz-subitem activity">#= data.currentState[0].state #</h3>
                # } else { #
                    <h3 class="bz-subitem activity without-namecase">%{webpart-cases-summary-without-name}</h3>
                # } #
                <p class="bz-subitem processname">#= data.process #</p>
                <p class="bz-subitem user">#= data.createdByName #</p>
            </span>
        </div>        
        <div class="ui-bizagi-container ui-bizagi-container-tab">
            <div class="ui-bizagi-summary-items isTab">
                <div class="cell bz-container-items-tabs" data-reference-tab="\\#ui-bizagi-tab-details">
                    <span class="bz-tabs-display-name">%{workportal-widget-render-details}</span>
                </div>
                # if (data.showAssignees) { #
                <div  class="cell bz-container-items-tabs" data-reference-tab="\\#ui-bizagi-tab-assignees">
                    <span class="bz-tabs-display-name">%{workportal-widget-render-assignees}</span>
                </div>
                # } #   
                # if (data.hasComments == 'true') { #
                <div  class="cell bz-container-items-tabs" data-reference-tab="\\#ui-bizagi-tab-comments">
                    <span class="bz-tabs-display-name">%{workportal-widget-comments}</span>
                </div>
                # } #
                # if (data.showSubProcess) { #
                <div  class="cell bz-container-items-tabs" data-reference-tab="\\#ui-bizagi-tab-subprocess">
                    <span class="bz-tabs-display-name">%{workportal-widget-render-subprocess}</span>
                </div>
                # } #
                # if (data.showEvents) { #
                <div  class="cell bz-container-items-tabs" ddata-reference-tab="\\#ui-bizagi-tab-events">
                    <span class="bz-tabs-display-name">%{workportal-widget-render-events}</span>
                </div>
                # } #
                # if (data.showActivities) { #
                <div  class="cell bz-container-items-tabs" data-reference-tab="\\#ui-bizagi-tab-activities">
                    <span class="bz-tabs-display-name">%{workportal-widget-render-activities}</span>
                </div>
                # } #
            </div>
            <div id="ui-bizagi-tab-details" class="ui-bizagi-container ui-bizagi-container-tabItem">
                <div class="bz-wp-summary-content" data-case="#= data.idCase #" >
                    <ul class="bz-wp-summary-list">                        
                        <li>
                            <div class="bz-wp-summary-title">%{workportal-widget-render-creation-date}</div>
                            <div class="bz-wp-summary-value">#= data.creationDate #</div>
                        </li>
                        <li>
                            <div class="bz-wp-summary-title">%{workportal-widget-render-created-by}</div>
                            <div class="bz-wp-summary-value">#= data.createdByName #</div>
                        </li>
                        <li>
                            <div class="bz-wp-summary-title">%{workportal-widget-render-case-number}</div>
                            <div class="bz-wp-summary-value">#= data.caseNumber #</div>
                        </li>
                        <li>
                            <div class="bz-wp-summary-title">%{workportal-widget-render-process}</div>
                            <div class="bz-wp-summary-value">#= data.process #</div>
                        </li>
                        <li>
                            <div class="bz-wp-summary-title">%{workportal-widget-render-process-path}</div>
                            <div class="bz-wp-summary-value">#= data.processPath #</div>
                        </li>
                        # if (data.showParentProcess) { #
                            <li>
                                <div class="bz-wp-summary-title">%{workportal-widget-inboxcommon-parent-process}</div>
                                <div class="bz-wp-summary-value summaryLink" data-case="#= data.parentProcess.idCase #" 
                                        data-displayname="#= data.parentProcess.displayName #">
                                    <a href="\#">#= data.radNumberParentCase # - #= data.parentProcess.displayName #</a>
                                 </div>
                            </li>
                        # } #
                        # if (data.isClosed) { #
                            <li>
                                <div class="bz-wp-summary-title">%{workportal-widget-inboxcommon-state}</div>
                                <div class="bz-wp-summary-value">
                                    # if (data.isAborted == "true") { #
                                        <span>%{workportal-widget-inboxcommon-aborted}</span>
                                    # } else { #
                                        <span>%{workportal-widget-inboxcommon-state-closed}</span>
                                    # } #
                                </div>
                            </li>
                        # } #
                    </ul>
                </div>
            </div>            
             # if (data.showAssignees) { #
                <div id="ui-bizagi-tab-assignees" class="ui-bizagi-container ui-bizagi-container-tabItem"></div>
            # } # 
            # if (data.hasComments == 'true') { # 
                <div id="ui-bizagi-tab-comments" class="ui-bizagi-container ui-bizagi-container-tabItem"></div>
            # } # 
            # if (data.showSubProcess) { #
                <div id="ui-bizagi-tab-subprocess" class="ui-bizagi-container ui-bizagi-container-tabItem"></div>
            # } #            
            # if (data.showEvents) { #
                <div id="ui-bizagi-tab-events" class="ui-bizagi-container ui-bizagi-container-tabItem"></div>  
            # } # 
            # if (data.showActivities) { #
                <div id="ui-bizagi-tab-activities" class="ui-bizagi-container ui-bizagi-container-tabItem"></div>
            # } # 
        </div>
        #if (data.currentState && data.currentState[0].allowReleaseActivity) {# <button class="bz-wp-summary-release">%{render-actions-release}</button># } #
</script>
<script id="ui-bz-wp-summaryCase-assignees" type="text/x-kendo-template">
    # if (data.showAssignees) { #     
        <div class="bz-wp-summary-content">
        <ul class="bz-wp-summary-list"> 
            # if (data.events.length > 0) { #
                <li>
                    <div class="bz-wp-summary-title">%{workportal-widget-render-events}</div>
                    <div class="bz-wp-summary-value">#= data.events #</div>
                </li>                                                                  
            # } #
            # if (data. activities.length > 0) { #
                <li>
                    <div class="bz-wp-summary-title">%{workportal-widget-render-activities}</div>
                    <div class="bz-wp-summary-value">#= data.activities #</div>
                </li>                
            # } #
        </ul>
        </div>       
    # } #
</script>
<script id="ui-bz-wp-summaryCase-comments" type="text/x-kendo-template">
    # if (data.showComments) { #     
        <div class="bz-wp-comment-content">
            <ul class="bz-wp-comment-list">
                # $.each (data.comments, function (i, comment) { #            
                    <li data-id="#= comment.Id #">                        
                        <div class="bz-wp-comment-title">#= data.getUserName(comment.UserId) #</div>
                        <div class="bz-wp-comment-value">#= comment.Text #</div>                      
                        <div class="bz-wp-comment-time">#= data.timeAgo(comment.Time) #</div> 
                                                
                        <ul class="bz-wp-reply-list">
                            # $.each (comment.Replies, function (i, reply) { # 
                                <li data-id="#= comment.Id #">                                                    
                                    <div class="bz-wp-comment-title">#= data.getUserName(reply.UserId) #</div>
                                    <div class="bz-wp-comment-value">#= reply.Text #</div>                      
                                    <div class="bz-wp-comment-time">#= data.timeAgo(reply.Time) #</div> 
                                </li>
                            # }) #
                        </ul>
                    </li>
                # }) #
            </ul>
        </div>         
    # } #
</script>
<script id="ui-bz-wp-summaryCase-subprocess" type="text/x-kendo-template">
    # if (data.showSubProcess) { #     
        # if (data.showSubProcesColumns) { # 
            <input type="hidden" id="totalCustomFields" value="#= data.CustFields.length #" />
            # $.each (data.subProcPersonalized, function (i, personal) { #
               <table cellspacing="0" border="0" cellpading="0" class="personalizedColumnsData">
                <thead>
                    <tr>
                        <td>identificator</td>
                        <td>subprocess</td>
                        # $.each (data.CustFields[0], function (i, cf) { # 
                            <td>#= cf.value != undefined ? cf.value : '' #</td>
                         # }) #   
                    </tr>
                </thead>
                <tbody>
                    # $.each (data.subProcesses, function (i, subproc) { #
                    <tr>    
                        <td>
                            <div>
								# if (subproc.isOpen == "false") { #
                                <div id="ui-bizagi-wp-app-inbox-cases-ico-close">
                                    <span></span>
                                </div>
								# } #
								<span>#= subproc.radNumber #</span>
                            </div>
                        </td>
                        <td class="summaryLink"  data-case="#= subproc.idCase #">
                            <a href="\#">#= subproc.displayName #</a>
                        </td>
                        {{each custData}}
                        # $.each (subproc.custData, function (i, cust) { #
                            <td>#= cust.value != undefined ? cust.value : '' #</td>
                        # }) #
                    </tr>
                    # }) # 
                </tbody>
            </table>
            # }) #  
        # } else { #
            <div class="bz-wp-summary-content">
                <ul class="bz-wp-summary-list">
                    # $.each (data.subProcesses, function (i, subproc) { #
                        <li>
                            <div class="bz-wp-summary-title">%{workportal-widget-inboxcommon-subprocess}</div>
                            <div class="bz-wp-summary-value summaryLink" data-case="#= subproc.idCase #" 
                                    data-displayname="#= subproc.displayName #">
                                <a href='\#'>#= subproc.radNumber # - #= subproc.displayName #</a>
                             </div>                            
                        </li>                    
                     # }) # 
                 </ul>
            </div>
        # } #
    # } #
</script>
<script id="ui-bz-wp-summaryCase-events" type="text/x-kendo-template">    
    # if (data.showEvents) { #
        <div class="bz-wp-summary-content">
            # $.each (data.events, function (i, event) { #
                # $.each (event, function (i, val) { #
                    <ul class="bz-wp-summary-list">
                        <li>
                            <div class="bz-wp-summary-title">%{workportal-widget-inboxcommon-event-name}</div>
                            <div class="bz-wp-summary-value summaryLink" data-workitem="#= val.idWorkitem #"
                                    data-task="#= val.idTask #" data-case="#= data.idCase #" data-workflow="#= data.idWorkFlow #"
                                    data-displayname="#= val.displayName #" data-eventastasks="#= data.eventAsTasks #">
                                <a href='\#'>#= val.displayName #</a>
                            </div>
                        </li>
                      </ul>
                  # }) #
              # }) #
        </div>
    # } #
</script>
<script id="ui-bz-wp-summaryCase-activities" type="text/x-kendo-template">    
    # if (data.showActivities) { #
        <div class="bz-wp-summary-content">
            # $.each (data.currentState, function (i, item) { #       
                # if (item.idWorkItem  != data.globalIdWorkitem) { #
                    <ul class="bz-wp-summary-list">
                        <li>
                            <div class="bz-wp-summary-title">%{workportal-widget-inboxcommon-activities-name}</div>
                             <div class="bz-wp-summary-value summaryLink" data-workitem="#= item.idWorkItem #" 
                                    data-task="#= item.idTask #" data-case="#= data.idCase #" 
                                    data-displayname="#= item.state #">
                                <a href='\#'>#= item.state #</a>
                            </div>
                        </li>
                        # if (item.tskDescription) { #
                            <li>
                                <div class="bz-wp-summary-title">%{workportal-widget-inboxcommon-description}</div>
                                <div class="bz-wp-summary-value">#= item.tskDescription #</div>
                            </li>
                        # } #
                        <li>
                            <div class="bz-wp-summary-title">%{workportal-widget-render-creation-date}</div>
                            <div class="bz-wp-summary-value">#= data.creationDate #</div>
                        </li>
                        <li>
                            <div class="bz-wp-summary-title">%{workportal-widget-render-state-expires-on}</div>
                            <div class="bz-wp-summary-value">#= item.estimatedSolutionDate #</div>
                        </li>
                      </ul>
                  # } #
              # }) # 
        </div>
    # } #
</script>