<!-- Main Template -->
<script id="ui-bz-wp-webpart-taskFeed-main" type="text/x-kendo-template">
<div data-role="view" id="taskFeed" data-title="Task Feed">
    <header data-role="header">
        <div data-role="navbar">
            <a data-role="button" data-rel="drawer"  data-icon="render-slider" class="bz-header-left-btn" data-align="left"></a>
            %{workportal-taskfeed-title}
            <a data-role="button" data-rel="drawer" data-icon="new-smallsize" class="bz-header-right-btn" id="bz-workarea-newcase" data-align="right"></a>
        </div>
    </header>
    <div data-role="modalview" id="modalview-summary" style="width: 90%; height: auto;" data-modal="false" data-resizable="true" data-stretch="false" >
        <div data-role="header">
            <div data-role="navbar">
                %{workportal-taskfeed-summary}
            </div>
        </div>
        <div data-role="footer">
            <div data-role="navbar">
                <a id="closeModalView" data-align="left" data-role="button">%{render-form-dialog-box-close}</a> <a id="WorkOnItModalView" data-align="right" data-role="button">%{workportal-taskfeed-popup-work-onit}</a>
            </div>
        </div>
        <div id="modalview-text"></div>
    </div>
    <ul data-role="listview" data-style="inset" data-type="group" class="bz-wp-group-container" id="items-content-taskFeed">
    </ul>
    <a class="button" id="loadMoreTaskFeed" data-role="button" style="display: block; margin: 2em; text-align: center;">%{workportal-taskfeed-press-load-more}</a>
</div>
</script>
<!-- Items Template -->
<script id="ui-bz-wp-webpart-taskFeed-item" type="text/x-kendo-template">
<div class="bz-wp-item-container" data-case="#= data[0] #">
    <span class="bz-list-item-date #=data.state#">#= data[3] #</span>
	<span class="bz-list-item-maindata">
        <h3 class="bz-list-subitem activity">#= data[5] #</h3>
        <p class="bz-list-subitem processname">#= data[4] #</p>
        <p class="bz-list-subitem user">#= data[6][0][1] #</p>
    </span>
</div>
</script>
<!-- Summary Template -->
<script id="ui-bz-wp-webpart-taskFeed-summary" type="text/x-kendo-template">
<div class="bz-wp-modal-content" data-case="#= data[0] #" data-workitem="#= data[1] #" data-task="#= data[2] #">
    <ul class="bz-wp-modal-list">
        # $.each (data[6], function (i, item) { #
        <li>
            <div class="bz-wp-modal-title">#= item[0] #</div>
            <div class="bz-wp-modal-value">#= item[1] #</div>
        </li>
        # }) #
    </ul>
</div>
</script>
