﻿.ui-bizagi-wp-app-inbox-activity-description_win8
{
    background-color: rgb(255, 255, 255);
    position: relative;
    border: 1px solid rgba(0, 114, 198, .2);
    padding: 1em 1em 0.5em 1.5em;
    margin-bottom: 1.5em;
    margin-top: 1.8em;
}

.ui-bizagi-wp-app-inbox-activity-description_win8 .ui-bizagi-wp-app-inbox-cases-description-ico-state
{
    width: 10px;
    height: 100%;
    position: absolute;
    float: left;
    left: 0;
    top: 0;
}

.ui-bizagi-wp-app-inbox-activity-description_win8 #ui-bizagi-wp-app-inbox-cases-ico-state-Red
{
    background: rgb(179, 79, 79);
}

.ui-bizagi-wp-app-inbox-activity-description_win8 #ui-bizagi-wp-app-inbox-cases-ico-state-Green
{
    background: rgb(103, 176, 111);
}

.ui-bizagi-wp-app-inbox-activity-description_win8 #ui-bizagi-wp-app-inbox-cases-ico-state-Yellow
{
    background: rgb(191, 191, 61);
}

/* Tabs */

.ui-tabs .ui-tabs-panel
{
    border-color: rgba(0, 114, 198, .2);
    background-color: rgb(255, 255, 255);
    padding: 1.5em 1em 1.5em 1.5em;
}

.ui-tabs .ui-tabs-nav li
{
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-top-width: 5px;
}

.formContent .ui-tabs .ui-tabs-nav li a
{
    outline: none;
    background: none;
    color: rgba(19, 77, 116, .5);
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active
{
    background-color: rgb(255, 255, 255);
    border-left-color: rgba(0, 114, 198, .2);
    border-right-color: rgba(0, 114, 198, .2);
    border-top-color: rgba(0, 114, 198, .2);
    border-top-width: 5px;
}

.ui-tabs .ui-tabs-nav li a
{
    font-family: 'Segoe UI' , Arial, sans-serif;
    font-size: 11pt;
}

.ui-widget-content a, .ui-tabs .ui-tabs-nav li:hover a, .ui-tabs .ui-tabs-nav li.ui-tabs-active a
{
    color: rgb(19, 77, 116);
}

.box-description
{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.details-case-description
{
    display: none;
}

#ui-bizagi-wp-app-inbox-cases-ico-close
{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 6px;
    width: 16px;
}

#ui-bizagi-wp-app-inbox-cases-ico-close + span
{
    display: inline-block;
    vertical-align: middle;
}

#ui-bizagi-wp-app-inbox-cases-ico-close span
{
    background: url("/images/desktop-sprite.png") -281px -117px no-repeat;
    display: block;
    height: 14px;
    width: 14px;
    position: relative;
}

/* Activities */
.box-description .activity-separator:only-child
{
    border: none;
    box-shadow: none;
}

.activity-separator
{
    border-bottom: 1px solid #ACACAC;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
    margin-bottom: 15px;
}

/* 
 * Personalized Columns Container 
 */

.personalizedColumnsContainer
{
    overflow: auto;
    -ms-overflow-style: scrollbar;
}

.personalizedColumnsContainer table
{
    width: 100%;
    margin: 0;
    padding: 1px;
    margin-bottom: 25px;
    border-radius: 0;
    border-color: rgba(0, 114, 198, .4) !important;
    border-radius: 3px;
    border: solid 1px #C5C8C0;
}

.personalizedColumnsContainer table td
{
    padding: 4px;
    text-align: center;
    min-width: 100px;
    text-shadow: none;
    color: rgb(19, 77, 116) !important;
    border-bottom-color: rgba(20, 20, 20, .05) !important;
}

.personalizedColumnsContainer table tbody tr td
{
    border-bottom-color: rgba(20, 20, 20, .05) !important;
}

.personalizedColumnsContainer table thead td
{
    font-size: 115%;
    -webkit-box-shadow: 0 0 0 1px rgba(20, 20, 20, .025) inset;
    box-shadow: 0 0 0 1px rgba(20, 20, 20, .025) inset;
    border-bottom-color: rgba(20, 20, 20, .05) !important;
    color: #283238;
    font-weight: bold;
    background: rgb(206,206,206);
}

.personalizedColumnsContainer table tbody .event
{
    background-color: #DADADA;
}

