﻿<script id="ui-bizagi-webpart-summaryCase" type="text/x-jquery-tmpl">
    <div id="descriptionPadding">
        {{each currentState}}
            {{if idWorkItem  == params["idWorkitem"] }}
                <div class="ui-bizagi-wp-app-inbox-activity-description_win8">
                    <div>
                        <div id="ui-bizagi-wp-app-inbox-cases-ico-state-${colorState}" class="ui-bizagi-wp-app-inbox-cases-description-ico-state">
                            <span></span>
                        </div>
                        {{if isEvent=="true"}}
                            <div id="ui-bizagi-wp-app-inbox-cases-ico-event">
                                <span></span>
                            </div>
                        {{/if}}
                        <h2 class="ui-bizagi-wp-app-inbox-description-activity-name">${caseNumber}
                        </h2>
                        <dl class="box-description">
                            <dt>%{workportal-widget-render-creation-date}</dt>
                            <dd class="formatDate">${creationDate}</dd>
                            <dt>%{workportal-widget-render-state-expires-on}</dt>
                            <dd class="formatDate">${estimatedSolutionDate}</dd>
                            {{if tskDescription}}
                                <dt>%{workportal-widget-inboxcommon-description}</dt>
                                <dd>${tskDescription}</dd>
                            {{/if}}
                        </dl>
                    </div>
                </div>
            {{/if}}
        {{/each}}

        <div id="ui-bizagi-details-tabs">
            <ul>
                <li><a href="#details">%{workportal-widget-render-details}</a></li>
                {{if showComments}}
                    <li><a href="#comments" data-isclosed="${isClosed}">%{workportal-widget-comments} {{if hasComments == 'true'}}<span class="messageIndicatorIcon"></span>{{/if}}</a></li>
                {{/if}}
                {{if showSubProcess}}
                    <li><a href="#subprocess">%{workportal-widget-render-subprocess}</a></li>
                {{/if}}
                {{if showAssignees}}
                    <li><a href="#assignees">%{workportal-widget-render-assignees}</a></li>
                {{/if}}
                {{if showEvents}}
                    <li><a href="#events">%{workportal-widget-render-events}</a></li>
                {{/if}}
                {{if showActivities}} 
                    <li><a href="#activities">%{workportal-widget-render-activities}</a></li>
                {{/if}}                
            </ul>
            <div id="details">
                <p class="details-case-description">${caseDescription}</p>
                <dl class="box-description">
                    <dt>%{workportal-widget-render-creation-date}</dt>
                    <dd class="formatDate">${creationDate}</dd>
                    <dt>%{workportal-widget-render-created-by}</dt>
                    <dd>${createdByName}</dd>
                    <dt>%{workportal-widget-render-case-number}</dt>
                    <dd>${caseNumber}</dd>
                    <dt>%{workportal-widget-render-process}</dt>
                    <dd>${process}</dd>
                    <dt>%{workportal-widget-render-process-path}</dt>
                    <dd>${processPath}</dd>
                    {{if showParentProcess}}
                    <dt>%{workportal-widget-inboxcommon-parent-process}</dt>
                    <dd class="summaryLink">
                        <a href="#">${radNumberParentCase} - ${parentProcess.displayName}</a>
                        <input type="hidden" id="idCase" value="${parentProcess.idCase}" />
                    </dd>
                    {{/if}}
                    {{if isClosed}}
                    <dt>%{workportal-widget-inboxcommon-state}</dt>
                    <dd>
                        <div id="ui-bizagi-wp-app-inbox-cases-ico-close">
                            <span></span>
                        </div>
                        %{workportal-widget-inboxcommon-state-closed} </dd>
                    {{/if}}
                </dl>
            </div><!--End Div Details-->
            {{if showComments}}
                <div id="comments" class="bz-wp-widget-render-social" {{loading}}>
                    <progress class="win-ring ringSmallProgress"></progress>
                </div>
            {{/if}}
            {{if showSubProcess}}
                <div id="subprocess" {{loading}}>
                    <progress class="win-ring ringSmallProgress"></progress>
                </div>
            {{/if}}

            {{if showAssignees}}
                <div id="assignees"  {{loading}}>
                    <progress class="win-ring ringSmallProgress"></progress>
                </div>
            {{/if}}

            {{if showEvents}}
                <div id="events"  {{loading}}>
                    <progress class="win-ring ringSmallProgress"></progress>
                </div>  
            {{/if}}

            {{if showActivities}} 
                <div id="activities"  {{loading}}>
                    <progress class="win-ring ringSmallProgress"></progress>
                </div>
            {{/if}}
        </div>

        {{if currentState[0]}}
            {{if currentState[0].allowReleaseActivity }} <button class="bz-sc-release ui-bizagi-button ui-button-text  ui-button ui-widget ui-state-default ui-corner-all ui-state-hover">%{render-actions-release}</button>{{/if}}
        {{/if}}
    </div>
</script>

<script id="summaryCase-subprocess" type="text/x-jquery-tmpl" >
{{if showSubProcess}}
    {{if showSubProcesColumns }}
        <div class="personalizedColumnsContainer">
            <input type="hidden" id="totalCustomFields" value="${CustFields.length}" />
            {{each subProcPersonalized}}
                <table cellspacing="0" border="0" cellpading="0" class="personalizedColumnsData">
                    <thead class="ui-bizagi-grid-header">
                        <tr>
                            <td>Identificator</td>
                            <td>Subprocess</td>
                                {{each CustFields[0]}}
                                <td>${$value}</td>
                                {{/each}}      
                        </tr>
                    </thead>
                    <tbody>
                        {{each subProcesses}}
                            <tr>    
                                <td>
                                    <div>
                                        {{if isOpen == "false"}}    
                                            <div id="ui-bizagi-wp-app-inbox-cases-ico-close">                                
                                                <span></span>
                                            </div>
                                        {{/if}}
                                        ${radNumber}
                                    </div>
                                </td>
                                <td class="summaryLink">
                                    <a href="#">
                                        ${displayName}
                                        <input type="hidden" id="indexSubProcess" value="${$index}" />
                                    </a>                        
                                </td>
                                {{each custData}}
                                    <td>${$value}</td>
                                {{/each}}
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{/each}}
        </div>
    {{else}}
        <dl class="box-description">             
        {{each subProcesses}}
            <dt>%{workportal-widget-inboxcommon-subprocess}</dt>
            <dd class="summaryLink">
                <a href="#">
                    {{if isOpen == "false"}}    
                        <div id="ui-bizagi-wp-app-inbox-cases-ico-close">                                    
                            <span></span>
                        </div>
                    {{/if}}
                    ${radNumber} - ${displayName}
                </a>
                <input type="hidden" id="index" value="${$index}" />
            </dd>
        {{/each}}
        </dl>
    {{/if}}
{{/if}}
</script>

<script id="summaryCase-assignees" type="text/x-jquery-tmpl" >
    {{if showAssignees}}
        <dl class="box-description">
            {{if events.length > 0}}
                <dt>%{workportal-widget-render-events}</dt>
                <dd>
                    ${events}
                </dd>
            {{/if}}

            {{if activities.length > 0}}
                <dt>%{workportal-widget-render-activities}</dt>
                <dd>
                    ${activities}
                </dd>    
            {{/if}}
        </dl>
    {{/if}}
</script>

<script id="summaryCase-events" type="text/x-jquery-tmpl" >
    {{if showEvents}}
        <dl class="box-description">  
        {{each events}}
            {{each $value}}
                <dt>%{workportal-widget-inboxcommon-event-name}</dt>
                <dd class="summaryLink" data-case="${idCase}" data-workitem="${idWorkitem}" data-task="${idTask}" 
                    data-displayname="${displayName}" data-workflow="${idWorkFlow}" data-eventastasks="${eventAsTasks}">
                    <a>${displayName}</a>                                   
                </dd>
            {{/each}}
            <input type="hidden" id="indexEvent" value="${$index}" />  
        {{/each}}
        </dl>
    {{/if}}
 </script>   

<script id="summaryCase-activities" type="text/x-jquery-tmpl" >
{{if showActivities}}
    <div class="box-description">
        {{each currentState}}
            {{if idWorkItem  != globalIdWorkitem }}
                <dl class="activity-separator">
                    <dt>%{workportal-widget-inboxcommon-activities-name}</dt>
                    <dd class="summaryLink" data-case="${idCase}" data-workitem="${idWorkItem}" data-task="${idTask}" data-displayname="${state}">
                        <a>${state}</a>                                 
                        <input type="hidden" id="indexActivity" value="${$index}" />
                    </dd>
                    {{if tskDescription}}
                        <dt>%{workportal-widget-inboxcommon-description}</dt>
                        <dd>${tskDescription}</dd>
                    {{/if}}
                    <dt>%{workportal-widget-render-creation-date}</dt>
                    <dd class="formatDate">${creationDate}</dd>
                    <dt>%{workportal-widget-render-state-expires-on}</dt>
                    <dd class="formatDate">${estimatedSolutionDate}</dd>
                </dl>
            {{/if}}
        {{/each}}
    </div>
{{/if}}
</script>