﻿
.bz-wp-category-item
{
    display: table;
    width: 100%;
    position: relative;
    height: 51px;
    background-color: #FFFFFF;
}

.bz-wp-category-item .container-left, .bz-wp-category-item .container-middle, .bz-wp-category-item .container-right
{
    display: table-cell;
    vertical-align: middle;
    position: relative;
}


.bz-wp-category-item .container-left
{
    width: 45px;
}

.bz-wp-category-item .container-middle
{
}

.bz-wp-category-item .container-right
{
    width: 50px;
    right: 5px;
}

.bz-wp-category-item .container-middle, .bz-wp-category-item .container-right
{
    border-bottom: 1px solid rgba(128, 128, 128, 0.23);
}

.container-left span.favorite-true, .container-left span.favorite-false
{
    background-position: -196px -60px;
    height: 24px;
    width: 26px;
    position: relative;
    left: 0;
}


span.workflow-count
{
    font-size: 15px;
    font-weight: 100;
    color: #333;
    border-radius: 13px;
    background: transparent;
    margin: 3px 0 3px 0;
    text-align: center;
    padding: 3px 5px;
    min-width: 50px;
    float: right;
    position: relative;
    border: 2px solid #37BAEC;
}



.bz-wp-category-item.selecteditem
{
    border-bottom: 1px solid rgba(128, 128, 128, 0.23);
}

.bz-wp-category-item.selecteditem .container-middle, .bz-wp-category-item.selecteditem .container-right
{
    border-bottom: none;
}

.bz-wp-category-item.selecteditem .selectedcat
{
    background-position: -145px -98px;
}

.bz-wp-category-item.selecteditem .openlist
{
   background-position: -375px -135px;
   min-width: 18px;
   width: 20px;
}



.bz-wp-ib-filter-container
{
    font-size: 15px;
    font-weight: 100;
    color: #444444;
}

