﻿<div id="dialog-soa" title="SOA - Create case">
    <p class="validateTips">Select the file with the XML data</p>
    <form>
        <input type="file" class="bz-at-soap-upload" accept=".xml" />
    </form>
    <br/>
    <p class="validateTips">or enter the XML Data</p>
    <form>
        <textarea cols="50" rows="8" class="bz-at-soap-xml" ></textarea>
    </form>
</div>
