/********
* Filename: bizagi.editor.theme.css
* Create Date: 19-07-2012
* Author: Ramiro Gomez Ramiro.Gomez@bizagi.com
* Author: Jair Cardenas Jair.Tellez@bizagi.com
*
* $__theme editors
*
********/


/***********************
_________ all
*************************/
[class*="bizagi_editor_component_editor"] .biz-ico.ui-bizagi-render-required{
	background-position: -976px -32px;
	display: inline-block;
}

/***********************
_________ booleandisplay
*************************/
.bizagi_editor_component_editor_booleandisplay .biz-ico.ui-comboBox-image-large-option{
	background-position: -320px 0;
}


.bizagi_editor_component_editor_booleandisplay .ui-comboBox-image-large-select-box{
	background-position: -368px -32px;
}
/***********************
_________ ruleexpression
*************************/
.bizagi_editor_component_editor_ruleexpression .biz-ico.ui-comboBox-image-large-true{
	background-position: -384px 0;
}

.bizagi_editor_component_editor_ruleexpression .biz-ico.ui-comboBox-image-large-false{
	background-position: -384px -32px;
}

.bizagi_editor_component_editor_ruleexpression .biz-ico.ui-comboBox-image-large-expression{
	background-position: -400px 0;
}


/***********************
_________ image
*************************/


/***********************
_________ displaytype
*************************/
.bizagi_editor_component_editor_displaytype .biz-ico-32.ui-comboBox-image-large-both{
	background-position: -592px 0;
}

.bizagi_editor_component_editor_displaytype .biz-ico-32.ui-comboBox-image-large-label{
	background-position: -592px -16px;
}

.bizagi_editor_component_editor_displaytype .biz-ico-32.ui-comboBox-image-large-value{
	background-position: -592px -32px;
}

.bizagi_editor_component_editor_displaytype .biz-ico-32.ui-comboBox-image-large-reversed{
	background-position: -592px -48px;
}

.bizagi_editor_component_editor_displaytype .biz-ico-32.ui-comboBox-image-large-vertical{
	background-position: -624px 0;
}


/***********************
_________ localizablestring
*************************/
.bizagi_editor_component_editor_localizablestring .biz-ico.editor-localizablestring-localization{
	background-position: -416px -32px;
}
.bizagi_editor_component_editor_localizablestring .biz-ico.editor-localizablestring-richtext {
	background-position: -626px -16px;
}

/***********************
_________ displayname
*************************/

.bizagi_editor_component_editor_displayname .biz-ico.editor-displayname-localization {
background-position: -416px -32px;
}

/***********************
_________ string
*************************/

.bizagi_editor_component_editor_string .biz-ico.editor-string-icon-localization{
	background-position: -416px -32px;
}

/***********************
_________ boolean
*************************/
.bizagi_editor_component_editor_boolean .biz-icon.editor-boolean-icon-default-value{
	background-position: -656px -16px;
}

/***********************
_________ booleanSwitch
*************************/
.ui-bizagi-editor-uiControls-booleanSwitch .biz-ico.booleanSwitch-icon-btnSwitch{
	display:none;
}

.ui-bizagi-editor-uiControls-booleanSwitch .ui-bizagi-editor-booleanSwitch-selector{
	min-width: 0;
}


/***********************
_________ retype
*************************/
.bizagi_editor_component_editor_retype .biz-ico.ui-comboBox-image-large-none{
	background-position: -544px -32px;
}
.bizagi_editor_component_editor_retype .biz-ico.ui-comboBox-image-large-duplicate{
	background-position: -528px -32px;
}
.bizagi_editor_component_editor_retype .biz-ico.ui-comboBox-image-large-double{
	background-position: -544px 0;
}

/***********************
_________ comboBox
*************************/
.biz-ico.ui-comboBox-image-small-check {
	background-position: -656px -32px;
}

.biz-ico.ui-comboBox-image-small-uncheck {
	background-position: -656px -48px;
}


/***********************
_________ defaultValue
*************************/

.bizagi_editor_component_editor_defaultvalue .defaultvalue-image-rule-delete,
.bizagi_editor_component_editor_defaultvalue .defaultvalue-image-fixed-delete{
	background-position: -800px -32px;   
}

.bizagi_editor_component_editor_defaultvalue .biz-ico.defaultvalue-image-edit {
	background-position: -880px -48px;
}

/***********************
_________ filterexpression
*************************/

.bizagi_editor_component_editor_filterexpression .filterexpression-image-delete{
	background-position: -800px -32px;   
}

.bizagi_editor_component_editor_filterexpression .filterexpression-image-filter{
	background-position: -768px -32px;
}
  

/***********************
_________ rule
*************************/
.bizagi_editor_component_editor_rule .biz-ico.rule-image-delete{
	background-position: -800px -32px;   
}

.bizagi_editor_component_editor_rule .biz-ico.rule-image-edit{
	background-position: -880px -48px;
}

/***********************
_________ horizontalAlign
*************************/
.bizagi_editor_component_editor_horizontalalign [class*="horizontalalign-image-small-"] {
    margin-top: 1px;
}

.bizagi_editor_component_editor_horizontalalign .horizontalalign-image-small-right { 
    background-position: -464px -16px;
}


.bizagi_editor_component_editor_horizontalalign .horizontalalign-group:hover .horizontalalign-image-small-right,
.bizagi_editor_component_editor_horizontalalign .checked .horizontalalign-image-small-right {
    background-position: -464px 0;
}


.bizagi_editor_component_editor_horizontalalign .horizontalalign-image-small-left {
    background-position: -448px -48px;
}

.bizagi_editor_component_editor_horizontalalign .horizontalalign-group:hover .horizontalalign-image-small-left,
.bizagi_editor_component_editor_horizontalalign .checked .horizontalalign-image-small-left {
    background-position: -448px -32px;
}


.bizagi_editor_component_editor_horizontalalign .horizontalalign-image-small-center {
    background-position: -464px -48px;
}

.bizagi_editor_component_editor_horizontalalign .horizontalalign-group:hover .horizontalalign-image-small-center,
.bizagi_editor_component_editor_horizontalalign .checked .horizontalalign-image-small-center {
    background-position: -464px -32px;
}

.bizagi_editor_component_editor_horizontalalign .horizontalalign-image-small-justify {
    background-position: -480px -16px;
}

.bizagi_editor_component_editor_horizontalalign .horizontalalign-group:hover .horizontalalign-image-small-justify,
.bizagi_editor_component_editor_horizontalalign .checked .horizontalalign-image-small-justify {
    background-position: -480px 0; 
}

.bizagi_editor_component_editor_thumbnail.without-dropdown .thumbnail-image-icon-uncheck,
.bizagi_editor_component_editor_thumbnail.without-dropdown .thumbnail-image-icon-check{
	position: absolute;
    bottom: 31px;
	right: 0px;
    background-position: -560px 0;
}
.bizagi_editor_component_editor_horizontalalign.without-dropdown .horizontalalign-image-icon-uncheck,
.bizagi_editor_component_editor_horizontalalign.without-dropdown .horizontalalign-image-icon-check {
    position: absolute;
    bottom: -2px;
    right: -4px;
    background-position: -560px 0;
}

.bizagi_editor_component_editor_thumbnail.without-dropdown .thumbnail-image-icon-uncheck,
.bizagi_editor_component_editor_horizontalalign .horizontalalign-image-icon-uncheck
{
    opacity: 0;
    border-radius: 8px;
    background-color: #fff;
    
}
.bizagi_editor_component_editor_thumbnail .thumbnail-group:hover .thumbnail-image-icon-uncheck,
.bizagi_editor_component_editor_horizontalalign .horizontalalign-group:hover .horizontalalign-image-icon-uncheck {
    opacity: 1;
}

/***********************
_________ editorValidator
*************************/
.bizagi_editor_validator_container,
#bizagi_editor_validator_container{
	display:none;
	position:absolute;
	top:0;
	left:0;
	min-width:190px;
	padding: 8px;
	border-radius: 3px;
	vertical-align: top;
	width:100%;
	z-index: 800;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .3);
    
}

.editor-validator-bg{
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 10%, rgba(240, 240, 240, 1) 100%);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 10%, rgba(240, 240, 240, 1) 100%);
}

.bizagi_editor_validator_container  [class*="editor-validator-icon-"] {
	position: absolute;
}

.bizagi_editor_validator_container  [class*="editor-validator-message-"]{
	display:inline-block;
	vertical-align: top;
	margin: 0 0 0 24px;
	padding: 0;
	text-shadow:none;
}

.bizagi_editor_validator_container .editor-validator-icon-warning {
    background-position: -576px 0;
} 

.bizagi_editor_validator_container .editor-validator-icon-error {
    background-position: -576px -16px;
} 

.bizagi_editor_validator_container .editor-validator-icon-info {
    background-position: -576px -32px;
} 

.bizagi_editor_validator_container .editor-validator-icon-arrow {
	background: none;
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-bottom: 6px solid white;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: "";
	position: absolute;
	top: -6px;
}

.bizagi_editor_validator_container .editor-validator-icon-arrow::after {
	background: none;
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-bottom: 6px solid gray;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: "";
	position: absolute;
        top: -1px;
        left: -6px;
        z-index: -1;
        opacity: .5;
}

.bizagi_editor_validator_container.ui-inline-error{
	position: relative;
	margin-bottom: 10px;
}
.bizagi_editor_validator_container.ui-inline-error ul{
	list-style: none;
	padding-left: 0px;
	margin-left: 0px;
	max-height: 140px;
	overflow: hidden;
	overflow-y: auto;
}
.bizagi_editor_validator_container .editor-validator-content ,
.bizagi_editor_validator_container.ui-inline-error ul [class*="editor-validator-icon-"]{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.bizagi_editor_validator_container .editor-validator-content [class*="editor-validator-message-"]{
	display: block;
}
.bizagi_editor_validator_container .editor-validator-content {
	width: 100%;
}

.bizagi_editor_validator_container .editor-validator-content [class*="editor-validator-icon-"]{
	position: absolute;
	top: 1px;
	left: 5px;
}
.bizagi_editor_validator_container.ui-inline-error li{
	display: table;
}

.bizagi_editor_validator_container.ui-inline-error span{
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
	display: table-cell;
	padding-left: 10px;
}

/***********************
_________ modal
*************************/
.biz-ico.ui-control-modal{
	background-position: -512px -32px;
}

/***********************
_________ properties
*************************/
.bizagi_editor_component_properties .biz-icon.ui-close-btn{
	background-position: -544px -48px;
	border: none;
	cursor: pointer;
}

.bizagi_editor_component_properties.biz-modal .biz-btn-close{
	background-color:transparent;
}

.bizagi_editor_component_properties.biz-shadow-modal{
	box-shadow: none;
}
/***********************
_________ xpathnavigator
*************************/
.xpathnavigator-close.ui-properties-close .biz-icon.ui-close-btn {
	background-position: -544px -48px;
	border: none;
	cursor: pointer;
}

.xpathnavigator-close.ui-properties-close.biz-btn-close{
	float: right;
	position: relative;
	top: 5px;
	right: 5px;
	z-index: 20;
}

/***********************
_________ renderlayout
*************************/


.ui-modal-layout input[type="range"]::-webkit-slider-thumb::before{
    content:"-";
    width: 16px;
    height: 16px;
    position:absolute;
    left:-7px;
    top:12px;
    background: url(images/sprite-ico.png) no-repeat;
    background-position: -560px -16px;
}

.ui-modal-layout input[type="range"]::-webkit-slider-thumb{
    height:38px;
    vertical-align:middle;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, .8);
    -moz-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, .8);
    box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, .8);
}

/***********************
_________ dateRange
*************************/

.bizagi_editor_component_editor_daterange .daterange-property-name {
    background-color: rgba(230, 230, 230, .8);    
}

.bizagi_editor_component_editor_daterange .daterange-image-small-range {
    background-position: -432px 0;
}

.bizagi_editor_component_editor_daterange .daterange-image-small-date {
    background-position: -240px -32px;
}
.bizagi_editor_component_editor_daterange  .daterange-image-edit{
	background-position: -880px -48px;
}
.bizagi_editor_component_editor_daterange  .daterange-image-delete{
	background-position: -800px -32px;
}

.bizagi_editor_component_editor_daterange  .daterange-rule-external{
	background-position: -896px -48px;
}



/***********************
_________ dateRange and dateFormat
*************************/

.bizagi_editor_component_editor_daterange .daterange-image-small-time,
.bizagi_editor_component_editor_dateformat .dateformat-image-small-time {
    background-position: -432px -32px;
}


.daterange-time-group .daterange-image-small-time,
.dateformat-time-group .dateformat-image-small-time {
    margin-left: 5px;
    vertical-align: middle;
}

.ui-modal-dateformat .ui-bizagi-editor-uiControls-comboBox .ui-bizagi-editor-comboBox-dropDown .biz-btn i:first-child { display: none; }

.ui-modal-dateformat .ui-control-select .ui-control-arrow-box {
	height: 18px;
	border: none;
	background: none;
}

.ui-modal-dateformat .ui-control-select .ui-control-arrow-box:hover{
  box-shadow: #fdf6dc 0 0 0 1px inset;
  background: -webkit-linear-gradient(top, #fcedb2, #fce289 30%, #fce289 60%, #fdfae0);
  background: -moz-linear-gradient(top, #fcedb2, #fce289 30%, #fce289 60%, #fdfae0);
  border: 1px solid rgb(252, 226, 137);
}

/***********************
_________ dateFormat
*************************/

.bizagi_editor_component_editor_dateformat .dateformat-image-small-modal {
    background-position: -512px -32px;    
}

/***********************
_________ numberRange
*************************/
.bizagi_editor_component_editor_numberrange .numberrange-property-name {
    background-color: rgba(230, 230, 230, .8);    
}

.bizagi_editor_component_editor_numberrange .numberrange-image-small-range {
    background-position: -432px 0;
}

.bizagi_editor_component_editor_numberrange .numberrange-image-small-number {
    background-position: -448px 0;    
}
.bizagi_editor_component_editor_numberrange  .numberrange-image-edit{
	background-position: -880px -48px;
}

.bizagi_editor_component_editor_numberrange  .numberrange-image-delete{
	background-position: -800px -32px;
}

.bizagi_editor_component_editor_numberrange  .numberrange-rule-external{
	background-position: -896px -48px;
}



/***********************
_________ multiple
*************************/

.bizagi_editor_component_editor_multiple .multiple-name .biz-ico{
	background-position: -704px -48px;  
}

.bizagi_editor_component_editor_multiple .multiple-name.selected .biz-ico{
	background-position: -320px 0;
}

/***********************
_________ controlReference
*************************/
.bizagi_editor_component_editor_controlreference .controlreference-icon-boolean {
    background-position: -208px -32px;
}

/***********************
_________ filter
*************************/
.bizagi_editor_component_editor_filter .biz-ico-filter-value {
    background-position: -768px -32px;
	position: absolute;
	right: -20px;
	bottom: 3px;
	margin: 0;
	cursor: pointer;
}

/***********************
_________ interface
*************************/
.bizagi_editor_component_editor_interface .interface-image-external {
    background-position: -752px -32px;
}

.bizagi_editor_component_editor_interface .interface-image-rule-delete{
	background-position: -800px -32px;
}

.bizagi_editor_component_editor_interface .interface-image-rule-edit{
	background-position: -880px -48px;
}


/***********************
_________ decorator
*************************/

.bizagi_editor_component_decorator  .decorator-gear { background-position: -736px 0;}

.bizagi_editor_component_decorator  .decorator-bind { background-position: -736px -16px;}

.bizagi_editor_component_decorator  .decorator-delete { background-position: -736px -32px;}

.bizagi_editor_component_decorator  .decorator-edit { background-position: -736px 0; }

.bizagi_editor_component_decorator .modal-editor-buttons{
	padding-top: 4px;
	padding-bottom: 4px;
    border-radius: 0 4px 0 0;
}

.theme-icon-EditForm { background-position: -176px 0; }
.theme-icon-AddForm{ background-position: -736px -48px; }
.theme-icon-ConfigGrid{ background-position: -560px -48px; }

.biz-ico.theme-icon-EditNestedForm{
	background-position: -176px 0;
}

/***********************
_________ commandseditor
*************************/
.biz-ico.bz-fm-commandseditor-icons-delete{ background-position: -800px -32px; }

.biz-ico.bz-fm-commandseditor-icons-edit{ background-position: -176px 0; }

.biz-ico.bz-fm-commandseditor-icons-adjust-area{display:block; margin-top: 10px;}

/***********************
_________ form
*************************/
.bizagi_editor_component_editor_form .biz-ico.form-image-form-,
.bizagi_editor_component_editor_form .biz-ico.form-image-form{
	background-position: -832px -32px; 
}

.bizagi_editor_component_editor_form .biz-action-btn{
	min-width: 0;
}
.bizagi_editor_component_editor_form .biz-ico.form,
.bizagi_editor_component_editor_form .biz-ico.add-addform,
.bizagi_editor_component_editor_form .biz-ico.addform{
	background-position: -736px -48px;
}
.bizagi_editor_component_editor_form .biz-ico.detail-detailform,
.bizagi_editor_component_editor_form .biz-ico.edit-editform,
.bizagi_editor_component_editor_form .biz-ico.editform{
	background-position: -880px -48px;
}

.bizagi_editor_component_editor_form .newrecords-allownewform,
.bizagi_editor_component_editor_form .form-image-form-addform{ 
	background-position: -912px -32px;
}

.bizagi_editor_component_editor_form .form-image-form-editform{ 
	background-position: -912px -48px;
}


/***********************
_________ searchform
*************************/
.bizagi_editor_component_editor_searchform .biz-ico.searchform-image-form-,
.bizagi_editor_component_editor_searchform .biz-ico.searchform-image-form{
	background-position: -832px -32px; 
}

.bizagi_editor_component_editor_searchform .biz-action-btn {
	min-width: 0;
}

/***********************
_________ xpath
*************************/
.bizagi_editor_component_editor_xpath [class*="xpath-"].biz-ico
{
    background-position: -896px -32px;
    
}

.bizagi_editor_component_editor_xpath [class*="-default"].biz-ico{
	right: -38px;
	top: 27px;
}

/***********************
_________ xpath multiple
*************************/
.bizagi_editor_component_editor_xpathmultiple [class*="xpath-"].biz-ico
{
    background-position: -736px -48px;
    
}

.bizagi_editor_component_editor_xpathmultiple [class*="-default"].biz-ico{
	right: -38px;
	top: 27px;
}

/***********************
_________ orientation
*************************/
.bizagi_editor_component_editor_orientation .ui-comboBox-image-large-inherited { background-position: -1008px -16px; }
.bizagi_editor_component_editor_orientation .ui-comboBox-image-large-ltr { background-position: -896px 0; }
.bizagi_editor_component_editor_orientation .ui-comboBox-image-large-rtl { background-position: -896px -16px; }

/***********************
_________ editableLabel
*************************/
.ui-bizagi-input-icon-ok{
    background-position: -384px 0;
    vertical-align: middle
}
.ui-bizagi-input-icon-cancel{
    background-position: -384px -32px;
    vertical-align: middle
}


/*********************
___________ dialog
**********************/

.biz-ico.bz-fm-dialog-si,
.biz-ico.bz-fm-dialog-ok,
.biz-ico.bz-fm-dialog-yes{
	background-position: -384px 0;
}

.biz-ico.bz-fm-dialog-no{
	background-position: -384px -32px;
}
.biz-ico.bz-fm-dialog-cancelar,
.biz-ico.bz-fm-dialog-cancel{
	background-position: -1024px -48px;
}



/*********************
___________ textformat
**********************/
.bizagi_editor_component_editor_textformat .textformat-size-value,
.bizagi_editor_component_editor_textformat .textformat-preview{
	-webkit-box-shadow: inset 0px 1px 2px 0 rgba(194, 197, 200, .32);
	-moz-box-shadow: inset 0px 1px 2px 0 rgba(194, 197, 200, .32);
    box-shadow: inset 0px 1px 2px 0 rgba(194, 197, 200, .32);
}

