/********
* Filename: bizagi.editor.theme.css
* Create Date: 19-07-2012
* Author: Ramiro Gomez Ramiro.Gomez@bizagi.com
* Author: Jair Cardenas Jair.Tellez@bizagi.com
*
* $__theme common
*
********/

/*********/
/* THEME */
/*********/

/* Scrollbars para body */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(72,90,106,0.1);
}

::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 7px;
    border: 2px solid rgba(255, 255, 255,0.7);
    background-color: rgba(89, 103, 117, 0.5);
}

hr{
  border:none;
  border-top-style: solid;
  border-top-width:1px;
  border-top-color:#A9B0B8;
  margin-top: 5px;
  margin-bottom: 5px;
  clear: both;
  opacity: 0.5;
}

.biz-work-area {
    overflow: hidden;
    background-color: rgba(201, 205, 210, 1);
        
}

body[role="application"]
{
	-webkit-user-select: none; /* Text unselectable */
	overflow: hidden;
}

.bz-fm-commandseditor-action,
.bz-fm-commandseditor-validation { -webkit-user-select: all; /* Text selectable */ }


.biz-work-panel {
    background-color: rgba(255, 255, 255, 1);
}

#main-panel.biz-auto-height,
.biz-auto-height{
    height: auto;
}

.biz-ui-blocker {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

/**************************/
/**** FONTS DEFINITION ****/
/**************************/


.biz-font {
	font-family: "Segoe UI", Arial, sans-serif !important;
}

.biz-second-font{
  /*font-family: Courier!important;*/
}

.biz-third-font{
  font-family: "verdana"!important;
}

.biz-font.biz-small-font{
	font-size: .65em;
}

.biz-font.biz-normal-font{
	font-size: .75em;
}

.biz-font.biz-big-font{
	font-size: .95em;
}

/**************************/
/*** BORDERS DEFINITION ***/
/**************************/

.biz-bg-color{
	background-color: rgba(233,237,241,1);	
}

.biz-dark-bg-color{
  background-color: rgba(139, 144, 151, 0.5);  
}

.biz-text-color{
	color:rgba(0,0,0,.8);
}

.biz-highlight-head-color{
  color:rgba(0,0,0,.5);
  font-weight: bold;
  text-shadow: 1px 1px 1px #ffffff
}

.biz-highlight-color{
  color:rgba(0,0,0,.8);
}

.biz-highlight-0-color{
  color:rgba(153,69,0,1);
}

.biz-highlight-1-color{
  color:rgba(26,26,166,1);
}

.biz-highlight-2-color{
  color:rgba(153,69,0,1);
}

.biz-highlight-3-color{
  color:rgba(26,26,166,1);
}

.biz-border-color{
	border-color:#8a9096;
}

.biz-dark-border-color{
  border-color:#8E9499;
}

.biz-light-border-color{
	border-color:#A9B0B8;
}


.biz-text-color-group
{
    color: #966d91;    
}
.biz-btn-disabled
{
    color: #808080;
}
.biz-border-all,
.biz-border-top{
	border-top-width: 1px;
	border-top-style: solid;
}
.biz-border-all,
.biz-border-bottom{
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.biz-border-all,
.biz-border-left{
	border-left-width: 1px;
	border-left-style: solid;
}

.biz-border-all,
.biz-border-right{
	border-right-width: 1px;
	border-right-style: solid;
}

.biz-draft-border{
	border: 1px dotted #ccc;	
}

.biz-toolbar-border
{
	border-color: rgba(107, 123, 132, 1) rgba(89, 103, 117, 1) rgba(139, 144, 151, 1);
}

.biz-border-group::after
{
    background: -webkit-linear-gradient(top, #f6f7f8, #c6cad0 45%, #b0b6bc);
    background: -moz-linear-gradient(top, #f6f7f8, #c6cad0 45%, #b0b6bc);
}

.biz-position-static{
  position: static!important;
}


/***************************/
/****** BORDER RADIUS ******/
/***************************/
.ui-corner-tl { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; }
.ui-corner-tr { -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; }
.ui-corner-br { -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
.ui-corner-top { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
.ui-corner-right {  -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
.ui-corner-left { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; }
.ui-corner-all { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }




/**************************/
/**** SHADOW DEFINITION ***/
/**************************/

.biz-shadow-down
{
	box-shadow: rgba(174, 177, 182, 1) 0 2px 2px;
}

.biz-shadow-top{
	box-shadow: rgba(155, 158, 162,1) 0 -2px 2px;
}

.biz-shadow-left{
	box-shadow: rgba(155, 158, 162,1) -2px 0 2px;
}

.biz-shadow-right{
	box-shadow: rgba(155, 158, 162,1) 2px 0 2px;
}

.biz-shadow-right-angle {
    box-shadow: rgba(155, 158, 162, 1) 2px 2px 2px;    
}


.biz-shadow-all{
	box-shadow: rgba(155, 158, 162,1) 0px 2px 10px 1px;
}

.biz-shadow-light-all{
  box-shadow: rgba(155, 158, 162,.3) 0px 2px 10px 1px;
}

.biz-shadow-modal{
  box-shadow: rgba(155, 158, 162,1) 0px 0px 5px 2px;
}

.biz-shadow-inset{
  -webkit-box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, .1);
}

.biz-special-shadow::after{
    -webkit-box-shadow: 8px 12px 10px rgba(0, 0, 0, 0.7);
    position: absolute;
    content: '';
    background: transparent;
    bottom: 10px;
    right: 9px;
    width: 26%;
    height: 5%;
    -webkit-transform: rotate(5deg) skew(10deg);
    z-index: -1;
}

/****************************/
/**** GRADIENT DEFINITION ***/
/****************************/

.biz-gradient-h
{
	background: -webkit-linear-gradient(top, #fff, #f9f9f9 45%, #e5e9ee);
	background: -moz-linear-gradient(top, #fff, #f9f9f9 45%, #e5e9ee);
}


.biz-gradient-v
{
	background: -moz-linear-gradient(top, #fff, #f9f9f9 45%, #e5e9ee);
	background: -webkit-linear-gradient(top, #fff, #f9f9f9 45%, #e5e9ee);
}

/* Icons
   ========================================================================== */
[class*="biz-ico"]
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(images/sprite-ico.png) no-repeat -928px -48px;
    vertical-align: bottom;
}
.biz-form:focus,
.biz-form:active,
.biz-form:hover{
	border-color:#8A9096;
}

.biz-ico-32
{
    width: 32px;
    height: 32px;
}

.biz-ico-default-value {
    position: absolute;
    right: -20px;
    bottom: 3px;
    margin: 0;
    background-position: -656px -16px;
    cursor: pointer;
}

.rule-external,
.filterexpression-rule-external,
.defaultvalue-rule-external { background-position: -896px -48px; }

.biz-arrow-right
{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid black;
}

/* Buttons horizontal and vertical layout
   ========================================================================== */

/* Buttons */

.biz-btn {
  padding: 2px 4px;
}

[class*="biz-btn-"]:not(.biz-btn-disabled):not(.is-active).biz-btn-checked .biz-btn{
    box-shadow: rgba(253, 246, 220, 1) 0 0 0 1px inset;
    background: -webkit-linear-gradient(top, rgba(252, 237, 178, 0.7), rgba(252, 226, 137, 0.5) 30%, rgba(252, 226, 137, 0.7) 60%, rgba(253, 250, 224, 0.5));
}

[class*="biz-btn-"]:not(.biz-btn-disabled):not(.is-active).biz-btn-checked:hover  .biz-btn,
[class*="biz-btn-"]:not(.biz-btn-disabled):not(.is-active):hover .biz-btn
{
    box-shadow: rgba(253, 246, 220, 1) 0 0 0 1px inset;
    background: -webkit-linear-gradient(top, rgba(252, 237, 178, 1), rgba(252, 226, 137, 1) 30%, rgba(252, 226, 137, 1) 60%, rgba(253, 250, 224, 1));
}

.ui-control-select:hover .ui-control-arrow-box,
.is-active:hover > .biz-btn
{
    background: -webkit-linear-gradient(top, #ffe373 70%, #fff27e);
    cursor: default;
}

.ui-badge{
  background-color: #C6668F;
  border-radius: 2px;
  position: relative;
  font-size: 0.7em;
  color: #FFF;
  margin-right: 8px;
  padding: 2px;
  margin-left: -4px;
}

.ui-badge::before{
  content: '';
  position: absolute;
  top: 13px;
  right: -4px;
  z-index: 1;
  margin-top: -10px;
  width: 0;
  height: 0;
}

.ui-badge.ui-arrow-right::before{
  border-top: 4px solid transparent;
  border-left: 4px solid #C6668F;
  border-bottom: 4px solid transparent;
}

.ui-badge.ui-arrow-left::before{
  border-top: 4px solid transparent;
  border-right: 4px solid #C6668F;
  border-bottom: 4px solid transparent;
}


.biz-btn-horizontal:hover:not(.biz-btn-disabled) .ui-badge{
  background-color: #90315A;
}

.biz-btn-horizontal:hover:not(.biz-btn-disabled) .ui-badge.ui-arrow-right::before{
  border-left: 4px solid #90315A;
}

.biz-btn-horizontal:hover:not(.biz-btn-disabled) .ui-badge.ui-arrow-left::before{
  border-right: 4px solid #90315A;
}

.biz-btn-label
{
    font-size: 1em;
    font-weight: normal;
    text-align: center;
}

.biz-btn-caption { margin-right: 0; }

.biz-btn-caret
{
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 3px solid #000;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    vertical-align: super;
    content: "";
}

.biz-btn-horizontal,
.biz-btn-vertical
{
    border: 1px solid transparent;
    border-radius: 2px;
}
.biz-btn-horizontal:not(.biz-btn-disabled):hover,
.biz-btn-vertical:not(.biz-btn-disabled):hover { cursor: pointer; }

/* Buttons horizontal */

.biz-btn-horizontal
{
    height: 22px;
    line-height: 14px;
}

.ui-control-select:hover .ui-control-arrow-box,
.biz-btn-horizontal.biz-btn-checked:not(.biz-btn-disabled),
.biz-btn-horizontal.biz-btn-checked:hover:not(.biz-btn-disabled),
.biz-btn-horizontal:hover:not(.biz-btn-disabled) { border-color: #f0cb54; }

.biz-btn-horizontal.is-active:hover:not(.biz-btn-disabled) { border-color: #c28a30; }

.biz-btn-horizontal > .biz-btn { height: 20px; }

/* Buttons vertical */

.biz-btn-vertical
{
    height: 66px;
    text-align: center;
}
div:not(.biz-btn-disabled).biz-btn-vertical.biz-btn-checked:hover,
div:not(.biz-btn-disabled).biz-btn-vertical:hover{ border-color: rgba(240, 203, 84, 1); }
div:not(.biz-btn-disabled).biz-btn-vertical.biz-btn-checked 
{ border-color: rgba(240, 203, 84, 0.8); }

.biz-btn-vertical > .biz-btn { height: 64px; }

.biz-btn-vertical > .biz-btn:last-child { line-height: 12px; }

.biz-btn-vertical > .biz-btn > i { margin-bottom: 2px; }

.biz-btn-vertical > .biz-btn > h3 { margin-top: 2px; }


/* Action Buttons */

.biz-action-btn{
  display: inline-block;
  border: solid 1px rgba(179,179,179,1);
  -webkit-box-shadow: inset 0px 0px 1px 1px #fff;
  box-shadow: inset 0px 0px 1px 1px #fff;
  top: 5px;
  margin: 0px 2px 0px 2px;
  padding: 0px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(51%,rgba(240,240,240,1)), color-stop(51%,rgba(216,216,216,1)), color-stop(100%,rgba(216,216,216,1)));*/
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(229,233,238,1))); /* Chrome,Safari4+ */
  text-shadow: 1px 1px 1px #ffffff;
  cursor:pointer;
  min-width: 85px;
}

.biz-complex-btn-container{width: 100%;}

.biz-complex-btn .biz-action-btn{min-width: 16px; margin:0 0 0 -4px; padding: 0px 0px 0px 8px; border-radius: 0px;border-left: solid 1px rgba(179,179,179,.4);}
.biz-complex-btn .biz-action-btn:first-child{border-right: solid 1px rgba(179,179,179,.4);}
.biz-complex-btn .biz-action-btn:last-child{border-radius: 0px 3px 3px 0px!important;border-right: solid 1px rgba(179,179,179,1);}
.biz-complex-btn .biz-action-btn .biz-ico{top:0, left:0;}
.biz-complex-btn.biz-action-btn{width: 65%;}
.biz-complex-btn.biz-action-btn.biz-value-longer{width: 77%;}

.biz-action-command{
  border: solid 1px rgba(179,179,179,.2);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,.2)), color-stop(100%,rgba(229,233,238,.2)));
}

.biz-action-command .biz-btn-caret{
  margin-left:4px;
}

.biz-action-btn:hover{
  background: -webkit-linear-gradient(top, #ffe373 70%, #fff27e);
  border: solid 1px #f0cb54;
  -webkit-box-shadow: inset 0px 0px 1px 1px #fff;
  box-shadow: inset 0px 0px 1px 1px #fff;
}

.biz-action-btn:focus,
.biz-action-btn:active{
  background: -webkit-linear-gradient(top, #ffe373 70%, #fff27e);
  border: solid 1px  #f0cb54;
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(136,150,176,.5);
  box-shadow: inset 0px 0px 1px 1px rgba(136,150,176,.5);
  text-shadow: 1px 1px 1px #fff;
}



/**********/

.biz-actions-bar{
  width:100%;
  padding: 2px;
  margin:16px 0 0 0;
}

.biz-action-btn,
.biz-actions-bar .biz-action-btn{
  padding: 0px 8px 0px 8px;
  line-height: 22px;
  border-radius: 3px;
}

.biz-complex-btn{
  text-align: center;
  cursor: default;
  border-radius: 3px 0 0 3px;
  float: left;
  margin: 1px 0;
  position: relative;
  top:0px;
  vertical-align: middle;
}

.biz-complex-btn.biz-complex-dropdown{
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border-radius: 0px 3px 3px 0px;
  margin-left: -1px;
  min-width: 0;
  width: auto!important;
}


.biz-actions-bar button .biz-ico{
  top: 5px;
  left: 8px;
  position: absolute;
}

.editor-ui-button-separator{
  height: 20px;
  display: inline-block;
  width: 2px;
  border-left: solid 1px rgba(179,179,179,1);
  -webkit-box-shadow: inset 0px 0px 1px 1px #fff;
  box-shadow: inset 0px 0px 1px 1px #fff;
  margin: 0px 2px 0px 2px;
  line-height: 22px;
}




/* Dropdown
   ========================================================================== */

.biz-dropdown
{
    position: absolute;
    top: -999999em;
    right: 0;
    z-index: 1000;
    opacity: 0;
    overflow: hidden;
    width: -webkit-max-content;
    margin: 1px 0 0;
    padding: 1px;
    min-width: 180px;
    border: 1px solid #a7abb0;
    border-radius: 3px;
    box-shadow: 2px 2px 10px 0 rgba(192, 192, 204, .5);       
    background: white;
    list-style: none;
    -webkit-transition: opacity .4s ease-in-out;
}

.is-active { position: relative; }

.is-active:hover .biz-dropdown
{
    position: absolute;
    top: 100%; 
    left: -1px;
    opacity: 1;
}

.biz-dropdown-section
{
    margin-top: 1px;
    padding: 4px 0 0 8px;
    background: #f0f2f5;
}

.biz-dropdown-section:first-child
{
    margin: 0 0 1px;
    border-radius: 3px 3px 0 0;
}


.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}


/* FIELDSET and GROUPS
   ========================================================================== */


fieldset{
  border: 1px solid rgba(134, 144, 167, .2);
  background: -webkit-linear-gradient(top, rgba(245, 245, 245, .2) 0%,rgba(209, 209, 209, .2) 100%);
  width:95%;

  margin-top: 0;    
  margin-bottom: 10px;
  display: block;
  clear: both;
}

.ui-editor + fieldset {
     margin-top: 8px;    
}

.ui-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}

.ui-content
{
	margin: 5px;	
	padding: 5px;
}

.ui-highlight-control,
#main-panel .ui-highlight-control,
#bizagi_editor_component_properties.ui-highlight-control{
  -webkit-box-shadow: 0px 0px 10px 8px #fcedb2!important;
  border:solid 1px #f0cb54!important;

  -webkit-transition-property: border, box-shadow;
  -webkit-transition-duration: 0.4s, 0.4s;
  -webkit-transition-timing-function: linear, ease-in;
}

.ui-highlight-off-control,
#main-panel .ui-highlight-off-control,
#bizagi_editor_component_properties.ui-highlight-off-control{
  -webkit-box-shadow: none!important;
   border:solid 1px #E7E7E2!important;
}

#bizagi_editor_component_properties.ui-highlight-off-control{
  border:solid 1px #8a9096!important;
}


#main-panel .ui-highlight-off-control.ui-state-active{
  border-color:#999!important;
}

.ui-content .ui-control-container{
  width: 94.5%;
}

.ui-legend .ui-control-arrow-box{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 20px;
  background-color: transparent;
  text-align: center;
  padding-top: 5px;
}

.ui-legend,
.ui-title,
legend{
  position: relative;
  font-size: 1em;
  padding: 4px 8px 4px 8px;
  background-color: #E9EDF1;
}

.ui-vertical-line{
  border-left:1px solid #BFC4CE;
  width:0px;
}

.ui-no-caption{
  color:red;
  font-size: 9px;
}
.ui-control-editor-inline,
[class*="-inline"] .ui-control-editor,
[class*="-inline"] [class*="-group-"] .ui-control-editor
{
    width:58px;
}
.ui-control-select{
  position: relative;
}
.ui-control-select .ui-control-arrow-box{
  position: absolute;
  right: 1px!important;
  top: 1px!important;
  height: 20px;
}
.ui-control-noLabel span,
.ui-control-noLabel label{
  display:none;
}

.ui-control-decorator{

}

.ui-gorup-box-data{
  background-color: #E9EDF1;
}

.ui-box-data{
  background-color: #E9EDF1;
  border: solid 1px #D4D6D9;
  border-radius: 2px;
}

.ui-box-data-action{
  background-color: #E9EDF1;
  border: solid 1px #D4D6D9;
  border-radius: 2px;
}

.ui-gorup-box-data .ui-box-data{
  border-right:none;
  border-radius: 2px 0px 0px 2px;
  display: inline-block;
  vertical-align: middle;
}

.ui-gorup-box-data .ui-box-data-action{
  border-radius: 0px 2px 2px 0px;
  overflow: hidden;
  margin-left: -3px;
  display: inline-block;
  vertical-align: middle;
}

.ui-gorup-box-data:hover .ui-box-data{
  background-color: #FFF;
}

.ui-gorup-box-data .ui-box-data-action .biz-ico{
    margin-top: -2px;
    margin-left: -2px;
}

.ui-popup-modal,
.ui-modal{
  position: absolute;

  background-color:#FFF;
  border:solid 1px #B1B7C2;
  text-align: center;
  position: absolute;
  padding: 0px 0px 20px 0px;
  
  background: -webkit-linear-gradient(top,  #f8f9fa 0%,#f2f2f2 100%);
  background: -moz-linear-gradient(top,  #f8f9fa 0%,#f2f2f2 100%);
}

.ui-popup-modal{
  top: 80px;
  right: 80px;
  bottom: 80px;
  left:80px;

  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.ui-modal-as-dialog{
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  margin-left: -13px;
  z-index: 200;
  top: 4px;
  right: 4px;

  -webkit-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
}

.ui-modal-close{
  display:none;
}

.ui-block-properties{
  background-color: rgba(255,255,255, .5);
}

.ui-modal-open{
  display:block;
}


.ui-modal-hedaer{
    left: 0;
    top: 0;
    height: 27px;
    width: 100%;
    background: -webkit-linear-gradient(top, rgba(204, 209, 219, 0.64) 0%,rgba(177, 186, 203, 0.58) 100%);
    background: -moz-linear-gradient(top, rgba(204, 209, 219, 0.64) 0%,rgba(177, 186, 203, 0.58) 100%);
    margin-bottom: 3px;
}

.ui-modal-hedaer h3{
    margin: 0;
    padding: 5px;
    text-align:left;
    color:#485A6A;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    padding-left: 10px;
}

.ui-modal-hedaer h3 i{
    margin-right: 5px;
}

.ui-modal-background{
  background: -webkit-linear-gradient(top,  #f8f9fa 0%,#f2f2f2 100%);
  background: -moz-linear-gradient(top,  #f8f9fa 0%,#f2f2f2 100%);
}
.ui-modal-light-background{
  
}
.ui-modal-dark-background{
  background-color: rgb(230,231,234);
}

.ui-control-select-editor-up{
  position:relative;
  z-index: 2000;
  border-left: solid 1px #B1B7C2;
  border-top: solid 1px #B1B7C2;
  border-bottom: solid 1px #B1B7C2;
  margin-right: -10px;
  background:#f2f2f2 ;
  padding: 3px 0px 3px 4px;
}

.ui-inline-error{
  position: relative;
}


.ui-widget-overlay.popup-ok-cancel-overlay{
  z-index: 999;
}
/*************************************/
/**** OVERRIDE BIZAGI UICONTROLS *****/
/*************************************/

.ui-resizable-helper{
  background-color: rgba(175,223,0,0.1);
  border:#AFDF00 dashed 1px;
}

.ui-bizagi-placeholder{
  background-color: rgba(175,223,0,0.3);
  border:#AFDF00 dashed 1px;
  height: 27px;
  line-height: 27px;
  /*line-height: 27px;
  margin-bottom: 2px;
  margin-top: 2px;
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, .1);*/
  -webkit-border-radius:3px;
}
.ui-bizagi-placeholder::before{
  content: attr(drophere);
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #617C01;
  font-size: 11px;
}

.ui-editor{
}

.ui-editor-highlight{
  border-top: solid 1px #FDD1C9;
  border-bottom: solid 1px #FDD1C9;
  background-color: rgba(249,237,234,0.5);
  padding-bottom: 4px;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 30px!important;
  padding-right: 20px;
  -webkit-box-shadow: inset 0px 0px 2px 2px rgba(249, 237, 234, 1);
  box-shadow: inset 0px 0px 2px 2px rgba(249, 237, 234, 1);
}
.ui-editor-highlight .ui-control-input{
  border-color:#FCA798;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(249, 237, 234, 1);
}
.ui-editor-highlight label
{
  color:#F06464!important;
}

.ui-control-container{
  width:85%;
  display:inline-block;
  position:relative;
}

.ui-control-input,
input[type="text"].ui-control-input,
input[type="password"].ui-control-input,
input[type="number"].ui-control-input,
textarea.ui-control-input,
select.ui-control-input {
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 22px;
    display: inline-block;
    border: 1px solid #D4D6D9;
    border-radius: 2px;
    background-image: none;
    line-height: 14px;
    color: #565656;
    background-color: #fff;

    -webkit-box-shadow: inset 0px 1px 2px 0 rgba(194, 197, 200, .32);
    box-shadow: inset 0px 1px 2px 0 rgba(194, 197, 200, .32);
}

.ui-control-input-small
{
    width: 30%!important;
    float:left;
}

.ui-control-input input[type="text"] {
  box-shadow: none;
  width: 87%;
  margin: 0;
  padding: 0;
  height: 16px;
  line-height: 20px;
  min-height: 20px;
  border: 0 transparent none;
  background: transparent none;
}

.ui-control-focus{
  -webkit-box-shadow:  0px 0px 0px 1px rgba(234, 176, 63, .8);
  box-shadow:  0px 0px 0px 1px rgba(234, 176, 63, .8);

}

.ui-control-fadeIn{
  opacity:1!important;
}



.ui-control-arrow-box{
    background-color: #FFF;
    border: 1px solid transparent;

}

.ui-option-selected,
.ui-box-data-action:hover,
.ui-legend:hover .ui-control-arrow-box,
.ui-control-arrow-box:hover{
  box-shadow: #fdf6dc 0 0 0 1px inset;
  background: -webkit-linear-gradient(top, #fcedb2, #fce289 30%, #fce289 60%, #fdfae0);
  background: -moz-linear-gradient(top, #fcedb2, #fce289 30%, #fce289 60%, #fdfae0);
  border: 1px solid rgb(252, 226, 137);
}


.ui-control-text-box.ui-comboBox-selector-text .biz-icon{
  margin-top: 2px;
  margin-left: 3px;
}

.ui-dropDown,
.ui-bizagi-editor-uiControls-comboBox,
.ui-bizagi-editor-comboBox-dropDown{
  border: solid 1px #CCCCCC;
}


.ui-hidden{
  display: none;
  visibility: hidden;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: transparent;
    height: 2px;
}
 
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: -1px;
    z-index: 1;
     width:2px;
     height:20px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(204,209,219,0)), color-stop(22%,rgba(204,209,219,1)), color-stop(82%,rgba(204,209,219,1)), color-stop(100%,rgba(204,209,219,0)));
}

.message-okcancel-popup {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  margin: 20px;
  max-height: 200px;
  padding: 20px;

}
.popup-ok-cancel-popup {
    bottom: auto;
}


