﻿body
{
    background-color: Gray;
    }

#render .km-flat, .km-flat .km-navbar, .km-flat .km-content {
color: #4c5356;
background: #EBEDF1;
}    
    #render .km-widget.km-navbar {
background: linear-gradient(to bottom, #ffffff 0%,#f1f2f4 100%);
height:55px;
border-bottom: 1px solid white;
color: #61819E;
font-weight: 100 !important;
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.km-leftitem, .km-rightitem, .km-view-title {
top: 5px;
}

.km-leftitem, .km-rightitem
{
    color: #37BAEC;
}

.km-rightitem .bz-render-dynamic{
    -webkit-transform: rotate(90deg);
}

/*info message*/
.bz-cm-info-message-text {
    border-radius: 6px;
    background: #f2f2f2;
    border-bottom: none;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .15);
    padding: 20px;
    font-size: 13px;
    color: #535B61;
    border-top: 1px solid white;
    margin-top: 10px;
}

/*actionsheet*/
.km-flat .km-actionsheet
{
    padding: 0 0.5em;
}
.km-flat .km-actionsheet>li{
    line-height: 2.5em;
    font-size: 12px;
}
.km-flat .km-actionsheet li a{
    color: #3E515A;
    background-color: whitesmoke;
    margin-left: 0;
    margin-right: 0;
}

.km-flat .km-actionsheet li:first-child a.km-widget.km-button {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}


.km-flat .km-actionsheet li.bz-render-last-child a.km-widget.km-button {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom: none;
}


.km-flat .km-actionsheet li a.km-widget.km-button {
    border-bottom: 1px solid rgba(180,180,180,0.5);
}

.km-flat .km-actionsheet li.bz-render-as-option a.km-widget.km-button {
    margin: 0;
}

.km-flat .km-actionsheet li.km-actionsheet-cancel{
   margin: 0.5em 0px; 
}

.km-flat .km-actionsheet li.km-actionsheet-cancel a {
    color: #37BAEC;
    font-weight: bold;
    border-radius: 3px;
}

ul#actionsheetDynamic {
    background: #CAD3D5;
}

li.bz-rn-as-li-more {
    margin-top: 10px;
}

.km-phone .km-flat .km-actionsheet-wrapper {
    background: transparent;
}

.km-flat .km-actionsheet-wrapper
{
    border-top:none;
}

/* header fixed title*/

#render > .km-header > .km-navbar > .km-view-title
{
    margin: 0 40px 0 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#render-title
{
    font-size: 12.5px;
    position: absolute;
    left: 50px;
    color: #798A92;
}


.km-header span.bz-cm-icon.bz-rn-input-icon-info 
{
    background-position: -31px -25px;
}

.km-header a.bz-wp-render
{
    padding-top: 2px;
}

.km-header .bz-wp-render span.bz-cm-icon.bz-rn-input-icon-summary
{
    background-position: -108px -4px;
    position: relative;
    display: inline-block;
    top: 4px;
    min-height: 19px;
}

.km-header .bz-rn-input-icon-summary:after
{
    color: #195891;
    font-size: 20px;
    padding: 0 0 0 7px;
    top: -2px;
    position: relative; 
}

.ui-bizagi-state-collapsed .ui-bizagi-notifications-header.ui-widget-header.ui-state-active {
    display: none;
}

.km-header .km-navbar .nav-button.bz-render-summary {
    width: 41px;
    height: 15px;
    padding-top: 5px;
}