
.bz-ui-modal-box{
    border-radius: 10px;
}

.bz-ui-modal-box .ui-bizagi-wp-async{
    color: #195891;
}

.ui-bizagi-wp-async{
    color: #195891;
}

.bz-ui-modal-box .ui-bizagi-wp-async-box {
    padding: 10px 5px 5px 10px;
}

.bz-ui-modal-box .ui-bizagi-wp-async-case-number{
    height: 40px;
    padding: 4px 2px 4px 24px;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFF;
}

.bz-ui-modal-box .ui-bizagi-wp-async-description{
    display: inline-block;
    width: 100%;
}

.bz-ui-modal-box .ui-bizagi-wp-async-title {
    padding: 0 0 10px 10px;
    width: 100%;
    font-weight: bold;
}

.bz-ui-modal-box .ui-bizagi-wp-async-task{
    color: #A4A4A4;
    background-color: #FFF;
    border-radius: 6px;
    width: 100%;
    padding: 4px;
}

.bz-ui-modal-box .ui-bizagi-wp-waiting-message {
    position: relative;
    top: 31px;
}

.bz-ui-modal-box .ui-bizagi-wp-async-error {
    padding: 20px 20px 20px 20px;
    color: red;
}
