.ui-bizagi-workportal-routing {

}

#ui-bizagi-wp-app-inbox-activities-routing-wrapper
{
    background-color: #EBEDF1;
    color: #5E5F60;
}

#ui-bizagi-wp-app-routing-activity-container
{
    margin-bottom: 15px;

}

#ui-bizagi-wp-app-inbox-activities-routing
{
    text-align: center;
   

}
#ui-bizagi-wp-app-inbox-activities-routing .text-description-title
{
   font-size: 15px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: #61819E;
    border-width: 0 0 1px;
    background: #EBEDF1;
    padding: 15px 0 15px 0;
    border: 1px solid rgba(0,0,0,0.1);
}
#ui-bizagi-wp-app-inbox-activities-routing td
{
    padding: 10px 5px;
    border-top: 1px solid rgb(121,138,146);
    border-right: 1px solid rgb(121,138,146);
    font-size:13px;
    color:#535b61;
}

#ui-bizagi-wp-app-inbox-activities-routing td:first-child
{
}
#ui-bizagi-wp-app-inbox-activities-routing td:last-child
{
    border-right:none;
}

#ui-bizagi-wp-app-inbox-activities-routing td button ,
.wp-routing-container-fother button
{
   -webkit-appearance: none;
    font-size: 100%;
    border-radius: 3px;
    padding: 4px 10px;
    margin: 3px 3px 0px 0px;
    float: right;
    position: relative;
    border: 1px solid #2b323b;
    background: #3E515A;
    color: #D7DDDF;
}

.wp-routing-container-fother button
{
    float: none;
    margin-bottom: 10px;
}


#ui-bizagi-wp-app-routing-activity-wf,
#ui-bizagi-wp-app-routing-process-wf
{
    position: relative;
}

#ui-bizagi-wp-app-routing-process-wf thead tr
{
    background-image:-webkit-gradient(linear, left top, left bottom, from(#D6D8DC), to(#C3C6CB));
}

#ui-bizagi-wp-app-routing-process-wf tbody tr
{
    background-color:#f2f2f2;

}

#ui-bizagi-wp-app-routing-process-wf tbody td:first-child
{
    border-radius:0 0 0 6px;

}

#ui-bizagi-wp-app-routing-process-wf tbody td:last-child
{
    border-radius:0 0 6px 0;

}

#ui-bizagi-wp-app-routing-activity-container thead tr
{
   background-color: #E8EEF4;
}


#ui-bizagi-wp-app-routing-activity-container tbody tr
{
  background-color: #D7DDDF;
}
