<script type="text/x-kendo-template" id="renderTemplate">
    <div data-role="view" class="bz-rn-renderedition">
        <header data-role="header">
            <div data-role="navbar">
                <a data-align="left" class="nav-button bz-render-back" data-role="button" data-icon="cancel"></a>
                <span data-role="view-title" id="render-title">#=data.title#</span>
                <a data-rel="drawer" data-icon="next" class="nav-button bz-render-custom" data-role="button" data-align="right"  style="display:none;"></a>
                <a data-rel="drawer" data-icon="three-points-full" class="nav-button bz-render-dynamic" data-role="button" data-align="right" style="display:none;"></a>
                <a href="\#bz-render-drawer" data-rel="drawer"  class="nav-button bz-wp-render" data-role="button" data-align="right" ><span class="bz-cm-icon bz-rn-input-icon-summary"></span></a>
            </div>
        </header>
        <div data-role="modalview" id="modalview-async-message" style="width: 90%; height: 180px;" class="bz-ui-modal-box">
            <div class="bz-rn-wg-modal-async"></div>
        </div>
        <div id="render-content"></div>
        <div data-role="footer" id="notification-box"></div>
    </div>
</script>

<script type="text/x-kendo-template" id="renderEditionTemplate">
    <div data-role="view" id="inputEdition_#=data.now#" class="bz-rn-renderedition">
        <header data-role="header">
            <div data-role="navbar">
                <a data-align="left" data-icon="cancel" class="nav-button bz-render-back" data-role="button" style="display:none;"></a>
                <span data-role="view-title" id="render-title">#= data.displayName #</span>
                <a data-rel="drawer" data-icon="next" class="nav-button bz-render-custom" data-role="button" data-align="right"  style="display:none;"></a>
                <a data-rel="drawer" data-icon="three-points-full" class="nav-button bz-render-dynamic" data-role="button" data-align="right" style="display:none;"></a>
            </div>
        </header>
        <div class="inputEditionContent">#for(var i = 0; i < data.content.length; i++){##= data.content[i].outerHTML ##}#</div>
    </div>
</script>

<script type="text/x-kendo-template" id="infoMessage">
    <div class="ui-bizagi-info" >
        <div class="ui-state-info">
            <div class="bz-cm-info-message-text">#= data.message  #</div>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="actionsheetDynamic">
    <ul id="actionsheetDynamic#= data.id#">
        #for(var i = 0; i < data.buttons.length; i++){#
        <li class="bz-render-as-option #if(i === data.buttons.length-1){#bz-render-last-child#}#"><a #if(data.buttons[i].action !== "back"){#data-bz-ordinal="#= data.buttons[i].ordinal #"#}else{#data-bz-ordinal="-1"#}#>#= data.buttons[i].caption #</a></li>
        #}#
    </ul>
</script>

<script type="text/x-kendo-template" id="actionsheetUpload">
    <ul class="actionsheetUpload" data-control-id="#=data.id#">
        #for(var i = 0; i < data.buttons.length; i++){#
        <li class="bz-render-as-option #if(i === data.buttons.length-1){#bz-render-last-child#}#"><a data-bz-ordinal="#= data.buttons[i].ordinal #">#= data.buttons[i].caption #</a></li>
        #}#
    </ul>
</script>

<script type="text/x-kendo-template" id="async-message">
    <div id="ui-bizagi-wp-async">
        <div class="ui-bizagi-wp-async-case-number">
            #= data.radNumber #
        </div>
        # if (typeof(data.errorMessage) === 'undefined'){#
        <div class="ui-bizagi-wp-async-box">
            <div class="ui-bizagi-wp-async-description">
                <div class="ui-bizagi-wp-async-title">%{workportal-async-processing-name}</div>
                <div class="ui-bizagi-wp-async-task">#= data.taskName #</div>
            </div>
        </div>

        <div class="ui-bizagi-wp-waiting-message">
            <div class='km-loader km-widget'>
                <span class="km-loading km-spin"></span>
                <span class="km-loading-left"></span>
                <span class="km-loading-right"></span>
            </div>
        </div>
        #}else{#
        <div class="ui-bizagi-wp-async-error">
            #= data.errorMessage #
        </div>
        <div id="render-async-close" class="km-rightitem">
            <a data-align="left" data-role="button" class="km-widget km-button">
                <span class="km-text">%{render-form-dialog-box-close}</span>
            </a>
        </div>
        #}#
    </div>
</script>

<script type="text/x-kendo-template" id="dialog">
    <div data-role="modalview" id="dialog">
        #= data.content #
    </div>
</script>

<script type="text/x-kendo-template" id="routingTemplate">
    <div id="ui-bizagi-wp-app-inbox-activities-routing-wrapper">
        <div id="ui-bizagi-wp-app-inbox-activities-routing" class="ui-bizagi-wp-app-inbox-activities-routing">
            #if(data.checkProcess){#
            <div>TODO</div>
            #}#
            #if(data.data.checkWorkItems){#
            <div data-role="header" class="text-description-title">
                #=data.data.idCase#
            </div>
            <div id="ui-bizagi-wp-app-routing-activity-container" class="ui-bizagi-wp-app-routing-container">
                <table id="ui-bizagi-wp-app-routing-activity-wf" cellspacing="0" border="0" cellpading="0">
                    <thead>
                    <tr>
                        <td>Name</td>
                        <td>Due date</td>
                        <td>&nbsp;</td>
                    </tr>
                    </thead>
                    <tbody>
                    #for(var i = 0; i < data.data.workItems.length; i++){#
                    <tr>
                        <td class="alignLeft">${data.data.workItems[i].displayName}
                            <input type="hidden" id="idWorkItem" value="${data.data.workItems[i].idWorkItem}" />
                            <input type="hidden" id="idTask" value="${data.data.workItems[i].idTask}" />
                            <input type="hidden" id="isAsynch" value="${data.data.workItems[i].isAsynch}" />
                            <input type="hidden" id="idCase" value="${data.data.workItems[i].idCase}" />
                        </td>
                        <td class="alignCenter">estimatedSolutionDate</td>
                        <td class="alignRight">
                            <button >Work on it</button>
                        </td>
                    </tr>
                    #}#
                    </tbody>
                </table>
            </div>
            #}#
            <div data-role="footer" class="wp-routing-container-fother">
                <button>Close</button>
            </div>
        </div>
    </div>
</script>
