﻿#bz-right-drawer .km-header, #bz-right-drawer .km-content
{
    background-color: #0C1C2B;
}

#bz-mainmenu-items-container
{
    margin-top: 5px;
    border-bottom: 1px solid #3C4955;
    border-top: 1px solid #3C4955;
}

.km-flat #select-process-type
{
    margin-bottom: 1.5em;
}

.km-flat #bz-right-drawer .km-button
{
    color: #195891;
    border: 1px solid #195891;
}

.km-flat #bz-right-drawer .km-state-active
{
    background: #195891;
    color: white;
}

ul.km-list.bz-newcase-list
{
    padding: 0 0 0 17px;
}

.km-list.bz-newcase-list > li
{
    background-color: #0C1C2B;
    color: white;
    border-bottom: 1px solid #3C4955;
    padding: 10px 0 10px 5px;
    font-size: 15px;
}
.km-list.bz-newcase-list > li .km-icon
{
    color: #868E95;
}


.bz-newcase-group-title
{
    color: #195891;
    text-transform: uppercase;
    padding: 0 5px;
}

.bz-newcase-group-title
{
    position: relative;
}
.bz-newcase-group-title .bz-newcase-breadcrum
{
    float: left;
    margin-left: 20px;
}

.bz-newcase-search-container
{
    margin: 15px 3px 15px 8px;
    padding: .2em .4em;
    position: relative;
    font-size: 12.5px;
}

.bz-newcase-search-container > input.bz-newcase-search
{
    background-color: #253341;
    -webkit-appearance: none;
    border: none;
    border-radius: 15px;
    height: 30px;
    color: #e5e5e5;
    padding: 1em 2.0em;
    margin: 0;
    width: 100%;
}

.bz-newcase-search-container > span.km-icon
{
    position: absolute;
    bottom: 10px;
    left: 14px;
    color: #37BAEC;
}

.bz-newcase-back-border
{
    position: absolute;
    border-radius: 10px;
    border: 1px solid #195891;
}

.bz-newcase-title .bz-newcase-breadcrum > span.km-icon:after, .bz-newcase-title .bz-newcase-breadcrum > span.km-icon:before
{
    display: inline;
    vertical-align: inherit;
    top: 2px;
}
