﻿<script id="ui-bizagi-webparts-newcase" type="text/x-kendo-template" >
<header data-role="header">
    <div class="bz-newcase-search-container">
        <input type="text" class="bz-newcase-search"/>
        <span class="km-icon km-search"/>
    </div>
    <ul id="select-process-type" data-role="buttongroup">
        <li class="bz-grouped-buttons bz-grouped-buttons-recent">
            <span>Recent</span>
        </li>
        <li class="bz-grouped-buttons bz-grouped-buttons-all">
            <span>All process</span>
        </li>
    </ul>
    <div class="bz-newcase-group-title">
        <div class="bz-newcase-title"></div>
    </div>
</header>
<div id="bz-mainmenu-items-container">
    <ul class="bz-newcase-list"></ul> 
</div>
</script>

<script id="ui-bizagi-webparts-newcase-categories-tree" type="text/x-kendo-template" >
    <span class="km-icon km-process-full"/>
    <a class="bz-newprocess-link" # if(typeof appId !== "undefined"){ # data-appid="#= appId #"  #}#><span class="bz-newprocess"></span># if(typeof appName !== "undefined"){ ##= appName ##}else if(typeof categoryName !== "undefined"){##= categoryName ##}#</a>
    <input type="hidden" id="hasOfflineForm" value="# if(typeof hasOfflineForm !== "undefined"){ ##= hasOfflineForm ##}#">
    <input type="hidden" id="idCategory" value="# if(typeof idCategory !== "undefined"){ ##= idCategory ##}#">
    <input type="hidden" id="isProcess" value="# if(typeof isProcess !== "undefined"){##= isProcess ##}else{##=false##}#">
    <input type="hidden" id="categoryName" value="# if(typeof appName !== "undefined"){ ##= appName ##}else if(typeof categoryName !== "undefined"){##= categoryName ##}#">
</script>

<script id="ui-bizagi-webparts-newcase-recent-process" type="text/x-kendo-template" >
    <span class="km-icon km-process-full"/>
    <a class="bz-newprocess-link" ><span class="bz-newprocess"></span>#= displayName # </a>
    <input type="hidden" id="idWFClass" value="# if(typeof idWFClass !== "undefined"){##= idWFClass ##}#">
</script>

<script id="ui-bizagi-webparts-newcase-breadcrum" type="text/x-kendo-template" >
    # if(data.length > 1){ #<div class="bz-newcase-back-border"><span class="km-icon km-back"/></div># } #
    <div class="bz-newcase-breadcrum">
        <span>#= data[0].name #</span>
        #for(var i = 1; i < data.length; i+=1){#
            <span class="km-icon km-next"/><span> #= data[i].name #</span>
        #}#
    </div>
    <div style="clear:both"></div>
</script>




