/* 1 */
/**********************************************************************
 * Filename    : bizagi.editor.base.css (document)
 * Create Date : 18 Jul 2012
 * Author      : Ramiro Gomez ramiro.gomez@bizagi.com
 * Description : Main css for the form modeler
 * Template    : N/A

 ==STRUCTURE======================================================
 



**********************************************************************/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

html
{
  	width: 100%;
    height: 100%;
}

body
{
    min-width: 800px;
    min-height: 300px;
  	width: 100%;
    height: 100%;
    position: relative;
}

.ui-bizagi-notifications-container.ui-bizagi-log-container{
    z-index: 2000;
}

.ui-bizagi-render-confirmation{
  display: inline-block;
}

.ui-bizagi-render-confirmation i{
    cursor: pointer;
}

.ui-bizagi-container-contentpanel
{
    position: relative;
    margin: 6px;
    padding: 6px;
    min-height: 35px;
    border: 1px inset #FF8F00;
    border-radius: 6px;
    background-color: #f9f9f7;
    font-weight: normal;
    color: #283238;
    margin-left: -1px;
}

.ui-bizagi-container-contentpanel-header-container{
    text-align: center;
}

.ui-bizagi-container-contentpanel-header{
    position: relative;
    top: -16px;    
    height: 14px;
    font-size: 9px!important;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
    line-height: 12px;
    color: hsl(60, 14%, 97%);
    background: #FF8F00;
    border-radius: 3px;
    letter-spacing: 0.15em;
    padding: 0.1em 1em 0.5em 1em;
}