﻿/*============================================================
    STYLE DEFINITION // SHAREPOINT NEW CASE
===============================================================*/

.viewNewCaseContainer-off{
    visibility: hidden;
}
.viewNewCaseContainer-on{
    visibility: visible;
}
#cases-canvas{
    width: 100%;
}
/*==============================================================*/
/*						panelArrowContainer						*/
/*==============================================================*/
#panelArrowContainer
{   
    background: #EAEAEA;
    width:10px;
    height:100%;
    display: block;
    position: relative;
    border: 1px solid transparent;
    border-right: 1px solid #B5B5B5;
    border-left: 1px solid #B5B5B5;
    background: #F2F2F2 url("../common/css/images/desktop-dots-lines.png") repeat scroll 0 0;
    cursor: pointer;
}
#panelArrowContainer.ui-bizagi-sharepoint-webpart-spliter:hover
{
    background-color: #fff;
}
#panelArrowContainer:hover #panelArrow.panelArrowLeft
{
    border-right:5px solid #676767;
}

#panelArrowContainer:hover #panelArrow.panelArrowRight
{
    border-left: 5px solid #676767;
}


#panelArrow.panelArrowRight{
    border-color: transparent transparent transparent #b3b3b3;
    border-left: 5px solid #b3b3b3;
    border-style: solid;
    border-width: 5px 0 5px 5px;   
    position: relative;
    top:50%;
    left:3px;
}

#panelArrow.panelArrowLeft{
    border-color:  transparent transparent transparent #b3b3b3;
    border-right: 5px solid #b3b3b3;
    border-style: solid;
    border-width: 5px 5px 5px 0;  
    position: relative;
    top:50%;
    width:0;
    height:0;
    line-height:0;
    font:0;
    left:50%;
    margin:-5px 0 0 -3px;
}

/*==============================================================*/
/*						WRAPPER			  						*/
/*==============================================================*/

.ui-bizagi-webpart-wrapper{
	overflow-y: auto;
	overflow-x: hidden;
	height:640px;
}

.ui-bizagi-webpart-workportal-table{
	height:640px;	
}

#panelArrowContainer{
	height:640px;	
}


/* override process */

.scrollProcess	{
	overflow-y: auto;
	overflow-x: hidden;
	height:570px;
	width:100%;
}



.ui-bizagi-wp-app-inbox-processes-container	{
	width:100%;
    position: relative;
}






.box-description
{
	min-width:250px;
}
