<script id="int-frame" type="text/x-jquery-tmpl">
	<div class="ui-control-container">
	    <label title="${caption}">${caption}</label>
            <input class="editor_component_editor_int_input editor_component_editor_enabled ui-control-input" type="text" value="${value}${templateSuffix}"/>
	</div>
</script>

<script id="int-default-action" type="text/x-jquery-tmpl">
	<i class="biz-ico biz-ico-default" title="%{formmodeler-component-editor-all-set-default}"></i>
</script>