﻿
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable
{
	position: absolute !important;
	width: 300px !important;
	overflow: hidden;
	background-color: #dedede;
	border: 5px solid #c3c4c6;
	padding: 45px 15px 55px;
	left: 0 !important;
}

.ui-bizagi-notifications-container
{	
	position: fixed;
	right: 0px;
    bottom: 0px;
    display:none;
    z-index: 9999;
	padding:1px;
    border-radius: 6px;
}

.ui-bizagi-notifications-content
{
	-webkit-border-radius:0px 0px 4px 4px;
	padding:0px 6px;
	border-top:none;
	background-color: #FFF;
	overflow-y: hidden;
	-webkit-overflow-scrolling:touch;
}

.ui-bizagi-notifications-container.ui-bizagi-state-collapsed {
	width: 40px;
    height: 40px;
    border-radius: 6px;
}

.ui-bizagi-notifications-container .ui-bizagi-notifications-header
{
    background-color: rgba(62,81,90,0.7);
    color: #D7DDDF;
    height: 40px;
    line-height: 40px;
    padding-left: 32px;
    padding-right: 76px;
    border-radius: 6px 6px 0 0;
    font-size: 14px;
    position:relative;
}

.ui-bizagi-notifications-container.ui-bizagi-state-collapsed .ui-bizagi-notifications-header
{
    padding-left: 70px;
    border-radius: 6px 6px 6px 6px;
}

.ui-bizagi-notifications-container.ui-bizagi-state-collapsed .ui-bizagi-notifications-header .ui-icon-triangle-1-n:before
{
    content: "\2297";
    color: #FFF;
    font-size: 25px;
    position: absolute;
    top: -15px;
    left: -1px;
}


.ui-bizagi-notifications-container.ui-bizagi-state-expanded .ui-bizagi-notifications-header{
    border-radius: 0;
	background-color: rgba(62,81,90,0.9);
	border-top: 2px solid #3E515A;
	height: 25px;
	line-height: 21px;
    
}
.ui-bizagi-notifications-container.ui-bizagi-state-expanded {
	/*width: 640px;*/
	opacity: 1;
	overflow: hidden;
}

div.ui-bizagi-notifications-header.ui-widget-header.ui-state-active:after {
content: "\e629";
font: 1em/1em "bizagiflat";
color: #CAD3D5;
font-size: 13px;
float: right;
position: relative;
top: 3px;
right: -60px;
 /*background: rgba(62,81,90,0.9);
 width: 29px; 
 height: 25px; 
 line-height: 25px; 
 text-align: center; */
}
.ui-bizagi-notifications-box-button
{
    position:absolute;
    left: 12px;
    top: 14px;
    cursor: pointer;
}
.ui-bizagi-notifications-clear-button
{
	position:absolute;
	right: 16px;
	top: 12px;
	cursor: pointer;
	-webkit-box-shadow: 0 0 6px #000;
	width: 24px;
	height: 24px;
}
.ui-bizagi-notifications-clear-button .ui-icon
{
	position:absolute;
	top: 4px;
	left: 4px;
}
.ui-bizagi-notification-item
{
	position: relative;
	border:none;
	padding-left: 25px;
	padding-top: 5px; 
	padding-right: 0px; 
	padding-bottom: 5px;
	line-height: 32px;
	border-bottom: solid #cccccc 1px;
}
.ui-bizagi-notification-item .ui-icon
{
	top:12px;
	left:0px;
	position: absolute;
}
.ui-bizagi-notification-item label
{
	display: inline-block;
	cursor: pointer;
}

/****
render notification label red
***/

.bz-rn-err:before{
    margin-top: 10px;
}

.bz-rn-err:after
{
	background: #EF3648;
	color: #FFF;
	font-size: 13px;
	content: attr(data-error);
	-webkit-border-radius: 6px;
	-webkit-box-shadow: 1px 1px 1px #888;
	display: inline-block;
	z-index: 101;
	position: relative;
	float: left;
	top: 5px;
}
