{
  "common_bizagi_tablet_dialog-confirmation": "<div>\r\n  <p class=\"ui-confirmation-dialog-message\">\r\n    {{if showIcon}}<span class=\"ui-icon ui-icon-alert ui-confirmation-dialog-icon\"></span>{{/if}}\r\n    {{html message}}\r\n  </p>\r\n</div>",
  "common_bizagi_tablet_dialog-message": "<div>\r\n  <p class=\"ui-show-dialog-message\">\r\n    <span class=\"ui-icon ${icon}\"></span>\r\n    ${message}\r\n  </p>\r\n</div>",
  "common_bizagi_tablet_info-message": "\r\n<div class=\"ui-state-info\">\r\n\t<span class=\"ui-bizagi-info-message-text\">{{html message}}</span>\r\n    <button class=\"ui-bizagi-info-message-button\">%{render-without-globalform-button}</button>\r\n</div>",
  "bizagi_renderingflat_tablet_dialog-letter": "<div>\r\n    TO BE IMPLEMENTED\r\n</div>",
  "ui-bizagi-grid": "\r\n    <div class=\"ui-bizagi-grid\">\r\n        <div data-bizagi-component=\"header\" class=\"bz-rn-grid-cn-header\">\r\n            <span class=\"bz-rn-grid-header-title\">${label}</span>\r\n            <div data-bizagi-component=\"buttons\" data-bizagi-position=\"replace\">\r\n             {{element buttons}}\r\n            </div>\r\n\r\n        </div>\r\n        <div data-bizagi-component=\"table\" data-bizagi-position=\"replace\">\r\n        {{element table}}\r\n        </div>\r\n        <div data-bizagi-component=\"pager\" data-bizagi-position=\"replace\">\r\n         {{element pager}}\r\n        </div>\r\n        <div data-bizagi-component=\"dynamicPager\" data-bizagi-position=\"replace\">\r\n         {{element dynamicPager}}\r\n        </div>\r\n        <div data-bizagi-component=\"emptyTable\" data-bizagi-position=\"replace\">\r\n         {{element emptyTable}}\r\n        </div>\r\n    </div>\r\n    \r\n    <div data-bizagi-component=\"rowButtons\" data-bizagi-position=\"float\">\r\n       {{element rowButtons}}\r\n    </div>\r\n",
  "ui-bizagi-grid-waiting": "\r\n    <div class=\"ui-bizagi-waiting\"></div>\r\n",
  "ui-bizagi-grid-table": "\r\n    <table class=\"ui-bizagi-grid-table\">\r\n        <thead class=\"ui-bizagi-grid-header\">\r\n            <tr data-bizagi-component=\"columns\">\r\n             {{element columns}}\r\n            </tr>\r\n        </thead>\r\n        <tbody class=\"ui-bizagi-grid-body\" data-bizagi-component=\"rows\">\r\n           {{element rows}}\r\n        </tbody>\r\n    </table>\r\n",
  "ui-bizagi-grid-table-empty": "\r\n    <div class=\"ui-bizagi-grid-noRecords\">%{render-grid-no-records}</div>\r\n",
  "ui-bizagi-grid-column": "\r\n<th class=\"{{if key}}ui-bizagi-grid-key {{/if}} {{if hidden}}ui-bizagi-grid-column-hidden {{/if}}\">\r\n    <h3 class=\"ui-bizagi-grid-column\" data-column-index=\"${index}\">\r\n        <label>${label}</label>\r\n        <div class=\"ui-bizagi-grid-column-sort {{if sortActive}}ui-bizagi-active{{/if}}\">\r\n            <div class=\"{{if sortType == 'asc'}}ui-bizagi-active{{/if}}\"></div>\r\n            <div class=\"{{if sortType == 'desc'}}ui-bizagi-active{{/if}}\"></div>\r\n        </div>\r\n    </h3>\r\n</th>\r\n",
  "ui-bizagi-grid-column-special": "\r\n<th class=\"ui-bizagi-grid-column-special\"></th>\r\n",
  "ui-bizagi-grid-row": "\r\n    <tr data-bizagi-component=\"cells\"  data-key=\"${key}\" data-business-key=\"${businessKey}\" {{if isNewRow}}data-new-row=\"true\"{{/if}}>\r\n      {{element cells}}\r\n    </tr>\r\n",
  "ui-bizagi-grid-cell": "\r\n    <td class=\"{{if isKey}}ui-bizagi-grid-key {{/if}}  {{if hidden}}ui-bizagi-column-hidden{{/if}}\">\r\n        <div class=\"ui-bizagi-grid-cell\" data-bizagi-component=\"cellContent\">\r\n         {{element cellContent}}\r\n        </div>\r\n    </td>\r\n",
  "ui-bizagi-grid-cell-special": "\r\n    <td class=\"ui-bizagi-grid-cell-special\">\r\n        <div class=\"ui-bizagi-grid-cell\" data-action=\"more\">\r\n            <span class=\"ui-bizagi-cell-more\"></span>\r\n        </div>\r\n    </td>\r\n",
  "ui-bizagi-grid-pager": "\r\n    <div class=\"ui-bizagi-grid-pager\">\r\n        <ul>\r\n        {{if pages.length > 1}}\r\n            {{each pages}}\r\n                <li data-page-number=\"${number}\" class=\"{{if active}}ui-bizagi-active{{/if}}\">${number}</li>\r\n            {{/each}}\r\n            {{/if}}\r\n        </ul>\r\n    </div>\r\n",
  "ui-bizagi-grid-buttons": "\r\n    <div class=\"ui-bizagi-grid-buttons\">\r\n        <ul>\r\n            {{if add}}\r\n            <li  data-action=\"add\"><div class=\"bz-cm-icon  ui-icon-plus\"></div></li>\r\n            {{/if}}\r\n        </ul>\r\n    </div>\r\n",
  "ui-bizagi-grid-buttons-offline": "\r\n    <div class=\"ui-bizagi-grid-buttons\">\r\n        <ul>   \r\n            {{if remove}}                        \r\n                <li  class=\"ui-grid-buttons-hidden\" data-action=\"remove\"><div class=\"bz-cm-icon  ui-icon-trash\"></div></li>\r\n            {{/if}}                     \r\n            {{if add  || inlineAdd}}\r\n                <li  data-action=\"add\"><div class=\"bz-cm-icon  ui-icon-plus\"></div></li>                \r\n            {{/if}}\r\n            {{if inlineAdd}}                \r\n                <li  class=\"ui-grid-buttons-hidden\" data-action=\"save\"><div class=\"bz-cm-icon  ui-icon-save\"></div></li>\r\n                <li  class=\"ui-grid-buttons-hidden\" data-action=\"cancel\"><div class=\"bz-cm-icon  ui-icon-cancel\"></div></li>\r\n            {{/if}}                                                       \r\n        </ul>\r\n    </div>\r\n",
  "ui-bizagi-grid-row-buttons": "\r\n    <div class=\"ui-bizagi-grid-row-buttons\">\r\n        <ul>\r\n            {{if edit}}\r\n            <li  data-action=\"edit\"><div class=\"bz-cm-icon ui-icon-pencil\"></div></li>\r\n            {{/if}}\r\n            {{if remove}}\r\n            <li  data-action=\"remove\"><div class=\"bz-cm-icon ui-icon-trash\"></div></li>\r\n            {{/if}}                     \r\n        </ul>\r\n    </div>\r\n",
  "ui-bizagi-grid-row-buttons-offline": "\r\n    <div class=\"ui-bizagi-grid-row-buttons\">\r\n        <ul>   \r\n            {{if edit}}\r\n            <li  data-action=\"edit\"><div class=\"bz-cm-icon ui-icon-pencil\"></div></li>\r\n            {{/if}}\r\n            {{if remove}}\r\n            <li  data-action=\"remove\"><div class=\"bz-cm-icon ui-icon-trash\"></div></li>\r\n            {{/if}}\r\n        </ul>\r\n    </div>\r\n",
  "ui-bizagi-grid-dynamic-pager": "\r\n    <input  type=\"button\" class=\"ui-bizagi-button ui-button-text ui-button ui-widget ui-state-default ui-corner-all ui-bizagi-grid-dynamic-pager\" value=\"%{render-grid-dynamic-pager}\" role=\"button\" aria-disabled=\"false\" />\r\n",
  "bizagi_renderingflat_tablet_association": "<div class=\"bz-wp-render-association\">\r\n    <div class=\"association-label\">\r\n        {{if flipped}}\r\n            <label>${leftLabel} / ${rightLabel}</label>\r\n        {{else}}\r\n            <label>${rightLabel} / ${leftLabel}</label>\r\n        {{/if}}\r\n        <button class=\"bz-cm-icon association-flip-button\"></button>\r\n    </div>\r\n    <div class=\"association-container\">\r\n    {{each $item.getColumnData(0) }}\r\n        <h3><a href=\"#\">${value}</a></h3>\r\n        <div>\r\n            <ul data-parent-id=\"${id}\">\r\n                {{each $item.getRightAssociation(id) }}\r\n                    <li>\r\n                        <label>\r\n                            <input class=\"bz-cm-icon ui-bizagi-render-boolean-check\" type=\"checkbox\" data-id=\"${id}\" {{if checked}}checked{{/if}}/>\r\n                            <span>${name}</span>\r\n                        </label>\r\n                    </li>\r\n                {{/each}}\r\n            </ul>\r\n        </div>\r\n    {{/each}}\r\n    </div>\r\n</div>",
  "ui-bizagi-render-image": "\r\n\t<div class=\"ui-bizagi-render-upload-wrapper image-wrapper\">\r\n\t\r\n\t\t<div class='ui-bizagi-render-image-wrapper' >\r\n\t\t{{tmpl \"#ui-bizagi-render-image-item\"}}\t\r\n\t\t</div>\r\n\t</div>\r\n",
  "ui-bizagi-render-image-item": "\r\n\t{{if url}}\r\n\t<img src=\"${url}\">\r\n\t{{else}}\r\n\t<div class=\"bz-cm-icon image-file\"></div>\r\n\t{{/if}}\r\n\r\n    <div class=\"bz_rn_upload_container_upload_items\">\r\n     <ul class=\"bz-rn-upload-options\">\r\n       <li>  <button type=\"button\"  class=\"bz-cm-icon bz-upload-button image \" ></button> </li>\r\n       <li>  <button type=\"button\"  class=\"bz-cm-icon bz-upload-button cimage\" ></button> </li>\r\n     </ul>\r\n    </div>\r\n",
  "bz-document-generator": "\r\n    <div class=\"ui-bizagi-render-documentgenerator\">\r\n        <div class=\"ui-bizagi-div-button-documentgenerator\">\r\n            {{if allowgenerate}}\r\n            <button class=\"ui-bizagi-render-button ui-button ui-widget ui-corner-all ui-bizagi-button-documentgenerator\" type=\"button\" onclick=\"\">${caption}</button>\r\n            {{/if}} \r\n            <div class=\"ui-bizagi-div-error-container\"></div>\r\n            <div class=\"ui-bizagi-div-documentgenerator\">\r\n                <ol class=\"ui-bizagi-container-documents\">\r\n                    {{files}}\r\n                    {{if noFiles}}\r\n                        <li><span></span></li>\r\n                    {{/if}}\r\n                </ol>\r\n            </div>\r\n        </div>        \r\n    </div>\r\n",
  "bz-document-generator-item": "\r\n    <li class=\"ui-bizagi-document-upload-item\" data-filename=\"${filename}\" {{if joined}} data-joined=\"${joined}\" {{/if}} >\r\n        <span class=\"ui-bizagi-document-type\"></span>\r\n             <a href=\"${url}\" {{if mode == \"execution\"}} target=\"_blank\" {{/if}} title=\"${filename}\" href=\"javascript:void(0)\"><span>${filename}</span></a>\r\n        <button type=\"button\" class=\"ui-bizagi-document-preview ui-bizagi-button ui-button-text ui-button ui-widget ui-state-default ui-corner-all\" data-url=\"${url}\" data-filename=\"${filename}\" data-joined=\"${joined}\"><i class=\"ui-bizagi-render-icon-search\"></i></button>\r\n    </li>\r\n",
  "bz-document-generator-item-preview": "\r\n   <object width=\"100%\" height=\"99%\" type=\"application/pdf\" data=\"${url}\" id=\"ui-bizagi-document-pdf-preview\">\r\n    <p>The pdf cannot be displayed, please click <a href=\"${url}\">here></a> to open the file</p>\r\n  </object>\r\n",
  "bizagi_renderingflat_tablet_form-error": "<div class=\"ui-bizagi-error-message ui-widget-header ui-state-error\">\r\n  <p>\r\n    <span class=\"ui-icon ui-icon-close ui-widget-content\"></span>\r\n    <span class=\"ui-bizagi-error-message-text\">{{html message}}</span>\r\n  </p>\r\n</div>",
  "bizagi_renderingflat_tablet_form-waiting": "<div class=\"ui-bizagi-render-waiting-message\">\r\n    <div class=\"ui-bizagi-loading-icon\"></div>\r\n    <div class=\"ui-bizagi-render-waiting-message-text\">%{render-form-waiting-message}</div>\r\n</div>\r\n\r\n",
  "ui-bizagi-render-form": "\r\n<div class=\"ui-bizagi-form\"  data-unique-id=\"${uniqueId}\">\r\n    {{children}}\r\n    \r\n    {{if transitions}}\r\n        {{tmpl \"#ui-bizagi-render-complexGateway\"}}\r\n    {{/if}}\r\n\r\n    <div class=\"ui-bizagi-button-container\">\r\n        {{each buttons}}\r\n            <button type=\"button\" ordinal=\"${ordinal}\" id=\"formButton${ordinal}\" class=\"ui-bizagi-form-button\" style=\"${style}\">${caption}</button>\r\n        {{/each}}\r\n    </div>\r\n</div>\r\n",
  "ui-bizagi-render-complexGateway": "\r\n<div class=\"ui-bizagi-container-complexgateway ui-bizagi-container clearfix ui-bizagi-container-group ui-drop-shadow ui-lifted cssClassContainer\">\r\n    <h3 class=\"ui-bizagi-container-group-header ui-helper-reset ui-state-active ui-corner-top  clearfix\">        \r\n        <span class=\"ui-bizagi-fix-title\" >%{render-widget-complexgateway-title} </span>\r\n    </h3>\r\n\r\n    <div class=\"ui-bizagi-container-group-wrapper\" style=\"display: block;\">\r\n        {{each transitions}}\r\n        <div class=\"ui-bizagi-render-block ui-widget-content ui-bizagi-render-display-normal \">\r\n            <span style=\"width:50%; float:left\" class=\"ui-bizagi-label ui-bizagi-render-align-left\">\r\n                <label>${displayName}</label>\r\n            </span>\r\n\r\n            <div style=\"width:50%; padding-left: 85%;\" class=\"ui-bizagi-control \">\r\n                <div class=\"ui-bizagi-control-wrapper\">\r\n                    <div class=\"ui-bizagi-render-control \">\r\n                        <div class=\"ui-checkbox\">\r\n                            {{if isDefault==\"true\"}}\r\n                            <label class=\"ui-checkbox-state-checked\" for=\"check_complexgateway_${id}\" data-checked=\"true\" data-value=\"${id}\"></label>\r\n                            {{else}}\r\n                            <label  for=\"check_complexgateway_${id}\" data-checked=\"false\"  data-value=\"${id}\"></label>\r\n                            {{/if}}\r\n                        </div>\r\n                    </div>\r\n                </div>\r\n            </div>\r\n        </div>\r\n        {{/each}}\r\n    </div>\r\n</div>\r\n",
  "bizagi_renderingflat_tablet_contentPanel": "<div class=\"ui-bizagi-container ${cssClass} ui-bizagi-container-contentpanel\" data-unique-id=\"${uniqueId}\">\r\n        <h1 class=\"ui-bizagi-container-contentpanel-header\" style=\"display:none;\">${displayName}</h1>\r\n    {{children}}\r\n</div>",
  "bizagi_renderingflat_tablet_searchList": "<div class=biz-render-searchlist>\r\n    <ul>\r\n        {{each value}}\r\n\t\t\t<li data-id=${id}>\r\n\t\t\t\t<label>${value}</label>\r\n\t\t\t\t<a class=removeItem></a>\r\n\t\t\t</li>\r\n        {{/each}}\r\n        <li>\r\n            <input class=biz-render-input-search type=text placeholder=\"Type to search...\" />\r\n        </li>\r\n    </ul>\r\n    <input type=button class=button-search />\r\n</div>",
  "bizagi_renderingflat_tablet_panel": "<div class=\"ui-bizagi-form-panel\" data-unique-id=\"${uniqueId}\">\r\n  <h3>${displayName}</h3>\r\n   {{children}}\r\n</div>",
  "bizagi_renderingflat_tablet_tab": "<div class=\"ui-bizagi-container ui-bizagi-container-tab {{if tabOrientation == \"rtl\"}}bz-container-rtl{{/if}}\" data-unique-id=\"${uniqueId}\">\r\n    <ul class=\"render-tabs\">\r\n    {{each tabs}}\r\n      <li>\r\n        <a href=\"#ui-bizagi-tab-${id}\" title=\"${displayName}\">${displayName}</a>\r\n      </li>\r\n    {{/each}}\r\n    </ul>\r\n   {{children}}\r\n</div>",
  "bizagi_renderingflat_tablet_tabItem": "<div id=\"ui-bizagi-tab-${id}\" class=\"ui-bizagi-container ui-bizagi-container-tabItem ui-corner-all clearfix ui-tabs-panel ui-widget-content ui-corner-bottom render-tab-item\" data-unique-id=\"${uniqueId}\" data-tab-counter=\"${counter}\">\r\n   {{children}}\r\n</div>",
  "bizagi_renderingflat_tablet_horizontal": "<div class=\"ui-bizagi-form-container-horizontal\" data-unique-id=\"${uniqueId}\">\r\n    {{children}}\r\n</div>",
  "bizagi_renderingflat_tablet_accordion": "<div class=\"ui-bizagi-container clearfix ui-bizagi-container-accordion\" data-unique-id=\"${uniqueId}\">\r\n   {{children}}\r\n</div>",
  "bizagi_renderingflat_tablet_accordionItem": "<h3><a href=\"#\">${displayName}</a></h3>\r\n<div id=\"ui-bizagi-accordion-${id}\" class=\"ui-bizagi-container ui-bizagi-container-accordionItem ui-corner-all\" data-unique-id=\"${uniqueId}\">\r\n   {{children}}\r\n</div>",
  "bizagi_renderingflat_tablet_group": "<div class=\"ui-bizagi-form-group {{if orientation == \"rtl\"}}bz-container-rtl{{/if}}\" data-unique-id=\"${uniqueId}\">\r\n    <h1>${displayName}</h1>\r\n    <span class=\"arrow up bz-cm-icon\"></span>\r\n    <div class=\"childrenContainer\">\r\n        {{children}}\r\n    </div>\r\n</div>",
  "bizagi_renderingflat_tablet_searchForm": "<div class=\"ui-bizagi-container clearfix ui-bizagi-container-search-form\" data-unique-id=\"${uniqueId}\">\r\n  <div class=\"ui-bizagi-container-search-criteria\">\r\n    {{children}}\r\n  </div>\r\n  <div class=\"ui-bizagi-container-search-results\">\r\n     {{result}}\r\n  </div>\r\n</div>",
  "bz-rn-ecm-view-default-item": "\r\n<div class=\"bz-rn-ecm-container\">\r\n    <div class=\"bz-rn-ecm-header\">\r\n        <span> ${displayName}</span>\r\n    </div>\r\n    {{each value}}\r\n    <div class=\"${id}-${$value[0]} bz-rn-ecm-metadata\">\r\n    {{${id}-${$value[0]}}}\r\n    </div>\r\n    {{/each}}\r\n    {{if editable}}\r\n    <div class=\"no-event bz-rn-ecm-metadata  bz-rn-ecm-upload\">\r\n    <span class=\"bz-cm-icon\"></span>\r\n    </div>\r\n    {{/if}}\r\n</div>\r\n    \r\n<div class=\"bz_rn_upload_container_upload_items\">\r\n    <ul class=\"bz-rn-upload-options\">\r\n       <li>  <button type=\"button\"  class=\"bz-cm-icon bz-upload-button image \" ></button> </li>\r\n       <li>  <button type=\"button\"  class=\"bz-cm-icon bz-upload-button cimage\" ></button> </li>\r\n       <li> <button type=\"button\"  class=\"bz-cm-icon bz-upload-button caudio\"  ></button> </li>\r\n       <li> <button type=\"button\"  class=\"bz-cm-icon bz-upload-button cvideo\"  ></button> </li>\r\n       <li> <button type=\"button\"  class=\"bz-cm-icon bz-upload-button file\"    ></button> </li>\r\n    </ul>\r\n</div>\r\n\r\n",
  "biz-render-ecm-view-default-yesno": "\r\n    <div class=\"ecm-metadata-field-edit  biz-render-ecm-upload-boolean\">\r\n        <label for=\"biz-render-ecm-upload-boolean-radio1\"><input type=\"radio\" id=\"biz-render-ecm-upload-boolean-radio1\" name=\"biz-render-ecm-upload-boolean-radio\" value=\"True\" {{if checked == '1'}}checked=\"checked\"{{/if}} />%{render-boolean-yes}</label>\r\n        <label for=\"biz-render-ecm-upload-boolean-radio2\"><input type=\"radio\" id=\"biz-render-ecm-upload-boolean-radio2\" name=\"biz-render-ecm-upload-boolean-radio\" value=\"False\" {{if checked == '0'}}checked=\"checked\"{{/if}} />%{render-boolean-no}</label>\r\n    </div>\r\n",
  "bz-rn-ecm-metadata": "\r\n\r\n<div class=\"bz-rn-ecm-file-container\" alt=\"${filename}\" title=\"${filename}\" data-filename=\"${filename}\" data-idfileupload=\"${idFileUploads}\">\r\n\r\n <div class=\"bz-rn-ecm-extension\">\r\n    <span class=\"bz-cm-icon bz-ecm-checkout-${ecm_allowCheckOut}\"></span>\r\n </div>\r\n\r\n <div class=\"bz-rn-ecm-url\">\r\n  <a href='${url}' target='_blank'>${filename.substr(0,35)} {{if filename.length>35}}...{{/if}}</a>\r\n </div>\r\n  {{if ecm_allowEdit}}\r\n <div class=\"bz-rn-ecm-activate-menu\">\r\n    <span class=\"bz-cm-icon  edit-point-icon\"></span>\r\n </div>   \r\n  {{/if}}\r\n\r\n</div>\r\n\r\n<div class=\"bz-rn-ecm-metadata-container\">\r\n\r\n {{each metadata }}\r\n    <div class=\"bz-rn-ecm-metadata-item\">\r\n\r\n        <div class=\"bz-rn-ecm-title-item  {{if required == \"true\"}}bz-rn-ecm-required{{/if}}\" >\r\n            <label class=\"{{if required == \"true\"}}bz-rn-ecm-required-label {{/if}}\" > ${description}</label>          \r\n        </div>\r\n\r\n\r\n\r\n        <div class=\"bz-rn-ecm-metadata-value\" data-value=\"${value}\" data-required=\"${required}\"   data-idmetadata=\"${metadataId}\" data-description=\"${description}\" data-allowupdatemetadata=\"${ecm_allowUpdateMetadata}\" data-metadatatype=\"${metadataType}\"  data-readonly=\"${readOnly}\" data-edit-mode=\"false\" data-ecmstatus=\"${ecm_ecmStatus}\">\r\n          \r\n\r\n          {{if readOnly==\"true\"}}\r\n           <span class=\"ecm-metadata-text\">\r\n                {{if metadataType ==\"BOOL\"}}\r\n                  {{if value == true}}\r\n                    %{render-boolean-yes}\r\n                    {{else}}\r\n                    %{render-boolean-no}\r\n                  {{/if}}\r\n                {{else}}\r\n                ${value}\r\n                {{/if}}\r\n            </span>\r\n           {{/if}}\r\n\r\n  \r\n         {{if metadataType ==\"STRING\"}}\r\n           <input  type=\"text\"   {{if required}} required {{/if}} value=\"${value}\" ></input>\r\n         {{/if}}\r\n\r\n         {{if  metadataType ==\"BOOL\"}}\r\n          <input class=\"bz-cm-icon\" type = \"radio\"  name =\"ecm-radio\" value = \"true\"   {{if value == 'true'}}checked{{/if}}/>%{render-boolean-yes}\r\n          <input class=\"bz-cm-icon\" type = \"radio\"  name =\"ecm-radio\" value = \"false\"  {{if value == 'false'}}checked{{/if}}/>%{render-boolean-no}\r\n\r\n         {{/if}}\r\n\r\n         {{if  metadataType ==\"DATETIME\"}}\r\n           <input  type=\"date\" class=\"bz-ecm-metadata-date\"   {{if required}} required {{/if}}  value=\"${ $.scroller.formatDate(\"yy-mm-dd\", $.scroller.parseDate(\"d. m. yy\", value)) }\" ></input>\r\n         {{/if}}\r\n\r\n         {{if  metadataType ==\"DECIMAL\"}}\r\n           <input  type=\"number\"   {{if required}} required {{/if}}  value=\"${value}\" pattern=\"\\d*\"></input>\r\n         {{/if}}\r\n\r\n           \r\n        </div>\r\n\r\n    </div>\r\n {{/each}}\r\n\r\n  <div class=\"bz-rn-ecm-metadata-item bz-rn-ecm-buttons-container\">\r\n      <button class=\"bz-rn-ecm-btn-cancel\">%{text-cancel}</button>\r\n      <button class=\"bz-rn-ecm-btn-save\">%{text-save}</button>\r\n  </div>\r\n\r\n\r\n</div>\r\n\r\n\r\n<div class=\"bz-rn-ecm-menu-container\">\r\n    <ul class=\"bz-common-webkit-reset-ul\">\r\n       \r\n        <li class=\"bz-ecm-lock  {{if ecm_allowCheckOut}}bz-ecm-item-menu-enable{{/if}}\">\r\n            <span class=\"bz-cm-icon\"></span>\r\n            <span>%{render-ecm-bt-lock}</span>\r\n        </li>\r\n             \r\n        <li class=\"bz-ecm-unlock  {{if ecm_allowCancelCheckOut}}bz-ecm-item-menu-enable{{/if}}\"  >\r\n            <span class=\"bz-cm-icon\"></span>\r\n            <span>%{render-ecm-bt-unlock}</span>\r\n        </li>\r\n\r\n\r\n        <li class=\"bz-ecm-delete  {{if ecm_allowDelete}}bz-ecm-item-menu-enable{{/if}}\">\r\n            <span class=\"bz-cm-icon\"></span>\r\n            <span>%{render-ecm-bt-delete}</span>\r\n        </li>\r\n\r\n \r\n        <li class=\"bz-ecm-edit  {{if ecm_allowUpdateMetadata}}bz-ecm-item-menu-enable{{/if}}\">\r\n            <span class=\"bz-cm-icon\"></span>\r\n            <span>%{render-ecm-bt-edit}</span>\r\n        </li>\r\n                       \r\n    </ul>\r\n</div>\r\n\r\n",
  "bizagi_renderingflat_tablet_render": "<div class=\"ui-bizagi-render ${displayOptionClass}\" \r\n    {{if uniqueId}}data-unique-id=\"${uniqueId}\" {{/if}}\r\n    {{if id}}data-render-id=\"${id}\"{{/if}}\r\n    {{if xpath}}data-render-xpath=\"${xpath}\"{{/if}}\r\n    {{if tag}}data-render-tag=\"${tag}\"{{/if}} >\r\n\r\n    <div class=\"ui-bizagi-label\"><label>${label}</label></div>\r\n    <div class=\"ui-bizagi-render-control\">\r\n     {{control}}\r\n    </div>\r\n    {{if helpText}}\r\n        <div class=\"ui-bizagi-helptext\" data-helptext=\"${helpText}\">\r\n            <span class=\"ui-icon ui-icon-info\"></span>\r\n        </div>\r\n    {{/if}}\r\n</div>",
  "bizagi_renderingflat_tablet_text": "<input class=\"ui-bizagi-render-text\" type=\"text\" />",
  "bizagi_renderingflat_tablet_extendedText": "<textarea class=\"ui-bizagi-render-text-extended\"></textarea>",
  "bizagi_renderingflat_tablet_number": "<input class=\"ui-bizagi-render-numeric\" type=\"text\" />",
  "bizagi_renderingflat_tablet_numberScientificNotation": "<input class=\"ui-bizagi-render-numeric\" type=\"text\"/>\n<input class=\"ui-bizagi-render-numeric scientific\" type=\"text\"/>",
  "bizagi_renderingflat_tablet_date": "<input type=\"date\" class=\"ui-bizagi-render-date\" value=\"${value}\"/>\r\n{{if showTime}}\r\n  <input type=\"time\" class=\"ui-bizagi-render-time\"/>\r\n{{/if}}",
  "bizagi_renderingflat_tablet_yesno": "<div class=\"ui-bizagi-render-boolean-radio yes\"  id=\"radio${id}yes\" value=\"true\" >%{render-boolean-yes}</div>\r\n<div class=\"ui-bizagi-render-boolean-radio no\"   id=\"radio${id}no\" value=\"false\">%{render-boolean-no}</div>",
  "bizagi_renderingflat_tablet_check": "<input class=\"bz-cm-icon ui-bizagi-render-boolean-check \" type=\"checkbox\" id=\"check${id}\"/>\r\n",
  "bizagi_renderingflat_tablet_combo": "<select id=\"${id}\">\r\n  {{each items}}\r\n    <option value=\"${id}\" {{if hidden}}class=\"ui-bizagi-hidden\"{{/if}}>${value}</option>\r\n  {{/each}}\r\n</select>",
  "bizagi_renderingflat_tablet_list": "<div class=\"ui-bizagi-wrapper-render-list\">\r\n    <ul class=\"ui-bizagi-render-list ui-widget-content ui-corner-all\">\r\n      {{each items}}\r\n      <li id=\"ui-bizagi-list-${id}\" data-value=\"${id}\">${value}</li>\r\n      {{/each}}\r\n    </ul>\r\n</div>",
  "bizagi_renderingflat_tablet_radio": "<span class=\"ui-bizagi-render-radio {{if vertical}}ui-bizagi-render-radio-vertical{{/if}}\">    \r\n    <fieldset>\r\n        {{each(i, item) items}}        \r\n        <span class=\"ui-bizagi-render-radio-item\">\r\n            <label for=\"radio-${xpath}-${item.id}\" >\r\n                <input id=\"radio-${xpath}-${item.id}\" type=\"radio\" value=\"${item.id}\" name=\"radio-${xpath}-${unique}\">\r\n                <label>${value}</label>\r\n            </label>\r\n        </span>\r\n        {{/each}}\r\n    </fieldset>\r\n</span>",
  "bizagi_renderingflat_tablet_upload": "<ul class=\"ui-bizagi-render-upload-container\">\r\n   {{if editable}}\r\n        <li class=\"ui-bizagi-render-upload-wrapper\">\r\n           \r\n        </li>\r\n    {{/if}}\r\n    {{if noFiles}}\r\n        <li class=\"ui-bizagi-render-upload-item-no-upload\">%{render-upload-no-files}</li>\r\n    {{/if}}\r\n    <ul class=\"files\">\r\n    {{files}}\r\n     <li class=\"bz-rn-upload-show-menu\"><span class=\"bz-cm-icon\"></span></li>\r\n    </ul>\r\n    \r\n\r\n</ul>\r\n\r\n<div class=\"bz_rn_upload_container_upload_items\">\r\n    <ul class=\"bz-rn-upload-options\">\r\n       <li>  <button type=\"button\"  class=\"bz-cm-icon bz-upload-button image \" ></button> </li>\r\n       <li>  <button type=\"button\"  class=\"bz-cm-icon bz-upload-button cimage\" ></button> </li>\r\n       <li> <button type=\"button\"  class=\"bz-cm-icon bz-upload-button caudio\"  ></button> </li>\r\n       <li> <button type=\"button\"  class=\"bz-cm-icon bz-upload-button cvideo\"  ></button> </li>\r\n       <li> <button type=\"button\"  class=\"bz-cm-icon bz-upload-button file\"    ></button> </li>\r\n    </ul>\r\n</div>",
  "bizagi_renderingflat_tablet_geolocation": "<div class=\"ui-geolocation\">\r\n    <span class=\"ui-geolocation-cordinate\"></span>\r\n    {{if allowUpdate}}\r\n         <div class=\"ui-bizagi-render-geolocation\" >\r\n            <span class=\"bz-cm-icon\"></span>\r\n        </div>\r\n    {{/if}}\r\n</div>\r\n",
  "bizagi_renderingflat_tablet_uploadItem": "<li class=\"ui-bizagi-render-upload-item\"  data-url='${url}'>\r\n {{if typeof (cordova) === \"undefined\" }}\r\n    <label>${filename}</label>\r\n{{else}}\r\n <a href=\"${url}\" {{if mode == \"execution\"}} target=\"_blank\" {{/if}} title=\"${filename}\" href=\"javascript:void(0)\">${filename}</a>\r\n{{/if}}\r\n</li>\r\n",
  "bizagi_renderingflat_tablet_slide_upload": "<div class=\"ui-slide-upload\">\r\n    <object class=\"ui-slide-upload-preview\" height=\"90%\" width=\"90%\" type=\"image/png\" data=\"${url}\"></object>\r\n    <!--<div class=\"ui-slide-upload-preview\"></div>-->\r\n</div>",
  "bizagi_renderingflat_tablet_grid": "<div id=\"${id}\">\r\n</div>",
  "bizagi_renderingflat_tablet_cell": "<div class=\"ui-bizagi-render ui-bizagi-render-display-cell\">\r\n    <div class=\"ui-bizagi-render-control\">{{control}}</div>\r\n</div>",
  "bizagi_renderingflat_tablet_cell_readonly": "<div class=\"ui-bizagi-render ui-bizagi-render-display-cell\"><div class=\"ui-bizagi-cell-readonly\">{{control}}</div></div>",
  "bizagi_renderingflat_tablet_cell_upload": "<div class=\"ui-bizagi-cell\"><span class=\"ui-bizagi-render-control\"></span></div>",
  "bizagi_renderingflat_tablet_button": "<input class=\"ui-bizagi-render-button\" type=\"button\" value=\"${caption}\" />",
  "bizagi_renderingflat_tablet_search": "\r\n    <input class=\"ui-bizagi-render-search\" type=\"text\" {{if !allowTyping}} readonly {{/if}} />\r\n           <div class=\"bt-search ui-bizagi-render-search-icon\"></div>\r\n",
  "bizagi_renderingflat_tablet_searchItem": "<li class=\"ui-bizagi-render-search-item\" style=\"width: 100%\">\r\n<a>\r\n  <label class=\"ui-bizagi-render-search-item-label\">{{html label}}</label>\r\n</a>\r\n</li>",
  "bizagi_renderingflat_tablet_letter": "<input class=\"ui-bizagi-render-button\" type=\"button\" value=\"%{render-letter-editable-button-caption}\" />",
  "bizagi_renderingflat_tablet_letter_readonly": "<a href=\"javascript:void(0)\"class=\"ui-bizagi-render-letter-readonly\">%{render-letter-notEditableLink}</a>",
  "bizagi_renderingflat_tablet_link": "<a href=\"javascript:void(0)\"class=\"ui-bizagi-render-link\">${displayName}</a>",
  "bizagi_workportal_tablet_notCompatibleIOS": "\r\n<div class=\"webkitOverlay unsupportGradient\">    \r\n    <div class=\"messageBox\">\r\n        <h1>%{workportal-invalid-ios-title}</h1>\r\n        <div>%{workportal-invalid-ios}</div>\r\n    </div>           \r\n</div>\r\n"
}