<script id="ui-bizagi-workportal-widget-activity-log" type="text/x-jquery-tmpl" >
    <div id="ui-bizagi-render-activity-log" >


        <div id="activity-log-data-header-wrapper" {{loading}}></div>

        <div id="activity-log-data-general-wrapper" {{loading}}></div>

        <div id="activity-log-data-detail-wrapper" {{loading}}></div>

        <div id="activity-log-no-results">
            <span> %{workportal-menu-search-found-no-cases}</span>
        </div>

        <div id="activity-log-data-buttonset" class="ui-dialog-buttonset">
            <button id="btn-show-graph" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" role="button" aria-disabled="false">
                <span class="ui-button-text">%{workportal-widget-activity-log-controls-button-graphquery}</span>
            </button>

            <button id="btn-back-to-case" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" role="button" aria-disabled="false">
                <span class="ui-button-text">%{workportal-widget-activity-log-controls-button-backtocase}</span>
            </button>
        </div>
       
    </div>
</script>

<script id="ui-bizagi-workportal-widget-activity-log-header" type="text/x-jquery-tmpl">
    <ul class="main-menu">

        {{if (supportedLogTypes.ActivityLog === true || supportedLogTypes.ActivityLog === "true")}}
        <li><a id="LnkActivities" class="active">%{workportal-widget-activity-log-section-navbar-section-activities}</a>|</li>
        {{/if}}

        {{if (supportedLogTypes.EntityLog === true || supportedLogTypes.EntityLog === "true")}}
        <li><a id="LnkEntities">                 %{workportal-widget-activity-log-section-navbar-section-entities}</a>|</li>
        {{/if}}

        {{if (supportedLogTypes.UserLog === true ||supportedLogTypes.UserLog === "true")}}
        <li><a id="LnkUsers">                    %{workportal-widget-activity-log-section-navbar-section-users}</a>|</li>
        {{/if}}

        {{if (supportedLogTypes.AdminLog === true || supportedLogTypes.AdminLog ==="true")}}
        <li><a id="LnkAdmin">                    %{workportal-widget-activity-log-section-navbar-section-admin}</a></li>
        {{/if}}

    </ul>
</script>

<script id="ui-bizagi-workportal-widget-activity-log-detail-header" type="text/x-jquery-tmpl">

    <div id ="activity-log-data-detail-header-wrapper">

        <div id="case-detail-wrapper">
            <div class= "case-detail">
                <span class="title">
                    <strong>%{workportal-widget-activity-log-titles-creationnum}</strong> ${idCase}
                </span>
            </div>

            <div class= "case-detail">
                {{if logCategory == "ActivityLog"}}
                    <span class="title">
                        <strong>%{workportal-widget-activity-log-table-title-fullname}</strong> ${data[1]}
                    </span>
                {{else logCategory == "EntityLog"}}
                    <span class="title">
                        <strong>%{workportal-widget-activity-log-titles-entityname}</strong> ${data[1]}
                    </span>
                {{else logCategory == "UserLog"}}
                    <span class="title">
                        <strong>%{workportal-widget-activity-log-table-title-fullname}</strong> ${data[1]}
                    </span>

                    <span class="title">
                        <strong>%{workportal-widget-activity-log-table-title-username}</strong> ${data[2]}
                    </span>

                    <span class="title">
                        <strong>%{workportal-widget-activity-log-table-details-title-usrpos}</strong> ${data[3]}
                    </span>
                {{/if}}

                <a id="back-general-content" href="#"> %{workportal-widget-activity-log-titles-backtogeneralview}</a>

            </div>
        </div>
        
        {{if logCategory == "EntityLog" || logCategory == "UserLog"}}

        <div id="log-filter-wrapper" class= "case-detail">
            {{if logCategory == "EntityLog"}}

                <div class="filter-field">
                    <label>%{workportal-widget-activity-log-titles-filterbyuser}</label>
                    <input id="filterUser" class="ui-bizagi-render-text" type="text"/>
                </div>

            {{else logCategory == "UserLog"}}
                <div class="filter-field">
                    <label>%{workportal-widget-activity-log-titles-filterbyentity}</label>
                    <input id="filterEntity" class="ui-bizagi-render-text" type="text"/>
                </div>
            {{/if}}

            <div class="filter-field">
                <label>%{workportal-widget-activity-log-titles-filterbyattr}</label>
                <input id="filterAttribute" class="ui-bizagi-render-text" type="text"/>
            </div>

            <div class="ui-dialog-buttonset">
                <button id="apply-filter" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" role="button" aria-disabled="false">
                    <span class="ui-button-text">%{workportal-widget-activity-log-controls-button-applyfilter}</span>
                </button>

                <button id="remove-filter" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" role="button" aria-disabled="false">
                    <span class="ui-button-text">%{workportal-widget-activity-log-controls-button-removefilter}</span>
                </button>
            </div>
        </div>
        {{/if}}

    </div>

</script>

<script id="ui-bizagi-workportal-widget-activity-log-general-content" type="text/x-jquery-tmpl">

    <div class= "case-detail">
        <span class="title">
            <strong>%{workportal-widget-activity-log-titles-creationnum}</strong> ${idCase}
        </span>
    </div>

    <div class="header">
        <span>
            {{if logCategory === "ActivityLog"}}
            %{workportal-widget-activity-log-section-title-general-activities}
            {{else logCategory === "EntityLog"}}  
            %{workportal-widget-activity-log-section-title-general-entities}
            {{else logCategory === "UserLog"}}   
            %{workportal-widget-activity-log-section-title-general-users}
            {{else logCategory === "AdminLog"}}
            %{workportal-widget-activity-log-section-title-general-admin}
            {{/if}}
        </span>
    </div>

    <table class="activity-log-table" cellspacing="2" cellpadding="2" width="100%" border="0">
        <tbody>
            <tr>
                {{if logCategory === "ActivityLog"}}
                    <td class="listHeaderLinks" >
                        <a href="#" >%{workportal-widget-activity-log-table-title-details}</a>
                    </td>
                    <td class="listHeaderLinks" >
                        <a href="#" >%{workportal-widget-activity-log-table-title-from}</a>
                    </td>

                    <td class="listHeaderLinks" >
                        <a href="#">%{workportal-widget-activity-log-table-title-to}</a>
                    </td>

                    <td class="listHeaderLinks">
                        <a href="#" >%{workportal-widget-activity-log-table-title-user}</a>
                    </td>

                    <td class="listHeaderLinks">
                        <a href="#" >%{workportal-widget-activity-log-table-title-date}</a>
                    </td>
                
                {{else logCategory === "EntityLog"}}
                    <td class="listHeaderLinks" >
                        <a href="#" >%{workportal-widget-activity-log-table-title-details}</a>
                    </td>
                    <td class="listHeaderLinks" >
                        <a href="#" >%{workportal-widget-activity-log-table-title-entity}</a>
                    </td>
                
                {{else logCategory === "UserLog"}}
                    <td class="listHeaderLinks" >
                        <a href="#" >%{workportal-widget-activity-log-table-title-details}</a>
                    </td>
                    <td class="listHeaderLinks" >
                        <a href="#" >%{workportal-widget-activity-log-table-title-fullname}</a>
                    </td>
                    <td class="listHeaderLinks" >
                        <a href="#" >%{workportal-widget-activity-log-table-title-username}</a>
                    </td>
                    <td class="listHeaderLinks" >
                        <a href="#" >%{workportal-widget-activity-log-table-title-userposition}</a>
                    </td>

                {{else logCategory === "AdminLog"}}
                    <td class="listHeaderLinks" >
                        <a href="#">%{workportal-widget-activity-log-table-title-operation}</a>
                    </td>
                    <td class="listHeaderLinks" >
                        <a href="#">%{workportal-widget-activity-log-table-title-admin}</a>
                    </td>
                    <td class="listHeaderLinks" >
                        <a href="#">%{workportal-widget-activity-log-table-title-task}</a>
                    </td>
                    <td class="listHeaderLinks">
                        <a href="#">%{workportal-widget-activity-log-table-title-addinfo}</a>
                    </td>
                    <td class="listHeaderLinks">
                        <a href="#">%{workportal-widget-activity-log-table-title-date}</a>
                    </td>

                {{/if}}
            </tr>

            {{each logItems}}
            <tr class="gridline2">

                <td class="row-item BorderCell BAMainFontColor">
                    {{if $value[0] != "-1"}}
                        
                        {{if logCategory == "AdminLog"}}

                            {{if $value[0] == "1"}}
                            <div class="icon annulated-icon"> </div>
                            {{else}}
                            <div class="icon reassigned-icon"> </div>
                            
                            {{/if}}

                        {{else}}
                            <a href="#" class="detail-item" data-id = "${$value[0]}">Details</a>
                        {{/if}}
                    {{/if}}
                    
                </td>

                <td class="BorderCell BAMainFontColor">${$value[1]}</td>

                {{if $value[2] != undefined}}
                <td class="BorderCell BAMainFontColor">${$value[2]}</td>
                {{/if}}

                {{if $value[3] != undefined}}

                    {{if logCategory === "AdminLog"}}
                        <td class="BorderCell BAMainFontColor">
                            <span> <strong>${$value[3][0]} :</strong> ${$value[3][1]}</span>
                            <span> <strong>${$value[3][2]} :</strong> ${$value[3][3]}</span>
                        </td>

                    {{else}}
                        <td class="BorderCell BAMainFontColor">${$value[3]}</td>
                    {{/if}}    
                {{/if}} 

                {{if $value[4] != undefined}}
                <td class="BorderCell BAMainFontColor">${$value[4]}</td>
                {{/if}}
                
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div id="biz-wp-activitylog-category-pager" class="biz-wp-table-summary-wrapper">
        {{tmpl(pagData) "#ui-bizagi-workportal-widget-usersadministration-pagination"}}
    </div>
</script>

<script id="ui-bizagi-workportal-widget-activity-log-detail-content" type="text/x-jquery-tmpl">
<div id="bz-workportal-activitylog-detailcontent-wrapper">

    <div class="header">
        {{if logCategory === "ActivityLog"}}
        %{workportal-widget-activity-log-section-title-detail-activities}
        {{else logCategory === "EntityLog"}}  
        %{workportal-widget-activity-log-section-title-detail-entities}
        {{else logCategory === "UserLog"}}   
        %{workportal-widget-activity-log-section-title-detail-users}
        {{else logCategory === "AdminLog"}}
        %{workportal-widget-activity-log-section-title-detail-admin}
        {{/if}}
    </div>

    <table class="activity-log-table" cellspacing="2" cellpadding="2" width="100%" border="0">
        <tbody>
            <tr>
                {{if logCategory === "ActivityLog"}}
                    <td class="listHeaderLinks" >
                        <a href="#" class="">%{workportal-widget-activity-log-table-details-title-entity}</a>
                    </td>
                    <td class="listHeaderLinks" >
                        <a href="#" class="">%{workportal-widget-activity-log-table-details-title-attr}</a>
                    </td>

                    <td class="listHeaderLinks">
                        <a href="#" class="">%{workportal-widget-activity-log-table-details-title-attrvalue}</a>
                    </td>

                    <td class="listHeaderLinks">
                        <a href="#" class="">%{workportal-widget-activity-log-table-details-title-date}</a>
                    </td>
                {{/if}}

                {{if logCategory === "EntityLog"}}
                    <td class="listHeaderLinks" >
                        <a href="#" class="">%{workportal-widget-activity-log-table-details-title-attr}</a>
                    </td>

                    <td class="listHeaderLinks">
                        <a href="#" class="">%{workportal-widget-activity-log-table-details-title-attrvalue}</a>
                    </td>

                    <td class="listHeaderLinks">
                        <a href="#" class="">%{workportal-widget-activity-log-table-details-title-taskname}</a>
                    </td>

                    <td class="listHeaderLinks">
                        <a href="#" class="">%{workportal-widget-activity-log-table-details-title-fullname}</a>
                    </td>

                    <td class="listHeaderLinks">
                        <a href="#" class="">%{workportal-widget-activity-log-table-details-title-usrpos}</a>
                    </td>

                    <td class="listHeaderLinks" >
                        <a href="#" class="">%{workportal-widget-activity-log-table-details-title-date}</a>
                    </td>
                {{/if}}

                {{if logCategory === "UserLog"}}
                    <td class="listHeaderLinks" >
                        <a href="#" class="">%{workportal-widget-activity-log-table-details-title-entity}</a>
                    </td>
                    <td class="listHeaderLinks" >
                        <a href="#" class="">%{workportal-widget-activity-log-table-details-title-attr}</a>
                    </td>
                    <td class="listHeaderLinks" >
                        <a href="#" class="">%{workportal-widget-activity-log-table-details-title-attrvalue}</a>
                    </td>
                    <td class="listHeaderLinks" >
                        <a href="#" class="">%{workportal-widget-activity-log-table-details-title-taskname}</a>
                    </td>
                    <td class="listHeaderLinks" >
                        <a href="#" class="">%{workportal-widget-activity-log-table-details-title-date}</a>
                    </td>
                {{/if}}
            </tr>

            {{each detailItems}}
            <tr class="row-item gridline2">
                {{each $value}}
                    <td class="BorderCell BAMainFontColor">
                        ${$value}
                    </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div id="biz-wp-activitylog-detail-pager" class="biz-wp-table-summary-wrapper">
        {{tmpl(pagData) "#ui-bizagi-workportal-widget-usersadministration-pagination"}}
    </div>
</div>
</script>