﻿﻿<!--WRAPPERS-->
<script id="ui-bizagi-workportal-widget-admin-entity-wrapper" type="text/x-jquery-tmpl" >
<div id="main-wrapper">

</div>
</script>



<script id="ui-bizagi-workportal-widget-admin-entity-panel-wrapper" type="text/x-jquery-tmpl" >
<div id="admin-entity-wrapper"> 
	  <div id="bizagi_entities">
		          <div id="bizagi-entities-list-wrapper" class="admin-entities-leftframe"></div>
		          <div class="admin-entities-rightframe" id="admin-entities-rightframe"></div>
     </div>
</div>
</script>


<!---CONTENT-->
<script id="ui-bizagi-workportal-widget-admin-entity-list" type="text/x-jquery-tmpl" >
<h2 class="biz-wp-window-title">${subTitle}</h2>
<div class="ui-bizagi-control ui-bizagi-render-align-left  ac-is-visible">
 <div class="ui-bizagi-control-wrapper">
  <div class="ui-bizagi-render-control ">
<input class="ui-bizagi-render-search ui-autocomplete-input" type="text" value=""  id="searchEntity">
         <i class="ui-bizagi-render-icon-search"></i>
                </div>

               </div></div>

    <select size="25" id="ListEntities" class="biz-wp-input-combo" style="-webkit-appearance: none">
             {{each elementList}}
                    <option data-guidEnt="${$value.guidEnt}" value="${$value.idEnt}">${$value.entDisplayName}</option>
             {{/each}}
     </select>
</script>

<script id="ui-bizagi-workportal-widget-admin-entity-detail" type="text/x-jquery-tmpl">
<div id="detailEntity" class="ui-bizagi-grid-wrapper">
<div class="ui-bizagi-grid">
<div  class="bz-rn-grid-cn-header">             <span class="bz-rn-grid-header-title">${nameEntity}</span>         </div>


{{if rows.length >0}}
<div  class="bz-rn-grid-data-wraper">

    <table class="ui-bizagi-grid-table" cellspacing="0" cellpadding="0" width="100%" border="0">
        <thead class="ui-bizagi-grid-header ui-state-default">
             {{each(i, item) headers }}
                <th class="resizableColumn">
                <div class="ui-bizagi-grid-column ui-bizagi-grid-title-align-center">
                    <a href="#" class="link-order-entity" {{if item.fieldValue==orderField}}   {{if ordertype=='ASC'}}data-orderType="DESC"{{else}}data-orderType="ASC"{{/if}}{{else}}data-orderType="ASC"{{/if}}  data-columnOrderField="${item.fieldValue}" data-index="${i}" data-type="${item.dataType}">{{if item.displayName!= ""}}${item.displayName}{{else}}${item.fieldValue}{{/if}} <span class="sortColumnsDataDownIcon"><span class="arrowUpIcon{{if ordertype=='DESC'  && item.fieldValue==orderField}} active{{/if}}"></span><span class="arrowDownIcon{{if ordertype=='ASC'  && item.fieldValue==orderField}} active{{/if}}"></span></span></a>
                    </div>
                </th>

             {{/each}}
        </thead>
        <tbody class="ui-bizagi-grid-body">

                {{each(i, item) rows }}
                    <tr data-idRowEntity ="${item.data[0]}" data-guidEntity="${guidEntity}" data-guidForm="${guidForms.idEditForm}" data-idForm="${guidForms.idFormEdit}">
                       {{each(j, data) item.data }}
                       <td class="ui-bizagi-grid-align-center">
                       <div class="ui-bizagi-grid-cell">
                          <div class="ui-bizagi-cell">
                          <div class="ui-bizagi-cell-readonly">
                        {{if typeof(data) != 'object' && data != null}}
                            <span>${data}</span>
                        {{/if}}
                        </div>
                        </div>
                        </div>
                       </td>

                       {{/each}}
                   </tr>
               {{/each}}
        </tbody>
    </table>
    </div>
{{else}}
<div class="ui-bizagi-render-grid-container">
<div data-bizagi-component="emptyTable">
          <label>%{render-grid-no-records}</label>
</div>
</div>
{{/if}}
 <div class="bz-rn-grid-container-foother">
    <table cellspacing="2" cellpadding="2">
        <tbody>
            <tr class="bz-rn-grid-foother-row">
                <th>
                    <div data-bizagi-component="buttons">
                        <div class="ui-bizagi-grid-buttons ui-state-default">
                            <ul>
                                 {{if allowAdd==true}}
                                 <li class="" data-action="add" alt="Add" title="Add">
                                 <div class="ui-icon ui-icon-plus addRowEntity" data-guidEntity="${guidEntity}" data-guidForm="${guidForms.idAddForm}" data-idForm="${guidForms.idFormAdd}"></div>
                                 </li>
                                 {{/if}}
                                  {{if allowEdit==true && rows.length >0}}
                                 <li class="" data-action="edit" alt="edit" title="edit">
                                 <div class="ui-icon ui-icon-pencil editRowEntity"></div>
                                 </li>
                                 {{/if}}
                             </ul>
                         </div>
                 </div>
                 </th>
                 <th class="bz-rn-grid-foother-pagination">
                 <div data-bizagi-component="pager">
                    <div class="ui-bizagi-grid-pager ui-state-default">
                      <ul id="biz-wp-table-pager-wrapper" class="biz-wp-table-pager-wrapper">
                      </ul>
                   </div>
                 </div>
                 </th>
                 <th></th>
            </tr>
          </tbody>
         </table>
</div>
</div>

 </div>
</script>

<script id="ui-bizagi-workportal-widget-admin-entity-detail-pagination" type="text/x-jquery-tmpl">
        {{each pages}}
        <li {{if page==pageNumber}} class="bz-page active" {{else}} class="bz-page" {{/if}} data-page="${pageNumber}">
            <span class="number">${pageNumber}</span>
        </li>
        {{/each}}
</script>


<script id="ui-bizagi-workportal-widget-admin-entity-buttons-form" type="text/x-jquery-tmpl">
<div class="ui-bizagi-button-container" align="center">
    <input ordinal="0" id="formButtonSave" type="button" class="ui-bizagi-button ui-button-text  ui-button ui-widget ui-state-default ui-corner-all" value="%{render-form-dialog-box-save}" data-guid="" style="" role="button" aria-disabled="false">                 
    <input ordinal="1" id="formButtonCancel" type="button" class="ui-bizagi-button ui-button-text  ui-button ui-widget ui-state-default ui-corner-all" value="%{render-form-dialog-box-cancel}" data-guid="" style="" role="button" aria-disabled="false"> 
</div>
<div class="ui-bizagi-button-container back-entities" align="center">
    <input ordinal="0" id="formButtonBack" type="button" class="ui-bizagi-button ui-button-text  ui-button ui-widget ui-state-default ui-corner-all" value="%{render-form-button-back}" data-guid="" style="" role="button" aria-disabled="false">
</div>
</script>


<script id="ui-bizagi-workportal-widget-admin-entity-frankenstein" type="text/x-jquery-tmpl" >
<div class="biz-wp-queryform">
<iframe id='entityFormIFrame' src='${entityFormURL}' class="biz-wp-queryform" frameborder='0'></iframe>
</div>
</script>


<script id="ui-bizagi-workportal-widget-admin-entity-message-error" type="text/x-jquery-tmpl" >
<div class="ui-bizagi-container ui-bizagi-container-form ui-widget-content ui-bizagi-rendering-mode-execution">
    <div class="error-message-migrate-form">
    ${messageError}
    </div>
    <div class="ui-bizagi-button-container" align="center">
        <input ordinal="1" id="errorButtonCancel" type="button" class="ui-bizagi-button ui-button-text  ui-button ui-widget ui-state-default ui-corner-all" value="%{render-form-dialog-box-cancel}" data-guid="" style="" role="button" aria-disabled="false">
</div>
</div>
</script>