<div class="modalMenuBt fontSize">
    <div id="selectArrow"></div>   
        <div id="modalMenuBtList" class="clearfix">
            <ul id="categoryTree" class="categoryTree">
                <li>
                    %{workportal-widget-fontsize-size}
                </li>
            </ul>
            <ul class="ui-bizagi-wp-font-content">
                <li class="font-medium"><a class="font-switcher" href="#">A</a></li>
                <li class="font-large"><a class="font-switcher" href="#">A</a></li>
                <li class="font-x-large"><a class="font-switcher" href="#">A</a></li>
            </ul>
        </div>    
</div>