{{css "jquery/workportal/css/desktop/bizagi.workportal.queries.css"}}
<script id="ui-bizagi-workportal-widget-queries" type="x-jquery-tmpl" >
    <div class="modalMenuBt">
        <div id="selectArrow"></div>   
        <!--<div id="modalMenuBtHeader" class="clearfix">
            <div id="bt-back">
                <span></span>
            </div>
            <div id="modalTitle">%{workportal-widget-queries-queries}</div>			
        </div>-->
        <div id="modalMenuBtList" class="clearfix">
            <ul id="categoryTree" class="categoryTree">
                <li>
					%{workportal-widget-queries-queries}
                    <input type="hidden" id="idParent" value="-1"/>
                </li>
            </ul>
            <div id="queries" {{loading}}></div>
        </div>    
    </div>
</script>


<script id="ui-bizagi-workportal-widget-queries-elements" type="x-jquery-tmpl" >   
    <ul class="queriesListDisplay">
		<li idElement="${id}" idParent="${idParent}">
			{{if nodes.length > 0  || queryId=="stored"}}
			<!-- category withOut link -->
			<div class="categoryIco"></div>
			<span id="arrow">&GT;</span>
			{{else}}
			{{if categoryWithLink}}
			<!-- category with link -->
			<div class="categoryLinkIco"></div>
			{{else}}
			<div class="processIco"></div>
			{{/if}}
			{{/if}}

			{{if prefix == "prefix_MyStoredQuery"}}
			<span class="editButton"></span>
			{{/if}}
			{{if prefix == "prefix_Cube" || prefix == "prefix_MyStoredQuery"}}
			<span class="deleteButton"></span>
			{{/if}}
			<input type="hidden" id="queryId" value="${queryId}" />
			<input type="hidden" id="id" value="${id}" />
			<input type="hidden" id="idParent" value="${idParent}" />
			<input type="hidden" id="queryDisplayName" value="${queryDisplayName}" />
			<input type="hidden" id="idStoredQuery" value="${idStoredQuery}" />
			<input type="hidden" id="prefix" value="${prefix}" />
			<input type="hidden" id="nodesLength" value="${nodes.length}" />
			<input type="hidden" id="idCube" value="${idCube}" />
			<input type="hidden" id="queryType" value="${queryType}" />
			<h3>${queryDisplayName}</h3>
		</li>
    </ul>    
</script>


<script id="ui-bizagi-workportal-widget-queries-definition-elements" type="x-jquery-tmpl" >
	<ul class="queriesListDisplay">
		<li idElement="${id}" idParent="${idParent}">
			{{if nodes.length > 0 || guidForm=="stored"}}
			<!-- category withOut link -->
			<div class="categoryIco"></div>
			<span id="arrow">&GT;</span>
			{{else}}
			{{if categoryWithLink}}
			<!-- category with link -->
			<div class="categoryLinkIco"></div>
			{{else}}
			<div class="processIco"></div>
			{{/if}}
			{{/if}}
			<input type="hidden" id="idNode" value="${idNode}" />
           	{{if notMigratedUrl}}
           	    {{if notMigratedUrl== true}}
           	        <input type="hidden" id="notMigratedUrl" value="${notMigratedUrl}" />
           	    {{else}}
           	        <input type="hidden" id="notMigratedUrl" value="${notMigratedUrl.execute}" />
                    {{if owner}}
                        <input type="hidden" id="notMigratedUrlDelete" value="${notMigratedUrl['delete']}" />
                        <span class="deleteGAButton"></span>
                    {{/if}}
           	    {{/if}}
			{{/if}}
			<input type="hidden" id="queryDisplayName" value="${queryDisplayName}" />
			<input type="hidden" id="nodesLength" value="${nodes.length}" />
			<input type="hidden" id="queryType" value="${queryType}" />
			<input type="hidden" id="guidContext" value="${guidContext}"/>
			<input type="hidden" id="guidForm" value="${guidForm}"/>
			{{if guidQueryForm}}
			    <input type="hidden" id="guidQueryForm" value="${guidQueryForm}"/>
            {{/if}}
			<h3>${queryDisplayName}</h3>
		</li>
	</ul>
</script>

<script id="ui-bizagi-workportal-widget-queries-element-node" type="text/x-jquery-tmpl">
</script>

<script id="ui-bizagi-workportal-widget-queries-empty-elements" type="x-jquery-tmpl" > 
    <div>%{workportal-widget-queries-no-queries}</div>
</script>

<script id="ui-bizagi-workportal-widget-queries-query-tree" type="x-jquery-tmpl" >   
    <li>
        &GT; ${queryDisplayName}
        <input type="hidden" id="idParent" value="${idParentQuery}" />        
    </li>
</script>

<script id="ui-bizagi-workportal-widget-queries-confirm" type="x-jquery-tmpl" > 
    <p>
        <span class="ui-icon ui-icon-alert"></span>
        %{workportal-widget-queries-confirm}
    </p>
</script>

<script id="ui-bizagi-workportal-widget-queries-message-error" type="text/x-jquery-tmpl" >
<div class="shortcut-error-message-migrate-form">
     <p>
        ${messageError}
    </p>
</div>
</script>

<script id="ui-bizagi-workportal-widget-queries-flat-list" type="text/x-jquery-tmpl">
	{{each(i, item) storedQueryForm }}
	<ul class="queriesListDisplay">
		<li class="storedQuery" data-guid="${item.guid}" data-id="${item.id}" data-idNode="${item.idNode}">
    	    {{if item.notMigratedUrl}}
    	        {{if item.notMigratedUrl== true}}
           	        <input type="hidden" id="notMigratedUrl" value="${item.notMigratedUrl}" />
           	        <input type="hidden" id="url-execute" value="${item.notMigratedUrl}"/>
           	    {{else}}
			    <input type="hidden" id="url-delete" value="${item.notMigratedUrl['delete']}"/>
			    <input type="hidden" id="url-edit" value="${item.notMigratedUrl.edit}"/>
			    <input type="hidden" id="url-execute" value="${item.notMigratedUrl.execute}"/>
			    {{/if}}
			{{/if}}
			<div class="processIco"></div>
			{{if item.owner}}
				<span class="editButton"></span>
				<span class="deleteButton"></span>
			{{/if}}
			<h3>${item.definition.name}</h3>
		</li>
	</ul>
	{{/each}}
</script>
