{{css "jquery/workportal/css/desktop/bizagi.workportal.queries.css"}}
<script id="ui-bizagi-workportal-widget-queries-shortcut" type="x-jquery-tmpl" >
	<div id="modalMenuBtList" class="clearfix">
			<div id="queries-shortcut"{{loading}}></div>
	</div>
</script>

<script id="ui-bizagi-workportal-widget-queries-confirm-shortcut" type="x-jquery-tmpl" >
    <p>
        <span class="ui-icon ui-icon-alert"></span>
        %{workportal-widget-queries-confirm}
    </p>
</script>

<script id="ui-bizagi-workportal-widget-queries-message-error-shortcut" type="text/x-jquery-tmpl" >
<div class="shortcut-error-message-migrate-form">
     <p>
        ${messageError}
    </p>
</div>
</script>

<script id="ui-bizagi-workportal-widget-queries-flat-list-shortcut" type="text/x-jquery-tmpl">
	{{each(i, item) storedQueryForm }}
	<ul class="queriesListDisplay">
		<li class="storedQuery" data-guid="${item.guid}" data-id="${item.id}" data-idNode="${item.idNode}">
			<div class="processIco"></div>
			{{if item.owner}}
				<span class="editButton"></span>
				<span class="deleteButton"></span>
			{{/if}}
			<h3>${item.definition.name}</h3>
		</li>
	</ul>
	{{/each}}
</script>
