﻿<div class="ui-bizagi-container ${cssClass} ui-bizagi-container-contentpanel" data-unique-id="${uniqueId}">

    {{if mode !== "execution"}}
        <span class="ui-bizagi-container-contentpanel-header">${displayName}</span>
    {{/if}}
    {{if mode == "design" && messageValidation}}
        <span class="ui-icon ui-icon-help ui-bizagi-render-icon-msg-validation" title="${messageValidation}" style="display:inline-block"></span>
    {{/if}}
        
    {{children}}
</div>