﻿#ui-bizagi-webpart-render-container { margin-top: 1.8em; }

.info-render { text-align: center; }

.info-render-face { font-size: 42pt; }

#ui-bizagi-webpart-render-container ui-widget-content {
    background: transparent;
}

#ui-bizagi-webpart-render-container .ui-bizagi-button-container {
    padding: 0px;
}

#ui-bizagi-webpart-render-container .ui-tabs .ui-tabs-panel {
    background: #fff;
    border: none;
    border-top: 4px solid #323232;
    border-radius: 0;
}

#ui-bizagi-webpart-render-container .ui-tabs .ui-tabs-nav li {
    border-radius: 0;
    white-space: normal;
}

    #ui-bizagi-webpart-render-container .ui-tabs .ui-tabs-nav li a {
        font-family: "Segoe UI", Arial;
        font-weight: bold;
        padding: 10px 12px;
    }

    #ui-bizagi-webpart-render-container .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
        background: #fff;
        margin-bottom: -3px;
        padding: 0px;
    }

        #ui-bizagi-webpart-render-container .ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
            background: none;
            text-transform: uppercase;
            color: #6e6e6e;
        }

#ui-bizagi-webpart-render-container .ui-bizagi-info {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 0px 0px 2px;
    margin-left: -180px;
    position: relative;
    text-align: center;
    width: 350px;
}
#ui-bizagi-webpart-render-container .ui-state-info {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


#ui-bizagi-webpart-render-container .ui-button,
#ui-bizagi-webpart-render-container .ui-bizagi-button-container .ui-bizagi-button,
#ui-bizagi-webpart-render-container .ui-dialog .ui-button,
#ui-bizagi-webpart-render-container .ui-bizagi-wp-app-routing-container table .ui-button,
#ui-bizagi-webpart-render-container .ui-button:hover,
#ui-bizagi-webpart-render-container .ui-bizagi-button-container .ui-bizagi-button:hover {
    color: #fff;
    font-family: "Segoe UI", Arial;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-size: 115%;
    border: none;
    border-radius: 0px;
    background: #8E972D;
    background-image: linear-gradient(bottom, #8E972D 25%, #A6AD5D 100%);
    background-image: -o-linear-gradient(bottom, #8E972D 25%, #A6AD5D 100%);
    background-image: -moz-linear-gradient(bottom, #8E972D 25%, #A6AD5D 100%);
    background-image: -webkit-linear-gradient(bottom, #8E972D 25%, #A6AD5D 100%);
    background-image: -ms-linear-gradient(bottom, #8E972D 25%, #A6AD5D 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.25, #8E972D), color-stop(1, #A6AD5D) );
}

/* Overrides in order to harmonize all the control's look'*/

#ui-bizagi-webpart-render-container .ui-selectmenu {
    height: 20px;
}

.ui-bizagi-webpart-workitems-container {
    width: 70%;
    margin-left: 15%;
}

.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-header .ui-bizagi-grid-column
{
	display: -ms-flexbox;
}
.ui-bizagi-grid .ui-bizagi-grid-table .ui-bizagi-grid-header tr th 
{
    padding-left: 15px;
    padding-right: 15px;
} 
    
.ui-bizagi-info-message-button {
    padding:10px;
    height: 50px;
    background: rgba(23, 79, 116, 0.2);
    border: 2px solid #134C72;
    margin:15px 0 0 0;
}

    .ui-bizagi-info-message-button:hover {
        background: rgba(23, 79, 116, 0.4);
        border: 2px solid #134C72;
    }

    .ui-bizagi-info-message-button:active, .ui-bizagi-info-message-button:active:hover {
        background: rgba(23, 79, 116, 1);
        border: 2px solid #134C72;
        color:white;
    }