 <div data-role="view" id="hello">
 <header data-role="header">
            <div data-role="navbar">Hello Test</div>
 </header>
  <div data-role="scrollerContent">
        <h4 class='header'>#= data.header #</h4>
        <h4 class='header2'>#= data.header2 #</h4>
        <ul data-role="listview" data-style="inset" data-type="group" >
        # if (data.overdue.length > 0) { #
           
            <li>overdue
               <ul>
                  # for (var i =0; data.overdue.length > i; i++ ) { #
                        <li >
                          <div> #= data.overdue[i] # </div>
                          <div> #= data.overdue[i][3] # </div>
                        </li>
                  # } #
               </ul>
            
            </li>
        # } #

         # if (data.upcoming.length > 0) { #
           
            <li>upcoming
               <ul>
                  # for (var i =0; data.upcoming.length > i; i++ ) { #
                        <li >
                          <div> #= data.upcoming[i] # </div>
                          <div> #= data.upcoming[i][3] # </div>
                        </li>
                  # } #
               </ul>
            
            </li>
        # } #
         <li>
            Africa
            <ul>
                <li data-icon="toprated"><a>Nairobi</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
            </ul>
         </li>
          <li>
            Africa
            <ul>
                <li data-icon="toprated"><a>Nairobi</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
            </ul>
         </li> <li>
            Africa
            <ul>
                <li data-icon="toprated"><a>Nairobi</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
            </ul>
         </li> <li>
            Africa
            <ul>
                <li data-icon="toprated"><a>Nairobi</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
            </ul>
         </li> <li>
            Africa
            <ul>
                <li data-icon="toprated"><a>Nairobi</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
            </ul>
         </li> <li>
            Africa
            <ul>
                <li data-icon="toprated"><a>Nairobi</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
            </ul>
         </li> <li>
            Africa
            <ul>
                <li data-icon="toprated"><a>Nairobi</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
            </ul>
         </li> <li>
            Africa
            <ul>
                <li data-icon="toprated"><a>Nairobi</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
                <li data-icon="toprated"><a>Letonia</a></li>
            </ul>
         </li>
        </ul>
 </div>
 <footer data-role="footer">
     foother
 </footer>

 </div>